@sugar.init;
@sugar.classes;

s-slider {
    width: 50%;
    display: none;
}
s-slider[mounted] {
    display: block;
}

s-slider[direction="vertical"] {
    height: 400px;
}

.s-slider__item {
    position: relative;
    
    img {
        width: 100%; height: 100%; 
        object-fit: cover;
    }
}
