@sugar.init;
@sugar.classes;

body {
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-bottom: sugar.margin(30);
    margin-top: sugar.margin(100);
}

s-slider {
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
    color: white;

    @sugar.color (accent);
}

.s-slider {
}

s-slider[status='mounted'] .s-slider {
    display: block;
}

.s-slider__slide {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

s-slider[lnf*='contained'] {
    @sugar.color.current (#ffffff);
}

.s-slider__progress {
    @sugar.color.current (#ffffff);
}
