@sugar.init;
/* @sugar.classes; */

body {
    overflow: hidden;
}

s-slider {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.s-slider {
}

s-slider[mounted] .s-slider {
    display: block;
}

s-slider.cards .s-slider {
    overflow: visible;
    /* perspective: 800px; */

    .s-slider__slides {
        /* transform: translateZ(-100px) rotateX(0deg); */
    }
    .s-slider__slide {
        /* perspective: 800px; */

        img {
            border-radius: 10px;
            overflow: hidden;
        }

        /* &.active{
            img {
                transform: scale(1);
            }
        } */

        &.in-50 {
            img {
                transform: scale(0.85);
            }
        }
        &.in-70 {
            img {
                transform: scale(0.9);
            }
        }
        &.in-90 {
            img {
                transform: scale(0.95);
            }
        }
        &.in-100 {
            img {
                transform: scale(1);
            }
        }

        img {
            transform: scale(0.85);
            transition: all .3s ease-in-out;
        }
    }

}

.s-slider__item {
    position: relative;
    
    img {
        width: 100%; height: 100%; 
        object-fit: cover;
    }
}
