.s-slider[behavior="slideable"] {
    display: block;
    overflow: hidden;
    width: 100%; height: 100%;

    [direction="horizontal"][scrollable] & {
        transform: translateX(0);
    }
    [direction="vertical"][scrollable] & {
        transform: translateY(0);
    }

    .s-slider__slides {
        display: flex;
        flex-basis: 100%;
        user-select: none;
        width: 100%; height: 100%;

        [direction="vertical"] & {
            flex-direction: column;
        }
    }

    .s-slider__slide {
        flex-shrink: 0;
        width: calc(100% - var(--s-slider-inline-reveal, 0%) * 2);
        height: calc(100% - var(--s-slider-block-reveal, 0%) * 2);
        /* scroll-snap-align: center; */
    }

}