.s-slider {
    display: block;
    font-size: sugar.scalable(1rem);
    --s-slider-space: 20px;

    > .s-slider_root,
    > .s-slider_root > .s-slider_slides-wrapper,
    > .s-slider_root > .s-slider_slides-wrapper > .s-slider_slides {
        height: 100%;
        width: 100%;
    }

    &[direction='vertical'][pad] > .s-slider_root {
        > .s-slider_slides-wrapper {
            > .s-slider_slides {
                > .s-slider_pad-start {
                    height: var(--s-slider-pad-start, 0);
                }
                > .s-slider_pad-end {
                    height: var(--s-slider-pad-end, 0);
                }
            }
        }
    }
    &[direction='horizontal'][pad] > .s-slider_root {
        > .s-slider_slides-wrapper {
            > .s-slider_slides {
                > .s-slider_pad-start {
                    width: var(--s-slider-pad-start, 0);
                }
                > .s-slider_pad-end {
                    width: var(--s-slider-pad-end, 0);
                }
            }
        }
    }
}

.s-slider[behavior='scroll'] {
    > .s-slider_root {
        > .s-slider_slides-wrapper {
            overflow: auto;
            overflow-y: hidden;
            scroll-snap-type: x mandatory;

            /* hide scrollbar */
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }

            > .s-slider_slides {
                > .s-slider_slide {
                    scroll-snap-align: center;
                }
            }
        }
    }

    &[direction='vertical'] {
        > .s-slider_root {
            > .s-slider_slides-wrapper {
                overflow-x: hidden;
                overflow-y: auto;
                scroll-snap-type: y mandatory;
            }
        }
    }
}

.s-slider[lnf^='default'] {
    position: relative;
    --s-slider-space: 20px;

    &:not([class*='s-ratio']) {
        aspect-ratio: 16/9;
    }

    &:not([mounted]) {
        opacity: 0;
    }

    .s-slider_ui {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        pointer-events: none;

        * {
            pointer-events: all;
        }
    }

    &[pad] > .s-slider_root {
        > .s-slider_slides-wrapper {
            > .s-slider_slides {
                > .s-slider_pad {
                    flex-shrink: 0;
                    flex-grow: 0;
                }
            }
        }
    }

    > .s-slider_root {
        position: relative;

        > .s-slider_slides-wrapper {
            /* position: absolute;
            top: 0;
            left: 0; */
            width: 100%;
            height: 100%;

            > .s-slider_slides {
                display: inline-flex;
                user-select: none;
                height: 100%;
                /* white-space: nowrap; */

                > .s-slider_slide {
                    display: block;
                    flex-shrink: 0;
                    flex-grow: 0;
                    width: 100%;
                    height: 100%;
                    scroll-snap-align: center;

                    /* &:nth-child(1) {
                        background: red;
                        width: 500px !important;
                    }
                    &:nth-child(2) {
                        background: yellow;
                        width: 800px !important;
                    }
                    &:nth-child(3) {
                        background: blue;
                        width: 80vw !important;
                    } */
                }
            }
        }

        > .s-slider_ui {
            > .s-slider_nav {
                position: absolute;
                top: calc(100% + var(--s-slider-space));
                left: 50%;
                transform: translate(-50%);
                display: flex;
                gap: calc(var(--s-slider-space) * 0.5);

                > * {
                    border-radius: 50%;
                    display: block;
                    width: 0.5em;
                    height: 0.5em;
                    background: currentColor;
                    opacity: 0.3;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.6;
                    }
                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }

    &[direction='vertical']
        > .s-slider_root
        > .s-slider_slides-wrapper
        > .s-slider_slides {
        display: block;
        width: 100%;
        height: auto;

        > .s-slider_slide {
            display: block;
            width: 100% !important;

            /* &:nth-child(1) {
                background: red;
                height: 500px !important;
            }
            &:nth-child(2) {
                background: yellow;
                height: 800px !important;
            }
            &:nth-child(3) {
                background: blue;
                height: 400px !important;
            } */
        }
    }

    &[lnf*='contained'] .s-slider_root > .s-slider_ui > .s-slider_nav {
        top: auto;
        bottom: calc(var(--s-slider-space) - 0.5em);
        transform: translate(-50%, -100%);
    }
    &[direction='vertical'] .s-slider_root > .s-slider_ui > .s-slider_nav {
        top: 50%;
        left: calc(100% + var(--s-slider-space));
        transform: translate(0, -50%);
        flex-direction: column;
    }
    &[lnf*='contained'][direction='vertical']
        .s-slider_root
        > .s-slider_ui
        > .s-slider_nav {
        bottom: auto;
        left: auto;
        right: calc(var(--s-slider-space));
        transform: translate(0, -50%);
    }

    &[lnf*='tight'][direction='horizontal'][controls] {
        padding-left: calc(var(--s-slider-space) + 1em);
        padding-right: calc(var(--s-slider-space) + 1em);
    }
    &[lnf*='tight'][direction='horizontal'][nav] {
        padding-bottom: calc(var(--s-slider-space) + 1em);
    }

    &[lnf*='tight'][direction='vertical'][controls] {
        padding-top: calc(var(--s-slider-space) + 1em);
        padding-bottom: calc(var(--s-slider-space) + 1em);
    }
    &[lnf*='tight'][direction='vertical'][nav] {
        padding-right: calc(var(--s-slider-space) + 1em);
    }

    > .s-slider_root > .s-slider_ui > .s-slider_progress {
        position: absolute;
        bottom: var(--s-slider-space);
        left: var(--s-slider-space);
        right: var(--s-slider-space);
        height: 0.5em;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: currentColor;
            opacity: 0.3;
        }

        > .s-slider_progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: calc(
                100% / (var(--s-slider-total-pages)) *
                    (var(--s-slider-page) + 1)
            );
            background: currentColor;
        }
    }

    &[lnf*='contained'] .s-slider_root > .s-slider_ui > .s-slider_progress {
        bottom: calc(var(--s-slider-space) * 2);
    }

    > .s-slider_root > .s-slider_ui > .s-slider_controls {
        .s-slider_controls-next,
        .s-slider_controls-previous {
            width: 1em;
            height: 1em;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            opacity: 0.3;
            pointer-events: none;
            color: currentColor;

            &.active {
                pointer-events: all;
                opacity: 1;
            }
        }
        .s-slider_controls-previous {
            right: calc(100% + var(--s-slider-space));
        }
        .s-slider_controls-next {
            left: calc(100% + var(--s-slider-space));
        }
    }
    &[lnf*='contained']
        > .s-slider_root
        > .s-slider_ui
        > .s-slider_controls
        .s-slider_controls-previous {
        left: var(--s-slider-space);
        transform: translate(0, -50%);
    }
    &[lnf*='contained']
        > .s-slider_root
        > .s-slider_ui
        > .s-slider_controls
        .s-slider_controls-next {
        left: auto;
        right: var(--s-slider-space);
        transform: translate(0, -50%);
    }

    &[direction='vertical']
        > .s-slider_root
        > .s-slider_ui
        > .s-slider_controls
        .s-slider_controls-next {
        left: 50%;
        top: calc(100% + var(--s-slider-space));
        transform: translate(-50%, 0) rotate(90deg);
    }
    &[direction='vertical']
        > .s-slider_root
        > .s-slider_ui
        > .s-slider_controls
        .s-slider_controls-previous {
        left: 50%;
        bottom: calc(100% + var(--s-slider-space));
        top: auto;
        transform: translate(-50%, 0) rotate(90deg);
    }
    &[direction='vertical'][lnf*='contained']
        > .s-slider_root
        > .s-slider_ui
        > .s-slider_controls
        .s-slider_controls-previous {
        top: calc(var(--s-slider-space));
    }
    &[direction='vertical'][lnf*='contained']
        > .s-slider_root
        > .s-slider_ui
        > .s-slider_controls
        .s-slider_controls-next {
        top: auto;
        bottom: calc(var(--s-slider-space));
    }

    > .s-slider_root
        > .s-slider_ui
        > .s-slider_controls
        .s-slider_controls-next-arrow,
    > .s-slider_root
        > .s-slider_ui
        > .s-slider_controls
        .s-slider_controls-previous-arrow {
        width: 1em;
        height: 1em;
        position: absolute;
        top: 0;
        left: 0;

        &:before,
        &:after {
            display: block;
            content: '';
            position: absolute;
            top: calc(50% - 0.1em);
            left: 0;
            background: currentColor;
            width: 100%;
            height: 0.2em;
        }
        &:before {
            transform-origin: 0 0;
            transform: rotate(45deg);
        }
        &:after {
            transform-origin: 0 100%;
            transform: rotate(-45deg);
        }
    }
    > .s-slider_root
        > .s-slider_ui
        > .s-slider_controls
        .s-slider_controls-next-arrow {
        transform: rotate(180deg);
    }
}
