sherlock-sidebar {
    display: flex;
}

.sh-sidebar {
    width: 250px;
    display: flex;
    background: s.color(main, background, --lighten 2% --alpha 0.5);
    backdrop-filter: blur(10px);
    user-select: none;

    border-right: 1px solid s.color(main, --alpha 0.2);

    ._clients {
        width: 100%;
        padding: s.padding(30);
        display: flex;
        flex-direction: column;
        /* gap: s.margin(30); */
    }
    ._client {
        width: 100%;
    }
    ._client-name {
        padding: s.padding(20) s.padding(30);
        cursor: pointer;
        @s.transition fast;
        border-radius: 999px;
        background: s.color(main, --alpha 0.1);

        &:hover {
            background: s.color(main, --alpha 0.2);
        }

        .svg-inline--fa {
            float: right;
            transform: rotateZ(180deg);
            @s.transition;
        }
    }
    ._client.active {
        ._client-name {
            background: s.color(main, --alpha 0.3);
            transform: scale(1.02);
        }

        .svg-inline--fa {
            transform: rotateZ(0);
        }
    }

    ._services {
        width: 100%;
        display: grid;
        grid-template-rows: 0fr;
        padding: s.padding(20) 0;
        @s.transition;

        ._inner {
            overflow: hidden;
        }
    }
    ._client.active {
        ._services {
            grid-template-rows: 1fr;
        }
    }

    ._service {
        width: 100%;
    }
    ._service-name {
        padding: s.padding(20) s.padding(30);
        cursor: pointer;
        border-radius: 999px;
        margin-inline-start: s.margin(30);
        @s.transition fast;

        &:hover {
            background: s.color(complementary, --alpha 0.5);
        }

        .svg-inline--fa {
            position: relative;
            top: 0.1em;
            margin-inline-end: s.margin(10);

            [fill] {
                fill: s.color(success);
            }
        }
    }
    ._service.active {
        ._service-name {
            background: s.color(complementary);
        }
    }
}
