/* @s.partial (sidemenu) { */
.sidemenu {
    position: sticky;
    top: 80px;
    height: calc(100vh - 80px);
    /* background-image: linear-gradient(
    90deg,
    s.color(main, surface, --alpha 0),
    s.color(main, --alpha 0.08)
  ); */
    display: flex;
    flex-direction: column;
    padding: s.padding(50) 0 !important;
    margin: 0 !important;
    overflow: auto;
    @s.scrollbar();

    .sidemenu-main {
        flex-grow: 1;

        /* padding: s.padding(30); */
    }

    [actual] {
        font-weight: bold;
        color: s.color(accent);
    }
}
