s-range {
    display: block;
    width: 100%;

    &:not([mounted]) > * {
        display: none;
    }

    &[disabled] {
        pointer-events: none;
    }
}
.s-range {
    display: flex;
    width: 100%;
}

.s-range__input {
    flex-grow: 1;
    opacity: 1 !important;
}

.s-range__input:hover + .s-range__tooltip,
.s-range__input:focus + .s-range__tooltip {
    opacity: 1 !important;
}

.s-range__tooltip {
    transition: none;
}
