@font-face {
    font-family: "sugar-fonticon";
    src: url("./sugar-fonticon.eot?deff13a122de9ee1f52ff5f39c12e476#iefix") format("embedded-opentype"),
url("./sugar-fonticon.woff2?deff13a122de9ee1f52ff5f39c12e476") format("woff2"),
url("./sugar-fonticon.woff?deff13a122de9ee1f52ff5f39c12e476") format("woff");
}

.s-icon--support-chromium:before,.s-icon--support-edge:before,.s-icon--support-firefox:before,.s-icon--support-rtl:before,.s-icon--support-safari:before,.s-icon--vue:before {
position: relative;
top: 0.25em;
    font-family: sugar-fonticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.s-icon--support-chromium:before {
    content: "\f101";
}
.s-icon--support-edge:before {
    content: "\f102";
}
.s-icon--support-firefox:before {
    content: "\f103";
}
.s-icon--support-rtl:before {
    content: "\f104";
}
.s-icon--support-safari:before {
    content: "\f105";
}
.s-icon--vue:before {
    content: "\f106";
}
