.cm-s-material {
	background: s-color(secondary) !important;
}
.CodeMirror-gutters {
	background: s-color(secondary, -darken 1%) !important;
}
.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar {
	display: none !important;
}
ck-codemirror {
	height:100%;
}
.ck-interactive-demo__preview-container {
	height: 100% !important;
}
.ck-interactive-demo__preview-container iframe {
	height: auto !important;
}
