body {
}

s-datetime-picker {
    display: inline-block;
    position: relative;

    @sugar.media <=mobile {
        position: unset;
    }

    &:not([mounted]) > * {
        display: none;
    }

    &[disabled] {
        pointer-events: none;
    }

    .s-backdrop {
        pointer-events: none;
        opacity: 0;
        @sugar.transition (fast);
    }

    .s-datetime-picker {
        display: flex;
        width: 100%;

        &.is-interacting * {
            cursor: none !important;
        }
    }

    .s-datetime-picker__picker {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        background: sugar.color(main, background);
        pointer-events: none;
        opacity: 0;

        @sugar.media <=mobile {
            position: fixed;
            bottom: 0;
            top: auto !important;
            left: 0 !important;
            right: auto;
            width: 100vw;
            transform: translate(0, 100%);
        }
    }
    &[inline] .s-datetime-picker__picker {
        position: unset;
        top: unset;
        left: unset;
        background: unset;
        pointer-events: all;
        opacity: 1;
    }

    &:focus-within {
        .s-datetime-picker__picker {
            opacity: 1;
            pointer-events: all;

            @sugar.media <=mobile {
                transform: translate(0, 0);
            }
        }

        .s-backdrop  {
            opacity: 1;
            pointer-events: all;
        }
    }

    .s-datetime-picker__calendar {
        &:not(.active) {
            display: none !important;
        }

        table {
            width: 100%;
        }
    }
    .s-datetime-picker__calendar-item {
        cursor: pointer;
        touch-action: manipulation;

        &.disabled {
            pointer-events: none;
        }
    }

    .s-datetime-picker__selector {
        height: 8em;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        flex-grow: 1;
    }
    .s-datetime-picker__selector-item {
        scroll-snap-align: start;

        &:first-child {
            margin-block-start: 2.5em;
        }
        &:last-child {
            margin-block-end: 2.5em;
        }

        &.disabled {
            pointer-events: none;
        }
    }

    .s-datetime-picker__date-selectors {
        &:not(.active) {
            display: none !important;
        }
    }

    .s-datetime-picker__time-selectors {
        &:not(.active) {
            display: none !important;
        }

        .s-datetime-picker__selector-item {
            scroll-snap-align: start;

            &:first-child {
                margin-block-start: 1.5em;
            }
            &:last-child {
                margin-block-end: 1.5em;
            }
        }
    }

    .s-datetime-picker__date-selectors,
    .s-datetime-picker__time-selectors {
        position: relative;
        display: flex;
    }

    .s-datetime-picker__days {
    }
    .s-datetime-picker__day {
    }
}

s-datetime-picker[lnf='default'] {
    color: sugar.color(text);

    .s-datetime-picker__actions {
        display: flex;
        gap: sugar.margin(20);

        button {
            flex-grow: 1;
            text-align: center;
        }
    }

    .s-datetime-picker__picker {
        @sugar.depth (100);
        background: sugar.color(main, background);
        padding: sugar.padding(30);
        overflow: hidden;
        transition: sugar.transition(fast);
        transition-property: opacity, transform;
        border-radius: sugar.border.radius();

        @sugar.media <=mobile {
            border-radius: 0;
        }
    }
    &[inline] .s-datetime-picker__picker {
        box-shadow: none;
    }

    .s-datetime-picker__calendar {
        margin-block-end: sugar.margin(30);
        color: sugar.color(base, text);
    }

    .s-datetime-picker__calendar-day {
        padding: sugar.padding(10);
        font-weight: bold;
    }

    .s-datetime-picker__calendar-item {
        padding: sugar.padding(10);
        border-radius: sugar.border.radius();
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5ch;
        aspect-ratio: 1;

        &.disabled {
            opacity: 1 !important;
            color: sugar.color(base, text, --alpha 0.15);
            position: relative;

            &:after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 60%;
                height: 3px;
                background: sugar.color(error);
                border-radius: sugar.border-radius();
                transform-origin: 50% 50%;
                transform: translate(-50%, -50%) rotate(-10deg);
                opacity: 0.1;
            }
        }

        &.today {
            background: sugar.color(current, --alpha 0.2);
        }
        &.active {
            background: sugar.color(current);
            color: sugar.color(current, foreground);
        }

        &:hover {
            background: sugar.color(current);
            color: sugar.color(current, foreground);
        }
    }

    .s-datetime-picker__date-selectors,
    .s-datetime-picker__time-selectors {
        border: 1px solid sugar.color(main, border);
        border-radius: sugar.border.radius();
        margin-block-end: sugar.margin(30);
        background: sugar.color(main, surface);

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 2px;
            transform: translate(0, -50%);
            background: sugar.color(main, border);
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 100%;
            transform: translate(0, -50%);
            background: linear-gradient(
                0,
                sugar.color(main, surface, --darken 5),
                sugar.color(main, surface, --alpha 0),
                sugar.color(main, surface, --alpha 0),
                sugar.color(main, surface, --darken 5)
            );
            pointer-events: none;
            /* box-shadow: inset 0 0 20px sugar.color(main, surface, --darken 10); */
            border-radius: sugar.border.radius();
        }
    }

    .s-datetime-picker__time-selectors {
        .s-datetime-picker__selector-item {
            font-size: 2em;

            span {
                padding: 0.5em sugar.padding(30) !important;
            }
        }
    }

    .s-datetime-picker__selector {
        position: relative;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none;
        border-inline-end: 1px solid sugar.color(main, border);
        user-select: none;

        &:last-child {
            border-inline-end: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &.scrolling .s-datetime-picker__selector-item {
            opacity: 1;
        }
    }

    .s-datetime-picker__selector-item {
        scroll-snap-align: center;
        text-align: center;
        color: sugar.color(base, text);
        font-weight: bold;
        opacity: 0.6;
        @sugar.transition (fast);

        &.active {
            opacity: 1;
        }

        &.disabled {
            opacity: 1 !important;
            color: sugar.color(base, text, --alpha 0.15);

            span {
                position: relative;

                &:after {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 60%;
                    height: 3px;
                    background: sugar.color(error);
                    border-radius: sugar.border-radius();
                    transform-origin: 50% 50%;
                    transform: translate(-50%, -50%) rotate(-10deg);
                    opacity: 0.1;
                }
            }
        }

        span {
            height: 100%;
            display: inline-block;
            padding: 1em sugar.padding(30);
            background: sugar.color(main, surface);
        }
    }
}
