s-date-picker {
    display: inline-block;

    &:not([mounted]) > * {
        /* display: none; */
    }
}
.s-date-picker {
    display: flex;
    width: 100%;
}

.s-date-picker__input {
    flex-grow: 1;
    padding: sugar.theme(ui.datePicker.padding);
}
.s-date-picker__button {
    padding: sugar.theme(ui.datePicker.padding);
}

s-date-picker[default-style] {
    &:not([rtl]) {
        .s-date-picker__input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .s-date-picker__button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    &[rtl] {
        .s-date-picker__button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            order: 0;
        }
        .s-date-picker__input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            order: 1;
        }
    }
}

.s-date-picker__button {
    svg {
        height: 1em;

        &,
        & > * {
            box-shadow: 0px 0px 3px 0 sugar.color(ui, --darken 10);
        }
    }
}
