.s-date-picker {
    display: flex;
}

s-date-picker[default-style] {
    .s-date-picker__input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .s-date-picker__button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.s-date-picker__button {
    svg {
        height: 1em;
    }
}
