/**
 * This theme is an example to show how you can create your own.
 */

.pika-lendar {
    width: auto;
}

.pika-single.s-pikaday {
    color: sugar.color(main, foreground);
    background: sugar.color(main, surface);
    border: 1px solid sugar.color(current, border);
    @sugar.depth (100);
    border-radius: sugar.theme(ui.colorPicker.borderRadius);
    padding-inline: sugar.theme(ui.colorPicker.paddingInline);
    padding-block: sugar.theme(ui.colorPicker.paddingBlock);
}

.s-pikaday .pika-label {
    background-color: transparent;
    color: sugar.color(current);
    top: -0.5em;
}

.s-pikaday .pika-prev,
.s-pikaday .is-rtl .pika-next,
.s-pikaday .pika-next,
.s-pikaday .is-rtl .pika-prev {
    background: none;
    position: relative;
    display: inline-block;
    font-size: 0;
    color: sugar.color(current);
    overflow: visible;
    background: red;
    opacity: 1;
    width: 1em;
    height: 1em;
    opacity: 0.7;

    &:hover,
    &:focus {
        opacity: 1;
    }

    &:after {
        content: '❯';
        color: inherit;
        font-size: 1rem;
        position: absolute;
        top: 0;
        left: -2.2em;
    }
}
.s-pikaday .pika-prev,
.s-pikaday.is-rtl .pika-next {
    &:after {
        transform: rotate(180deg);
        left: 1em;
    }
}
.s-pikaday.is-rtl .pika-prev {
    &:after {
        transform: rotate(0deg) !important;
        left: -2em;
    }
}

.s-pikaday .pika-table {
    background: sugar.color(main, background);
    border-radius: sugar.theme(ui.colorPicker.borderRadius);
    padding-inline: sugar.theme(ui.colorPicker.paddingInline);
    padding-block: sugar.theme(ui.colorPicker.paddingBlock);
}

.s-pikaday .pika-table th * {
    text-decoration: none;
    color: sugar.color(main, text);
}

.s-pikaday .pika-button {
    background: sugar.color(main, background);
    color: sugar.color(main, text);
    padding-inline: sugar.theme(ui.colorPicker.paddingInline);
    padding-block: sugar.theme(ui.colorPicker.paddingBlock);
}

.s-pikaday .pika-week {
    text-decoration: none;
}

.s-pikaday .is-today .pika-button {
    color: sugar.color(current);
    outline: none;
}

.s-pikaday .is-selected .pika-button {
    color: sugar.color(main, text);
    background: sugar.color(current, --alpha 0.5);
    box-shadow: none !important;
}

.s-pikaday .is-disabled .pika-button {
    color: sugar.color(main, text);
    @sugar.disabled;
}

.s-pikaday .pika-button:hover {
    color: sugar.color(current, foreground) !important;
    background: sugar.color(current) !important;
}
