.s-typo--h2 {
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 5em;
        height: 4em;
        background: url('/dist/img/title-bkg.jpg');
        background-repear: no-repeat;
        z-index: -1;
        transform: translate(-50%, -50%);
    }
}
