.s-dashboard-assets {
    ._assets {
    }

    ._categories {
    }

    ._category {
        margin-block-end: 0;
        @sugar.transition;
    }
    ._category:has(._details.active) {
        margin-block-end: sugar.margin(30);
    }

    ._compressed {
        color: sugar.color(accent, text, --alpha 0.6);
        margin-inline-end: sugar.margin(20);
    }

    ._metas {
        display: flex;
        padding: sugar.padding(20);
        user-select: none;
        cursor: pointer;
        @sugar.border.radius;
        @sugar.transition fast;
    }
    ._category:is(:hover, :focus, :focus-within) ._metas,
    ._category:has(._details.active) ._metas {
        padding: sugar.padding(20);
        background: sugar.color(main, surface);
    }

    ._label {
        flex-grow: 1;
        color: sugar.color(accent);
        @sugar.font.size (40);
    }

    ._external {
        margin-inline-end: sugar.margin(10);
    }

    ._details {
        display: grid;
        grid-template-rows: 0fr;
        @sugar.transition;

        &.active {
            grid-template-rows: 1fr;
        }
    }
    ._details-inner {
        overflow: hidden;
    }
    ._details-assets {
    }
    ._details-asset {
        display: flex;
        padding: sugar.padding(20);
        opacity: 0.5;

        &:is(:hover, :focus, :focus-within) {
            opacity: 1;
        }
    }
    ._details-label {
        flex-grow: 1;
        @sugar.transition fast;
    }

    ._total {
        padding: sugar.padding(20);
        border-top: 1px solid sugar.color(main, border);
        display: flex;
    }
    ._total-label {
        flex-grow: 1;
    }
}
