@use '@coffeekraken/sugar/index' as sugar;
@use '@coffeekraken/button-style/index' as button-style;
@use '../../../index' as notification-webcomponent;
@include sugar.init();
@include sugar.classes();
@include button-style.classes(
	$colors : primary
);
@include notification-webcomponent.classes(
	$colors : default primary secondary
);
body {
	padding: sugar.space(big);
}
