.view {
  min-height: 50vh;
  transition: all .5s ease-in-out;
  position: relative;
}

.view--loaded {
  min-height: 0;
  opacity: 1;
}

.view__content {
  opacity: 1;

  .view--loading & {
    opacity: 0;
  }
}

.view__loader {
  @include sugar.loader-couch-potato();
  @include sugar.position(absolute, middle, center);
  opacity: 0;
  transition: all .5s ease-in-out;

  .view--loading & {
    opacity: 1;
    transform: scale(1);
  }
  .view--loaded & {
    transform: scale(2);
  }
}
