<div class="noAppSpecified">
  <div class="noAppSpecified__container">
    <ck-icon class="noAppSpecified__icon" icon="fa-exclamation-circle"></ck-icon>
    <div class="noAppSpecified__meta tf vr">
      <p>
        No app specified in the URL...
        <br />
        Sorry
      </p>
    </div>
  </div>
</div>
