@use '@coffeekraken/sugar/index' as sugar;
@use '../../../index' as tooltip-style;

@include sugar.setup(());
@include sugar.init();
@include sugar.classes();

@include tooltip-style.classes(
	$colors: default primary secondary
);

body {
	padding: sugar.space(bigger);
}

.box {
	width: 30px; height: 30px;
	background: sugar.color(primary);
	position: relative;
	margin-right: 30px;
	margin-top: 30px;
	display: inline-block;
	color: white;
	text-align: center;
	line-height: 30px;
}

.tooltip {
	white-space: nowrap;
}
