/* importing sugar toolkit */
@s.import ('./sugar.css');
@s.import ('../views/**/*.css');
@s.import ('./generic/**/*.css');

/* Load custom views css */
@s.view ('sugar.menu.generic');
@s.view ('sugar.header.generic');
@s.view ('sugar.form.generic');
@s.view ('sugar.components.card');
@s.view ('sugar.components.cards');
@s.view ('sugar.sections.nude');
@s.view ('sugar.sections.simple');
@s.view ('sugar.sections.tile');
@s.view ('sugar.sections.cards');
@s.view ('sugar.sections.pushBlock');
@s.view ('sugar.sections.testimonials');
@s.view ('sugar.sections.hero');
@s.view ('sugar.sections.contact');

body {
    background: s.color(main, background);
    overflow-x: hidden;
}

[s-appear] {
    opacity: 0;
}
[s-appear][appear] {
    opacity: 1;
}

.content {
    min-height: 100vh;
}

/* logo */
.logo {
    svg [fill='white'] {
        fill: s.color(main, --darken 10);
    }
    svg [fill='#FEBD0F'] {
        fill: s.color(accent);
    }

    @s.theme (dark) {
        svg [fill='white'] {
            fill: s.color(main, text);
        }
        svg [fill='#FEBD0F'] {
            fill: s.color(accent);
        }
    }
}
