@use 'sass:map';
/**
 * @name    map-get-path
 * @namespace           scss.map
 * @type      function
 *
 * Return the map value depending on the passed path
 *
 * @param       {Map}       $map        The map in which to get the value
 * @param       {String}    $path       The path to get the value from
 * @param       {Mixed}     [$default:null]       The default value to return if none exist
 * @return      {Mixed}                 The value wanted
 *
 * @example     scss
 * Sugar.map-get-path((
 *    'hello': 'world',
 *    'coco': (
 *      'plop': 'youhou'
 *    )
 * ), 'coco.plop');
 * // => 'youhou'
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@function map-get-path($map, $path, $default: null) {
  $parts: str-split($path, ".");
  $value: $map;
  @each $part in $parts {
    $newValue: map.get($value, $part);
    @if not $newValue {
      @return $default;
    }
    $value: $newValue;
  }
  @return $value;
}
