.tools {
    position: fixed;
    top: s.margin(30);
    right: 0;
    z-index: 100;

    @s.media <=1400 {
        display: none;
    }

    @s.media mobile {
        display: none;
    }

    .s-btn {
        display: block;
        text-align: center;
    }

    ._btn {
        padding: s.padding(20);
        background: s.color(main, surface);
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    > * {
        display: block !important;
        margin-block: s.margin(20);
        margin-inline-end: s.margin(20);
    }

    .tools_opensource > .s-btn {
        color: s.color(main, text) !important;
    }

    i {
        color: s.color(#fff);
    }

    .s-tooltip {
        width: 400px;
        padding: s.padding(50);
        background-color: s.color(main, surface);
        background-position: 50% 50%;
        background-size: cover;

        &:after {
            border-color: s.color(main, surface) transparent transparent
                transparent;
        }

        .s-floating_arrow {
            background: s.color(main, surface);
        }
    }
}
