@use '../../node_modules/@coffeekraken/sugar/index' as sugar;
@import '../../node_modules/codemirror/theme/material';
@import '../../node_modules/codemirror/theme/dracula';
@include sugar.init();
@include sugar.classes();
body {
	padding: sugar.space(big);
}
s-codemirror {
	max-width: sugar.to-rem(1200px);
	margin-bottom: sugar.space(big);
	@include sugar.effect_depth(5);
}
