@use '@coffeekraken/sugar/index' as sugar;
@use '../../../index' as button-webcomponent;

@include sugar.setup((
  colors: (
    primary: (
      color: #f00
    )
  )
));
@include sugar.init();
@include sugar.classes();

@include button-webcomponent.classes(
  $colors: default primary secondary success error warning info
);

body {
  padding: sugar.space(bigger);
}
