@import 'node_modules/coffeekraken-sugar/index';
@import 'node_modules/coffeekraken-s-typography-component/index';
@import 'node_modules/coffeekraken-s-button-component/index';
@include s-init();
@include s-classes();
@include s-typography-classes();
@include s-button-classes();
body {
	padding: s-space(big);
}
@keyframes dialog-in-overlay {
	from { opacity:0; }
	to {opacity:1; }
}
@keyframes dialog-out-overlay {
	from { opacity:1; }
	to {opacity:0; }
}
@keyframes dialog-in {
	from {
		opacity:0;
		transform: translateY(-50px);
	}
	to {
		opacity:1;
		transform: translateY(0);
	}
}
@keyframes dialog-out {
	from {
		opacity:1;
		transform: translateY(0);
	}
	to {
		opacity:0;
		transform: translateY(50px);
	}
}
.s-dialog__overlay {
	background: s-color(secondary, -opacity .8);
	animation: dialog-in-overlay .1s ease-in-out 0s;
}
.s-dialog__content {
	max-width: 80%;
	background: white;
	padding: s-space(big);
	animation: dialog-in .2s ease-in-out 0s;
}
.s-dialog--out {
	.s-dialog__content {
		animation: dialog-out .3s ease-in-out 0s forwards;
	}
	.s-dialog__overlay {
		animation: dialog-out-overlay .3s ease-in-out 0s forwards;
	}
}
