.s-filtrable-input {
    display: inline-block;
    position: relative;

    .s-filtrable-input__list {
        position: absolute;
        top: 100%;
        left: 0;
        overflow-x: hidden;
        overflow-y: auto;
        /* opacity: 0; */
        max-width: calc(100vw - 100px);
        pointer-events: none;
        margin: 20px 0;
    }

    &.s-filtrable-input--top {
        .s-filtrable-input__list {
            top: auto;
            bottom: 100%;
        }
    }

    .s-filtrable-input__input:focus + .s-filtrable-input__list,
    .s-filtrable-input__list:focus,
    .s-filtrable-input__list:focus-within {
        opacity: 1;
        pointer-events: all !important;
    }

    .s-filtrable-input__list-item {
        position: relative;

        /* s-filtrable-input:not([interactive]) & {
            cursor: pointer;

            * {
              pointer-events: none;
            }
          } */
    }

    /* @sugar.scope.lnf {
        .s-filtrable-input__list {
            transition: max-height 0.1s ease-in-out;
        }

        .s-filtrable-input__list-item-highlight {
            background-color: sugar.color(current);
        }
    } */
}
