.#{Sugar.text-format-class()}{

  h1, h2, h3, h4, h5, h6 {
    color: Sugar.color(title);
  }
  h1 {
    font-size: Sugar.interpolate(1rem, bigger);
  }
  h2 {
    font-size: Sugar.interpolate(1rem, big);
  }
  h3 {
    font-size: Sugar.interpolate(1rem, medium);
  }
  h4 {
    font-size: Sugar.interpolate(1rem, default);
  }
  h5 {
    font-size: Sugar.interpolate(1rem, small);
  }
  h6 {
    font-size: Sugar.interpolate(1rem, smaller);
  }

}
