@use '@coffeekraken/sugar/index' as sugar;

.coffeekraken-logo {
	@include sugar.coffeekraken-logo(
		$color : sugar.color(secondary),
		$accent : sugar.color(primary)
	);
	max-width:120px;
}
.coffeekraken-logo--white {
	@include sugar.coffeekraken-logo(
		$color : white,
		$accent : white
	);
	max-width:120px;
}
.coffeekraken-logo--footer {
	@include sugar.coffeekraken-logo(
		$color : sugar.color(secondary, -lighten 40%),
		$accent : sugar.color(primary)
	);
	max-width:120px;
}
.coffeekraken-logo--dialog {
	@include sugar.coffeekraken-logo(
		$color : sugar.color(secondary),
		$accent : sugar.color(white)
	);
}
