.doc-sidenav {
  position: sticky;
  top: 208px;
  max-height: calc(100vh - 140px);
  overflow: auto;

  [class*="s-list"] {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    margin-left: 0.4em;
  }

  .doc-sidenav__group[active] + [class*="s-list"] {
    opacity: 1;
    max-height: 3000px;
  }

  .doc-sidenav__group {
    display: block;
    cursor: pointer;

    .s-h3 {
      color: sugar.color(complementary);
      transition: color 0.2s ease-in-out;
    }

    .doc-sidenav__group-toggle {
      display: inline-block;
      width: 0.8em;
      height: 0.8em;
      border: 1px solid sugar.color(main, text);
      position: relative;
      top: 0.05em;
      margin-right: 0.2em;

      &:before,
      &:after {
        content: "";
        display: block;
        width: 50%;
        height: 2px;
        background: sugar.color(main, text);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &:after {
        transform: translate(-50%, -50%) rotate(270deg);
        transition: transform 0.2s ease-in-out;
      }
    }

    &[active] {
      .s-h3 {
        color: sugar.color(accent);
      }
      .doc-sidenav__group-toggle:after {
        transform: translate(-50%, -50%) rotate(0);
      }
    }
  }
}
