sherlock-service {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.sh-service {
    position: relative;
    padding: s.padding(50);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: s.color(main, background, --alpha 0.8);
    backdrop-filter: blur(10px);

    ._metas {
        margin-block-end: s.margin(50);
    }

    ._inner {
        flex-grow: 1;
        position: relative;
    }

    ._title {
        @s.typo h1;
        margin-block-end: s.margin(30);
    }

    ._description {
        @s.typo lead;
    }

    ._result-widget {
        margin-inline-end: s.margin(30);
        flex-grow: 1;

        ._label {
            opacity: 0.6;

            svg * {
                fill: white;
            }
        }
        ._label:not(:has(svg)) {
            opacity: 0.9;
        }

        ._separator {
            padding-inline: s.padding(20);
            opacity: 0.3;

            &:before {
                content: '｜';
            }
        }
    }
    ._header {
        ._result-widget {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
            min-width: 200px;
            flex-grow: 1;
            flex-shrink: 0;
            opacity: 0;
            pointer-events: none;
            @s.transition fast;

            > div {
                flex-shrink: 0;
            }
        }

        &:hover,
        &:focus {
            ._result-widget {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    ._tools {
        display: flex;
        align-items: center;
        gap: s.margin(30);
    }
}
