sherlock-service {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.sh-service {
    position: relative;
    padding: sugar.padding(50);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background: sugar.color(main, background, --alpha 0.8);
    backdrop-filter: blur(10px);

    ._metas {
        margin-block-end: sugar.margin(50);
    }

    ._content {
        flex-grow: 1;
        position: relative;
    }

    ._title {
        @sugar.typo h1;
        margin-block-end: sugar.margin(30);
    }

    ._description {
        @sugar.typo lead;
    }

    ._result-widget {
        margin-inline-end: sugar.margin(30);
    }

    ._tools {
        display: flex;
        align-items: center;
        gap: sugar.margin(30);
    }
}
