# https://php.watch/articles/composer-gitattributes
*.jpg             export-ignore
*.jpeg            export-ignore
*.png               export-ignore
*.gif               export-ignore
*.webp              export-ignore
*.webm              export-ignore
*.avi              export-ignore
*.mp3              export-ignore
*.mp4              export-ignore
*.ts              export-ignore
*.js              export-ignore
*.cjs              export-ignore
*.mjs              export-ignore
*.sh              export-ignore
*.md              export-ignore
*.webm              export-ignore
