#doc {
    [class^='s-platform'] {
        font-size: sugar.font.size(70);
        margin-right: 0.2em;
    }

    img {
        max-width: 100%;
    }

    .s-avatar {
        border: solid 2px sugar.color(accent);
    }
    .__author {
    }
    .__contributors {
        .s-avatar {
            margin-left: -20px;
        }
    }

    .__banner {
        position: relative;
        background-color: sugar.color(main, background);
        background-position: 0 50%;
        background-size: contain;
        animation: subnav-bkg 240s linear;
        animation-fill-mode: both;
        animation-iteration-count: infinite;

        @sugar.theme.when (dark) {
            background-image: url('/src/img/discord-illustration-05-bkg.png');
        }

        .s-grid--12 {
            position: relative;
            z-index: 10;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 100%;
            background: sugar.color(current, surface);
            clip-path: polygon(100px 0%, 100% 0, 100% 100%, 0% 100%);
            z-index: -1;
        }

        /* &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            @sugar.gradient (sugar.color(complementary, gradientStart), sugar.color(complementary, gradientEnd), $angle: 90);
            clip-path: polygon(0% 0%, 100% 0, calc(100% - 100px) 100%, 0% 100%);
            transition: all ease-in-out 0.2s;
        } */
    }
}
