#doc-list {
    .__nav form {
        position: sticky;
        top: 100px;
        max-height: calc(100vh - 100px);
        overflow: auto;
        @sugar.scrollbar (accent, 2px);
    }

    .__list-item {
        position: relative;

        & > * {
            position: relative;
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: sugar.space(50);
            background: sugar.color(ui, --lighten 49);
        }

        @sugar.theme.when (dark) {
            &:after {
                background-color: sugar.color(main, --darken 31);
            }
            &:before {
                background: sugar.color(main, --darken 31) !important;
            }
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 30%;
            height: 100%;
            z-index: 0;
            background: sugar.color(ui, --lighten 49);
            clip-path: polygon(0 0%, 100% 0, 100% 100%, 200px 100%);
        }

        &:nth-child(odd) {
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                width: 30%;
                height: 100%;
                z-index: 0;
                /* transform: translateX(calc(-100% - 400px)); */
                background: sugar.color(ui, --lighten 49);
                clip-path: polygon(-0 0%, 100% 0, calc(100% - 200px) 100%, 0% 100%);
            }
        }
    }
}
