#doc-list {


    .__list-item {
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background: sugar.color(ui, surface);
            clip-path: polygon(0 0%, 100% 0, 100% 100%, 400px 100%);
        }
    }

}