/**
 * @name      round-overflow
 * @namespace           sugar.scss.shape.mixin
 * @type      mixin
 *
 * Apply some css to have a rounded element with already an overflow on it
 *
 * @param 		{Number} 		[$size=null] 		The size (width and height) of the element wanted
 * @param 		{Number} 		[$width=null] 		The width of the element wanted
 * @param 		{Number} 		[$height=null] 		The height of the element wanted
 *
 * @example 	scss
 * .my-cool-image {
 * 	\@include Sugar.round-overflow(100px);
 *
 * 	img {
 * 		\@include Sugar.size(cover);
 * 	}
 * }
 *
 * @since      1.0.0
 * @author 		Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin round-overflow($size: null, $height: null, $color: null) {
  $size: test-argument('Sugar.round', 'width', number, $size);
  $width: test-argument('Sugar.round', 'width', number, $width);
  $height: test-argument('Sugar.round', 'height', number, $height);
  @if $size {
    width: $size;
    height: $size;
  }
  @if $width {
    width: $width;
  }
  @if $height {
    height: $height;
  }
  border-radius: 50%;
  overflow: hidden;
  > img {
    border-radius: 50%;
    overflow: hidden;
  }
}
