.section-slider {
  padding-block: sugar.padding(100);
  transform: skewY(2deg);

  s-slider {
    display: block;
    position: relative;
    @sugar.depth (100);

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -100px;
      left: 0;
      width: 100vw;
      height: 50px;
      background: sugar.color(accent, --alpha 0.1);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 0);
      transform-origin: 0 0;
      transform: translateX(0) skewY(10deg);
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: calc(100% - 100px);
      right: 0;
      width: 100vw;
      height: 50px;
      background: sugar.color(complementary, --alpha 0.1);
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 100%);
      transform: translateX(0) skewY(10deg);
    }
  }

  [s-slider-slide] img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
