/* init theme */
@s.init ($theme: coffeekraken, $variant: dark);
/* @s.theme.import ($variant: light); */

/* main sugar classes */
/* we need to load them all to display correctly the documentation */
@s.ui.tooltip.classes;
@s.ui.dropdown.classes;
@s.ui.badge.classes;
@s.ui.tabs.classes;
@s.ui.button.classes;
@s.container.classes;
@s.disabled.classes;
@s.layout.classes;
@s.typo.classes;
@s.format.classes;
@s.font.classes;
@s.color.classes;
@s.margin.classes;
@s.padding.classes;

@s.ui.gauge.classes;

/* chunked ui's */
@s.chunk 'avatar' {
    @s.ui.avatar.classes;
}
@s.chunk 'backdrop' {
    @s.ui.backdrop.classes;
}
@s.chunk 'blockquote' {
    @s.ui.blockquote.classes;
}
@s.chunk 'checkbox' {
    @s.ui.checkbox.classes;
}
@s.chunk 'fsTree' {
    @s.ui.fstree.classes;
}
@s.chunk 'input' {
    @s.ui.input.classes;
}
@s.chunk 'inputContainer' {
    @s.ui.inputcontainer.classes;
}
@s.chunk 'label' {
    @s.ui.label.classes;
}
@s.chunk 'list' {
    @s.ui.list.classes;
}
@s.chunk 'loader' {
    @s.ui.loader.classes;
}
@s.chunk 'media' {
    @s.ui.media.classes;
}
@s.chunk 'radio' {
    @s.ui.radio.classes;
}
@s.chunk 'range' {
    @s.ui.range.classes;
}
@s.chunk 'select' {
    @s.ui.select.classes;
}
@s.chunk 'switch' {
    @s.ui.switch.classes;
}
@s.chunk 'table' {
    @s.ui.table.classes;
}
@s.chunk 'toggle' {
    @s.ui.toggle.classes;
}

/* chunked helpers */
@s.chunk 'gradient' {
    @s.gradient.classes;
}
@s.chunk 'grid' {
    @s.grid.classes;
}
@s.chunk 'group' {
    @s.group.classes;
}
@s.chunk 'hide' {
    @s.hide.classes;
}
@s.chunk 'clearfix' {
    @s.clearfix.classes;
}
@s.chunk 'cursor' {
    @s.cursor.classes;
}
@s.chunk 'link' {
    @s.link.classes;
}
@s.chunk 'gap' {
    @s.gap.classes;
}
@s.chunk 'text' {
    @s.text.classes;
}
@s.chunk 'depth' {
    @s.depth.classes;
}
@s.chunk 'flex' {
    @s.flex.classes;
}
@s.chunk 'fit' {
    @s.fit.classes;
}
@s.chunk 'float' {
    @s.float.classes;
}
@s.chunk 'font' {
    @s.font.classes;
}
@s.chunk 'ratio' {
    @s.ratio.classes;
}
@s.chunk 'scale' {
    @s.scale.classes;
}
@s.chunk 'border' {
    @s.border.classes;
}
@s.chunk 'display' {
    @s.display.classes;
}
@s.chunk 'overflow' {
    @s.overflow.classes;
}
@s.chunk 'position' {
    @s.position.classes;
}
@s.chunk 'pointer' {
    @s.pointer.classes;
}
@s.chunk 'transition' {
    @s.transition.classes;
}
@s.chunk 'offsize' {
    @s.offsize.classes;
}
@s.chunk 'opacity' {
    @s.opacity.classes;
}
@s.chunk 'order' {
    @s.order.classes;
}
@s.chunk 'spacing' {
    @s.spacing.classes;
}
@s.chunk 'until' {
    @s.until.classes;
}
@s.chunk 'when' {
    @s.when.classes;
}
@s.chunk 'userSelect' {
    @s.userselect.classes;
}
@s.chunk 'visibility' {
    @s.visibility.classes;
}
@s.chunk 'visually' {
    @s.visually.classes;
}
@s.chunk 'truncate' {
    @s.truncate.classes;
}
@s.chunk 'shape' {
    @s.shape.classes;
}
@s.chunk 'width' {
    @s.width.classes;
}
@s.chunk 'whiteSpace' {
    @s.whitespace.classes;
}

/* UI's */
@s.ui.codeexample.classes;
@s.ui.clipboardcopy;

/* mobile specific classes */
@s.media.classes mobile {
    @s.layout.classes;
}

/* icons */
@s.icon.classes (
  fa:fire
  fa:user-graduate:documentation
  fa:synagogue:start
  fa:file-code:examples
  fa:magnifying-glass:search
  fa:expand:enter-fullscreen
  fa:compress:exit-fullscreen
  fa:list-ul:menu
  fa:keyboard
  fa:file
  fa:heart
  fa:bugs
  fa:angle-up
  fa:user
  fab:discord
  fab:github
  fab:facebook
  fab:patreon
  fab:twitter
  fab:instagram
  fs:'src/icons/coffeekraken/logo-opensource.svg'
  fs:'src/icons/coffeekraken/logo-postcss.svg'
  fs:'src/icons/coffeekraken/ui-menu-grid-solid.svg'
  fs:'src/icons/coffeekraken/logo-coffeekraken-sugar.svg'
);
