/* init theme */
@sugar.init ($theme: coffeekraken, $variant: dark);
/* @sugar.theme.import ($variant: light); */

/* main sugar classes */
/* we need to load them all to display correctly the documentation */
@sugar.ui.tooltip.classes;
@sugar.ui.dropdown.classes;
@sugar.ui.badge.classes;
@sugar.ui.tabs.classes;
@sugar.ui.button.classes;
@sugar.container.classes;
@sugar.disabled.classes;
@sugar.layout.classes;
@sugar.typo.classes;
@sugar.format.classes;
@sugar.font.classes;
@sugar.color.classes;
@sugar.margin.classes;
@sugar.padding.classes;

@sugar.ui.gauge.classes;

/* chunked ui's */
@sugar.chunk 'avatar' {
    @sugar.ui.avatar.classes;
}
@sugar.chunk 'backdrop' {
    @sugar.ui.backdrop.classes;
}
@sugar.chunk 'blockquote' {
    @sugar.ui.blockquote.classes;
}
@sugar.chunk 'checkbox' {
    @sugar.ui.checkbox.classes;
}
@sugar.chunk 'fsTree' {
    @sugar.ui.fstree.classes;
}
@sugar.chunk 'input' {
    @sugar.ui.input.classes;
}
@sugar.chunk 'inputContainer' {
    @sugar.ui.inputcontainer.classes;
}
@sugar.chunk 'label' {
    @sugar.ui.label.classes;
}
@sugar.chunk 'list' {
    @sugar.ui.list.classes;
}
@sugar.chunk 'loader' {
    @sugar.ui.loader.classes;
}
@sugar.chunk 'media' {
    @sugar.ui.media.classes;
}
@sugar.chunk 'radio' {
    @sugar.ui.radio.classes;
}
@sugar.chunk 'range' {
    @sugar.ui.range.classes;
}
@sugar.chunk 'select' {
    @sugar.ui.select.classes;
}
@sugar.chunk 'switch' {
    @sugar.ui.switch.classes;
}
@sugar.chunk 'table' {
    @sugar.ui.table.classes;
}
@sugar.chunk 'toggle' {
    @sugar.ui.toggle.classes;
}

/* chunked helpers */
@sugar.chunk 'gradient' {
    @sugar.gradient.classes;
}
@sugar.chunk 'grid' {
    @sugar.grid.classes;
}
@sugar.chunk 'group' {
    @sugar.group.classes;
}
@sugar.chunk 'hide' {
    @sugar.hide.classes;
}
@sugar.chunk 'clearfix' {
    @sugar.clearfix.classes;
}
@sugar.chunk 'cursor' {
    @sugar.cursor.classes;
}
@sugar.chunk 'link' {
    @sugar.link.classes;
}
@sugar.chunk 'gap' {
    @sugar.gap.classes;
}
@sugar.chunk 'text' {
    @sugar.text.classes;
}
@sugar.chunk 'depth' {
    @sugar.depth.classes;
}
@sugar.chunk 'flex' {
    @sugar.flex.classes;
}
@sugar.chunk 'fit' {
    @sugar.fit.classes;
}
@sugar.chunk 'float' {
    @sugar.float.classes;
}
@sugar.chunk 'font' {
    @sugar.font.classes;
}
@sugar.chunk 'ratio' {
    @sugar.ratio.classes;
}
@sugar.chunk 'scale' {
    @sugar.scale.classes;
}
@sugar.chunk 'border' {
    @sugar.border.classes;
}
@sugar.chunk 'display' {
    @sugar.display.classes;
}
@sugar.chunk 'overflow' {
    @sugar.overflow.classes;
}
@sugar.chunk 'position' {
    @sugar.position.classes;
}
@sugar.chunk 'pointer' {
    @sugar.pointer.classes;
}
@sugar.chunk 'transition' {
    @sugar.transition.classes;
}
@sugar.chunk 'offsize' {
    @sugar.offsize.classes;
}
@sugar.chunk 'opacity' {
    @sugar.opacity.classes;
}
@sugar.chunk 'order' {
    @sugar.order.classes;
}
@sugar.chunk 'spacing' {
    @sugar.spacing.classes;
}
@sugar.chunk 'until' {
    @sugar.until.classes;
}
@sugar.chunk 'when' {
    @sugar.when.classes;
}
@sugar.chunk 'userSelect' {
    @sugar.userselect.classes;
}
@sugar.chunk 'visibility' {
    @sugar.visibility.classes;
}
@sugar.chunk 'visually' {
    @sugar.visually.classes;
}
@sugar.chunk 'truncate' {
    @sugar.truncate.classes;
}
@sugar.chunk 'shape' {
    @sugar.shape.classes;
}
@sugar.chunk 'width' {
    @sugar.width.classes;
}
@sugar.chunk 'whiteSpace' {
    @sugar.whitespace.classes;
}

/* UI's */
@sugar.ui.codeexample.classes;
@sugar.ui.clipboardcopy;

/* mobile specific classes */
@sugar.media.classes mobile {
    @sugar.layout.classes;
}

/* icons */
@sugar.icon.classes (
  fa:fire
  fa:user-graduate:documentation
  fa:synagogue:start
  fa:file-code:examples
  fa:magnifying-glass:search
  fa:expand:enter-fullscreen
  fa:compress:exit-fullscreen
  fa:list-ul:menu
  fa:keyboard
  fa:file
  fa:heart
  fa:bugs
  fa:angle-up
  fa:user
  fab:discord
  fab:github
  fab:facebook
  fab:patreon
  fab:twitter
  fab:instagram
  fs:'src/icons/coffeekraken/logo-opensource.svg'
  fs:'src/icons/coffeekraken/logo-postcss.svg'
  fs:'src/icons/coffeekraken/ui-menu-grid-solid.svg'
  fs:'src/icons/coffeekraken/logo-coffeekraken-sugar.svg'
);
