/**
 * @name      translate-map
 * @namespace           scss.util
 * @type      function
 *
 * Return the Map properties representation of a translate x,y and z
 *
 * @param 			{Number} 			[$x=0] 			The x translate value
 * @param 			{Number} 			[$y=0] 			The y translate value
 * @param 			{Number} 			[$z=0] 			The z translate value
 * @return 			{Map} 								The translate Map representation
 *
 * @example     scss
 * Sugar.translate-map(10px,20px);
 * // return
 * // (
 * // 	transform: translateX(10px) translateY(20px) translateZ(0)
 * // )
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@function translate-map($x: 0, $y: 0, $z: 0) {

  $x: test-argument("Sugar.translate-map", "x", number, $x);
  $y: test-argument("Sugar.translate-map", "y", number, $y);
  $z: test-argument("Sugar.translate-map", "z", number, $z);

  // build translate
  $translates: ();
  @if $x {
    $translates: list-append($translates, translateX($x));
  }
  @if $y {
    $translates: list-append($translates, translateY($y));
  }
  @if $z {
    $translates: list-append($translates, translateZ($z));
  }

  // return translate
  @return (transform: $translates);
}
