/* importing sugar toolkit */
@s.import ('./sugar.css');
@s.import ('./carpenter.css');
@s.import ('../views/**/*.css');
@s.import ('./generic/**/*.css');

body {
    background: s.color(main, background);
    /* overflow-x: hidden; */
}

[s-appear] {
    opacity: 0;
}
[s-appear][appear] {
    opacity: 1;
}

.content {
    min-height: 100vh;
}

@s.lod.prevent {
    html[class='s-lod s-lod--0'] *:hover,
    html[class='s-lod s-lod--0 s-lod--1'] *:hover {
        position: relative;

        &:after {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border: dashed 1px rgba(255, 0, 0, 0.3);
            pointer-events: none;
        }
    }
}

/* logo */
.logo {
    svg [fill='white'] {
        fill: s.color(main, --darken 10);
    }
    svg [fill='#FEBD0F'] {
        fill: s.color(accent);
    }

    @s.theme (dark) {
        svg [fill='white'] {
            fill: s.color(main, text);
        }
        svg [fill='#FEBD0F'] {
            fill: s.color(accent);
        }
    }
}
