@sugar.style.define (list-default) {
  @sugar.scope.bare {
    min-width: 500px;
  }

  @sugar.scope.lnf {
    padding: sugar.space(20);
    background-color: sugar.color(surface);
    border-radius: 5px;
    @sugar.depth (30);

    & > li,
    & > dt {
      border-radius: 5px;
      padding: sugar.space(40);
    }

    & > li:hover,
    & > dt:hover {
      background-color: sugar.color(primary, --darken 20);
    }
  }
}
