#documentation {
    padding-block: sugar.padding(100);

    ._layout {
        @sugar.layout ('1 2 2');
        gap: sugar.margin(50);

        @sugar.media mobile {
            @sugar.layout ('1 _ 2');
            gap: sugar.margin(40);
        }
    }

    ._doc {
        @sugar.media tablet {
            margin-inline: calc(sugar.margin(50) * -1);
        }
        @sugar.media mobile {
            margin-inline: calc(sugar.margin(30) * -1);
        }

        .s-format-text {
            h1 {
                font-size: sugar.font.size(70);
            }
            h2 {
                font-size: sugar.font.size(60);
            }
            h3 {
                font-size: sugar.font.size(50);
            }
        }
    }
}
