.s-specs-editor_actions {
    padding: sugar.padding(10);

    ._action {
        display: block;
        aspect-ratio: 1;
        width: 2em;
        text-align: center;
        background: sugar.color(current, --alpha 0);
        @sugar.transition (fast);
        @sugar.border.radius();

        &:hover {
            background: sugar.color(current, --darken 10%);
        }

        i {
            opacity: 1;
        }
    }
}
