.s-specs-editor_child {
    position: relative;
    padding-block-end: 0;
}
.s-specs-editor_child-metas {
}
.s-specs-editor_child-heading {
    display: flex;
    align-items: center;
}

.s-specs-editor_child-toggle {
    cursor: pointer;
    display: block;
}
.s-specs-editor_child-prop .s-specs-editor_child-toggle.active {
}

.s-specs-editor_child-title {
    flex-grow: 1;
}
.s-specs-editor_child-media {
}
.s-specs-editor_child-description {
}

.s-specs-editor_child-prop {
    overflow: hidden;
    height: 0;

    &.active {
        height: auto;
        border-bottom: sugar.margin(10) solid
            sugar.color(complementary, --alpha 0.05);
    }
}
