.s-specs-editor_child {
}
.s-specs-editor_child-metas {
    padding-block-start: sugar.padding(30);
    padding-inline: var(--s-specs-editor-padding-inline);
}
.s-specs-editor_child-heading {
    display: flex;
    align-items: center;
    margin-block-end: sugar.margin(30);
}
.s-specs-editor_child-title {
    flex-grow: 1;
    font-size: sugar.font.size(50);
    color: sugar.color(accent);
}
.s-specs-editor_child-media {
}
.s-specs-editor_child-description {
    padding-block-end: sugar.padding(30);
    color: sugar.color(main, text, --alpha 0.4);
}
