.copy-btn {
    ._pending {
    }
    ._success {
        display: none;
    }

    &.success {
        ._pending {
            display: none;
        }
        ._success {
            display: inline;
        }
    }
}
