.s-specs-editor_media-icons {
}
.s-specs-editor_media-icon {
    cursor: pointer;

    &.active {
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -0.25em;
            right: 0;
            width: 0.5em;
            height: 0.5em;
        }
    }

    &:hover i,
    &.current i {
    }
}
