.s-specs-editor_metas {
    position: sticky;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;

    &:has(&-source) {
    }

    &-heading {
        display: flex;
        align-items: center;

        * {
            overflow: hidden;
        }
        ._title {
            flex-grow: 1;
        }

        ._actions {
            display: flex;

            ._action {
            }
            ._action-save {
                i {
                }

                &.success {
                }

                &.error {
                }
            }
            ._action-delete {
            }
        }
    }

    &-source {
        ._text {
        }
        ._link {
        }
    }
}
