.s-specs-editor_metas {
    display: flex;
    align-items: center;
    padding-inline-start: var(--s-specs-editor-padding-inline);
    padding-inline-end: sugar.padding(10);
    position: sticky;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    padding-block: sugar.padding(30);
    margin-block-end: sugar.margin(30);
    border-bottom: 1px solid sugar.color(main, border);
    background-image: linear-gradient(
        45deg,
        sugar.color(main, background),
        sugar.color(main, background, --lighten 5%)
    );
    @sugar.transition;

    &-title {
        color: sugar.color(accent);
        padding-inline: sugar.padding(30);
    }

    * {
        @sugar.transition;
        overflow: hidden;
        opacity: 1;
    }

    ._title {
        flex-grow: 1;
    }

    ._actions {
        display: flex;
        gap: sugar.margin(10);

        ._action {
        }
        ._action-save {
            @sugar.ui.button();
            @sugar.color (complementary);
        }
        ._action-delete {
            @sugar.ui.button ($lnf: text);
            /* @sugar.color (error); */
        }
    }
}
