.s-specs-editor_prop {
    padding-inline: var(--s-specs-editor-padding-inline);

    &:has(> .s-specs-editor_repeatable) {
        padding: 0;
    }

    &:has(> div) {
        padding-block: var(--s-specs-editor-padding-block);
    }
}
