.s-specs-editor_repeatable {
    position: relative;

    > .s-label {
    }
}

.s-specs-editor_repeatable-item {
    position: relative;

    &.sorting {
    }

    &.sorted {
    }
}

.s-specs-editor_repeatable-drop {
    position: relative;
    height: 0;

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 0;
        transform: translateY(-50%);
        pointer-events: none;
    }

    &:has(+ .s-specs-editor_repeatable-item.sorting),
    .s-specs-editor_repeatable-item.sorting + & {
        display: none;
    }

    .s-specs-editor_repeatable.sort > & {
        z-index: 100;

        &:after {
            pointer-events: all;
        }
        &.sort-over {
            &:after {
            }
        }
    }
}

.s-specs-editor_repeatable-title {
    display: flex;
    align-items: center;
    cursor: pointer;

    &,
    * {
    }

    > span {
        flex-grow: 1;
    }

    &.active,
    &:hover {
    }

    &.active,
    &:has(
            + .s-specs-editor_repeatable-body
                + .s-specs-editor_repeatable-actions:last-child
        ) {
    }

    ._reorder {
    }

    ._remove {
    }
    &:hover ._remove {
        display: inline-block;
    }
}

.s-specs-editor_repeatable-empty {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
    }

    ._text {
    }
}

.s-specs-editor_repeatable-body {
    display: none;
}
.s-specs-editor_repeatable-body.active {
    display: block;
}

.s-specs-editor_repeatable-item-actions {
}

.s-specs-editor_repeatable-item-props {
}

.s-specs-editor_repeatable-actions {
    ._add {
        i {
        }
    }
}
