.s-specs-editor_widget {
    position: relative;

    &:has(._override) {
    }

    ._override {
        position: absolute;
        z-index: 100;
        top: calc(var(--s-specs-editor-padding-block) * -1);
        bottom: calc(var(--s-specs-editor-padding-block) * -1);
        left: calc(var(--s-specs-editor-padding-inline) * -1);
        right: calc(var(--s-specs-editor-padding-inline) * -1);
        padding-inline: var(--s-specs-editor-padding-inline);
        display: flex;
        align-items: center;
        justify-content: end;
    }

    ._override-btn {
    }
}
