@use '../../../index' as gridle;


@include gridle.setup((
  columns: 12,
	column-width: 60, // unitless value
	width: 1200, // unitless value
	container-width: 85vw, // absolute value
	container-max-width: 1440px
));

@include gridle.register-state(tablet, (
	min-width : 640px
));
@include gridle.register-state(desktop, (
	min-width : 992px
));

@include gridle.classes();


coco {
  background: red;

  @include gridle.state(desktop) {
    content: 'hello';
  }
  @include gridle.state((
    max-width: 900px
  )) {
    content: 'plop';
  }

}
