<div class="error">
  <div class="error__container">
    <ck-icon class="error__icon" icon="fa-exclamation-circle"></ck-icon>
    <div class="error__meta tf vr">
      <p>
        {{error}}
      </p>
    </div>
  </div>
</div>
