s-color-picker {
    display: inline-block;
    position: relative;

    &:not([mounted]) > * {
        display: none;
    }

    &[disabled] {
        pointer-events: none;
    }

    *[disabled] {
        opacity: 1 !important;
    }

    .s-color-picker {
        display: flex;
        width: 100%;
    }

    .pcr-app {
        position: absolute !important;
        top: 100%;
        right: 0;
        left: auto;
    }

    [dir="rtl"] & .pcr-app,
    &[dir="rtl"] .pcr-app {
        right: auto;
        left: 0;
    }
    
    .pickr {
        display: none;
    }
        
    &:not([input]):not([button]) .s-color-picker {
        position: relative;
        display: inline-block;
    }
}

s-color-picker:not([bare]) {

    .s-color-picker__button {
        padding-inline: sugar.theme(ui.colorPicker.paddingInline);
        padding-block: sugar.theme(ui.colorPicker.paddingBlock);
        cursor: pointer;
    }

    &[button][input] {
        .s-color-picker__input {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .s-color-picker__button {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    [dir="rtl"] &[button][input],
    &[dir="rtl"][button][input] {
        .s-color-picker__button {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-top-left-radius: sugar.theme(ui.colorPicker.borderRadius);
            border-bottom-left-radius: sugar.theme(ui.colorPicker.borderRadius);
        }
        .s-color-picker__input {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-top-right-radius: sugar.theme(ui.colorPicker.borderRadius);
            border-bottom-right-radius: sugar.theme(ui.colorPicker.borderRadius);
        }
    }
}

