body {
}

s-color-picker {
    display: inline-block;
    position: relative;

    @sugar.media <=mobile {
        position: unset;
    }

    &:not([mounted]) > * {
        display: none;
    }

    &[disabled] {
        pointer-events: none;
    }

    *[disabled] {
        opacity: 1 !important;
    }

    .s-color-picker {
        display: flex;
        width: 100%;

        &.is-interacting * {
            cursor: none !important;
        }
    }

    .s-color-picker__injected {
        display: flex;

        input {
            flex-grow: 1;
        }
        button {
            flex-grow: 0;
        }
    }

    .s-color-picker__picker {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        background: sugar.color(main, background);
        pointer-events: none;
        opacity: 0;

        @sugar.media <=mobile {
            position: fixed;
            bottom: 0;
            top: auto !important;
            left: 0 !important;
            right: auto;
            width: 100vw;
            transform: translate(0, 100%);
        }
    }
    &[inline] .s-color-picker__picker {
        position: unset;
        top: unset;
        left: unset;
        background: unset;
        pointer-events: all;
        opacity: 1;
    }

    &:focus-within {
        .s-color-picker__picker {
            opacity: 1;
            pointer-events: all;

            @sugar.media <=mobile {
                transform: translate(0, 0);
            }
        }
    }

    .s-color-picker__chest {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.02;
        /* z-index: -1; */
        pointer-events: none;

        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: repeating-linear-gradient(
                0deg,
                #000 0,
                #000 10px,
                #fff 10px,
                #fff 20px
            );
            background-position: 50% 50%;
            z-index: -1;
        }

        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: repeating-linear-gradient(
                90deg,
                #000 0,
                #000 10px,
                #fff 10px,
                #fff 20px
            );
            background-position: 50% 50%;
            mix-blend-mode: difference;
            z-index: -1;
        }
    }

    .s-color-picker__selectors {
        display: flex;
        gap: sugar.margin(20);
        height: 215px;
    }

    .s-color-picker__shade-wrapper {
        position: relative;
        aspect-ratio: 16/9;
        cursor: all-scroll;
        flex-grow: 1;

        canvas {
            width: 100%;
            height: 100%;
            position: relative;
        }

        @sugar.media <=mobile {
            position: relative;
            aspect-ratio: unset;
        }
    }

    .s-color-picker__hue-wrapper,
    .s-color-picker__alpha-wrapper {
        position: relative;
        width: 30px;
        cursor: row-resize;
        flex-grow: 0;
        flex-shrink: 0;

        canvas {
            width: 100%;
            height: 100%;
            position: relative;
        }
    }

    .s-color-picker__hue-wrapper,
    .s-color-picker__alpha-wrapper {
        &:after {
            content: '';
            display: block;
            width: calc(100%);
            height: 5px;
            background: red;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            pointer-events: none;
        }
    }
    .s-color-picker__hue-wrapper {
        &:after {
            top: calc((100 / 360 * var(--s-color-picker-h, 0)) * 1%);
        }
    }
    .s-color-picker__alpha-wrapper {
        display: none;
        background: white;

        &.active {
            display: block;
        }

        &:after {
            top: calc(100% - var(--s-color-picker-a, 0) * 100 * 1%);
        }
    }

    .s-color-picker__shade-wrapper {
        &:after {
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            background: red;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 10;
            top: calc(100% - var(--s-color-picker-shade-y, 0) * 1%);
            left: calc(var(--s-color-picker-shade-x, 0) * 1%);
            pointer-events: none;
        }
    }

    .s-color-picker__btn,
    .s-color-picker__color-input {
        padding: sugar.padding(20) sugar.padding(30);
    }

    .s-color-picker__metas {
        display: flex;
        flex-wrap: nowrap;

        .s-color-picker__btn {
            flex-grow: 0;
        }
    }

    .s-color-picker__formats {
        display: flex;
    }

    .s-color-picker__color {
        display: flex;
    }

    @sugar.media <=mobile {
        .s-color-picker__metas {
            flex-wrap: wrap;
        }

        .s-color-picker__color {
            margin-block-start: sugar.margin(20);
        }

        .s-color-picker__formats,
        .s-color-picker__color {
            width: 100%;

            .s-color-picker__btn {
                text-align: center;
                flex-grow: 1 !important;
            }
        }
    }

    .s-color-picker__metas,
    .s-color-picker__actions {
        padding-block-start: sugar.padding(20);

        @sugar.media <=mobile {
            padding-block-start: sugar.padding(30);
        }
    }

    .s-color-picker__actions {
        display: flex;
        gap: sugar.margin(20);

        button {
            flex-grow: 1;
            text-align: center;
        }
    }

    .s-color-picker__color-input {
        flex-shrink: 1;
        flex-grow: 1;
    }

    .s-color-picker__preview {
        width: 50px;
        flex-shrink: 0;
        flex-grow: 0;
        cursor: pointer;
        background-color: hsla(
            var(--s-color-picker-h),
            calc(var(--s-color-picker-s) * 1%),
            calc(var(--s-color-picker-l) * 1%),
            var(--s-color-picker-a)
        );

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    [dir='rtl'] & .s-color-picker__picker,
    &[dir='rtl'] .s-color-picker__picker {
        right: auto;
        left: 0;
    }

    &:not([input]):not([button]) .s-color-picker {
        position: relative;
        display: inline-block;
    }
}

s-color-picker[lnf='default'] {
    color: sugar.color(text);

    /* &[button] {
        .s-color-picker__injected {
            display: flex;

            input {
                &:not([dir='rtl'] input, input[dir='rtl']) {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
                [dir='rtl'] & &[dir='rtl'] {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
            }
        }
    }

    &[input] {
        .s-color-picker__injected {
            button {
                &:not([dir='rtl'] input, input[dir='rtl']) {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                }
                [dir='rtl'] & &[dir='rtl'] {
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }
            }
        }
    } */

    .s-color-picker__picker {
        @sugar.depth (100);
        background: sugar.color(main, background);
        padding: sugar.padding(30);
        overflow: hidden;
        transition: sugar.transition(fast);
        transition-property: opacity;
        border-radius: sugar.border.radius();

        @sugar.media <=mobile {
            border-radius: 0;
        }
    }
    &[inline] .s-color-picker__picker {
        background: none;
        box-shadow: none;
        padding: 0;
    }

    .s-color-picker__shade-wrapper,
    .s-color-picker__hue-wrapper,
    .s-color-picker__alpha-wrapper {
        border-radius: sugar.border.radius();

        canvas {
            border-radius: sugar.border.radius();
        }

        &:after {
            width: 20px;
            height: 20px;
            border-radius: 999px;
            background: none;
            border: solid 10px sugar.color(main, surface);
            border-color: white;
            transition: border-width 0.15s ease-in-out;
            @sugar.depth (10);
        }
    }
    .s-color-picker__shade-wrapper {
        &:after {
            width: 20px;
            height: 20px;
            border-radius: 999px;
            background: none;
            border: solid 10px sugar.color(main, surface);
            border-color: white;
            transition: border-width 0.15s ease-in-out;
            @sugar.depth (10);
        }
    }

    .s-color-picker.is-interacting {
        .s-color-picker__hue-wrapper,
        .s-color-picker__alpha-wrapper,
        .s-color-picker__shade-wrapper {
            &:after {
                border-width: 3px;
            }
        }
    }

    .s-color-picker__formats {
        .s-color-picker__btn {
            border: 1px solid sugar.color(main, border);
            color: sugar.color(main, text);
            font-size: 0.8em;
            @sugar.font.family (code);

            &:hover {
                background: sugar.color(main, ui);
            }

            &:first-child {
                border-top-left-radius: sugar.border.radius();
                border-bottom-left-radius: sugar.border.radius();

                @sugar.media <=mobile {
                    border-radius: 0;
                    border-top-left-radius: sugar.border.radius();
                    border-bottom-left-radius: sugar.border.radius();
                }
            }
            &:nth-child(3) {
                @sugar.media <=mobile {
                    border-top-right-radius: sugar.border.radius();
                    border-bottom-right-radius: sugar.border.radius();
                }
            }

            @sugar.media >mobile {
                &:nth-child(2),
                &:nth-child(3) {
                    border-left: none;
                }
                &:nth-child(3) {
                    border-right: none;
                }
            }

            &.active {
                background: sugar.color(main, ui);
                color: sugar.color(main, text);
            }
        }
    }

    @sugar.media <=mobile {
        .s-color-picker__color-input {
            border-top: none;
            border-top-left-radius: sugar.border.radius();
            border-bottom-left-radius: sugar.border.radius();
        }
        .s-color-picker__preview {
        }
    }

    .s-color-picker__actions {
        .s-color-picker__btn {
            background: sugar.color(current);
            color: sugar.color(current, foreground);
            border-radius: sugar.border.radius();
        }
    }

    .s-color-picker__color-input {
        color: sugar.color(main, text);
        border: solid 1px sugar.color(main, border);
        border-right: none;
    }
    .s-color-picker__preview {
        position: relative;
        border: solid 1px
            hsla(
                var(--s-color-picker-h),
                calc(var(--s-color-picker-s) * 1%),
                calc(var(--s-color-picker-l) * 1%),
                var(--s-color-picker-a)
            );
        border-left: none;
        border-top-right-radius: sugar.border.radius();
        border-bottom-right-radius: sugar.border.radius();

        i {
            color: white;
            font-size: 0.8em;
        }
    }
}
