@s.init;

body {
    background: red;
    background: s.color(accent);
}

.my-element {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100px;
    background: green;
    height: 50vh;
}
