sherlock-new-space {
}
.sh-new-space {
    ._adapter {
        background: s.color(main, surface, --alpha 0.7);
        padding: s.padding(50);
        backdrop-filter: blur(10px);
        @s.border.radius;
    }
}
