.s-carpenter-app_actions {
    position: absolute;
    bottom: var(--s-carpenter-editor-bottom);
    right: var(--s-carpenter-editor-margin);
    @sugar.transition();

    .s-carpenter--open & {
        right: calc(
            var(--s-carpenter-editor-width) + var(--s-carpenter-editor-margin) *
                2
        );
    }

    ._save {
        @sugar.ui.button();
        @sugar.color (complementary);
        @sugar.depth (100);

        i {
            color: sugar.color(complementary, foreground);
        }
    }
}
