.s-carpenter-app_actions {
    position: absolute;
    bottom: var(--s-carpenter-editor-bottom);
    right: var(--s-carpenter-editor-margin);
    opacity: 1;
    @sugar.transition();

    .s-carpenter--open & {
        right: calc(
            var(--s-carpenter-editor-width) + var(--s-carpenter-editor-margin) *
                2
        );
    }

    .s-carpenter--preview & {
        transform: translate(0, 200%);
        opacity: 0;
        pointer-events: none;
    }

    ._save {
        @sugar.ui.button();
        @sugar.color (complementary);
        @sugar.depth (100);

        i {
            color: sugar.color(complementary, foreground);
        }

        &.success {
            @sugar.color (success);
        }

        &.loading {
            @sugar.ui.button ($lnf: loading);
            @sugar.color (accent);
        }
    }
}
