@keyframes s-carpenter-app-controls-in {
    from {
        opacity: 0;
        transform: translate(-200%, 0);
    }
    to {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.s-carpenter-app_controls {
    position: absolute;
    z-index: 99999;
    left: var(--s-carpenter-media-bottom);
    top: var(--s-carpenter-media-bottom);
    width: 80px;
    transform: translate(0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: s.margin(30);
    background: s.color(main, background);
    padding: s.padding(20);
    opacity: 1;
    pointer-events: all;
    /* animation: s-carpenter-app-controls-in 0.3s ease-out forwards; */
    @s.transition();
    @s.border.radius (30);
    @s.depth (100);

    .s-carpenter--preview & {
        transform: translate(-200%, 0);
        opacity: 0;
        pointer-events: none;
    }

    ._logo {
        width: 100%;
        transform: scale(0.8);
        cursor: pointer;
        @s.transition fast;

        svg {
            width: 100%;
        }

        &:hover {
            transform: scale(1);
        }
    }

    ._modes {
        display: flex;
        align-items: center;
        gap: s.margin(10);
        user-select: none;
    }
    ._switch {
        @s.ui.switch;
        @s.color (accent);
    }
}

.s-carpenter-app_menu {
    @s.ui.button ($lnf: text);
}

.s-carpenter-app_queries {
    background: s.color(main, background) !important;
    border-bottom-left-radius: s.border.radius();
    display: flex;
    flex-direction: column;
    width: 100%;

    .s-tooltip {
        white-space: nowrap;
    }

    ._query {
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @s.border.radius;
        @s.transition fast;

        &:hover,
        &.is-active {
            i {
                color: s.color(main, foreground);
            }
        }
        &:hover {
            background: s.color(main, hover);
        }
        &:active {
            background: s.color(main, active);
        }
        &.is-active {
            background: s.color(main);
        }
    }
}

.s-carpenter-app_modes {
    background: s.color(main, background) !important;
    border-bottom-left-radius: s.border.radius();
    display: flex;
    flex-direction: column;
    width: 100%;

    .s-tooltip {
        white-space: nowrap;
    }

    ._mode {
        aspect-ratio: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        @s.border.radius;
        @s.transition fast;

        &:hover,
        &.is-active {
            i {
                color: s.color(complementary, foreground);
            }
        }
        &:hover {
            background: s.color(complementary, hover);
        }
        &:active {
            background: s.color(complementary, active);
        }
        &.is-active {
            background: s.color(complementary);
        }
    }
}
