.s-carpenter-app_editor {
    position: absolute;
    top: var(--s-carpenter-editor-margin);
    right: var(--s-carpenter-editor-margin);
    bottom: var(--s-carpenter-editor-bottom);
    width: var(--s-carpenter-editor-width);
    background: sugar.color(main, background);
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    @sugar.border.radius();
    @sugar.depth (100);
    @sugar.transition();

    body:not(.s-carpenter--preview).s-carpenter--open & {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }

    ._loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        @sugar.color (main);
        animation: s-carpenter-loader-color 0.5s
            cubic-bezier(0.56, -0.005, 0.46, 1.505) infinite;
        opacity: 0.3;
    }
}

.s-carpenter-app_editor-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    @sugar.scrollbar();
    @sugar.border.radius();

    &:after {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        pointer-events: none;
        border: 0 solid transparent;
        @sugar.transition fast;
    }

    &:has(s-specs-editor.error):after {
        border: 4px solid sugar.color(error);
    }
    &:has(s-specs-editor.unsaved):after {
        border: 4px solid sugar.color(accent);
    }
}

.s-carpenter-app_editor.scrolled .s-specs-editor_metas-heading,
.s-carpenter-app_editor.scrolled .s-specs-editor_metas-source {
    padding-block: sugar.padding(20);
    padding-inline: sugar.padding(30);

    * {
        @sugar.scale (0.8);
    }
}
