.s-carpenter-app_error {
    width: 100%;
    background: sugar.color(error, surface);
    color: sugar.color(error, text);
    padding: sugar.padding(30);
    border: solid 1px sugar.color(error, border);
    @sugar.border.radius;
}
