.s-carpenter-app_error {
    width: 100%;
    background: s.color(error, surface);
    color: s.color(error, text);
    padding: s.padding(30);
    border: solid 1px s.color(error, border);
    @s.border.radius;
}
