@keyframes s-carpenter-loading-in {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

.s-carpenter-app_loading {
    position: absolute;
    top: 45%;
    left: calc(50% + var(--s-carpenter-viewport-offset-x, 0px));
    transform: translate(-50%, -50%);

    background: s.color(main, background);
    border-radius: 50%;
    animation: s-carpenter-loading-in 0.1s
        cubic-bezier(0.56, -0.005, 0.46, 1.505) forwards;
    @s.transition;
    @s.depth (100);

    width: 1em;
    height: 1em;
    font-size: 100px;

    ._loader {
        position: absolute;
        opacity: 0.5;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @s.color (#fff);
        font-size: 40px;
        animation: s-carpenter-loader-color 0.5s
            cubic-bezier(0.56, -0.005, 0.46, 1.505) infinite;
        opacity: 0.3;
    }
}
