.s-carpenter-app_metas {
    position: absolute;
    z-index: 99999;
    left: var(--s-carpenter-media-bottom);
    bottom: var(--s-carpenter-media-bottom);
    display: flex;
    align-items: center;
    gap: s.margin(30);
    background: s.color(main, background);
    padding: s.padding(20);
    opacity: 1;
    pointer-events: all;
    @s.transition();
    @s.border.radius (30);
    @s.depth (100);

    .s-carpenter--preview & {
        transform: translate(0, 200%);
        opacity: 0;
        pointer-events: none;
    }
}
