.s-carpenter-app_sidebar {
    position: absolute;
    top: var(--s-carpenter-sidebar-margin);
    left: var(--s-carpenter-sidebar-margin);
    bottom: var(--s-carpenter-sidebar-bottom);
    width: var(--s-carpenter-sidebar-width);
    background: sugar.color(main, background);
    transform: translateX(-100%);
    opacity: 0;
    padding-block-end: sugar.padding(50);
    pointer-events: none;
    @sugar.border.radius();
    @sugar.depth (100);
    @sugar.transition();

    .s-carpenter-app--open & {
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
    }

    ._loader {
        opacity: 0.3;
        margin-inline-end: sugar.margin(10);
        @sugar.color (#fff);
    }

    i {
        margin-inline-end: sugar.margin(10);
        @sugar.color (#fff);
    }
    .active > div > i {
        color: sugar.color(accent);
    }

    ._item {
        @sugar.transition (fast);

        > div {
            border: 1px solid transparent;
            @sugar.transition (fast);
        }
    }

    ._item:not(.active):not(:hover) > div > span,
    ._item:not(.active):not(:hover) > div > i {
        opacity: 0.5;
    }

    ._item:not(.active):hover > div {
        background: sugar.color(main, --alpha 0.05);
    }

    ._item.active:not(:has(._loader)) > div,
    ._item.active:hover:not(:has(._loader)) > div {
        background: sugar.color(complementary, --alpha 0.5);
        color: sugar.color(complementary, foreground);
    }
    ._item.active:before {
        display: none;
    }

    ._item:has(._loader) > div {
        border: 1px solid sugar.color(main, border);
    }

    ._item:has(._loader) > div > ._loader {
        animation: s-carpenter-loader-color 0.5s
            cubic-bezier(0.56, -0.005, 0.46, 1.505) infinite !important;
    }

    .s-carpenter-app_logo {
        flex-grow: 0;
        padding: sugar.padding(30);
        margin-block-end: sugar.margin(30);
        /* @sugar.depth (100); */
        border-bottom: 1px solid sugar.color(main, border);

        svg {
            *[fill='#FECE0F'] {
                fill: sugar.color(accent);
            }
            *[fill='black'] {
                fill: sugar.color(main, text);
            }
            *[fill='#4900E6'] {
                full: sugar.color(complementary);
            }

            display: inline-block;
            width: auto !important;
            height: autp !important;
            max-width: 100% !important;
        }
    }

    .s-carpenter-app_navigation {
        flex-grow: 1;
        padding: sugar.padding(30);
        overflow-y: auto;
        @sugar.scrollbar();
    }
}
