[s-container] {
    position: relative;

    /* > *:not(.s-carpenter-app_website-container, svg):not(
            :has(+ .s-carpenter-app_website-container)
        ) { */

    > *:not(.s-carpenter-app_website-container, svg):not(
            :has(+ .s-carpenter-app_website-container)
        ) {
        margin-bottom: 0;
        position: relative;
        /* transition: margin-bottom 0.3s ease-in-out; */

        &:after {
            content: 'Add components/sections here...';
            display: flex;
            align-items: center;
            justify-content: center;
            color: sugar.color(main, text, --alpha 0.4);
            position: absolute;
            /* z-index: -1; */
            bottom: 0;
            left: 50%;
            background: transparent;
            width: calc(100% - 40px);
            max-width: sugar.container.width();
            opacity: 0;
            transform: translate(-50%, calc(100% + 80px));
            border: 1px dashed sugar.color(main, border);
            background: sugar.color(main, --alpha 0.1);
            @sugar.transition;

            [s-container] & {
                width: 100%;
            }
        }
    }

    .s-carpenter-app_website-container {
        position: relative;
        display: flex;
        z-index: 100;
        align-items: center;
        pointer-events: none;
        @sugar.transition;

        &:hover,
        &:focus,
        &:focus-within {
            z-index: 101;

            > * {
                opacity: 1;
                pointer-events: all;
            }
        }

        &:after {
            content: 'Add components/sections here...';
            display: flex;
            align-items: center;
            justify-content: center;
            color: sugar.color(main, text, --alpha 0.4);
            opacity: 0;
            position: absolute;
            top: 80px;
            left: 50%;
            width: calc(100% - 40px);
            max-width: sugar.container.width();
            transform: translate(-50%, 0);
            border: 1px dashed sugar.color(main, border);
            background: sugar.color(main, --alpha 0.1);
            @sugar.transition;

            [s-container] & {
                width: 100%;
            }
        }
        &:hover:after {
            color: sugar.color(main, text, --alpha 0);
            border: 1px dashed sugar.color(accent, border);
            background: sugar.color(accent, --alpha 0.1);
        }
    }

    .s-carpenter-app_website-container-toolbar {
        position: absolute;
        z-index: 9999;
        left: 50%;
        top: 0;
        transform: translate(-50%, 0);
        background: sugar.color(main, background);
        color: sugar.color(main, text);
        display: flex;
        padding: sugar.padding(20);
        flex-wrap: nowrap;
        align-items: center;
        cursor: pointer;
        user-select: none;
        pointer-events: none;
        opacity: 0;
        @sugar.border.radius (30);
        @sugar.depth (100);
        @sugar.transition;

        &:after {
            content: ' ';
            position: absolute;
            border-style: default;
            border-color: sugar.color(main, background) transparent transparent
                transparent;
            top: 100%;
            left: 50%;
            margin-left: -12.5px;
            border-width: calc(25px / 2);
        }
    }

    .s-carpenter-app_website-container-add {
        @sugar.ui.button();
    }

    .s-carpenter-app-add-component {
        @sugar.ui.filtrableInput();
        min-width: 350px;

        ._group {
            @sugar.ui.inputcontainer ($lnf: group);
        }
        ._icon {
            background: sugar.color(main, surface, --darken 3);
            border: 1px solid sugar.color(main, border);
            border-right: none;
            padding: sugar.padding(30);
        }

        ._item {
            font-weight: bold;
            white-space: nowrap;
        }

        ._title {
            margin-block-end: sugar.margin(10);
        }

        ._description {
            font-size: sugar.font.size(20);
            opacity: 0.5;
        }

        ._type {
            font-weight: initial;
        }
    }
}

.s-carpenter-app--edit [s-container] {
    > *:not(.s-carpenter-app_website-container, svg):not(
            :has(+ .s-carpenter-app_website-container)
        ) {
        margin-bottom: 0;

        &:after {
            height: 0;
            opacity: 0;
        }
    }

    .s-carpenter-app_website-container {
        height: 0;
        pointer-events: none;

        &:after {
            opacity: 0;
            height: 0;
        }
    }
}

.s-carpenter-app--insert [s-container] {
    > *:not(.s-carpenter-app_website-container, svg):not(
            :has(+ .s-carpenter-app_website-container)
        ) {
        margin-bottom: 200px;

        &:after {
            height: calc(100px - 40px);
            opacity: 1;
        }
    }

    .s-carpenter-app_website-container {
        height: 200px;
        pointer-events: all;

        &:after {
            opacity: 1;
            height: calc(100px - 40px);
        }
    }
}
