[s-container] {
    position: relative;
    @sugar.transition fast;

    &.drag-over {
        background: sugar.color(accent, --alpha 0.1);
    }

    > * {
        @sugar.transition;
        margin-bottom: 0;
    }

    .s-carpenter-app_website-add-component {
        position: relative;
        display: flex;
        z-index: 100;
        align-items: center;
        justify-content: center;
        height: 200px;
        @sugar.transition;

        > * {
            opacity: 0;
            pointer-events: none;
        }

        &:hover,
        &:focus,
        &:focus-within {
            z-index: 101;

            > * {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    > * > template[s-node] + template {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;

        &:after {
            content: 'Add components/sections here...';
            display: flex;
            align-items: center;
            justify-content: center;
            color: sugar.color(main, text, --alpha 0.4);
            position: absolute;
            top: calc(100% + 50px);
            left: 50%;
            width: calc(100% - 40px);
            height: 0;
            max-width: sugar.container.width();
            transform: translateX(-50%);
            border: 0px dashed sugar.color(main, border);
            background: sugar.color(main, --alpha 0.1);
            overflow: hidden;
            @sugar.font.size (40);
            @sugar.transition;

            [s-container] & {
                width: 100%;
            }
        }
    }

    .s-carpenter-app_add-component-container {
        background-color: transparent !important;
        @sugar.border.radius (30);
        @sugar.depth (100);
        @sugar.transition;
    }

    .s-carpenter-app-add-component {
        @sugar.ui.filtrableInput();
        min-width: 350px;

        ._group {
            @sugar.ui.inputcontainer ($lnf: group);

            ._icon {
                display: flex;
                padding: sugar.padding(30);
                justify-content: center;
                align-items: center;
                aspect-ratio: 1;
                background: sugar.color(complementary, --lighten 20);
                @sugar.border.radius;

                i {
                    color: sugar.color(complementary, foreground);
                }
            }
        }

        ._item {
            font-weight: bold;
            white-space: nowrap;
            display: flex;
            align-items: center;
            gap: sugar.margin(30);

            ._preview {
                width: 150px;
                aspect-ratio: 4/3;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                svg {
                    width: 60px !important;
                    height: 60px !important;
                    opacity: 0.3;

                    [fill] {
                        fill: sugar.color(complementary);
                    }
                    [stroke] {
                        stroke: sugar.color(complementary);
                    }
                }
            }

            ._icon {
                padding-block: sugar.padding(10);

                svg {
                    width: 60px !important;
                    height: 60px !important;
                    opacity: 0.3;

                    [fill] {
                        fill: sugar.color(complementary);
                    }
                    [stroke] {
                        stroke: sugar.color(complementary);
                    }
                }
            }
        }

        ._metas {
        }

        ._title {
            margin-block-end: sugar.margin(10);
        }

        ._description {
            font-size: sugar.font.size(20);
            opacity: 0.5;
        }

        ._type {
            font-weight: initial;
        }
    }
}

body.s-carpenter--preview .s-carpenter-app_website-add-component,
body:not(.s-carpenter--insert) .s-carpenter-app_website-add-component {
    height: 0 !important;
    display: none !important;
}

.s-carpenter--insert:not(.s-carpenter--preview) [s-container] {
    gap: 0;

    > *:not(.s-carpenter-app_website-add-component) {
        margin-bottom: 200px !important;
    }

    .s-carpenter-app_website-add-component {
        margin-top: -200px;
    }

    &:has(> .s-carpenter-app_website-add-component:first-child:last-child) {
        &:after {
            content: 'Add components/sections here...';
            display: flex;
            align-items: center;
            justify-content: center;
            color: sugar.color(main, text, --alpha 0.4);
            position: absolute;
            top: 50px;
            left: 50%;
            width: calc(100% - 40px);
            height: 100px;
            max-width: sugar.container.width();
            transform: translateX(-50%);
            border: 1px dashed sugar.color(main, border);
            background: sugar.color(main, --alpha 0.1);
            @sugar.font.size (40);
            @sugar.transition;

            [s-container] & {
                width: 100%;
            }
        }

        .s-carpenter-app_website-add-component {
            margin-top: 0;
        }
    }

    > * > template[s-node] + template {
        &:after {
            height: 100px;
            border: 1px dashed sugar.color(main, border);
        }
    }
}

.s-carpenter--move [s-container='root'] {
    transform: scale(0.5);
}
.s-carpenter--move .s-carpenter-app_toolbar {
    opacity: 0 !important;
    pointer-events: none !important;
}
