.s-carpenter-app_toolbar {
    position: absolute;
    z-index: 90000;
    background: sugar.color(main, background);
    color: sugar.color(main, text);
    display: inline-flex;
    padding: sugar.padding(20);
    flex-wrap: nowrap;
    align-items: center;
    transform: translateX(-100%) translateY(-50%) scale(1);
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
    user-select: none;
    @sugar.border.radius (30);
    @sugar.depth (100);
    @sugar.transition (fast);

    .s-carpenter--preview & {
        opacity: 0 !important;
        pointer-events: none !important;
    }

    /* &:hover {
        transform: translateX(calc(-100% + sugar.margin(10)))
            translateY(calc(sugar.margin(10) * -1)) scale(1.2);
    } */

    &:after {
        content: ' ';
        position: absolute;
        border-style: default;
        border-color: sugar.color(main, background) transparent transparent
            transparent;
        top: 100%;
        left: 35%;
        margin-left: calc(25px * -1 / 2);
        border-width: calc(25px / 2);
        transform: skewX(-30deg);
    }

    ._title {
        font-weight: bold;
        padding-inline: sugar.padding(20);
        border-right: 1px solid sugar.color(main, border);
    }

    button {
        padding-inline: sugar.padding(20);
        padding-block: sugar.padding(20);
        white-space: nowrap;
        @sugar.border.radius;
        @sugar.ui.button();

        color: sugar.color(main, text) !important;
        background-color: transparent;
        border-width: 0;

        &:not(:hover):not(:last-child) {
            border-right: solid 1px sugar.color(main, border);
        }

        /* &:not(:has(span)) i {
            font-size: 1.15em;
        } */

        /* &:last-child {
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important;
        }
        &:first-child {
            border-top-right-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        } */

        /* &:hover {
            background-color: sugar.color(main);
            color: sugar.color(main, foreground);
        } */

        &:not(:last-child) {
            /* border-right: 1px solid sugar.color(main, border); */
        }

        * {
            pointer-events: none;
        }
    }
}

body:not(.s-carpenter--edit) .s-carpenter-app_toolbar {
    display: none !important;
}

body:has(.s-carpenter-app_node.hover) .s-carpenter-app_toolbar,
.s-carpenter-app_toolbar:hover {
    opacity: 1;
    pointer-events: all;
}
