.s-header {
    position: sticky !important;
    top: 0;
    width: 100%;
    z-index: 100;
    @s.transition();
    @s.depth (10);

    ._menu-toggle {
        @s.ui.toggle ('burger');
    }

    body.scroll-down & {
        transform: translateY(-100%);
    }

    @s.media mobile {
        padding: s.padding(30);
        top: 0;
        padding-inline: s.padding(30);
        background: s.color(main, background);
        height: 80px;
        @s.depth (100);
    }

    .s-logo {
        height: 30px;

        [fill='white'] {
            fill: s.color(main, text);
        }

        @s.media mobile {
            width: 130px;
        }
    }

    ._menu-toggle {
        position: absolute;
        top: calc(40px - 0.35em);
        right: 0;
        font-size: 30px;
        display: none;

        @s.media <=mobile {
            display: block;
        }
    }

    ._primary-menu {
        flex-grow: 1;
    }

    .s-container {
        position: relative;
        padding: s.padding(20) 0;
        display: flex;
        align-items: center;
        gap: s.margin(30);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            bottom: 0;
            width: 100vw;
            transform: translateX(-50%);
            z-index: -1;
            background: s.color(main, background);
            @s.transition();

            @s.media mobile {
                display: none;
            }
        }
    }
}
