@use 'sass:string';
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';
$_sugar-classes-inited: false;
/**
 * @name            init-classes
 * @namespace     sugar.scss.core.mixin
 * @type      mixin
 *
 * Register all the dynamic helper classes that depends on the settings, etc...
 * This is used internaly
 *
 * @example     scss
 * \@include sugar.init-classes();
 *
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin init-classes() {
  @if not $_sugar-classes-inited {
    $_sugar-classes-inited: true !global;

    $filters: setting("filters");
    @each $name, $filter in $filters {
      /**
			 * @name       	fi-#{$name}
       * @styleguide  	class.filter
       *
       * Apply the filter **#{$name}**
       *
			 * @example 	html
			 * <div class="fi-#{$name}">
			 * 	I'm filtered with #{$name}
			 * </div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: selector("fi-#{$name}"),
        $namespace: "sugar.helper.filter.#{$name}"
      ) {
        @include filter($filter);
      }
    }

    // transitions
    $transitions: setting("transitions");
    @each $name, $transition in $transitions {
      /**
			 * @name       	tr-#{$name}
       * @styleguide  	class.transition
       *
       * Apply the transition **#{$name}**
       *
			 * @example 	html
			 * <div class="tr-#{$name}">
			 * 	I'm transitionned with #{$name}
			 * </div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: selector("tr-#{$name}"),
        $namespace: "sugar.helper.transition.#{$name}"
      ) {
        @include transition($transition);
      }
    }

    @each $name, $font in setting("fonts") {
      /**
			 * @name       	  f-#{$name}
       * @styleguide  	class.font
       *
       * Apply the font **#{$name}**
       *
			 * @example 	html
			 * <div class="f-#{$name}">
			 * 	I have the font "#{$name}" applied
			 * </div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: selector("f-#{$name}"),
        $namespace: "sugar.helper.font.family.#{$name}"
      ) {
        @include font($name);
      }
    }

    $sizes: setting("sizes");
    @each $name, $size in $sizes {
      $cname: selector("m-b-#{$name}");
      /**
			 * @name       	#{$cname}
       * @styleguide  	class.margin.#{$name}
       *
       * Set the **bottom** margin to the **#{$size}** size
       *
			 * @example 	html
			 * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
			 * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: $cname,
        $namespace: "sugar.layout.margin.bottom.#{$name}"
      ) {
        margin-bottom: space($name);
      }
      $cname: selector("m-t-#{$name}");
      /**
			 * @name          #{$cname}
       * @styleguide  	class.margin.#{$name}
       *
       * Set the **top** margin to the **#{$size}** size
       *
			 * @example 	html
			 * <div style="background:#{color(primary)}; width:100px; height:5px"></div>
			 * <div class="#{$cname}" style="background:#{color(secondary)}; width:100px; height:5px"></div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: $cname,
        $namespace: "sugar.layout.margin.top.#{$name}"
      ) {
        margin-top: space($name);
      }
      $cname: selector("m-l-#{$name}");
      /**
			 * @name       	#{$cname}
       * @styleguide  	class.margin.#{$name}
       *
       * Set the **left** margin to the **#{$size}** size
       *
			 * @example 	html
			 * <div style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
			 * <div class="#{$cname}" style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: $cname,
        $namespace: "sugar.layout.margin.left.#{$name}"
      ) {
        margin-left: space($name);
      }
      $cname: selector("m-r-#{$name}");
      /**
			 * @name       	#{$cname}
       * @styleguide  	class.margin.#{$name}
       *
       * Set the **right* margin to the **#{$size}** size
       *
			 * @example 	html
			 * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
			 * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: $cname,
        $namespace: "sugar.layout.margin.right.#{$name}"
      ) {
        margin-right: space($name);
      }
      $cname: selector("m-s-#{$name}");
      /**
			 * @name       	#{$cname}
       * @styleguide  	class.margin.#{$name}
       *
       * Set the **side** margin to the **#{$size}** size
       *
			 * @example 	html
			 * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
			 * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: $cname,
        $namespace: "sugar.layout.margin.side.#{$name}"
      ) {
        margin-left: space($name);
        margin-right: space($name);
      }

      $cname: selector("p-#{$name}");
      /**
			 * @name        #{$cname}
       * @styleguide  	class.padding.#{$name}
       *
       * Set the paddings to the **#{$size}** size
       *
			 * @example 	html
			 * <div class="#{$cname}" style="border:1px solid #{color(primary)}; width:150px; height:150px;">
			 * 	<div style="background:#{color(secondary)}; width:100%; height:100%"></div>
			 * </div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: $cname,
        $namespace: "sugar.layout.padding.all.#{$name}"
      ) {
        @if $name == "default" {
          &:not(p) {
            padding: space($name);
          }
        } @else {
          padding: space($name);
        }
      }
      $cname: selector("p-b-#{$name}");
      /**
			 * @name       	#{$cname}
       * @styleguide  	class.padding.#{$name}
       *
       * Set the **bottom** padding to the **#{$size}** size
       *
			 * @example 	html
			 * <div class="#{$cname}" style="border:1px solid #{color(primary)}; width:150px; height:150px;">
			 * 	<div style="background:#{color(secondary)}; width:100%; height:100%"></div>
			 * </div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: $cname,
        $namespace: "sugar.layout.padding.bottom.#{$name}"
      ) {
        padding-bottom: space($name);
      }
      $cname: selector("p-t-#{$name}");
      /**
			 * @name       	#{$cname}
       * @styleguide  	class.padding.#{$name}
       *
       * Set the **top** padding to the **#{$size}** size
       *
			 * @example 	html
			 * <div class="#{$cname}" style="border:1px solid #{color(primary)}; width:150px; height:150px;">
			 * 	<div style="background:#{color(secondary)}; width:100%; height:100%"></div>
			 * </div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: $cname,
        $namespace: "sugar.layout.padding.top.#{$name}"
      ) {
        padding-top: space($name);
      }
      $cname: selector("p-l-#{$name}");
      /**
			 * @name       	#{$cname}
       * @styleguide  	class.padding.#{$name}
       *
       * Set the **left** padding  to the **#{$size}** size
       *
			 * @example 	html
			 * <div class="#{$cname}" style="border:1px solid #{color(primary)}; width:150px; height:150px;">
			 * 	<div style="background:#{color(secondary)}; width:100%; height:100%"></div>
			 * </div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: $cname,
        $namespace: "sugar.layout.padding.left.#{$name}"
      ) {
        padding-left: space($name);
      }
      $cname: selector("p-r-#{$name}");
      /**
			 * @name       	#{$cname}
       * @styleguide  	class.padding.#{$name}
       *
       * Set the **right** padding  to the **#{$size}** size
       *
			 * @example 	html
			 * <div class="#{$cname}" style="border:1px solid #{color(primary)}; width:150px; height:150px;">
			 * 	<div style="background:#{color(secondary)}; width:100%; height:100%"></div>
			 * </div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: $cname,
        $namespace: "sugar.layout.padding.right.#{$name}"
      ) {
        padding-right: space($name);
      }
      $cname: selector("p-s-#{$name}");
      /**
			 * @name       	#{$cname}
       * @styleguide  	class.padding.#{$name}
       *
       * Set the **side** padding  to the **#{$size}** size
       *
			 * @example 	html
			 * <div class="#{$cname}" style="border:1px solid #{color(primary)}; width:150px; height:150px;">
			 * 	<div style="background:#{color(secondary)}; width:100%; height:100%"></div>
			 * </div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        $classname: $cname,
        $namespace: "sugar.layout.padding.side.#{$name}"
      ) {
        padding-left: space($name);
        padding-right: space($name);
      }
    }

    //
    // Text size
    //
    @each $size, $value in setting("sizes") {
      /**
			 * @name       	s-#{$size}
       * @styleguide  	class.size
       *
       * Set the size **#{$size}** relative to the root element
       *
			 * @example 	html
			 * <div class="s-#{$size}">
			 * 	I have the size "#{$size}" defined
			 * </div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(selector('s-#{$size}'), "sugar.layout.size.#{$size}") {
        font-size: to-rem($value);
      }
      /**
			 * @name       	s-#{$size}-rel
       * @styleguide  	class.size
       *
       * Set the size **#{$size}** relative to my parent
       *
			 * @example 	html
			 * <div class="s-#{$size}-rel">
			 * 	I have the size "#{$size}" defined relative to my parent
			 * </div>
       *
       * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
       */
      @include register-class(
        selector('s-#{$size}-rel'),
        "sugar.layout.size.rel.#{$size}"
      ) {
        font-size: to-em($value);
      }
    }

    /**
		 * @name       	no-p-t
     * @styleguide  	class.padding.no
     *
     * Reset **top** padding
		 *
		 * @example 	html
		 * <div class="no-p-t" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
     *
     * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
     */
    @include register-class(selector('no-p-t'), "sugar.layout.padding.no.top") {
      padding-top: 0 !important;
    }
    /**
		 * @name       	no-p-r
     * @styleguide  	class.padding.no
     *
     * Reset **right** padding
		 *
		 * @example 	html
		 * <div class="no-p-r" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
     *
     * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
     */
    @include register-class(selector('no-p-r'), "sugar.layout.padding.no.right") {
      padding-right: 0 !important;
    }
    /**
		 * @name       	no-p-b
     * @styleguide  	class.padding.no
     *
     * Reset **bottom** padding
		 *
		 * @example 	html
		 * <div class="no-p-b" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
     *
     * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
     */
    @include register-class(selector('no-p-b'), "sugar.layout.padding.no.bottom") {
      padding-bottom: 0 !important;
    }
    /**
		 * @name       	no-p-l
     * @styleguide  	class.padding.no
     *
     * Reset **left** padding
		 *
		 * @example 	html
		 * <div class="no-p-l" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
     *
     * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
     */
    @include register-class(selector('no-p-l'), "sugar.layout.padding.no.left") {
      padding-left: 0 !important;
    }
    /**
		 * @name       	no-p-s
     * @styleguide  	class.padding.no
     *
     * Reset **left** and **right** paddings
		 *
		 * @example 	html
		 * <div class="no-p-s" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
     *
     * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
     */
    @include register-class(selector('no-p-s'), "sugar.layout.padding.no.side") {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    /**
		 * @name       	no-m-t
     * @styleguide  	class.margin.no
     *
     * Reset **top** padding
		 *
		 * @example 	html
		 * <div class="no-m-t" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
     *
     * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
     */
    @include register-class(selector('no-m-t'), "sugar.layout.margin.no.top") {
      margin-top: 0 !important;
    }
    /**
		 * @name       	no-m-r
     * @styleguide  	class.margin.no
     *
     * Reset **right** padding
		 *
		 * @example 	html
		 * <div class="no-m-r" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
     *
     * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
     */
    @include register-class(selector('no-m-r'), "sugar.layout.margin.no.right") {
      margin-right: 0 !important;
    }
    /**
		 * @name       	no-m-b
     * @styleguide  	class.margin.no
     *
     * Reset **bottom** padding
		 *
		 * @example 	html
		 * <div class="no-m-b" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
     *
     * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
     */
    @include register-class(selector('no-m-b'), "sugar.layout.margin.no.bottom") {
      margin-bottom: 0 !important;
    }
    /**
		 * @name       	no-m-l
     * @styleguide  	class.margin.no
     *
     * Reset **left** padding
		 *
		 * @example 	html
		 * <div class="no-m-l" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
     *
     * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
     */
    @include register-class(selector('no-m-l'), "sugar.layout.margin.no.left") {
      margin-left: 0 !important;
    }
    /**
		 * @name       	no-m-s
     * @styleguide  	class.padding.no
     *
     * Reset **left** and **right** margins
		 *
		 * @example 	html
		 * <div class="no-m-s" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
     *
     * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
     */
    @include register-class(selector('no-m-s'), "sugar.layout.margin.no.side") {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    // colors
    $colors: setting("colors");
    @each $name, $color in $colors {
      @if $name != classes {
        $modifiers: ();
        @if meta.type-of($color) == map {
          $modifiers: map.get($color, modifiers);
          $color: map.get($color, color);
        }
        $cls: string.unquote(selector("c-#{$name}"));
        /**
				 * @name       	#{$cls}
         * @styleguide  	class.color.#{$name}
         *
         * Specify the color to **#{$name}**
				 *
				 * @example 	html
				 * <div class="#{$cls}">
				 * 	I'm in "#{$name}" color
				 * </div>
         *
         * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
         */
        @include register-class(
          $classname: $cls,
          $namespace: "sugar.color.#{$name}.color"
        ) {
          color: color($name);
        }
        $cls: string.unquote(selector("bkg-#{$name}"));
        /**
				 * @name       	#{$cls}
         * @styleguide  	class.color.#{$name}
         *
         * Specify the background color to **#{$name}**
				 *
				 * @example 	html
				 * <div class="#{$cls} p" style="color:white">
				 * 	My background color is "#{$name}"
				 * </div>
         *
         * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
         */
        @include register-class(
          $classname: $cls,
          $namespace: "sugar.color.#{$name}.bkg"
        ) {
          background-color: color($name);
        }

        $cls: string.unquote(selector("b-#{$name}"));
        /**
				 * @name       	#{$cls}
         * @styleguide  	class.color.#{$name}
         *
         * Specify the border of 1px solid to **#{$name}**
				 *
				 * @example 	html
				 * <div class="#{$cls}">
				 * 	I have a #{$name} border color
				 * </div>
         *
         * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
         */
        @include register-class(
          $classname: $cls,
          $namespace: "sugar.helper.color.border.#{$name}.all"
        ) {
          border: to-rem(1px) solid color($name);
        }

        $cls: string.unquote(selector("b-t-#{$name}"));
        /**
				 * @name       	#{$cls}
         * @styleguide  	class.color.#{$name}
         *
         * Specify the border top of 1px solid to **#{$name}**
				 *
				 * @example 	html
				 * <div class="#{$cls}">
				 * 	I have a #{$name} border top color
				 * </div>
         *
         * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
         */
        @include register-class(
          $classname: $cls,
          $namespace: "sugar.helper.color.border.#{$name}.top"
        ) {
          border-top: to-rem(1px) solid color($name);
        }

        $cls: string.unquote(selector("b-r-#{$name}"));
        /**
				 * @name       	#{$cls}
         * @styleguide  	class.color.#{$name}
         *
         * Specify the border right of 1px solid to **#{$name}**
				 *
				 * @example 	html
				 * <div class="#{$cls}">
				 * 	I have a #{$name} border right color
				 * </div>
         *
         * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
         */
        @include register-class(
          $classname: $cls,
          $namespace: "sugar.helper.color.border.#{$name}.right"
        ) {
          border-right: to-rem(1px) solid color($name);
        }

        $cls: string.unquote(selector("b-b-#{$name}"));
        /**
         * @name       	#{$cls}
         * @styleguide  	class.color.#{$name}
         *
         * Specify the border bottom of 1px solid to **#{$name}**
         *
				 * @example 	html
				 * <div class="#{$cls}">
				 * 	I have a #{$name} border bottom color
				 * </div>
         *
         * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
         */
        @include register-class(
          $classname: $cls,
          $namespace: "sugar.helper.color.border.#{$name}.bottom"
        ) {
          border-bottom: to-rem(1px) solid color($name);
        }

        $cls: string.unquote(selector("b-l-#{$name}"));
        /**
				 * @name       	#{$cls}
         * @styleguide  	class.color.#{$name}
         *
         * Specify the border left of 1px solid to **#{$name}**
				 *
				 * @example 	html
				 * <div class="#{$cls}">
				 * 	I have a #{$name} border left color
				 * </div>
         *
         * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
         */
        @include register-class(
          $classname: $cls,
          $namespace: "sugar.helper.color.border.#{$name}.left"
        ) {
          border-left: to-rem(1px) solid color($name);
        }

        $cls: string.unquote(selector("b-s-#{$name}"));
        /**
				 * @name       	#{$cls}
         * @styleguide  	class.color.#{$name}
         *
         * Specify the border side of 1px solid to **#{$name}**
				 *
				 * @example 	html
				 * <div class="#{$cls}">
				 * 	I have a #{$name} border side color
				 * </div>
         *
         * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
         */
        @include register-class(
          $classname: $cls,
          $namespace: "sugar.helper.color.border.#{$name}.side"
        ) {
          border-left: to-rem(1px) solid color($name);
          border-right: to-rem(1px) solid color($name);
        }

        // modifiers
        @if $modifiers {
          @each $mod-name, $mod in $modifiers {
            $cls: string.unquote(selector("c-#{$name}--#{$mod-name}"));
            /**
             * @name       	#{$cls}
             * @styleguide  	class.color.#{$name}.#{$mod-name}
             *
						 * Specify the color to **#{$name}--#{$mod-name}**
						 *
						 * @example 	html
						 * <div class="#{$cls}">
						 * 	I'm in "#{$name}--#{$mod-name}" color
						 * </div>
             *
             * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
             */
            @include register-class(
              $classname: $cls,
              $namespace: "sugar.color.#{$name}.modifier.#{$mod-name}.color"
            ) {
              color: color($name, $mod-name);
            }
            $cls: string.unquote(selector("bkg-#{$name}--#{$mod-name}"));
            /**
             * @name       	{$cls}
             * @styleguide  	class.color.#{$name}.#{$mod-name}
             *
						 * Specify the background color to **#{$name}--#{$mod-name}**
						 *
						 * @example 	html
						 * <div class="#{$cls} p" style="color:white">
						 * 	My background color is "#{$name}--#{$mod-name}"
						 * </div>
             *
             * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
             */
            @include register-class(
              $classname: $cls,
              $namespace: "sugar.color.#{$name}.modifier.#{$mod-name}.bkg"
            ) {
              background-color: color($name, $mod-name);
            }

            $cls: string.unquote(selector("b-#{$name}--#{$mod-name}"));
            /**
             * @name       	#{$cls}
             * @styleguide  	class.color.#{$name}.#{$mod-name}
             *
						 * Specify the border of 1px solid to **#{$name}--#{$mod-name}**
						 *
						 * @example 	html
						 * <div class="#{$cls}">
						 * 	I have a "#{$name}--#{$mod-name}" border color
						 * </div>
             *
             * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
             */
            @include register-class(
              $classname: $cls,
              $namespace: "sugar.helper.color.border.#{$name}.modifier.#{$mod-name}.all"
            ) {
              border: to-rem(1px) solid color($name, $mod-name);
            }
            $cls: string.unquote(selector("b-t-#{$name}--#{$mod-name}"));
            /**
             * @name       	#{$cls}
             * @styleguide  	class.color.#{$name}.#{$mod-name}
             *
             * Specify the border top of 1px solid to **#{$name}--#{$mod-name}**
             *
						 * @example 	html
						 * <div class="#{$cls}">
						 * 	I have a "#{$name}--#{$mod-name}" border top color
						 * </div>
             *
             * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
             */
            @include register-class(
              $classname: $cls,
              $namespace: "sugar.helper.color.border.#{$name}.modifier.#{$mod-name}.top"
            ) {
              border-top: to-rem(1px) solid color($name, $mod-name);
            }
            $cls: string.unquote(selector("b-r-#{$name}--#{$mod-name}"));
            /**
             * @name       	#{$cls}
             * @styleguide  	class.color.#{$name}.#{$mod-name}
             *
             * Specify the border right of 1px solid to **#{$name}--#{$mod-name}**
             *
						 * @example 	html
						 * <div class="#{$cls}">
						 * 	I have a "#{$name}--#{$mod-name}" border right color
						 * </div>
             *
             * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
             */
            @include register-class(
              $classname: $cls,
              $namespace: "sugar.helper.color.border.#{$name}.modifier.#{$mod-name}.right"
            ) {
              border: to-rem(1px) solid color($name, $mod-name);
            }
            $cls: string.unquote(selector("b-b-#{$name}--#{$mod-name}"));
            /**
						 * @name       	#{$cls}
             * @styleguide  	class.color.#{$name}.#{$mod-name}
             *
             * Specify the border bottom of 1px solid to **#{$name}--#{$mod-name}**
						 *
						 * @example 	html
						 * <div class="#{$cls}">
						 * 	I have a "#{$name}--#{$mod-name}" border bottom color
						 * </div>
             *
             * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
             */
            @include register-class(
              $classname: $cls,
              $namespace: "sugar.helper.color.border.#{$name}.modifier.#{$mod-name}.bottom"
            ) {
              border: to-rem(1px) solid color($name, $mod-name);
            }
            $cls: string.unquote(selector("b-l-#{$name}--#{$mod-name}"));
            /**
             * @name       	#{$cls}
             * @styleguide  	class.color.#{$name}.#{$mod-name}
             *
						 * Specify the border left of 1px solid to **#{$name}--#{$mod-name}**
						 *
						 * @example 	html
						 * <div class="#{$cls}">
						 * 	I have a "#{$name}--#{$mod-name}" border left color
						 * </div>
             *
             * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
             */
            @include register-class(
              $classname: $cls,
              $namespace: "sugar.helper.color.border.#{$name}.modifier.#{$mod-name}.left"
            ) {
              border-left: to-rem(1px) solid color($name, $mod-name);
            }
            $cls: string.unquote(selector("b-s-#{$name}--#{$mod-name}"));
            /**
             * @name       	#{$cls}
             * @styleguide  	class.color.#{$name}.#{$mod-name}
             *
						 * Specify the border side of 1px solid to **#{$name}--#{$mod-name}**
             *
						 * @example 	html
						 * <div class="#{$cls}">
						 * 	I have a "#{$name}--#{$mod-name}" border side color
						 * </div>
             *
             * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
             */
            @include register-class(
              $classname: $cls,
              $namespace: "sugar.helper.color.border.#{$name}.modifier.#{$mod-name}.side"
            ) {
              border-left: to-rem(1px) solid color($name, $mod-name);
              border-right: to-rem(1px) solid color($name, $mod-name);
            }
          }
        }
      }
    }
  }
}
