/**
 * @name    translate
 * @namespace           scss.helper
 * @type      mixin
 *
 * Quicky set some translates
 * @param 		{Number} 		[$x=0] 		The x translate value
 * @param 		{Number} 		[$y=0] 		The y translate value
 * @param 		{Number} 		[$z=0] 		The z translate value
 *
 * @example     scss
 * .my-cool-element {
 * 	\@include Sugar.translate(50%, 20px);
 * }
 *
 * @since       1.0.0
 * @author 		Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin translate($x: 0, $y: 0, $z: 0) {
  // get the translate props
  $translate: translate-map(
    $x: $x,
    $y: $y,
    $z: $z
  );

  // get map
  @each $prop, $value in $translate {
    #{$prop}: $value;
  }
}
