.s-btn {
    position: relative;
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
    color: sugar.color(accent) !important;
    padding-inline-start: sugar.padding(40);
    @sugar.font.family (title);
    @sugar.scale (1.3);
    @sugar.transition (fast);
    mix-blend-mode: darken;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 15em;
        height: 12em;
        background: url('/dist/img/title-bkg.jpg');
        background-repear: no-repeat;
        z-index: -1;
        transform: translate(-40%, -42%) scale(0.5, -0.5);
        @sugar.transition (fast);
    }

    &:hover {
        transform: translateX(sugar.margin(20));
    }
    &:hover:before {
        transform: translate(-45%, -42%) scale(0.5, -0.5);
    }
}
