@sugar.highlightjs.theme;

:host {
    display: block;
}

.s-code-example {
    > * {
        display: none;
    }

    &[mounted] {
        > * {
            display: block;
        }
    }
}

.hljs {
    overflow: visible;
    white-space: pre-wrap;
}

.s-code-example__slot {
    display: none;
}

.s-code-example__nav {
    position: relative;
    z-index: 1;
}

.s-code-example__tabs {
    display: flex;
    list-style: none;
}
.s-code-example__tab {
}

.s-code-example__content {
    position: relative;
    --paddingBlock: sugar.theme(ui.code.paddingBlock);
    overflow: hidden;

    .s-code-example[lines] & {
        max-height: calc(1.5em * var(--max-lines) + (var(--paddingBlock) * 2));
    }
    .s-code-example--more & {
        max-height: 99999px !important;
    }
}
:not([bare]) .s-code-example__content {
    transition: sugar.theme(ui.code.transition);
    border-radius: sugar.theme(ui.code.borderRadius);
    @sugar.depth (sugar.theme.value(ui.code.depth));
}

.s-code-example__more-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: flex-end;

    .s-code-example[lines] & {
        opacity: 1;
        pointer-events: all;
    }
}
:not([bare]) .s-code-example__more-bar {
    text-align: center;
    padding-inline: sugar.theme(ui.default.paddingInline);
    padding-block: sugar.theme(ui.default.paddingBlock);
    justify-content: center;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: sugar.transition();

        @sugar.gradient ($type: linear, $start: sugar.color(current, surface), $end: sugar.color(current, --alpha 0), $angle: 0);
    }
}

.s-code-example--more .s-code-example__more-bar {
    &:before {
        height: 0;
    }
}

.s-code-example__code {
    display: none;
    line-height: 0;

    &[active] {
        display: block;
    }

    & > code {
        line-height: 1;
    }
}

.s-code-example__toolbar {
    position: absolute;
    right: sugar.space(20);
    top: sugar.space(20);

    & > * {
        font-size: 20px;
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }
}

[toolbar-position='nav'] .s-code-example__toolbar {
    right: sugar.space(20);
    top: sugar.space(20);
    /* transform: translate(0, -50%); */
}
