.s-code-example {
    display: block;
    text-align: initial;

    @sugar.rhythm.vertical (ui.codeExample.rhythmVertical);
}

.s-code-example {
    > * {
        display: none;
    }

    &[status='mounted'] {
        > * {
            display: block;
        }
    }
}

.hljs {
    overflow: visible;
    white-space: pre-wrap;
}

.s-code-example__slot {
    display: none;
}

.s-code-example__nav {
    position: relative;
    z-index: 1;
}

.s-code-example__tabs {
    list-style: none;
}
.s-code-example__tab {
}

.s-code-example__content {
    position: relative;
    /* this variable comes from the @sugar.codeExample mixin */
    overflow: hidden;

    .s-code-example[lines] & {
        max-height: calc(
            1.5em * var(--max-lines) + (var(--paddingBlock, 1em) * 2)
        );
    }
    .s-code-example--more & {
        max-height: 99999px !important;
    }
}

.s-code-example__more-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    display: flex;
    align-items: flex-end;

    .s-code-example[lines] & {
        opacity: 1;
        pointer-events: all;
    }
}
.s-code-example__more-bar {
    text-align: center;
    justify-content: center;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.s-code-example--more .s-code-example__more-bar {
    &:before {
        height: 0;
    }
}

.s-code-example__code {
    display: none;
    line-height: 0;

    &[active] {
        display: block;
    }

    & > code {
        line-height: 1;
    }
}

.s-code-example__toolbar {
    position: absolute;
    right: sugar.margin(20);
    top: sugar.margin(20);

    & > * {
        color: sugar.color(current);
        font-size: 20px;
        opacity: 0.4;

        &:hover {
            opacity: 0.8;
        }
    }
}

[toolbar-position='nav'] .s-code-example__toolbar {
    right: sugar.margin(20);
    top: sugar.margin(20);
}
