@use "sass:map";
@use "sass:math";
@use "sass:meta";
@use '../variables' as sugar;
/**
 * @name      setting
 * @namespace     sugar.scss.core.function
 * @type    function
 *
 * Get a settings from the global settings stack
 *
 * @param 				{String} 			$path 						The setting path wanted separated by dots
 * @param 				{String} 			[$context=s-context()] 		The context name to get the setting
 * @param 				{Mixed} 			[$default=null] 			The value to return if no value is found
 * @return 				{Mixed} 										The setting value¨
 *
 * @example
 * $font-size : sugar.setting('typography.font-size');
 * // etc...
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@function setting($path, $context: sugar.$current-context, $default: null) {
  $base_path: $path;
  @if $context == default {
    $context: null;
  }

  // check if has a component
  @if $context {
    $path: "contexts.#{$context}.#{$path}";
  }

  $value: map-get-path(sugar.$settings, $path);

  @if not $value and $context {
    // try to get the value from the base component
    $value: setting($base_path, default, $default);
  }

  // if no value
  @if not $value {
    @return $default;
  }

  // return the value
  @return $value;
}
