.s-specs-editor_checkbox-widget {
    .s-specs-editor_label {
        > span {
            flex-grow: 1;
        }

        ._option {
            text-align: right;
            display: block;
        }
    }
}
