.s-specs-editor_color-picker-widget {
    s-color-picker {
        position: relative;
        width: 100%;
    }

    ._color-preview {
        display: block;
        aspect-ratio: 1;
        background: var(--s-color-picker-rgba, blue);
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
    }
}
