.s-specs-editor_image-widget {
    .s-dropzone {
        color: sugar.color(main, text, --alpha 0.3);
        padding: sugar.padding(30);
    }

    ._drop {
        @sugar.ui.input;
    }

    ._name {
        padding-inline: sugar.padding(20);
        line-height: 1.1;
        color: sugar.color(main, text, --alpha 0.5);
        overflow: hidden;
        text-overflow: ellipsis;
    }

    ._image {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    ._preview {
        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    }

    ._spacer {
        flex-grow: 1;
    }

    ._actions {
        display: flex;
        flex-wrap: nowrap;
    }

    ._delete {
        @sugar.ui.button ($lnf: text);
    }
}
