.s-specs-editor_image-widget {
    .s-dropzone {
    }

    ._drop {
    }

    ._name {
    }

    ._image {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    ._preview {
        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
        }
    }

    ._spacer {
        flex-grow: 1;
    }

    ._actions {
        display: flex;
        flex-wrap: nowrap;
    }

    ._delete {
    }
}
