.s-specs-editor_layout-widget {
    ._layout {
        gap: sugar.margin(10);
    }

    .custom-select {
        margin-block-end: sugar.margin(30);
    }

    .custom-select_item:nth-child(even) {
        /* ._area {
            background: sugar.color(complementary, surface);
        } */
    }

    .custom-select_item:hover {
        background: sugar.color(accent, surface);

        ._area {
            background: sugar.color(accent, foreground);
            color: sugar.color(accent, surface);
        }
    }

    .custom-select_item:active {
        background: sugar.color(accent, surface, --darken 5);
    }

    .custom-select_value {
        ._area {
            background: sugar.color(accent);
            color: sugar.color(accent, foreground);
        }
    }

    ._area {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        background: sugar.color(main, --alpha 0.2);
        font-size: sugar.font.size(50);
        color: sugar.color(main, foreground);
        @sugar.border.radius;
    }
}

.custom-select {
    position: relative;

    &:focus,
    &:focus-within {
        .custom-select_dropdown {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }
    }

    .custom-select_dropdown {
        background: sugar.color(main, background);
        z-index: 50;
        opacity: 0;
        pointer-events: none;
        transform: translateY(calc(sugar.margin(30) * -1));
        @sugar.transition;
    }
}
.custom-select_value {
    @sugar.ui.input;
}
.custom-select_dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 70vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    @sugar.scrollbar();
    @sugar.depth (100);
}
.custom-select_item {
    cursor: pointer;
    padding: sugar.margin(30);

    &:hover {
        background: sugar.color(main, surface);
    }
}
