.s-specs-editor_layout-widget {
    ._layout {
    }

    ._same-as-default {
    }

    .custom-select {
    }

    .custom-select_item {
        ._same-as-default {
        }
    }

    .custom-select_item:hover {
        ._same-as-default {
        }

        ._area {
        }
    }

    ._area {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .custom-select_item.active,
    .custom-select_value {
        ._area {
        }
    }
}

.custom-select {
    cursor: pointer !important;
    position: relative;

    &:focus,
    &:focus-within {
        .custom-select_dropdown {
            opacity: 1;
            pointer-events: all;
            transform: translateY(0);
        }
    }

    .custom-select_dropdown {
        z-index: 50;
        opacity: 0;
        pointer-events: none;
    }
}
.custom-select_value {
}
.custom-select_dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.custom-select_item {
    cursor: pointer;

    &:hover {
    }
}
