.s-specs-editor_video-widget {
    .s-dropzone {
    }

    ._format {
    }

    ._drop {
    }

    ._name {
    }

    ._videos {
    }

    ._video {
        display: flex;
        align-items: center;

        &:nth-child(even) {
        }
    }

    ._preview {
        video {
            object-fit: contain;
        }
    }

    ._spacer {
        flex-grow: 1;
    }

    ._delete {
    }
}
