.s-specs-editor_wysiwyg-widget {
    ._editor {
        @sugar.ui.input();
    }

    .ce-inline-toolbar {
        @sugar.depth (100);
        padding: sugar.padding(10);
        @sugar.border.radius();
    }

    textarea {
        width: 100%;
    }

    .ce-inline-toolbar__toggler-and-button-wrapper {
        padding: 0;
    }

    .codex-editor__redactor {
        margin: 0;
    }

    .ce-toolbar__actions {
        background: sugar.color(main, background);
        color: sugar.color(main, text);
        padding: sugar.padding(10);
        right: auto;
        left: 0;
        @sugar.depth (100);
        @sugar.border.radius();
    }

    .ce-toolbox,
    .ce-popover {
        left: 0;
        right: auto;
    }

    .codex-editor__redactor {
        padding-bottom: sugar.padding(60) !important;
    }

    .ce-inline-toolbar__buttons {
        max-width: 100%;
        flex-wrap: wrap;
        gap: sugar.margin(10);
        justify-content: space-between;

        button {
            padding: sugar.padding(10) sugar.padding(20);
            border: 1px solid sugar.color(main, --alpha 0.05);
            @sugar.transition (fast);
            @sugar.border.radius;

            &:not(._color) {
                background: sugar.color(accent, --alpha 0);
            }

            &._color {
            }

            svg {
                height: 1em;
            }

            &._color:hover {
                background: var(--s-wysiwyg-color);
                color: white;
            }

            &:not(._color):hover {
                background: sugar.color(accent);
                color: sugar.color(accent, foreground);

                * {
                    fill: sugar.color(accent, foreground);
                }
                *[stroke] {
                    stroke: sugar.color(accent, foreground);
                }
            }
        }
    }
}
