/**
 * @name          ul
 * @namespace            scss.component.ul.mixin
 * @type            Mixin
 *
 * Generate the properties and child css for the ul component
 *
 * @param       {String}      [$color=default]       The color you want to generate
 * @param       {String}      [$size=default]                 The size you want to for your list
 * @param       {String}      [$bullet='setting.bullet']         The bullet you want to use
 * @param       {Number}      [$line-height='setting.look-and-feel.line-height']      Specify the line height you want to use
 * @param       {String}      [$scope=null]         The scope you want to generate. "bare" or "style"
 *
 * @since           2.0.0
 * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin ul(
  $color: default,
  $size: default,
  $bullet: null,
  $line-height: null,
  $scope: null
) {
  @include context('components.ul') {
    @if scope('bare', $scope) {
      @if not $line-height {
        $line-height: setting('look-and-feel.line-height');
      }

      display: block;
      line-height: $line-height;
    }

    @if scope('style', $scope) {
      @if not $bullet {
        $bullet: setting('bullet');
      }

      list-style: none;

      & > li {
        padding-left: 2.5em;
        position: relative;

        &::before {
          content: '#{$bullet}';
          font-weight: bold;
          color: color($color);
          display: inline-block;
          width: 2em;
          position: absolute;
          top: 0;
          left: 0;
          text-align: right;
        }
      }
    }
  }
}
