sherlock-lighthouse-result {
}

.sh-lighthouse-result-list-widget {
    display: flex;
    gap: sugar.margin(20);
    align-items: center;

    .s-gauge {
        font-size: 20px;

        ._value {
            opacity: 0.3 !important;
        }
    }

    ._global {
        display: flex;
        gap: sugar.margin(10);
        align-items: center;
    }

    ._categories {
        display: flex;
        gap: sugar.margin(30);
        align-items: center;
    }
    ._category {
        display: flex;
        gap: sugar.margin(10);
        align-items: center;
    }
}

.sh-lighthouse-result {
}
