/* init theme */
@sugar.init ($variant: dark);
/* @sugar.theme.import ($variant: light); */

/* main sugar classes */
/* @sugar.typo.classes;
@sugar.color.classes;
@sugar.display.classes;
@sugar.layout.classes;
@sugar.flex.classes;
@sugar.text.classes;
@sugar.gap.classes;
@sugar.margin.classes;
@sugar.padding.classes; */
@sugar.classes;

/* UI's */
@sugar.ui.codeexample.classes;
@sugar.ui.clipboardcopy;
@sugar.ui.filtrableinput.classes;

/* mobile specific classes */
/* @sugar.media.classes mobile {
    @sugar.display.classes;
    @sugar.layout.classes;
    @sugar.hide.classes;
    @sugar.flex.classes;
    @sugar.text.classes;
    @sugar.gap.classes;
    @sugar.ui.button.classes;
} */
/* @sugar.media.classes 'mobile,tablet,wide' {
    @sugar.margin.classes;
    @sugar.padding.classes;
} */

/* icons */
@sugar.icon.classes (
  fa:fire
  fa:user-graduate:documentation
  fa:synagogue:start
  fa:file-code:examples
  fa:file
  fa:heart
  fa:bugs
  fa:angle-up
  fa:user
  fab:discord
  fab:github
  fab:facebook
  fab:patreon
  fab:twitter
  fab:instagram
  fs:'src/icons/coffeekraken/logo-opensource.svg'
  fs:'src/icons/coffeekraken/logo-postcss.svg'
  fs:'src/icons/coffeekraken/ui-menu-grid-solid.svg'
  fs:'src/icons/coffeekraken/logo-coffeekraken-sugar.svg'
);
