/**
 * @name                initBodyMediaQueries
 * @namespace           sugar.scss.responsive.mixin
 * @type                Mixin
 *
 * This mixin apply on the body all the media queries defines in the @config.media.queries configuration.
 * This mixin apply an animation that do nothing but will dispatch the animationEnd event catchable by javascript
 * So it will be easy to use the "mediaQuery" function that you can find in the "@coffeekraken/sugar/js/responsive/mediaQuery"
 * namespace.
 *
 * @example             scss
 * @include Sugar.initBodyMediaQueries();
 *
 * @since           2.0.0
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin initBodyMediaQueries() {
  body {
    animation-duration: 0.001s;
  }

  $mediasMap: setting('media.queries');
  @each $mediaName, $mediaMap in $mediasMap {
    @media #{mediaQueryString($mediaName)} {
      body {
        animation-name: mq-#{$mediaName};
      }
    }
    @keyframes mq-#{$mediaName} {
      from {
        clip: rect(1px, auto, auto, auto);
      }
      to {
        clip: rect(0px, auto, auto, auto);
      }
    }
  }
}
