/**
 * @name          link-stretched
 * @namespace     sugar.scss.link.mixin
 * @type          Mixin
 *
 * Make a link become the size of it's parent (absolute, relative)
 * but only using the :after pseudo class so visually it will stay the same...
 *
 * @since         2.0.0
 * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
 */
@mixin link-stretched() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: '';
  background-color: rgba(0, 0, 0, 0);
}
