.s-dashboard-project {
    .__list {
        display: flex;
        flex-wrap: wrap;
        gap: sugar.margin(10);
        justify-content: space-between;

        &-urls {
            .__list-item {
                flex-grow: 0;
                padding: 0 sugar.padding(30);

                &:hover {
                    background: sugar.color(accent);
                }

                i {
                    font-size: 16px;
                }
            }
        }
    }
    .__list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        height: 60px;
        background: sugar.color(base, background);
        cursor: pointer;
        @sugar.border.radius (10);

        &:hover {
            background: sugar.color(accent, background);
        }
        &.active {
            background: sugar.color(accent);
        }

        i {
            font-size: 30px;
        }
    }

    .__details {
        display: flex;
        align-items: center;
        margin-block-start: sugar.margin(20);
        background: sugar.color(accent, background);
        padding: sugar.padding(20);
    }

    .__commit-time {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        align-items: center;

        .__commit-time-time {
            font-size: 17px;
        }
        .__commit-time-date {
            font-size: 12px;
        }
    }
}
