.s-dashboard {
    .header {
        /* padding-block: sugar.padding(100) sugar.padding(100); */
        background: sugar.color(main, background, --alpha 0.7);
        /* padding: sugar.padding(30); */
        display: flex;
        align-items: center;
        height: 80px;
        /* margin-block-end: sugar.margin(50); */
        /* @sugar.border.radius (10); */
        @sugar.depth (100);

        .s-container {
            width: 100%;
        }

        ._toolbar {
            display: flex;
            align-items: end;

            ._grow {
                flex-grow: 1;
            }
        }

        ._logo {
            width: 140px;
            margin-inline-end: sugar.margin(20);
            cursor: pointer;

            svg {
                height: 40px;
                width: 140px;
                transform-origin: 0 50%;

                @sugar.media mobile {
                    position: relative;
                    top: 0;
                }
            }

            [fill='white'],
            .main {
                fill: sugar.color(main);
            }
            [fill='#FFBB01'],
            [fill='#FEBD0F'],
            .accent {
                fill: sugar.color(accent);
            }
            [stroke='#FFBB01'],
            [stroke='#FEBD0F'] {
                stroke: sugar.color(accent);
            }

            @sugar.theme (dark) {
                [fill='white'],
                .main {
                    fill: sugar.color(main, text);
                }
                [fill='#FFBB01'],
                [fill='#FEBD0F'],
                .accent {
                    fill: sugar.color(accent);
                }
                [stroke='#FFBB01'],
                [stroke='#FEBD0F'] {
                    stroke: sugar.color(accent);
                }
            }
        }
    }
}
