@use '@coffeekraken/sugar/index' as sugar;

/**
 * Default layout
 */
html, body {
	width:100%; height:100%;

}
body {
	display:flex;
	overflow:hidden;
	flex-flow: column nowrap;
	background-color: sugar.color(secondary);
}
div#content {
	display: flex;
	flex-flow: column nowrap;
	height: calc(100vh - 90px);
}
	.footer,
	.header {
		flex:0 0 auto;
	}
	ck-interactive-demo {
		display:flex;
		flex:1 0 auto;
		height: calc(100vh - 90px);
	}
