.s-menu#primary-menu {
    position: absolute;
    top: 80px;
    right: calc(50% - calc(sugar.theme(layout.container.default) * 0.5));
    background: sugar.color(base, background);
    padding: sugar.padding(30);
    opacity: 0;
    transform: translateX(0) translateY(25px);
    pointer-events: none;
    @sugar.border.radius();
    @sugar.depth (100);
    @sugar.transition (fast);

    @sugar.media <=mobile {
        right: 0;
    }

    :checked + & {
        opacity: 1;
        pointer-events: all;
        transform: translateX(0) translateY(0);
    }

    .s-menu__item:not(:focus, :focus-within) > .s-menu--level-1 {
        display: none;
    }

    .s-menu__item:not(:last-child) {
        border-bottom: 1px solid sugar.color(base, border);

        &.s-menu__item--level-1 {
            background: sugar.color(base, surface);
            margin-inline-end: calc(sugar.margin(50) * -1);
            @sugar.depth (30);
        }
    }

    .s-menu__link {
        display: block;
        padding: sugar.padding(30);
        background: sugar.color(accent, --alpha 0);
        @sugar.border.radius();
        @sugar.transition (fast);

        &:hover {
            background: sugar.color(accent);
            color: sugar.color(accent, foreground);
        }

        &.s-menu__link--level-1 {
        }
    }
}
