#documentation {
    padding-block-start: s.padding(100);
    padding-block-end: s.padding(80);
    display: block;

    ._layout {
        @s.layout ('1 2 2');
        gap: s.margin(50);

        @s.media mobile {
            @s.layout ('1 _ 2');
            gap: s.margin(40);
        }
    }

    ._doc {
        @s.media tablet {
            margin-inline: calc(s.margin(50) * -1);
        }
        @s.media mobile {
            margin-inline: calc(s.margin(30) * -1);
        }

        .s-format-text {
            h1 {
                font-size: s.font.size(60);
            }
            h2 {
                font-size: s.font.size(50);
            }
            h3 {
                font-size: s.font.size(40);
            }
        }
    }
}
