@use '@coffeekraken/sugar/index' as sugar;

/**
 * @name      classes
 * @namespace       typography-style
 * @type      Mixin
 *
 * Provide all the classes of the typography component like titles, paragraphs, lists, etc..
 *
 * @param 		{Color} 	[$color=primary] 		The main color used to generate the texts styles
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin classes($color: primary) {
  // titles
  @include title-classes();
  // paragraphs
  @include paragraph-classes();
  // links
  @include link-classes($color);
  // inline texts
  @include inline-text-classes($color);
  // lists
  @include list-classes($color);
  // captions
  @include caption-classes();
  // quotes
  @include quote-classes();
}

/**
 * @name      title-classes
 * @namespace     typography-style
 * @type      Mixin
 *
 * Provide the styling for the titles classes:
 * - ```.h1-h6```
 * - ```.tf h1-h6```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin title-classes() {
  @include title-classes-bare();
  @include title-classes-style();
}

/**
 * @name      title-classes-bare
 * @namespace       typography-style
 * @type      Mixin
 *
 * Provide the bare styling for the titles classes
 * - ```.h1-h6```
 * - ```.tf h1-h6```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin title-classes-bare() {
  /**
	 * @name 	```.h1```
	 * h1 title styling
	 * @styleguide 	Typography / Titles
	 * @example 	html
	 * <h1 class="h1">Hello World</h1>
	 * <div class="#{sugar.text-format-class()}">
	 * 	<h1>Hello World</h1>
	 * </div>
	 */
  .h1,
  .#{sugar.text-format-class()} h1 {
    @include title-bare(3.5em);
  }
  /**
	 * @name 	```.h2```
	 * h2 title styling
	 * @styleguide 	Typography / Titles
	 * @example 	html
	 * <h2 class="h2">Hello World</h2>
	 * <div class="#{sugar.text-format-class()}">
	 * 	<h2>Hello World</h2>
	 * </div>
	 */
  .h2,
  .#{sugar.text-format-class()} h2 {
    @include title-bare(3em);
  }
  /**
	 * @name 	```.h3```
	 * h3 title styling
	 * @styleguide 	Typography / Titles
	 * @example 	html
	 * <h3 class="h3">Hello World</h3>
	 * <div class="#{sugar.text-format-class()}">
	 * 	<h3>Hello World</h3>
	 * </div>
	 */
  .h3,
  .#{sugar.text-format-class()} h3 {
    @include title-bare(2.5em);
  }
  /**
	 * @name 	```.h4```
	 * h4 title styling
	 * @styleguide 	Typography / Titles
	 * @example 	html
	 * <h4 class="h4">Hello World</h4>
	 * <div class="#{sugar.text-format-class()}">
	 * 	<h4>Hello World</h4>
	 * </div>
	 */
  .h4,
  .#{sugar.text-format-class()} h4 {
    @include title-bare(2em);
  }
  /**
	 * @name 	```.h5```
	 * h5 title styling
	 * @styleguide 	Typography / Titles
	 * @example 	html
	 * <h5 class="h5">Hello World</h5>
	 * <div class="#{sugar.text-format-class()}">
	 * 	<h5>Hello World</h5>
	 * </div>
	 */
  .h5,
  .#{sugar.text-format-class()} h5 {
    @include title-bare(1.5em);
  }
  /**
	 * @name 	```.h6```
	 * h6 title styling
	 * @styleguide 	Typography / Titles
	 * @example 	html
	 * <h6 class="h6">Hello World</h6>
	 * <div class="#{sugar.text-format-class()}">
	 * 	<h6>Hello World</h6>
	 * </div>
	 */
  .h6,
  .#{sugar.text-format-class()} h6 {
    @include title-bare(1em);
  }
  // vertical rhythme
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    @include sugar.vertical-rhythm() {
      margin-bottom: sugar.space(default);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/**
 * @name      title-classes-style
 * @namespace       typography-style
 * @type      Mixin
 *
 * Provide the style styling for the titles classes
 * - ```.h1-h6```
 * - ```.tf h1-h6```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin title-classes-style() {
  .h1,
  .#{sugar.text-format-class()} h1 {
    @include title-style(3.5em);
  }
  .h2,
  .#{sugar.text-format-class()} h2 {
    @include title-style(3em);
  }
  .h3,
  .#{sugar.text-format-class()} h3 {
    @include title-style(2.5em);
  }
  .h4,
  .#{sugar.text-format-class()} h4 {
    @include title-style(2em);
  }
  .h5,
  .#{sugar.text-format-class()} h5 {
    @include title-style(1.5em);
  }
  .h6,
  .#{sugar.text-format-class()} h6 {
    @include title-style(1em);
  }
}

/**
 * @name      paragraph-classes
 * @namespace       typography-style
 * @type      Mixin
 *
 * Provide the styling for the paragraphs classes
 * - ```.p```, ```.tf p```
 * - ```.p--lead```, ```.tf p.p--lead```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin paragraph-classes() {
  @include paragraph-classes-bare();
  @include paragraph-classes-style();
}

/**
 * @name      paragraph-classes-bare
 * @namespace     typography-style
 * @type      Mixin
 *
 * Provide the bare styling for the ```.p``` and ```.p--lead``` classes
 * - ```.p```, ```.tf p```
 * - ```.p--lead```, ```.tf p.p--lead```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin paragraph-classes-bare() {
  /**
	 * @name 	```.p```
	 * Default paragraph styling
	 * @styleguide 	Typography / Paragraphs
	 * @example 	html
	 * <p class="p #{s-setting('vertical-rhythme.scope-class')}">
	 * 	Duis gravida justo at urna interdum blandit. Sed venenatis, eros dictum gravida dictum, mauris sapien feugiat libero, at fermentum quam tellus dignissim nunc. Donec eu rutrum dui, in rhoncus lacus.
	 * </p>
	 * <div class="#{sugar.text-format-class()} #{s-setting('vertical-rhythme.scope-class')}">
	 * 	<p>
	 * 		Duis gravida justo at urna interdum blandit. Sed venenatis, eros dictum gravida dictum, mauris sapien feugiat libero, at fermentum quam tellus dignissim nunc. Donec eu rutrum dui, in rhoncus lacus.
	 *   </p>
	 * </div>
	 */
  .p,
  .#{sugar.text-format-class()} p {
    @include paragraph-bare(1em);
  }
  /**
	 * @name 	```.p--lead```
	 * Lead paragraph styling
	 * @styleguide 	Typography / Paragraphs
	 * @example 	html
	 * <p class="p p--lead #{s-setting('vertical-rhythme.scope-class')}">
	 * 	Duis gravida justo at urna interdum blandit. Sed venenatis, eros dictum gravida dictum, mauris sapien feugiat libero, at fermentum quam tellus dignissim nunc. Donec eu rutrum dui, in rhoncus lacus.
	 * </p>
	 * <div class="#{sugar.text-format-class()} #{s-setting('vertical-rhythme.scope-class')}">
	 * 	<p class="lead">
	 * 		Duis gravida justo at urna interdum blandit. Sed venenatis, eros dictum gravida dictum, mauris sapien feugiat libero, at fermentum quam tellus dignissim nunc. Donec eu rutrum dui, in rhoncus lacus.
	 *   </p>
	 * </div>
	 */
  .p--lead,
  .#{sugar.text-format-class()} p.lead {
    font-size: 1.3em !important;
    font-weight: lighter;
  }
  // vertical rhythme
  p,
  .p {
    @include sugar.vertical-rhythm() {
      margin-bottom: sugar.space(default);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/**
 * @name      paragraph-classes-style
 * @namespace       typography-style
 * @type      Mixin
 *
 * Provide the bare styling for the ```.p``` class
 * - ```.p```, ```.tf p```
 * - ```.p--lead```, ```.tf p.p--lead```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin paragraph-classes-style() {
  .p,
  .#{sugar.text-format-class()} p {
    @include paragraph-style();
  }
}

/**
 * @name      link-classes
 * @namespace       typography-style
 * @type      Mixin
 *
 * Provide the styling for the links classes
 * - ```.link```, ```.tf a```
 *
 * @param 		{Color} 		[$color=primary] 		The color used to style links
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin link-classes($color: primary) {
  @include link-classes-bare();
  @include link-classes-style($color);
}

/**
 * @name      link-classes-bare
 * @namespace       typography-style
 * @type      Mixin
 *
 * Provide the bare styling for the links classes
 * - ```.link```, ```.tf a```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin link-classes-bare() {
  .link,
  .#{sugar.text-format-class()} a {
    @include link-bare();
  }
}

/**
 * @name      link-classes-style
 * @namespace       typography-style
 * @type      Mixin
 *
 * Provide the style styling for the links classes
 * - ```.link```, ```.tf a```
 *
 * @param 		{Color} 		[$color=primary] 		The color used to style links
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin link-classes-style($color: primary) {
  .link,
  .#{sugar.text-format-class()} a:not(.btn) {
    @include link-style($color);
  }
}

/**
 * @name      inline-text-classes
 * @namespace       typography-style
 * @type        Mixin
 *
 * Provide the styling for the inline-text classes
 * - ```.mark```, ```.tf mark```
 * - ```.del```, ```.tf del```
 * - ```.s```, ```.tf s```
 * - ```.ins```, ```.tf ins```
 * - ```.u```, ```.tf u```
 * - ```.small```, ```.tf small```
 * - ```.strong```, ```.tf strong```
 * - ```.em```, ```.tf em```
 *
 * @param 		{Color} 		[$color=primary] 		The color used to style different inline text elements
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin inline-text-classes($color: primary) {
  @include inline-text-classes-bare();
  @include inline-text-classes-style($color);
}

/**
 * @name      inline-text-classes-bare
 * @namespace     typography-style
 * @type      Mixin
 *
 * Provide the bare styling for the inline-text classes
 * - ```.mark```, ```.tf mark```
 * - ```.del```, ```.tf del```
 * - ```.s```, ```.tf s```
 * - ```.ins```, ```.tf ins```
 * - ```.u```, ```.tf u```
 * - ```.small```, ```.tf small```
 * - ```.strong```, ```.tf strong```
 * - ```.em```, ```.tf em```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin inline-text-classes-bare() {
  /**
	 * @name 		Marked text ```.mark```
	 * For highlighting a run of text due to its relevance in another context, use the ```mark``` tag.
	 * @styleguide 		Typography / Inline texts
	 * @example 		html
	 * This is a <span class="mark">marked text</span>
	 * <div class="#{sugar.text-format-class()}">
	 * 	This is another <mark>marked text</mark>
	 * </div>
	 */
  .mark,
  .#{sugar.text-format-class()} mark {
    @include inline-text-bare(mark);
  }
  /**
	 * @name 		Deleted text ```.del```
	 * For indicating blocks of text that have been deleted use the ```del``` tag.
	 * @styleguide 		Typography / Inline texts
	 * @example 		html
	 * This is a <span class="del">deleted text</span>
	 * <div class="#{sugar.text-format-class()}">
	 * 	This is another <del>deleted text</del>
	 * </div>
	 */
  .del,
  .#{sugar.text-format-class()} del {
    @include inline-text-bare(del);
  }
  /**
	 * @name 		Strikethrough text ```.s```
	 * For indicating blocks of text that are no longer relevant use the ```s``` tag.
	 * @styleguide 		Typography / Inline texts
	 * @example 		html
	 * This is a <span class="s">striked through text</span>
	 * <div class="#{sugar.text-format-class()}">
	 * 	This is another <s>striked through text</s>
	 * </div>
	 */
  .s,
  .#{sugar.text-format-class()} s {
    @include inline-text-bare(s);
  }
  /**
	 * @name 		Inserted text ```.ins```
	 * For indicating additions to the document use the ```ins``` tag.
	 * @styleguide 		Typography / Inline texts
	 * @example 		html
	 * This is a <span class="ins">inserted text</span>
	 * <div class="#{sugar.text-format-class()}">
	 * 	This is another <ins>inserted text</ins>
	 * </div>
	 */
  .ins,
  .#{sugar.text-format-class()} ins {
    @include inline-text-bare(ins);
  }
  /**
	 * @name 		Underlined text ```.u```
	 * To underline text use the ```u``` tag.
	 * @styleguide 		Typography / Inline texts
	 * @example 		html
	 * This is a <span class="u">underlined text</span>
	 * <div class="#{sugar.text-format-class()}">
	 * 	This is another <u>underlined text</u>
	 * </div>
	 */
  .u,
  .#{sugar.text-format-class()} u {
    @include inline-text-bare(u);
  }
  /**
	 * @name 		Small text ```.small```
	 * For de-emphasizing inline or blocks of text, use the ```small``` tag to set text at 85% the size of the parent.
	 * @styleguide 		Typography / Inline texts
	 * @example 		html
	 * This is a <span class="small">small text</span>
	 * <div class="#{sugar.text-format-class()}">
	 * 	This is another <small>small text</small>
	 * </div>
	 */
  .small,
  .#{sugar.text-format-class()} small {
    @include inline-text-bare(small);
  }
  /**
	 * @name 		Bold ```.strong```
	 * For emphasizing a snippet of text with a heavier font-weight.
	 * @styleguide 		Typography / Inline texts
	 * @example 		html
	 * This is a <span class="strong">strong text</span>
	 * <div class="#{sugar.text-format-class()}">
	 * 	This is another <strong>strong text</strong>
	 * </div>
	 */
  .strong,
  .#{sugar.text-format-class()} strong {
    @include inline-text-bare(strong);
  }
  /**
	 * @name 		Italics ```.em```
	 * For emphasizing a snippet of text with italics.
	 * @styleguide 		Typography / Inline texts
	 * @example 		html
	 * This is an <span class="em">italic text</span>
	 * <div class="#{sugar.text-format-class()}">
	 * 	This is another <em>italic text</em>
	 * </div>
	 */
  .em,
  .#{sugar.text-format-class()} em {
    @include inline-text-bare(em);
  }
}
/**
 * @name      inline-text-classes-style
 * @namespace       typography-style
 * @type      Mixin
 *
 * Provide the style styling for the inline-text classes
 * - ```.mark```, ```.tf mark```
 * - ```.del```, ```.tf del```
 * - ```.s```, ```.tf s```
 * - ```.ins```, ```.tf ins```
 * - ```.u```, ```.tf u```
 * - ```.small```, ```.tf small```
 * - ```.strong```, ```.tf strong```
 * - ```.em```, ```.tf em```
 *
 * @param 		{Color} 		[$color=primary] 		The color used to style different inline text elements
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin inline-text-classes-style($color: primary) {
  .mark,
  .#{sugar.text-format-class()} mark {
    @include inline-text-style(mark, $color);
  }
  .del,
  .#{sugar.text-format-class()} del {
    @include inline-text-style(del, $color);
  }
  .s,
  .#{sugar.text-format-class()} s {
    @include inline-text-style(s, $color);
  }
  .ins,
  .#{sugar.text-format-class()} ins {
    @include inline-text-style(ins, $color);
  }
  .u,
  .#{sugar.text-format-class()} u {
    @include inline-text-style(u, $color);
  }
  .small,
  .#{sugar.text-format-class()} small {
    @include inline-text-style(small, $color);
  }
  .strong,
  .#{sugar.text-format-class()} strong {
    @include inline-text-style(strong, $color);
  }
  .em,
  .#{sugar.text-format-class()} em {
    @include inline-text-style(em, $color);
  }
}

/**
 * @name      link-classes
 * @namespace     typography-style
 * @type        Mixin
 *
 * Provide the styling for the lists classes
 * - ```.dl```, ```.tf dl```
 * 	- ```.dt```, ```.tf dt```
 * 	- ```.dd```, ```.tf dd```
 * - ```.ul```, ```.tf ul```
 * 	- ```.li```, ```.tf li```
 * - ```.ol```, ```.tf ol```
 * 	- ```.li```, ```.tf li```
 *
 * @param 		{Color} 		[$color=primary] 		The color used to style bullets
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin list-classes($color: primary) {
  @include list-classes-bare();
  @include list-classes-style($color);
}

/**
 * @name      list-classes-bare
 * @namespace       typography-style
 * @type      Mixin
 *
 * Provide the bare styling for the lists classes
 * - ```.dl```, ```.tf dl```
 * 	- ```.dt```, ```.tf dt```
 * 	- ```.dd```, ```.tf dd```
 * - ```.ul```, ```.tf ul```
 * 	- ```.li```, ```.tf li```
 * - ```.ol```, ```.tf ol```
 * 	- ```.li```, ```.tf li```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin list-classes-bare() {
  /**
	 * @name 	Description list ```.dl .dt .dd```
	 * A list of terms with their associated descriptions.
	 * @styleguide 		Typography / Lists
	 * @example 	html
	 * <div class="#{sugar.text-format-class()}">
	 * 	<dl>
	 *  	<dt>List item 1</dt>
	 *  	<dd>Mauris sit amet erat vitae mi pellentesque placerat. Vestibulum dapibus.</dd>
	 *  	<dt>List item 1</dt>
	 *  	<dd>Mauris sit amet erat vitae mi pellentesque placerat. Vestibulum dapibus.</dd>
	 *  	<dt>List item 1</dt>
	 *  	<dd>Mauris sit amet erat vitae mi pellentesque placerat. Vestibulum dapibus.</dd>
	 * 	</dl>
	 * </div>
	 */
  .dl,
  .#{sugar.text-format-class()} dl {
    @include list-bare(dl);
  }
  .dt,
  .#{sugar.text-format-class()} dl > dt {
    @include list-bare(dl dt);
  }
  .dd,
  .#{sugar.text-format-class()} dl > dd {
    @include list-bare(dl dd);
  }
  /**
	 * @name 	Unordered list ```.ul .li```
	 * A list of items in which the order does not explicitly matter.
	 * @styleguide 		Typography / Lists
	 * @example 	html
	 * <div class="#{sugar.text-format-class()}">
	 * 	<ul>
	 *  	<li>List item 1</li>
	 *  	<li>List item 2</li>
	 *  	<li>List item 3</li>
	 *  	<li>List item 4</li>
	 * 	</ul>
	 * </div>
	 */
  .ul,
  .#{sugar.text-format-class()} ul {
    @include list-bare(ul);
  }
  .ul > .li,
  .ul > li,
  .#{sugar.text-format-class()} ul > li {
    @include list-bare(ul li);
  }
  /**
	 * @name 	Ordered list ```.ol .li```
	 * A list of items in which the order does explicitly matter.
	 * @styleguide 		Typography / Lists
	 * @example 	html
	 * <div class="#{sugar.text-format-class()}">
	 * 	<ol>
	 *  	<li>List item 1</li>
	 *  	<li>List item 2</li>
	 *  	<li>List item 3</li>
	 *  	<li>List item 4</li>
	 * 	</ol>
	 * </div>
	 */
  .ol,
  .#{sugar.text-format-class()} ol {
    @include list-bare(ol);
  }
  .ol > .li,
  .ol > li,
  .#{sugar.text-format-class()} ol > li {
    @include list-bare(ol li);
  }

  // vertucal rhythme
  dl,
  ul,
  ol,
  .dl,
  .ul,
  .ol {
    @include sugar.vertical-rhythm() {
      margin-bottom: sugar.space(default);
      &:last-child {
        margin-bottom: 0;
      }
      dl,
      ul,
      ol,
      .dl,
      .ul,
      .ol {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    }
  }
}
/**
 * @name        list-classes-style
 * @namespace     typography-style
 * @type        Mixin
 *
 * Provide the style styling for the lists classes
 * - ```.dl```, ```.tf dl```
 * 	- ```.dt```, ```.tf dt```
 * 	- ```.dd```, ```.tf dd```
 * - ```.ul```, ```.tf ul```
 * 	- ```.li```, ```.tf li```
 * - ```.ol```, ```.tf ol```
 * 	- ```.li```, ```.tf li```
 *
 * @param 		{Color} 		[$color=primary] 		The color used to style bullets
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin list-classes-style($color: primary) {
  .dl,
  .#{sugar.text-format-class()} dl {
    @include list-style(dl, $color);
  }
  .dt,
  .#{sugar.text-format-class()} dl > dt {
    @include list-style(dl dt, $color);
  }
  .dd,
  .#{sugar.text-format-class()} dl > dd {
    @include list-style(dl dd, $color);
  }
  .ul,
  .#{sugar.text-format-class()} ul {
    @include list-style(ul, $color);
  }
  .ul > .li,
  .ul > li,
  .#{sugar.text-format-class()} ul > li {
    @include list-style(ul li, $color);
  }
  .ol,
  .#{sugar.text-format-class()} ol {
    @include list-style(ol, $color);
  }
  .ol > .li,
  .ol > li,
  .#{sugar.text-format-class()} ol > li {
    @include list-style(ol li, $color);
  }
}

/**
 * @name      caption-classes
 * @namespace       typography-style
 * @type      Mixin
 *
 * Provide the styling for the captions classes
 * - ```.caption```, ```.figcaption```, ```.tf caption```, ```.tf figcaption```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin caption-classes() {
  @include caption-classes-bare();
  @include caption-classes-style();
}

/**
 * @name      caption-classes-bare
 * @namespace     typography-style
 * @type      Mixin
 *
 * Provide the bare styling for the captions classes
 * - ```.caption```, ```.figcaption```, ```.tf caption```, ```.tf figcaption```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin caption-classes-bare() {
  /**
	 * @name 		Default caption ```.caption```
	 * Display a caption styled text
	 * @styleguide 	Typography / Caption
	 * @example 	html
	 * <div class="#{sugar.text-format-class()}">
	 * 	<div class="caption">
	 * 		Nunc venenatis, odio at porta egestas, tortor eros mollis sapien.
	 * 	</div>
	 * </div>
	 */
  .caption,
  .#{sugar.text-format-class()} caption,
  .#{sugar.text-format-class()} figcaption {
    @include caption-bare();
  }
}

/**
 * @name      caption-classes-style
 * @namespace       typography-style
 * @type      Mixin
 *
 * Provide the style styling for the captions classes
 * - ```.caption```, ```.figcaption```, ```.tf caption```, ```.tf figcaption```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin caption-classes-style() {
  .caption,
  .figcaption .#{sugar.text-format-class()} caption,
  .#{sugar.text-format-class()} figcaption {
    @include caption-style();
  }
}

/**
 * @name      quote-classes
 * @namespace       typography-style
 * @type        Mixin
 *
 * Provide the styling for the quotes classes
 * - ```.quote```, ```.tf quote```
 * - ```.blockquote```, ```.tf blockquote```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin quote-classes() {
  @include quote-classes-bare();
  @include quote-classes-style();
}

/**
 * @name        quote-classes-bare
 * @namespace     typography-style
 * @type      Mixin
 *
 * Provide the bare styling for the quotes classes
 * - ```.quote```, ```.tf quote```
 * - ```.blockquote```, ```.tf blockquote```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin quote-classes-bare() {
  /**
	 * @name 		Default quote ```.blockquote```
	 * Display a quote styled text
	 * @styleguide 	Typography / Quote
	 * @example 	html
	 * <div class="#{sugar.text-format-class()}">
	 * 	<quote>
	 * 		Nunc venenatis, odio at porta egestas, tortor eros mollis sapien.
	 * 	</quote>
	 * 	<div class="caption pull-right">
	 *  	John Doe
	 * 	</div>
	 * </div>
	 */
  .quote,
  .blockquote,
  .#{sugar.text-format-class()} quote,
  .#{sugar.text-format-class()} blockquote {
    @include quote-bare();
  }
  // vertucal rhythme
  .quote,
  .blockquote,
  quote,
  blockquote {
    @include sugar.vertical-rhythm() {
      margin-bottom: sugar.space(default);
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

/**
 * @name        quote-classes-style
 * @namespace     typography-style
 * @type      Mixin
 *
 * Provide the style styling for the quotes classes
 * - ```.quote```, ```.tf quote```
 * - ```.blockquote```, ```.tf blockquote```
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin quote-classes-style() {
  .quote,
  .blockquote,
  .#{sugar.text-format-class()} blockquote,
  .#{sugar.text-format-class()} quote {
    @include quote-style();
  }
}
