.s-dashboard-responsive {
    ._details {
        display: flex;
        width: 100%;
        line-height: 1.5;
        align-items: center;
        padding: s.padding(30);
        margin-block-start: s.margin(20);
        padding-inline-end: s.padding(100);
        position: relative;
        min-height: 90px;
        font-family: s.font.family(code);
        background: s.color(main, background, --darken 2);

        @s.theme dark {
            background: s.color(main, background, --lighten 5);
        }
    }
    ._switch {
        position: absolute !important;
        top: s.margin(20);
        right: s.margin(20);
    }
}
