.s-dashboard-responsive {
    .__details {
        display: flex;
        width: 100%;
        line-height: 1.5;
        align-items: center;
        padding: sugar.padding(30);
        margin-block-start: sugar.margin(20);
        padding-inline-end: sugar.padding(100);
        position: relative;
        min-height: 90px;
        font-family: sugar.font.family(code);
        background: sugar.color(main, background, --darken 2);

        @sugar.theme.when dark {
            background: sugar.color(main, background, --lighten 5);
        }
    }
    .__switch {
        position: absolute !important;
        top: sugar.margin(20);
        right: sugar.margin(20);
    }
}
