.s-dashboard-responsive {
    .__list {
        display: flex;
        flex-wrap: wrap;
        gap: sugar.margin(10);
        justify-content: space-between;
    }
    .__list-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        aspect-ratio: 4/3;
        background: sugar.color(base, background);
        cursor: pointer;
        @sugar.border.radius (10);

        &:hover {
            background: sugar.color(accent, background);
        }
        &.active {
            background: sugar.color(accent);
        }

        i {
            font-size: 30px;
        }
    }

    .__details .s-typo--code {
        dispaly: block;
        width: 100%;
        line-height: 1.5;
        padding: sugar.padding(30);
        margin-block-start: sugar.margin(20);
    }
}
