@font-face {
font-display: swap;

    font-family: "sugar-fonticon";
    src: url("/dist/fonts/sugar-icons/sugar-fonticon.eot?9e75ef33cee81f4bbe9000c3b459a9d6#iefix") format("embedded-opentype"),
url("/dist/fonts/sugar-icons/sugar-fonticon.woff2?9e75ef33cee81f4bbe9000c3b459a9d6") format("woff2"),
url("/dist/fonts/sugar-icons/sugar-fonticon.woff?9e75ef33cee81f4bbe9000c3b459a9d6") format("woff");
}

.s-icon-logo-coffeekraken-sugar:before,.s-icon-logo-postcss:before,.s-icon-ui-menu-grid-solid:before {
position: relative;

    font-family: sugar-fonticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.s-icon--logo-coffeekraken-sugar:before {
    content: "\f101";
}
.s-icon--logo-postcss:before {
    content: "\f102";
}
.s-icon--ui-menu-grid-solid:before {
    content: "\f103";
}
.s-icon-logo-coffeekraken-sugar,.s-icon-logo-postcss,.s-icon-ui-menu-grid-solid {
display: inline-block;
line-height: 1;
width: 1em;
height:1em;
vertical-align: middle;
}