s-dashboard-pages {
    flex-grow: 1;
}

.s-dashboard-pages {
    height: calc(100vh - 150px - s.margin(20) * 3);

    .s-filtrable-input {
        height: calc(100% - s.margin(20) * 4);

        &_dropdown {
            margin-block-start: s.margin(20);
        }
        &_list {
            @s.scrollbar();
        }
    }

    .s-highlight {
        background: s.color(accent);
        color: black;
        border-radius: s.border.radius(10);
    }

    ._description {
        font-size: 14px;
    }
}
