.s-dashboard-pages {
    .s-filtrable-input {
        max-height: calc(100vh - 200px);

        &__dropdown {
            margin-block-start: sugar.margin(20);
        }
        &__list {
            @sugar.scrollbar();
        }
    }

    .s-highlight {
        background: sugar.color(accent);
        color: black;
        border-radius: sugar.border.radius(10);
    }
}
