s-dashboard-pages {
    flex-grow: 1;
}

.s-dashboard-pages {
    .s-filtrable-input {
        height: calc(100% - 80px);

        &__dropdown {
            margin-block-start: sugar.margin(20);
        }
        &__list {
            @sugar.scrollbar();
        }
    }

    .s-highlight {
        background: sugar.color(accent);
        color: black;
        border-radius: sugar.border.radius(10);
    }

    .__description {
        font-size: 14px;
    }
}
