.section-card {
  padding-block: sugar.padding(60);

  .s-layout {
    @sugar.layout ('1 1 2');
    gap: sugar.padding(50);
    margin-inline: calc(sugar.margin(100) * -1);
  }

  .card--large {
    .s-card__img-container {
      width: 33%;
    }
  }
}
