[s-highlight][type='light'] {
    position: relative;
}

[s-highlight][type='light']::before,
[s-highlight][type='light']::after {
    border-radius: inherit;
    content: '';
    display: block;
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    mix-blend-mode: overlay;
    pointer-events: none;
}

[s-highlight][type='light']::before {
    background: radial-gradient(
        var(--s-highlight-size, 1000px) circle at var(--s-highlight-mouse-x)
            var(--s-highlight-mouse-y),
        rgba(255, 255, 255, 0.06),
        transparent 40%
    );
    z-index: 3;
}

[s-highlight][type='light']::after {
    background: radial-gradient(
        var(--s-highlight-size, 1000px) circle at var(--s-highlight-mouse-x)
            var(--s-highlight-mouse-y),
        rgba(255, 255, 255, 0.4),
        transparent 40%
    );
    z-index: 1;
}

[s-highlight][type='light'].highlight {
    &:before,
    &:after {
        opacity: var(--s-highlight-intensity, 0.6);
    }
}
