.s-dashboard-iframe {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw !important;
    height: 100vh !important;
    background: radial-gradient(
        ellipse at top left,
        s.color(main, --lighten 25 --alpha 0.1),
        s.color(main, --lighten 35 --alpha 0.2)
    );

    @s.theme dark {
        background: radial-gradient(
            ellipse at top left,
            s.color(main, --darken 25 --alpha 0.1),
            s.color(main, --darken 35 --alpha 0.2)
        );
    }

    background-attachment: fixed;
    pointer-events: none;
    opacity: 0;
    backdrop-filter: blur(40px);
    @s.transition (fast);

    &.active {
        pointer-events: all;
        opacity: 1;
    }
}
