.s-dashboard-iframe {
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.3); */

    background: radial-gradient(
        ellipse at top left,
        sugar.color(main, --lighten 25 --alpha 0.1),
        sugar.color(main, --lighten 35 --alpha 0.2)
    );

    @sugar.theme dark {
        background: radial-gradient(
            ellipse at top left,
            sugar.color(main, --darken 25 --alpha 0.1),
            sugar.color(main, --darken 35 --alpha 0.2)
        );
    }

    background-attachment: fixed;

    pointer-events: none;
    opacity: 0;
    backdrop-filter: blur(40px);
    @sugar.transition (fast);

    &.active {
        pointer-events: all;
        opacity: 1;
    }
}
