@s.init ($variant: dark);

@s.classes;

@s.icon.classes (
  fa:check:success
  fa:exclamation:error
  fa:exclamation:warning
  fa:mobile-screen:mobile
  fa:tablet-screen-button:tablet
  fa:desktop:desktop
  fa:arrows-left-right:wide
  fa:equals:dwarf
  fa:hamsa:prod
  fa:hourglass-start:preprod
  fab:dev:dev
  fa:microscope:staging
  fa:house-chimney-window:website
  fa:lock:admin
  fa:temperature-low:low
  fa:temperature-half:medium
  fa:temperature-high:high
  fa:eye:switch
);
