.s-section-testimonials {
    .s-media {
        border-radius: 50%;
        overflow: hidden;
    }

    ._rating {
        display: flex;
        flex-direction: column;
        gap: s.margin(20);
    }

    ._stars {
        position: relative;

        ._stars-total {
            color: s.color(main, text, --alpha 0.2);
        }

        ._stars-rating {
            color: s.color(accent);
            clip-path: polygon(
                0% 0%,
                calc(var(--percent) * 1%) 0,
                calc(var(--percent) * 1%) 100%,
                0% 100%
            );
        }
    }
}
