/**
 * @name      selector
 * @namespace           sugar.scss.core.selector.function
 * @type    function
 *
 * Process selector to avoid having --default, etc...
 *
 * @param 		{String} 		$selector 		The selector to process
 * @return 		{String} 						The processed selector
 *
 * @example 	scss
 * Sugar.selector('.input--default'); // => .input
 * Sugar.selector('.input-default'); // => .input
 * Sugar.selector('.input.default'); // => .input
 *
 * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
/* prettier-ignore */
@function selector($selector, $prefix: null) {

  @if $prefix == null {
    @warn('CCC');
    $prefix: setting('classes.generate.prefix');
    @warn($prefix);
  }
  @if $prefix != '' and $prefix != false and $prefix != null {
    $selector: '#{$prefix}-#{$selector}';
  }
  $selector: str-replace($selector, '--default', '');
  $selector: str-replace($selector, '-default', '');
  $selector: str-replace($selector, '.default', '');
  $selector: str-replace($selector, 'default', '');
  @return $selector;
}
