@mixin s-iframe-bare($name: 's-iframe-bare') {

  .#{$name} {
    position: relative;
    display: block;
    width: 100%;
    min-height: 100px;
  }
    .#{$name}__node {
      display: block;
      border: none;
      @include Sugar.fit(absolute);
    }
    .#{$name}__loading {
      pointer-events: none;
      @include Sugar.fit(absolute);
      opacity: 0;

      [loading] + & {
        pointer-events: all;
        opacity: 1;
      }
    }
    .#{$name}__loading__loader {
      position: absolute !important;
      top: 50% !important; left: 50% !important;
      transform: translate(-50%, -50%) !important;
    }
}
