/**
 * @name              s-iframe-classes
 * @namespace         scss
 * @type              Mixin
 *
 * This mixin can be used to generate the ```s-iframe``` component classes.
 *
 * @param       {String}      [$name='s-iframe']        The name used to generate the classnames
 *
 * @example       html
 * <iframe is="s-iframe" src="https://coffeekraken.io"></iframe>
 *
 * @example       scss
 * \@include s-iframe-classes();
 *
 * @since         2.0.0
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin s-iframe-classes($name: 's-iframe') {
  // @include s-iframe-bare-classes(#{$name}-bare);
  @include s-iframe-style-classes($name);
}



/**
 * @name                  s-iframe-bare-classes
 * @namespace             scss
 * @type                  Mixin
 *
 * This mixin generate all the bare classes for the ```s-iframe``` component.
 *
 * @param       {String}        [$name='s-iframe-bare']       The name used to generate the classnames
 *
 * @since       2.0.0
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin s-iframe-bare-classes(
  $name: 's-iframe-bare'
) {
  /**
   * @name            #{$name}
   * @namespace       scss
   * @type            Class
   *
   * This class is the base one applied on container.
   *
   * @since           2.0.0
   * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
   */
  .#{$name} {
    position: relative;
    display: block;
    width: 100%;
    min-height: 100px;
  }

    /**
     * @name          #{$name}__node
     * @namespace     scss
     * @type          Class
     *
     * This class is applied on the iframe itself.
     *
     * @since         2.0.0
     * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
     */
    .#{$name}__node {
      display: block;
      border: none;
      @include Sugar.fit(absolute);
    }

    /**
     * @name          #{$name}__loading
     * @namespace     scss
     * @type          Class
     *
     * This class is applied on the loading container that is displayed on top of the iframe.
     *
     * @since         2.0.0
     * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
     */
    .#{$name}__loading {
      pointer-events: none;
      @include Sugar.fit(absolute);
      opacity: 0;

      [loading] + & {
        pointer-events: all;
        opacity: 1;
      }
    }

    /**
     * @name          #{$name}__loading__loader
     * @namespace     scss
     * @type          Class
     *
     * This class is applied on element inside the loading container.
     * It will contain the loader itself that can be a spinner, or whatever you want...
     *
     * @since         2.0.0
     * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
     */
    .#{$name}__loading__loader {
      position: absolute !important;
      top: 50% !important; left: 50% !important;
      transform: translate(-50%, -50%) !important;
    }
}



/**
 * @name                  s-iframe-style-classes
 * @namespace             scss
 * @type                  Mixin
 *
 * This mixin generate all the style classes for the ```s-iframe``` component.
 *
 * @param       {String}        [$name='s-iframe']       The name used to generate the classnames
 *
 * @since       2.0.0
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin s-iframe-style-classes(
  $name: 's-iframe'
) {

  .#{$name} {

  }
   .#{$name}__node {

   }
   .#{$name}__loading {
     background: Sugar.color(dark, -opacity .5);
   }
   .#{$name}__loading__loader {
     @include Sugar.loader-spinner();
   }

}
