#homepage-features {
  position: relative;

   .__bg {
    display: block;
    width: 100vw; height: 100%;
    position: absolute;
    top: 0; left: 50%;
    transform: translateX(-50%);
    opacity: 0.2;
    z-index:-1;

    @sugar.gradient.linear(sugar.color(accent), sugar.color(complementary), $angle: 90deg);

    &:before {
      content:'';
      display: block;
      width: 100%; height: 100%;
      position: absolute;
      top: 0; left: 0;

      @sugar.gradient.linear(sugar.color(ui, background), rgba(0,0,0,0), $angle: 180deg);
      
    }
  }

  .__header {
   position: relative;
   
    /* &:before {
        content: '';
        display: block;
        width: 100vw; height: 40%;
        transform: translate(-50%);
        position: absolute;
        bottom: -33px; left: 50%;
        z-index: -1;

        @sugar.gradient.linear(rgba(255,255,255,.03), rgba(255,255,255,0.02), $angle: 180deg);
      } */
  }

  .__tabs {
    display: flex;
    position: relative;
    top: -33px;

    .__item {
      text-align: center;
      flex-grow: 1;
      padding: sugar.space(30);
      background-color: sugar.color(surface, --lighten 10);
      @sugar.transition (fast);
      cursor: pointer;
      display: inline;

      &:hover {
        @sugar.gradient (sugar.color(accent), sugar.color(accent, --darken 10), $angle: 90);
      }
      @sugar.state.active {
        /* transform: scale(1.2); */
        @sugar.gradient (sugar.color(complementary), sugar.color(complementary, --darken 10), $angle: 90);
      }
    }
  }
  .__contents {
    position: relative;
    top: -66px;

    & > *:not(.active) {
      display: none;
    }
  }

  .__illustration {
    position: absolute;
    width:40%;
    transform: translate(-15%, -15%);
  }

  #features-development {
    position: relative;

    img {
      max-width: 100%;
    }

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      width: 50vw;
      height: 100%;
      z-index: -1;
      transform: translateX(-100%);
      @sugar.gradient (sugar.color(accent), #D27F01, $angle: 90);
      clip-path: polygon(0% 0%, 100% 0, calc(100% - 200px) 100%, 0% 100%);
    }
  }
}
