.s-cards {
    ._grid {
        display: grid;
    }

    ._card {
        display: flex;

        > * {
            width: 100%;
        }
    }

    &-1 {
        ._grid {
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
    }
    &-2 {
        ._grid {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
    }
    &-3 {
        ._grid {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }
    &-4 {
        ._grid {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }
    }
    &-5 {
        ._grid {
            grid-template-columns: repeat(5, minmax(0, 1fr));
        }
    }

    .s-card {
        ._media {
            flex-grow: 0;
        }
        ._content {
            flex-grow: 1;
        }
    }

    ._spacer {
        flex-grow: 1;
    }
}
