#header {
    ._nav {
        display: flex;
        user-select: none;
        flex-grow: 1;
        justify-content: space-evenly;
        text-align: center;
        font-size: sugar.font.size(40);

        ._main-link {
            & > *:first-child {
                position: relative;
            }

            & > *:first-child {
                display: inline-block;
                background: sugar.color(accent, --alpha 0);
                padding: sugar.padding(20) sugar.padding(30);
                border-radius: 999px;
                font-size: sugar.font.size(30);
                transform: scale(1);
                @sugar.transition;
            }

            &.active > *:first-child {
                background: sugar.color(accent);
                /* font-size: sugar.font.size(25); */
                padding: sugar.padding(20) sugar.padding(30);
                transform: scale(0.85);
            }

            &:hover,
            &:focus-within {
                & > *:first-child {
                    color: sugar.color(accent);
                }
            }
        }

        ._subnav {
            --max-height: 60vh;

            position: absolute;
            top: 80px;
            left: 50%;
            height: calc(var(--max-height) + 96px);
            max-width: 100vw;
            transform: translateX(-50%) translateY(-200%);
            z-index: 10;
            background-color: sugar.color(main, surface);
            background-position: 0 0;
            background-size: contain;
            text-align: left;
            /* display: none; */
            overflow: hidden;
            border-radius: sugar.border.radius();
            @sugar.depth (10);
            @sugar.container (default);
            opacity: 0;
            transition: opacity 0.1s ease-out, top 0.1s ease-out;

            @sugar.media (>=wide) {
                @sugar.container (wide);
            }

            @sugar.media mobile {
                width: 100vw;
                height: 100vh;
                position: fixed;
                top: 160px;
                left: 0;
                transform: none;
                flex-direction: column;
            }
        }
    }
}
