@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

@import './vars.css';

@import './generic/breadcrumb.css';
@import './generic/carpenter-loader.css';
@import './generic/drop-menu.css';
@import './generic/s-fs-tree.css';

@import './components/actions.css';
@import './components/app.css';
@import './components/controls.css';
@import './components/ask.css';
@import './components/editor.css';
@import './components/metas.css';
@import './components/error.css';
@import './components/loading.css';
@import './components/sidebar.css';

@s.init ($variant: light);

@s.typo.classes;
@s.margin.classes;
@s.padding.classes;
@s.flex.classes;
@s.color.classes;
@s.whitespace.classes;

@s.ui.wysiwyg.classes();
@s.ui.spacesSelector.classes();
@s.ui.specsEditor.classes();
@s.ui.datetimePicker.classes();
@s.ui.colorPicker.classes();
@s.ui.input.classes();
@s.ui.inputContainer.classes();
@s.ui.checkbox.classes();
@s.ui.button.classes();
@s.ui.tabs.classes();
@s.ui.label.classes();
@s.ui.select.classes();
@s.ui.switch.classes();
@s.ui.fstree.classes ($scope: bare);
@s.ui.tooltip.classes();
@s.ui.loader.classes ('squareDots,spinner');

.s-checkbox {
    @s.color (accent);
}

body {
    background: none !important;
}

.s-carpenter_editor-bkg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

@s.icon.classes (
    fab:github
    fa:circle-question:question
    fa:folder
    fa:file
);

s-slider {
    display: block;
    width: 75%;
    min-width: 400px;
    max-width: 1600px;
    aspect-ratio: 16/9;
}

s-carpenter-app {
    margin: 0;
    display: flex;
    overflow: hidden;
}
.fa-solid {
    color: s.color(main, text, --alpha 0.5);
    /* margin-inline-end: s.margin(10); */
}
.s-tooltip {
    max-width: 300px;
}

.s-tabs {
    @s.ui.tabs ($scope: 'bare');
    width: 100%;
    background: s.color(main, backgroud, --darken 45%);

    .s-tabs_item {
        padding: s.padding(ui.tabs.paddingBlock)
            s.padding(ui.tabs.paddingInline);
        background: s.color(accent, --alpha 0);
        color: s.color(accent, foreground);

        &:hover {
            background: s.color(accent, --alpha 0.3);
        }
        &.active {
            background: s.color(accent, --alpha 1);
        }
    }
}
