@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

@import './vars.css';

@import './generic/carpenter-loader.css';
@import './generic/dropdown-menu.css';
@import './generic/s-fs-tree.css';

@import './components/app.css';
@import './components/controls.css';
@import './components/ask.css';
@import './components/editor.css';
@import './components/error.css';
@import './components/loading.css';
@import './components/sidebar.css';

@sugar.init ($variant: light);

@sugar.typo.classes;
@sugar.margin.classes;
@sugar.padding.classes;
@sugar.flex.classes;
@sugar.color.classes;
@sugar.whitespace.classes;

@sugar.ui.wysiwyg.classes();
@sugar.ui.spacesSelector.classes();
@sugar.ui.specsEditor.classes();
@sugar.ui.datetimePicker.classes();
@sugar.ui.colorPicker.classes();
@sugar.ui.input.classes();
@sugar.ui.inputContainer.classes();
@sugar.ui.checkbox.classes();
@sugar.ui.button.classes();
@sugar.ui.tabs.classes();
@sugar.ui.label.classes();
@sugar.ui.select.classes();
@sugar.ui.switch.classes();
@sugar.ui.fstree.classes ($scope: bare);
@sugar.ui.tooltip.classes();
@sugar.ui.loader.classes ('squareDots,spinner');

.s-checkbox {
    @sugar.color (accent);
}

body {
    background: none !important;
}

.s-carpenter_editor-bkg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

@sugar.icon.classes (
    fab:github
    fa:circle-question:question
    fa:folder
    fa:file
);

s-slider {
    display: block;
    width: 75%;
    min-width: 400px;
    max-width: 1600px;
    aspect-ratio: 16/9;
}

s-carpenter-app {
    margin: 0;
    display: flex;
    overflow: hidden;
}
.fa-solid {
    color: sugar.color(main, text, --alpha 0.5);
    /* margin-inline-end: sugar.margin(10); */
}
.s-tooltip {
    max-width: 300px;
}

.s-tabs {
    @sugar.ui.tabs ($scope: 'bare');
    width: 100%;
    background: sugar.color(main, backgroud, --darken 45%);

    .s-tabs_item {
        padding: sugar.padding(ui.tabs.paddingBlock)
            sugar.padding(ui.tabs.paddingInline);
        background: sugar.color(accent, --alpha 0);
        color: sugar.color(accent, foreground);

        &:hover {
            background: sugar.color(accent, --alpha 0.3);
        }
        &.active {
            background: sugar.color(accent, --alpha 1);
        }
    }
}
