@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');

@sugar.init();
/* @sugar.theme(); */
@sugar.ui.specsEditor.classes();
@sugar.ui.input.classes();
@sugar.ui.label.classes();
@sugar.ui.select.classes();
@sugar.ui.switch.classes();
@sugar.ui.fsTree.classes();
@sugar.ui.tooltip.classes();

@sugar.ui.slider.classes();

@sugar.icon.classes (
    fab:github
    fa:circle-question:question
    fa:folder
    fa:file
);

s-slider {
    display: block;
    width: 75%;
    min-width: 400px;
    max-width: 1600px;
    aspect-ratio: 16/9;
}

s-carpenter {
    margin: 0;
    display: flex;
    overflow: hidden;
}

._navigation {
    flex-grow: 0;
    background: sugar.color(main, surface);
    width: clamp(400px, 450px, 550px);
    padding: sugar.padding(50);
    @sugar.color (base, text);
}

._content {
    flex-grow: 1;
}

._editor {
    flex-grow: 0;
    background: sugar.color(main, surface);
    width: clamp(400px, 450px, 550px);
    padding: sugar.padding(50);
}

.fa-solid {
    color: sugar.color(main, text, --alpha 0.5);
    margin-inline-end: sugar.margin(10);
}
.s-tooltip {
    width: 300px;
}

.component {
    display: none;
    height: calc(100vh - 42px);

    &.active {
        display: flex;
        width: 100%;
    }
}

.sidebar {
    width: 450px;
    background: sugar.color(main, surface);
    padding: sugar.padding(50);
    height: calc(100vh - 42px);
    overflow-y: auto;
    @sugar.scrollbar();
}

.content {
    flex-grow: 1;
}

div[component] {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 42px);
    overflow-y: auto;
    @sugar.scrollbar();
}

.s-tabs {
    @sugar.ui.tabs ($scope: 'bare');
    width: 100%;
    background: sugar.color(main, backgroud, --darken 45%);

    .s-tabs_item {
        padding: sugar.padding(ui.tabs.paddingBlock)
            sugar.padding(ui.tabs.paddingInline);
        background: sugar.color(accent, --alpha 0);
        color: sugar.color(accent, foreground);

        &:hover {
            background: sugar.color(accent, --alpha 0.3);
        }
        &.active {
            background: sugar.color(accent, --alpha 1);
        }
    }
}

.s-specs-editor_prop:has(> div) {
    padding-block: sugar.padding(20);

    &.s-specs-editor_prop-checkbox {
        border-bottom: 1px solid sugar.color(main, surface, --darken 5%);
    }
}
