:root {
    --s-carpenter-navigation-width: 300px;

    --s-carpenter-editor-width: 500px;
    --s-carpenter-editor-margin: sugar.margin(30);
    --s-carpenter-editor-bottom: var(--s-carpenter-editor-margin);

    --s-carpenter-media-bottom: sugar.margin(50);
    --s-carpenter-media-left: 50vw;
}

.s-carpenter-app--open {
    --s-carpenter-navigation-width: 300px;

    --s-carpenter-media-left: calc(
        50vw - var(--s-carpenter-editor-width) * 0.5
    );

    @media (max-width: 550px) {
        --s-carpenter-editor-width: calc(100vw - sugar.margin(30) * 2);
        --s-carpenter-editor-bottom: 140px;

        --s-carpenter-media-left: 50%;
    }
}

.s-carpenter-app {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    width: 100vw;
    height: 100vh;

    .s-carpenter-app_navigation,
    .s-carpenter-app_editor {
        position: absolute;
        top: var(--s-carpenter-editor-margin);
        right: var(--s-carpenter-editor-margin);
        bottom: var(--s-carpenter-editor-bottom);
        width: var(--s-carpenter-editor-width);
        background: sugar.color(main, background);
        transform: translateX(100%);
        opacity: 0;
        padding-block-end: sugar.padding(50);
        pointer-events: none;
        overflow-y: auto;
        @sugar.border.radius();
        @sugar.depth (100);
        @sugar.transition();
        @sugar.scrollbar();
    }

    .s-carpenter-app--open & {
        .s-carpenter-app_editor {
            transform: translateX(0);
            opacity: 1;
            pointer-events: all;
        }
    }

    .s-carpenter-app_sidebar {
        display: flex;
        flex-direction: column;
        right: auto;
        left: 0;
        width: 300px;
        background: sugar.color(main, background, --darken 2%);
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
        height: 100vh;

        i {
            margin-inline-end: sugar.margin(10);
        }
        .active > div > i {
            color: sugar.color(accent);
        }

        .s-carpenter-app_logo {
            flex-grow: 0;
            padding: sugar.padding(50);
            margin-block-end: sugar.margin(30);
            background-image: linear-gradient(
                -45deg,
                sugar.color(main, background),
                sugar.color(main, background, --lighten 5%)
            );
            @sugar.depth (100);
        }

        .s-carpenter-app_navigation {
            flex-grow: 1;
            padding: sugar.padding(30);
            overflow-y: auto;
            @sugar.scrollbar();
        }
    }

    .s-specs-editor_prop:not(.s-specs-editor_child .s-specs-editor_prop) {
        /* padding-inline: sugar.padding(40); */
    }

    .s-specs-editor_prop {
        padding-inline: sugar.padding(40);
    }
    .s-specs-editor_child-title {
        padding-block-start: sugar.padding(30);
        padding-inline: sugar.padding(40);
        color: sugar.color(accent);
    }
    .s-specs-editor_child-description {
        padding-block-end: sugar.padding(30);
        padding-inline: sugar.padding(40);
    }

    .s-specs-editor_label {
        margin-block-end: sugar.margin(20);

        i {
            opacity: 0.4;
            @sugar.transition (fast);

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .s-specs-editor_metas {
        position: sticky;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        padding-block: sugar.padding(30);
        margin-block-end: sugar.margin(30);
        background-image: linear-gradient(
            45deg,
            sugar.color(main, background),
            sugar.color(main, background, --lighten 5%)
        );
        @sugar.transition;
        @sugar.depth (50);

        &-title {
            color: sugar.color(accent);
            padding-inline: sugar.padding(30);
        }

        * {
            @sugar.transition;
            overflow: hidden;
            opacity: 1;
        }
    }
    .s-carpenter-app_editor.scrolled .s-specs-editor_metas {
        padding-block: sugar.padding(20);

        &-title {
            font-size: sugar.font.size(40);
        }

        *:not(.s-typo--h3) {
            opacity: 0;
            height: 0;
        }
    }

    .s-specs-editor_child {
        /* padding: sugar.padding(40); */
        /* background: sugar.color(main, background, --darken 5% --alpha 0.3); */

        &:not(:first-child) {
            margin-block-start: sugar.margin(40);
        }
        &:not(:last-child) {
            margin-block-end: sugar.margin(40);
        }
    }
}

.s-carpenter-app_backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}

.s-carpenter-app_media {
    position: absolute;
    bottom: var(--s-carpenter-media-bottom);
    background: blue;
    left: var(--s-carpenter-media-left);
    transform: translateX(-50%);
    pointer-events: all !important;
    @sugar.depth (100);
    @sugar.transition();

    .s-carpenter-app_queries {
        background: sugar.color(main, background);
        border-bottom-left-radius: sugar.border.radius();
        @sugar.depth (100);

        .s-carpenter-app_query i {
            margin-inline-end: sugar.margin(10);
        }

        /* .s-carpenter-app_query {
            background: sugar.color(main, surface);
            padding: sugar.padding(30) sugar.padding(40);
            @sugar.transition (fast);

            &:hover {
                background: sugar.color(accent);
                color: sugar.color(accent, foreground);
            }
        } */
    }
}
