:root {
    --s-carpenter-navigation-width: 300px;
    --s-carpenter-editor-width: 0px;
    --s-carpenter-content-margin-inline: sugar.margin(50);
    --s-carpenter-content-margin-block: sugar.margin(50);
    --s-carpenter-offset-top: sugar.margin(50);

    --s-carpenter-content-max-width: calc(
        100vw - var(--s-carpenter-navigation-width) -
            var(--s-carpenter-editor-width) -
            var(--s-carpenter-content-margin-inline) * 2
    );
}

body.s-carpenter--in-iframe {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: sugar.padding(50);
    /* background: red; */
    @sugar.scrollbar();
}
body:not(.s-carpenter--in-iframe) {
    background: sugar.color(base, surface);
}

.s-carpenter--editor {
    --s-carpenter-navigation-width: 300px;
    --s-carpenter-editor-width: 500px;

    --s-carpenter-content-max-width: calc(
        100vw - var(--s-carpenter-navigation-width) -
            var(--s-carpenter-editor-width) -
            var(--s-carpenter-content-margin-inline) * 2
    );
}

.s-carpenter {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 500;
    width: 100vw;
    height: 100vh;
    pointer-events: none;

    ._navigation,
    ._editor {
        position: absolute;
        top: 0;
        right: 0;
        width: var(--s-carpenter-editor-width);
        height: 100%;
        background: sugar.color(base, background);
        transform: translateX(100%);
        opacity: 0;
        padding-block-end: sugar.padding(50);
        pointer-events: none;
        overflow-y: auto;
        @sugar.depth (100);
        @sugar.transition();
        @sugar.scrollbar();
    }

    .s-carpenter--editor & {
        ._editor {
            transform: translateX(0);
            opacity: 1;
            pointer-events: all;
        }
    }

    .s-carpenter_sidebar {
        display: flex;
        flex-direction: column;
        right: auto;
        left: 0;
        width: 300px;
        background: sugar.color(base, background, --darken 2%);
        transform: translateX(0);
        opacity: 1;
        pointer-events: all;
        height: 100vh;

        i {
            margin-inline-end: sugar.margin(10);
        }
        .active > div > i {
            color: sugar.color(accent);
        }

        .s-carpenter_logo {
            flex-grow: 0;
            padding: sugar.padding(50);
            margin-block-end: sugar.margin(30);
            background-image: linear-gradient(
                -45deg,
                sugar.color(base, background),
                sugar.color(base, background, --lighten 5%)
            );
            @sugar.depth (100);
        }

        .s-carpenter_navigation {
            flex-grow: 1;
            padding: sugar.padding(30);
            overflow-y: auto;
            @sugar.scrollbar();
        }
    }

    .s-specs-editor_prop:not(.s-specs-editor_child .s-specs-editor_prop) {
        /* padding-inline: sugar.padding(40); */
    }

    .s-specs-editor_prop {
        padding-inline: sugar.padding(40);
    }
    .s-specs-editor_child-title {
        padding-block-start: sugar.padding(30);
        padding-inline: sugar.padding(40);
        color: sugar.color(accent);
    }
    .s-specs-editor_child-description {
        padding-block-end: sugar.padding(30);
        padding-inline: sugar.padding(40);
    }

    .s-specs-editor_label {
        margin-block-end: sugar.margin(20);

        i {
            opacity: 0.4;
            @sugar.transition (fast);

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .s-specs-editor_metas {
        padding-block: sugar.padding(30);
        margin-block-end: sugar.margin(30);
        background-image: linear-gradient(
            45deg,
            sugar.color(base, background),
            sugar.color(base, background, --lighten 5%)
        );
        @sugar.depth (100);

        .s-typo--h3 {
            color: sugar.color(accent);
        }
    }

    .s-specs-editor_child {
        /* padding: sugar.padding(40); */
        /* background: sugar.color(base, background, --darken 5% --alpha 0.3); */

        &:not(:first-child) {
            margin-block-start: sugar.margin(40);
        }
        &:not(:last-child) {
            margin-block-end: sugar.margin(40);
        }
    }
}

.s-carpenter_media {
    position: absolute;
    bottom: var(--s-carpenter-offset-top);
    left: calc(
        var(--s-carpenter-navigation-width) +
            var(--s-carpenter-content-margin-inline) +
            var(--s-carpenter-content-max-width) * 0.5
    );
    transform: translateX(-50%);
    pointer-events: all;
    @sugar.depth (100);
    @sugar.transition();

    .s-carpenter_queries {
        background: sugar.color(base, background);
        border-bottom-left-radius: sugar.border.radius();
        @sugar.depth (100);

        .s-carpenter_query i {
            margin-inline-end: sugar.margin(10);
        }

        /* .s-carpenter_query {
            background: sugar.color(base, surface);
            padding: sugar.padding(30) sugar.padding(40);
            @sugar.transition (fast);

            &:hover {
                background: sugar.color(accent);
                color: sugar.color(accent, foreground);
            }
        } */
    }
}

.s-carpenter_iframe {
    position: absolute;
    top: 50%;
    left: calc(
        var(--s-carpenter-navigation-width) +
            var(--s-carpenter-content-margin-inline) +
            var(--s-carpenter-content-max-width) * 0.5
    );
    transform: translate(-50%, -50%);
    max-width: var(--s-carpenter-content-max-width);
    max-height: calc(100vh - var(--s-carpenter-content-margin-block) * 2);
    width: var(
        --s-carpenter-content-width,
        var(--s-carpenter-content-max-width)
    );
    border: 1px solid sugar.color(accent, --alpha 0.3);

    height: var(
        --s-carpenter-content-height,
        calc(100vh - var(--s-carpenter-content-margin-block))
    );
    @sugar.transition();
    @sugar.depth (100);
    @sugar.border.radius();
}

.s-carpenter-toolbar {
    position: absolute;
    z-index: 500;
    background: sugar.color(accent);
    color: sugar.color(accent, foreground);
    display: inline-block;
    padding: sugar.padding(30);
    transform: translateX(calc(-100% + sugar.margin(10)))
        translateY(calc(sugar.margin(10) * -1)) scale(1);
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
    font-size: sugar.font.size(50);
    @sugar.depth (100);
    @sugar.transition (fast);

    &:hover {
        transform: translateX(calc(-100% + sugar.margin(10)))
            translateY(calc(sugar.margin(10) * -1)) scale(1.2);
    }
}
body:has([s-specs]:hover) .s-carpenter-toolbar,
.s-carpenter-toolbar:hover {
    opacity: 1;
    pointer-events: all;
}
