@import './vars.css';
@import './generic/carpenter-loader.css';

[s-carpenter-initial-ui] {
    @sugar.theme.apply (light);
}

/* body {
}
body:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 9999;
} */

.s-carpenter {
}
.s-carpenter_website-iframe,
.s-carpenter_editor-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.s-carpenter_editor-iframe {
    z-index: 90001;
    pointer-events: none;

    &.active {
        pointer-events: all;
    }
}

body:has(.s-carpenter_body) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-carpenter_website-iframe {
    left: 50%;
    position: absolute;
    top: 0;
    left: var(--s-carpenter-media-left);
    width: var(--s-carpenter-viewport-width, 100%);
    transform: translateX(-50%);
    border-left: 1px solid sugar.color(main, --alpha 0.6);
    border-right: 1px solid sugar.color(main, --alpha 0.6);
    @sugar.transition;
    @sugar.scrollbar (accent);
    @sugar.depth (100);
    pointer-events: all;
}

.s-carpenter_ui-placeholders {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 90002;
    pointer-events: none;
}
.s-carpenter_ui-placeholder {
    position: absolute;
    pointer-events: none;
    background: transparent;
    /* background: rgba(255, 0, 0, 0.1); */

    .active > & {
        pointer-events: all;
        /* background: rgba(0, 255, 0, 0.1); */
    }
}

@keyframes s-carpenter-open-btn-in {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 30px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.s-carpenter_open-btn {
    @sugar.ui.button();
    @sugar.color (complementary);
    position: fixed !important;
    z-index: 99999;
    top: 30px;
    right: 30px;
    /* animation: s-carpenter-open-btn-in 0.3s ease-out forwards; */

    svg {
        width: 1em;
        height: 1em;

        * {
            fill: white;
        }
    }

    &.loading {
        @sugar.ui.button ($lnf: 'loading');
    }
}

@keyframes s-carpenter-popin-in {
    from {
        opacity: 0;
        transform: scale(0) translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: scale(1) translate(-50%, -50%);
    }
}

.s-carpenter_loading {
    position: fixed;
    z-index: 99999;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    transform-origin: 0 0;
    background: none;
    animation: s-carpenter-popin-in 0.3s cubic-bezier(0.725, -0.21, 0.055, 1.26)
        forwards;

    ._inner {
        background-color: sugar.color(main, background);
        padding: sugar.padding(50) sugar.padding(60);
        text-align: center;
        @sugar.border.radius;
        @sugar.depth (100);
        perspective: 1200px;
    }

    ._picto {
        transform-origin: 50% 50%;
        /* animation: s-carpenter-loader-skew 4s linear infinite; */
    }

    ._logo {
        display: flex;
        align-items: start;
        gap: sugar.margin(20);
        /* margin-block-end: sugar.margin(30); */

        svg {
            opacity: 0.5;
            height: 60px;
            width: auto;
        }
    }

    ._loader {
        font-size: 44px;
        /* margin-block-end: sugar.margin(30); */
        /* animation: s-carpenter-loader-color 0.5s
            cubic-bezier(0.56, -0.005, 0.46, 1.505) infinite !important; */
        opacity: 0.3;
    }

    ._title {
        font-size: 28px;
        margin-block-end: sugar.margin(30);
        display: none;

        span {
            color: sugar.color(accent);
        }
    }
    ._text {
        font-size: 16px;
        line-height: 1.5;
        opacity: 0.6;

        span {
            color: sugar.color(accent);
        }
    }
}
