:root {
    --s-carpenter-sidebar-width: 230px;
    --s-carpenter-sidebar-margin: sugar.margin(30);
    --s-carpenter-sidebar-bottom: var(--s-carpenter-sidebar-margin);

    --s-carpenter-editor-width: 500px;
    --s-carpenter-editor-margin: sugar.margin(30);
    --s-carpenter-editor-bottom: var(--s-carpenter-editor-margin);

    --s-carpenter-media-bottom: sugar.margin(30);
    --s-carpenter-media-left: 50vw;
}

.s-carpenter--open,
.s-carpenter-app--open {
    --s-carpenter-media-left: calc(
        50vw - var(--s-carpenter-editor-width) * 0.5 +
            var(--s-carpenter-sidebar-width) * 0.5
    );

    @media (max-width: 550px) {
        --s-carpenter-editor-width: calc(100vw - sugar.margin(30) * 2);
        --s-carpenter-editor-bottom: 140px;

        --s-carpenter-media-left: 50%;
    }
}
