.s-doc {
    display: flex;

    &_explorer {
        flex-grow: 0;
    }

    &_content {
        flex-grow: 1;
    }
}

.s-doc {
    max-height: 80vh;
    max-width: 100vw;
    /* width: 90vw; */
    display: flex;
    background: sugar.color(main, surface, --alpha 0.3);
    position: relative;
    /* left: 50%;
    transform: translateX(-50%); */
    /* @sugar.depth (100); */

    &_explorer {
        width: 400px;
        height: 100%;
        max-height: 80vh;
        overflow-y: auto;
        @sugar.scrollbar;
    }

    &_category {
        position: relative;
        cursor: pointer;

        > div {
            padding: sugar.padding(30) !important;
            background: sugar.color(main, surface, --alpha 0);
            @sugar.transition fast;

            > i {
                margin-inline-end: sugar.margin(10);
                position: relative;
                top: -2px;
                @sugar.transition;
            }
        }

        &.active > div > span {
            font-weight: bold;
        }

        &:hover > div {
            background: sugar.color(main, surface, --alpha 0.3);
        }
        &:active > div,
        &.active > div {
            background: sugar.color(main, surface);

            > i {
                color: sugar.color(complementary, --lighten 20);
            }
        }

        &:after {
            content: '';
            display: none;
            position: absolute;
            top: calc(sugar.margin(30) * 0.6 * 2 + 1em);
            left: calc(sugar.margin(30) + 0.5em);
            width: 1px;
            bottom: 0;
            background: sugar.color(main, border);
        }

        &.active:after {
            display: block;
        }
    }
    &_categories {
    }

    /* &_items {
        display: none;
    }
    &_category.active &_items {
        display: block;
    } */

    &_item {
        > div {
            padding: calc(sugar.padding(30) * 0.6) sugar.padding(30)
                calc(sugar.padding(30) * 0.6) sugar.padding(50);

            > span {
                font-size: 0.9em;
                opacity: 0.8;
                @sugar.transition fast;
            }
        }

        &:hover > div > span {
            color: sugar.color(accent);
        }

        &.active > div > span {
            color: sugar.color(accent);
            opacity: 1;
        }
    }

    &_search {
        position: sticky !important;
        z-index: 1;
        top: 0;
        display: block;
        background: sugar.color(main, background) !important;

        i {
            opacity: 0.3;
        }
    }
    &_search-input {
        display: block;
        width: 100%;
        padding: sugar.padding(30) sugar.padding(30);
        background: sugar.color(main, ui);
        border-bottom: 1px solid sugar.color(main, border);
    }

    &_content {
        display: flex;
        flex-direction: column;
        gap: sugar.margin(50);
        background: sugar.color(main, surface);
        padding: sugar.padding(50);
        overflow-y: auto;
        @sugar.border.radius();
        @sugar.scrollbar;

        .s-code-example_code .hljs {
            background: sugar.color(main, background) !important;
        }
    }

    &_metas {
    }
    &_title {
    }
    &_status {
        position: relative;
        top: -0.5em;
        font-size: 0.3em !important;
    }
    &_description {
    }

    &_examples {
    }

    &_params {
    }
    &_param {
    }
    &_param-metas {
        display: flex;
        background: sugar.color(main, background);
        padding: sugar.padding(30);
        @sugar.border.radius();
    }
    &_param-name {
        flex-grow: 1;
    }
    &_param-type {
        color: sugar.color(info);
    }
    &_param-description {
        padding: sugar.padding(30);
        @sugar.typo (p);
    }
}
