@sugar.cache ('sugar') {
  @sugar.init;
  @sugar.theme (dark, null, true);

  @sugar.classes;
  @sugar.media.classes ('mobile,tablet') {
    @sugar.classes;
  }

  @sugar.ui.filtrableinput.classes;
  @sugar.ui.colorpicker.classes;
  @sugar.ui.datetimepicker.classes;
  @sugar.ui.codeexample.classes;
  @sugar.ui.rating.classes;
  @sugar.ui.slider.classes;
  @sugar.ui.themeswitcher.classes;
  @sugar.platform.classes;
}

@sugar.icon.classes (
  fa:user:user
  fa:heart:heart
  fa:circle-nodes:api
  fa:fire:fire
  fa:eye:preview
  fab:css3-alt:css
  fa:calendar-alt:calendar
  fa:angle-down:arrow-down
  fa:angle-up:arrow-up
  fa:angle-left:arrow-left
  fa:angle-right:arrow-right
  fa:user-graduate:documentation
  fa:box-open:box
  fa:angle-up
  fa:palette:color
  fa:eye-dropper
  fa:info:info
  fa:bars:menu
  fa:times-circle:close
  fa:times:cross
  fab:npm:npm
  fa:chalkboard-teacher:example
  fa:list-ul:list-ul
  fa:cogs:setting
  fa:th:return
  fa:link:link
  fa:copy:copy
  fa:check:check
  fa:check:copied
  fa:search:search
  fa:radiation:nothing
  fa:download:import
  fa:moon:dark-mode
  fa:star:star
  fa:bugs:bugs
  fa:pen-nib:write
  fab:google:google
  fab:github:github
  fab:discord:discord
  fab:github:github
  fab:facebook:facebook
  fab:patreon:patreon
  fab:twitter:twitter
  fab:instagram:instagram
  fa:cloud-download-alt:install
  fa:cogs:settings
  fab:vuejs:vuejs
  fa:tasks:tasks
  fa:hammer:todo
  fa:file-pdf
  fa:file-image
  fa:file-code
  fa:file-archive
  fa:file
  fa:computer:computer
  fa:server:server
  fs:src/icons/read-direction.svg:support-rtl
  fs:src/icons/edge.svg:support-edge
  fs:src/icons/chrome.svg:support-chromium
  fs:src/icons/firefox.svg:support-firefox
  fs:src/icons/safari.svg:support-safari
  fs:src/icons/vuejs.svg:vue
  fs:'src/icons/coffeekraken/**/*.svg'
);
