#homepage-welcome {
  height: clamp(720px, 80vh, 100vh);
  text-align: left;
  position: relative;
  z-index: 10;

  @sugar.media mobile {
    height: auto;
    text-align: center;
  }

  .__user-1,
  .__user-2,
  .__user-3 {
    position: absolute;
    top: 50%;
    left: 50%;

    .s-avatar {
    }
    .s-tooltip {
      position: absolute;
      top: 50%;
      left: 50%;
      right: auto;
      bottom: auto;
      white-space: nowrap;

      &.s-tooltip--left {
        left: -10px;
        transform: translateX(-100%) translateY(-50%);
      }
      &.s-tooltip--right {
        left: calc(100% + 10px);
        transform: translateX(0) translateY(-50%);
      }
    }
  }
  .__user-1 {
    transform: translate(-700px, -250px) scale(0.8);
  }
  .__user-2 {
    transform: translate(-580px, 110px) scale(0.6);
  }
  .__user-3 {
    transform: translate(550px, 0px);
  }

  /* .__loader-1 {
        position: absolute;
        top: 0;
        left: 50%;
        font-size: 40px;
        transform: translateX(-50%);
        @sugar.color (accent);
    } */

  /* .__icon-1 {
        position: absolute;
        top: 21%;
        left: 5%;
        font-size: 30px;
        transform: rotate(-15deg);
    }
    .__icon-2 {
        position: absolute;
        top: 40%;
        right: 0;
        font-size: 40px;
        transform: rotate(10deg);
    }
    .__icon-3 {
        position: absolute;
        top: 56%;
        left: 12%;
        font-size: 50px;
    }
    .__icon-4 {
        position: absolute;
        top: 0;
        right: 25%;
        font-size: 60px;
        transform: rotate(15deg);
    }
    .__icon-5 {
        position: absolute;
        top: 70%;
        right: 23%;
        font-size: 40px;
    } */

  .s-tooltip {
    @sugar.color (#ffffff);
    color: sugar.color(main, text);
    @sugar.depth (20);
  }

  @sugar.media mobile {
    position: relative;
    top: 100px;
    left: 0;
    width: 100%;
    height: 350px;
    transform: scale(1.4);
  }

  ck-blob {
    display: block;
  }

  .__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  input {
    text-align: left;
  }

  .s-slider__slides {
    display: flex;
  }

  [s-slider-slide] {
    flex: 0 0 100%;
    width: 100vw;
    padding-top: 280px;
    transform: translateX(calc(var(--s-slider-slide) * -100%));
    transition: sugar.transition();
  }

  .__icon-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300px, -150px) rotate(-10deg);
    opacity: 0.2;
  }
  .__icon-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(430px) rotate(10deg) scale(0.7);
    opacity: 0.1;
  }
  .__icon-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-300px, 100px) rotate(5deg) scale(0.6);
    opacity: 0.1;
  }
  .__icon-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(250px, -160px) rotate(10deg) scale(0.5);
    opacity: 0.1;
  }
  .__icon-5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-450px, -50px) rotate(-10deg) scale(0.6);
    opacity: 0.2;
  }
  .__icon-6 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(300px, 150px) rotate(10deg) scale(0.4);
    opacity: 0.1;
  }

  .__content {
    width: 100%;
    text-align: center;

    .s-typo--h3,
    .s-typo--p,
    .s-typo--lead {
      margin-inline: auto;
    }

    @sugar.media >=wide {
      @sugar.container (wide);
    }

    @sugar.media mobile {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      transform: none;
      padding: sugar.padding(100) sugar.padding(30);
    }
  }
}
