#header {
    position: fixed;
    top: 0;
    left: 50%;
    width: calc(1280px + sugar.padding(30) * 2);
    z-index: 200;
    height: 80px;
    display: flex;
    align-items: center;
    background: sugar.color(main, background);
    padding-inline: 0;
    transform: translateX(-50%);
    @sugar.transition;

    @sugar.media mobile {
        width: 100%;
        padding-inline: sugar.padding(30) sugar.padding(10);
    }

    body:has(.s-doc_explorer:focus, .s-doc_explorer:focus-within) &,
    .scroll-down & {
        transform: translate(-50%, -100%);
    }

    @sugar.wireframe {
        @sugar.wireframe.border;
        @sugar.wireframe.background;
    }

    ._nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;

        ._main-link {
            &.active {
                color: sugar.color(accent);
            }
        }
    }

    ._links {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-grow: 1;
        padding-inline: sugar.padding(50);

        @sugar.media mobile {
            display: none;
        }
    }

    .s-container {
        flex-grow: 1;
        position: relative;
        top: 5px;
    }

    ._logo {
        flex-grow: 0;
        margin-inline-end: sugar.margin(20);

        @sugar.media mobile {
            flex-grow: 1;
        }

        a {
            @sugar.focus.outline accent;
        }

        svg {
            height: 40px;
            width: 150px;
            display: inline-block;

            @sugar.media mobile {
                width: 100px;
            }
        }

        svg .main {
            fill: sugar.color(main, --darken 10);
        }
        svg .accent {
            fill: sugar.color(accent);
        }
    }

    ._menu {
        flex-grow: 0;
    }

    @sugar.theme (dark) {
        svg .main {
            fill: sugar.color(main, text);
        }
        svg .accent {
            fill: sugar.color(accent);
        }
    }
}
