sherlock-footer {
    display: block;
}

.sh-footer {
    display: flex;
    height: 30px;
    align-items: center;
    background: s.color(main, background, --darken 5% --alpha 0.4);
    backdrop-filter: blur(10px);
}
