.ck-blob,
ck-blob {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
    /* filter: blur(1px); */
    /* filter: hue-rotate(0) saturation(0%); */

    canvas {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        /* filter: brightness(100%) saturate(100%); */
        height: 100%;
        transition: all 0.5s ease-in-out;
        /* transform: scale(1); */
    }

    /* &:hover {
        canvas {
            filter: hue-rotate(250deg);
        }
    } */
}
