.ck-search {
    .s-highlight {
        background: sugar.color(accent);
        color: black;
        border-radius: sugar.border.radius(10);
    }

    .ck-search-input {
        width: 100%;
        @sugar.color (accent, accent, main);
    }

    .ck-search-input__list {
        background: sugar.color(main, surface);
        width: 300% !important;
        left: auto !important;
        right: 0 !important;
    }

    .ck-search-input__list-item {
        padding-inline: sugar.padding(30) !important;
        padding-block: sugar.padding(30) !important;
    }
}
