.ck-settings {
}
#settings .s-panel__container {
    background-color: sugar.color(main, background);
    min-width: 300px;
    width: 33vw;
    max-width: 500px;
    overflow-y: scroll;
    @sugar.scrollbar();
    @sugar.depth (100);

    @sugar.media mobile {
        min-width: 80%;
    }

    .s-label > *:last-child {
        max-width: 50%;
    }
}
