.ck-search {
    .s-highlight {
        background: sugar.color(accent);
        color: black;
        border-radius: sugar.border.radius(10);
    }

    #search-tips {
        max-height: 250px;
        transition: sugar.transition();
        overflow: hidden;
    }
    #search-tips.active {
        max-height: 0;
        padding-block: 0;
    }

    .s-filtrable-input {
        width: 100%;
        @sugar.color (accent, accent, main);
    }

    .s-filtrable-input__dropdown {
        background: sugar.color(main, surface);
        width: 300% !important;
        left: auto !important;
        right: 0 !important;
    }

    .s-filtrable-input__list-item {
        padding-inline: sugar.padding(30) !important;
        padding-block: sugar.padding(30) !important;
    }
}
