.folder-nav {
    @extends .s-list;
    @extends .s-list--ul;

    ul {
        margin-left: sugar.space(20);
        margin-top: sugar.space(10);
    }
    li {
        a,
        span {
            padding: sugar.space(10);
            display: inline-block;
            @sugar.border.radius;
            width: calc(100% - 30px);
            cursor: pointer;
        }

        a {
            overflow: hidden;
            text-overflow: ellipsis;
        }

        a:hover,
        span:hover {
            background-color: sugar.color(main, surface);
        }
    }

    /* s-activate[active] > h5 {
        font-weight: bold;
    } */

    .__slug:before {
        content: '-';
        position: relative;
        top: -0.5em;
        color: sugar.color(accent);
    }
    .__toggle:before {
        content: '│';
        font-weight: bold;
        color: sugar.color(accent);
    }
}

/* a[actual] {
        color: sugar.color(accent);
        font-weight: bold;
    } */
