.icon-card {
    aspect-ratio: 1;
    position: relative;
    border-radius: sugar.border.radius();
    @sugar.depth (100, $type: text);
    background-size: cover;
    background-position: 50% 50%;
    filter: grayscale(0.1);
    overflow: hidden;

    i,
    p {
        transition: all 0.3s sugar.theme(easing.default);
        transform-origin: -100% 100%;
        text-align: center;
        color: sugar.color(current, foreground);
    }

    i {
        font-size: 100px;
        position: absolute;
        z-index: 1;
        top: calc(50% - 20px);
        left: 50%;
        transform: translate(-50%, -50%);

        @sugar.media mobile {
            font-size: 50px;
        }
    }
    p {
        position: absolute;
        z-index: 1;
        top: calc(50% + 50px);
        left: 50%;
        transform: translate(-50%, -50%);
        transition-duration: 0.3s;
        transition-delay: 0.15s;

        @sugar.media mobile {
            top: calc(50% + 30px);
        }
    }

    &:after {
        opacity: 1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200%;
        height: 200%;
        transform-origin: 0 0;
        transform: translateX(30%) translateY(-30%) rotateZ(45deg);
        transition: all 0.3s sugar.theme(easing.default);
        background-color: sugar.color(current);
    }

    &[style] {
        &:hover i {
            transform: scale(0.3) translate(-50%, -50%);
            top: calc(55%);
            left: 45%;
        }

        &:hover p {
            opacity: 0;
            top: calc(50% + 70px);
            transition-delay: 0s;
        }
        &:hover:after {
            transform: translateX(-25%) translateY(0%) rotateZ(45deg);
        }
    }
}
