.illustration,
svg.illustration {
    width: 100%;

    *[fill='#FFBB01'] {
        fill: sugar.color(accent) !important;
    }
    *[stroke='#FFBB01'] {
        stroke: sugar.color(accent) !important;
    }
    *[fill='#5100FF'],
    *[fill='#4900E6'] {
        fill: sugar.color(complementary) !important;
    }
    *[stroke='#5100FF'],
    *[stroke='#4900E6'] {
        stroke: sugar.color(complementary) !important;
    }
}
