s-code-example {
    display: block;
    position: relative;
    @sugar.theme (dark);

    /* @sugar.shadow.gradient (0, 10px, 10px, 1, sugar.color(accent), sugar.color(complementary)) {
        width: calc(100% - 40px);
        opacity: 0.3;
    } */
}

.s-code-example__toolbar {
    color: sugar.color(ui, text);
}
