s-code-example {
    display: block;
    position: relative;
    @sugar.theme (dark);

    /* @sugar.shadow.gradient (0, 10px, 10px, 1, sugar.color(accent), sugar.color(complementary)) {
        width: calc(100% - 40px);
        opacity: 0.3;
    } */
}

.s-tabs {
    margin-bottom: calc(sugar.margin(10) * -1);
    z-index: 10;
    position: relative;
}

.s-code-example__toolbar {
    color: sugar.color(ui, text);
    position: relative;
    top: calc(sugar.margin(10) * -1) !important;
}
