s-code-example {
    display: block;
    @sugar.theme (dark);
    @sugar.depth (100);
    @sugar.border.radius();
}

.s-code-example__toolbar {
    color: sugar.color(ui, text);
}

/* .s-until--mounted {
    display: none;
}
*:not([mounted]) + .s-until--mounted {
    display: block;
} */
