.s-typo--p-lead,
.s-typo--p:not(.s-dropdown .s-typo--p) {
    color: sugar.color(main, --lighten 20);
}

strong {
    color: sugar.color(accent);
}

code {
    background: sugar.color(accent, --alpha 0.3);
    padding-inline: sugar.padding(10);

    @sugar.theme.when (dark) {
        color: white;
    }
}
