.examples {
    @sugar.layout ('1 2 2 2');
    gap: sugar.margin(30);

    ._sidebar {
        /* background: sugar.color(main, surface);
        border: solid 1px sugar.color(main, border); */
        background: linear-gradient(
            35deg,
            sugar.color(main, background, --alpha 0),
            sugar.color(main, surface)
        );
        padding: sugar.padding(30) sugar.padding(10);
        @sugar.border.radius();

        a {
            display: block;
            padding: sugar.padding(30) sugar.padding(30);
            transform: translateX(0);
            border-right: 0px solid sugar.color(accent);
            @sugar.border.radius();
            @sugar.transition fast;

            &:hover {
                background: sugar.color(main, surface, --lighten 5);
                transform: translateX(sugar.margin(20));
            }
            &:active,
            &.active {
                background: sugar.color(main, surface, --lighten 10);
                border-right: 5px solid sugar.color(accent);
                transform: translateX(sugar.margin(20));
                /* @sugar.depth (100); */
            }

            i {
                margin-inline-end: sugar.margin(10);
            }
        }
    }

    ._content {
    }

    ._code {
        display: none;

        &.active {
            display: block;
        }
    }
}
