@keyframes s-code-example-loading {
    0% {
        background-position: 0px 0%;
    }
    50% {
        background-position: 996px 0%;
    }
    100% {
        background-position: 0px 0%;
    }
}
.s-code-example {
    display: block;
    position: relative;
}

@sugar.lod theme {
    .s-code-example_toolbar {
        color: rgba(0, 0, 0, 0.3);
        top: calc(sugar.margin(10) * -1) !important;

        @sugar.theme (dark) {
            color: rgba(255, 255, 255, 0.3);
        }
    }

    .s-code-example .s-clipboard-copy {
        opacity: 0.2;

        @sugar.theme dark {
            opacity: 0.6;
        }

        &:hover {
            opacity: 1;
        }

        &:has([state='success'], [state='error']) {
            opacity: 1;
        }
    }
}
