@use 'sugar/index' as sugar;
@use '@coffeekraken/text-intro/index' as text-intro;

.ck-preview__views-selector {
  position: fixed;
  top: 30px;
  left: 100px;
  right: 100px;
  @include sugar.effect-depth(10);
  padding: sugar.lnf(padding-horizontal) sugar.lnf(padding-vertical);
  background-color: sugar.color(dark-grey);
  opacity: 0;
  pointer-events: none;
  transition: all ease-in-out 0.2s;

  &--opened {
    top: 50px;
    opacity: 1;
    pointer-events: all;
  }

  .h3 {
    color: white;
    margin-bottom: 10px;
  }

  .coffeekraken-logo {
    height: 40px;
    position: absolute;
    top: sugar.lnf(padding-horizontal);
    right: sugar.lnf(padding-vertical);
  }
}

// init text-intro classes
@include text-intro.letters-in-reveal-classes();
