.breadcrumb {
    display: inline-flex;
    gap: s.margin(20);
    color: s.color(main, text);
    user-select: none;
    padding: s.padding(10) s.padding(20);

    ._item {
        font-weight: bold;

        &:not(:last-child):after {
            padding-inline-start: s.margin(20);
            content: '>';
            opacity: 0.3;
        }
    }
    ._label {
        opacity: 0.4;
        font-weight: normal;
        &:after {
            content: ':';
        }
    }
}
