.drop-menu {
    position: relative;

    ._drop {
        position: absolute;
        top: 100%;
        left: 0;
        background: s.color(main, background);
        opacity: 0;
        pointer-events: none;
        @s.transition fast;
        @s.border.radius();
        @s.depth (100);
    }

    &:focus,
    &:focus-within {
        ._drop {
            opacity: 1;
            pointer-events: all;
        }
    }

    ._menu {
    }

    ._menu-item {
        padding: s.padding(20) s.padding(30);
        white-space: nowrap;
        @s.transition fast;

        &:hover {
            background: s.color(main, --alpha 0.1);
        }
        &:active {
            background: s.color(main, --alpha 0.2);
        }

        i {
            margin-inline-end: s.margin(10);
        }
    }
}

.drop-menu--right {
    ._drop {
        top: 0;
        left: 100%;
    }
}

.drop-menu--left {
    ._drop {
        top: 0;
        left: auto;
        right: 100%;
    }
}

.drop-menu--up {
    ._drop {
        top: auto;
        bottom: 100%;
    }
}
