.s-fs-tree {
    position: relative;
    font-size: s.font.size(25) !important;

    ._folder > div,
    [s-activate] > div {
        color: s.color(main, text);
    }

    .s-fs-tree {
        font-size: s.font.size(20);

        li {
            position: relative;
        }

        li:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0.65em;
            width: 1px;
            height: 100%;
            background: s.color(main, border);
            opacity: 0.4;
            @s.transition (fast);
        }
        li:hover:before {
            opacity: 0;
        }

        .s-fs-tree:before {
            display: none;
        }
    }
}
