/**
 * @name        var-name
 * @namespace     sugar.scss.core.var
 * @type          Function
 *
 * This function simply take a variable name (or doted path) and generate the sugar scope name for it
 *
 * @param     {String}      $name        The variable name to set
 * @return    {String}                   The setted variable name
 *
 * @example       scss
 * Sugar.var-name(my-cool-variable, ());
 *
 * @since       2.0.0
 * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
 */
@function var-name($name) {

  $name: str-replace($name, '--', '');
  $name: str_replace($name, 'sugar-', '');
  $name: str_replace($name, '.', '-');
  $name: '--sugar-#{$name}';
  @return $name;

}
