sherlock-spaces {
    display: flex;
    flex-direction: column;
}

.sh-spaces {
    display: flex;
    flex-direction: column;
    gap: s.margin(30);
    flex-grow: 1;
    width: 100px;
    margin-bottom: -20px;
    background: s.color(main, background, --darken 5% --alpha 0.6);
    backdrop-filter: blur(10px);
    padding: s.padding(30);
    padding-top: s.padding(50);

    ._space {
        position: relative;
        overflow: hidden;
        aspect-ratio: 1;
        width: 100%;
        border-radius: 50%;
        cursor: pointer;
        @s.transition fast;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 3px solid s.color(accent, --alpha 0);
            border-radius: 50%;
            @s.transition fast;
        }

        &:hover {
            &:after {
                border-color: s.color(accent, --alpha 0.5);
            }
        }
        &.active {
            &:after {
                border-color: s.color(accent, --alpha 1);
            }
        }
    }
    ._figure {
        position: relative;
        width: 100%;
        height: 100%;

        ._media {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        ._caption {
            display: none;
        }

        ._icon {
            position: absolute;
            z-index: 10;
            font-size: s.font.size(50);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;

            [fill] {
                fill: white;
            }
        }

        &:has(._icon) {
            &:before {
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: s.color(complementary, --alpha 0.5);
            }
        }
    }
}
