@use '@coffeekraken/sugar/index' as sugar;

/**
 * @name 				classes
 * @namespace 		scrollbar-webcomponent
 * @type 				Mixin
 *
 * Print out the scrollbar css bare and style
 * - ck-scrollbar
 * - ck-scrollbar[color="{color}]
 *
 * @param 		{List<Color>} 		[$colors=default primary secondary] 		The colors to generate
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin classes(
	$colors : default primary secondary
) {
	@include classes-bare();
	@if $colors {
		@include classes-style($colors);
	}
}

/**
 * @name 				classes-bare
 * @namespace 		scrollbar-webcomponent
 * @type 				Mixin
 *
 * Print out the scrollbar css bare
 *
 * - ck-scrollbar
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin classes-bare() {
	ck-scrollbar .simplebar-track {
		width:4px;
	}
	ck-scrollbar .simplebar-scrollbar {
		width:4px;
		right: 0px;
		min-height: 10px;
	}
}

/**
 * @name 				classes-style
 * @namespace 		scrollbar-webcomponent
 * @type 				Mixin
 *
 * Print out the scrollbar css style
 *
 * - ck-scrollbar
 * - ck-scrollbar[color="{color}]
 *
 * @param 		{List<Color>} 		[$colors=default primary secondary] 		The colors to generate
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com>
 */
@mixin classes-style(
	$colors : default primary secondary
) {
	@each $color in $colors {
		$sel : 'ck-scrollbar[color="#{$color}"]';
		@if $color == default {
			$sel : "ck-scrollbar";
		}

		@if $color != default {
			/**
			 * @name 		 	<span class="c-#{$color}">#{$color}</span> Scrollbar
			 *
			 * Provide a way to display a nice #{$color} custom-scrollbar
			 *
			 * @styleguide  	Atoms / Scrollbar
			 *
			 * @example 		html
			 * <ck-scrollbar color="#{$color}" style="height:300px;">
			 * 	<p>Duis volutpat vehicula aliquam. Praesent aliquet ac orci et vehicula. Fusce pharetra eleifend orci, vulputate consectetur risus vehicula vitae. Pellentesque sed mauris id elit semper interdum. Pellentesque dictum sollicitudin risus tincidunt consectetur. Fusce imperdiet nec purus eu eleifend. Ut feugiat ultricies finibus. In eu enim eget libero aliquet venenatis. Praesent gravida ligula id mauris cursus mollis. Aenean lacinia ullamcorper tincidunt. Sed posuere ultrices tortor, sit amet convallis leo rutrum non.</p>
			 * 	<p>Duis volutpat vehicula aliquam. Praesent aliquet ac orci et vehicula. Fusce pharetra eleifend orci, vulputate consectetur risus vehicula vitae. Pellentesque sed mauris id elit semper interdum. Pellentesque dictum sollicitudin risus tincidunt consectetur. Fusce imperdiet nec purus eu eleifend. Ut feugiat ultricies finibus. In eu enim eget libero aliquet venenatis. Praesent gravida ligula id mauris cursus mollis. Aenean lacinia ullamcorper tincidunt. Sed posuere ultrices tortor, sit amet convallis leo rutrum non.</p>
			 * 	<p>Duis volutpat vehicula aliquam. Praesent aliquet ac orci et vehicula. Fusce pharetra eleifend orci, vulputate consectetur risus vehicula vitae. Pellentesque sed mauris id elit semper interdum. Pellentesque dictum sollicitudin risus tincidunt consectetur. Fusce imperdiet nec purus eu eleifend. Ut feugiat ultricies finibus. In eu enim eget libero aliquet venenatis. Praesent gravida ligula id mauris cursus mollis. Aenean lacinia ullamcorper tincidunt. Sed posuere ultrices tortor, sit amet convallis leo rutrum non.</p>
			 * 	<p>Duis volutpat vehicula aliquam. Praesent aliquet ac orci et vehicula. Fusce pharetra eleifend orci, vulputate consectetur risus vehicula vitae. Pellentesque sed mauris id elit semper interdum. Pellentesque dictum sollicitudin risus tincidunt consectetur. Fusce imperdiet nec purus eu eleifend. Ut feugiat ultricies finibus. In eu enim eget libero aliquet venenatis. Praesent gravida ligula id mauris cursus mollis. Aenean lacinia ullamcorper tincidunt. Sed posuere ultrices tortor, sit amet convallis leo rutrum non.</p>
			 * 	<p>Duis volutpat vehicula aliquam. Praesent aliquet ac orci et vehicula. Fusce pharetra eleifend orci, vulputate consectetur risus vehicula vitae. Pellentesque sed mauris id elit semper interdum. Pellentesque dictum sollicitudin risus tincidunt consectetur. Fusce imperdiet nec purus eu eleifend. Ut feugiat ultricies finibus. In eu enim eget libero aliquet venenatis. Praesent gravida ligula id mauris cursus mollis. Aenean lacinia ullamcorper tincidunt. Sed posuere ultrices tortor, sit amet convallis leo rutrum non.</p>
			 * 	<p>Duis volutpat vehicula aliquam. Praesent aliquet ac orci et vehicula. Fusce pharetra eleifend orci, vulputate consectetur risus vehicula vitae. Pellentesque sed mauris id elit semper interdum. Pellentesque dictum sollicitudin risus tincidunt consectetur. Fusce imperdiet nec purus eu eleifend. Ut feugiat ultricies finibus. In eu enim eget libero aliquet venenatis. Praesent gravida ligula id mauris cursus mollis. Aenean lacinia ullamcorper tincidunt. Sed posuere ultrices tortor, sit amet convallis leo rutrum non.</p>
			 * </ck-scrollbar>
			 *
			 * @author 			Olivier Bossel <olivier.bossel@gmail.com>
			 */
		}
		#{$sel} {
			.simplebar-scrollbar {
				background-color: sugar.color($color) !important;
			}
		}
	}
}
