.s-section-push-block {
    position: relative;
    padding: s.padding(90);

    @s.media mobile {
        padding-inline: s.padding(30);
    }

    ._bkg {
        pointer-events: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100vw;
        transform: translate(-50%, -50%);

        img {
            display: none;
            object-fit: cover;
            width: 100%;
            height: 100%;
        }

        @s.media mobile {
            display: none;
        }

        @s.lod (2) {
            display: block;
        }
    }

    ._layout {
        @s.layout ('1 2');
        position: relative;
        z-index: 10;
        align-items: center;

        @s.media mobile {
            @s.layout ('2 _ 1');
            padding-block: s.padding(100);
            gap: s.margin(50);
        }
    }
}
