.footer {
    position: relative;
    z-index: 20;

    a {
        @s.focus.outline accent;
    }

    @s.media mobile {
        padding-block: s.padding(30);
    }

    ._main {
        padding: s.padding(50) s.padding(50);
        background: s.color(main, background, --darken 5);
        @s.border.radius (40);

        svg {
            width: 200px;
            margin-block-end: s.margin(30);
        }
    }

    @s.theme (dark) {
        svg [fill='white'] {
            fill: s.color(main, text);
        }
        svg [fill='black'] {
            fill: s.color(accent);
        }
    }

    ._columns {
        display: flex;
        justify-content: space-between;
        margin-block-start: 35px;

        @s.media mobile {
            flex-wrap: wrap;
            display: none;

            > div {
                width: 100%;
                margin-block-start: s.margin(30);
            }
        }
    }

    ._collab {
        background: s.color(main, background);
        padding-block: s.margin(50);
        overflow: hidden;
        position: relative;

        @s.wireframe {
            @s.wireframe.border;
        }

        @s.media mobile {
            display: none;
        }
        @s.media tablet {
            padding-inline: s.padding(50);
        }

        ._bkg svg {
            height: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(400px) translateY(-50%);
            opacity: 0.05;
        }

        ._join {
            flex-grow: 1;
            text-align: right;
            margin-inline-end: 0 !important;
        }

        .s-container {
            display: flex;
            align-items: center;
            /* gap: s.margin(50); */

            > * {
                margin-inline-end: s.margin(50);
            }
        }

        svg {
            width: auto;
            height: 25px;
        }
    }
}
