.footer {
    position: relative;
    z-index: 20;
    margin-block-end: s.margin(50);

    a {
        @s.focus.outline accent;
    }

    @s.media mobile {
        padding-block: s.padding(30);
        padding-inline: s.padding(30);
    }

    ._main {
        padding: s.padding(50) s.padding(50);
        background: s.color(main, background, --darken 5);
        @s.border.radius (40);

        svg {
            width: 200px;
            margin-block-end: s.margin(30);
        }
    }

    svg [fill='white'] {
        fill: s.color(main, text);
    }
    svg [fill='black'] {
        fill: s.color(accent);
    }

    @s.theme (dark) {
        svg [fill='white'] {
            fill: s.color(main, text);
        }
        svg [fill='black'] {
            fill: s.color(accent);
        }
    }

    ._columns {
        display: flex;
        justify-content: space-between;
        margin-block-start: 35px;
        padding-inline-start: s.margin(70);
        @s.layout '1 2';

        @s.media mobile {
            padding-inline-start: 0;
            @s.layout '1 _ 2';
        }

        /* @s.media mobile {
            flex-wrap: wrap;
            display: none;

            > div {
                width: 100%;
                margin-block-start: s.margin(30);
            }
        } */
    }
}
