.tools {
    position: fixed;
    top: 70%;
    right: 0;
    z-index: 100;
    transform: translate(0, -50%);

    @sugar.media mobile {
        display: none;
    }

    > * {
        display: block !important;
        margin-block: sugar.margin(20);
        margin-inline-end: sugar.margin(20);
    }

    .tools_opensource > .s-btn {
        color: sugar.color(main, text) !important;
    }

    .s-tooltip {
        width: 400px;
        padding: sugar.padding(50);
        background-color: sugar.color(main, surface);
        background-position: 50% 50%;
        background-size: cover;
        @sugar.depth (10);

        &:after {
            border-color: sugar.color(main, surface) transparent transparent
                transparent;
        }

        .s-floating_arrow {
            background: sugar.color(main, surface);
        }
    }
}
