@mixin init-body() {
  // default color and stuffs on the body
  body {
    font-size: str-unquote("#{setting('fonts.defaultFontSize')}px");
    font-family: font-family(setting('fonts.defaultFontFamily'));
    color: color(text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
