@mixin classes-helper-block() {
  @if class-match-namespace('sugar.helper.block.align.center') {
    /**
      * @name 		#{sel(block-center)}
      * @namespace           scss.core.class.helper
      * @class-namespace     sugar.helper.block.align.center
      * @type        class
      *
      * Set the element to as ```display:block``` and center it
      *
      * @example 	html
      * <div class="#{sel(block-center)} #{sel(bg-primary)}" style="width:100px;">
      * 	I'm a centered block
      * </div>
      *
      * @since       1.0.0
      * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
      */
    .#{sel(block-center)} {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
