@mixin classes-helper-display() {

  @if class-match-namespace("sugar.helper.display.block") {
    /**
    * @name 		s-block
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.block
    * @type        class
    *
    * Display the element as ```block```
    *
    * @example 	html
    * <div class="s-block">
    * 	I'm displayed as block
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .s-block {
      display: block;
    }
  }
  @if class-match-namespace("sugar.helper.display.inline") {
    /**
    * @name 		s-inline
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.inline
    * @type        class
    *
    * Display the element as ```inline```
    *
    * @example 	html
    * <div class="s-inline">
    * 	I'm displayed as inline
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .s-inline {
     display: inline;
    }
  }
  @if class-match-namespace("sugar.helper.display.inline-block") {
    /**
    * @name 		s-inline-block
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.inline-block
    * @type        class
    *
    * Display the element as ```inline-block```
    *
    * @example 	html
    * <div class="s-inline-block">
    * 	I'm displayed as inline-block
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .s-inline-block {
      display: inline-block;
    }
  }
  @if class-match-namespace("sugar.helper.display.show") {
    /**
    * @name 		s-show
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.show
    * @type        class
    *
    * Display the element as ```block```
    *
    * @example 	html
    * <div class="s-show">
    * 	I'm displayed
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .s-show {
      display: block;
    }
  }
  @if class-match-namespace("sugar.helper.display.show-inline") {
    /**
    * @name 		s-show-inline
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.show-inline
    * @type        class
    *
    * Display the element as ```inline-block```
    *
    * @example 	html
    * <div class="s-show-inline">
    * 	I'm inline displayed
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .s-show-inline {
      display: inline-block;
    }
  }
  @if class-match-namespace("sugar.helper.display.hidden") {
    /**
    * @name 		s-hidden
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.hidden
    * @type        class
    *
    * Hide the element by setting the display to ```none```
    *
    * @example 	html
    * <div class="s-hidden">
    * 	I'm hidden
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .s-hidden {
      display: none;
    }
  }
  @if class-match-namespace("sugar.helper.display.hide") {
    /**
    * @name 		s-hide
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.hide
    * @type        class
    *
    * Hide the element by setting the display to ```none```
    *
    * @example 	html
    * <div class="s-hide">
    * 	I'm hidden
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .s-hide {
      display: none;
    }
  }
  @if class-match-namespace("sugar.helper.display.visible") {
    /**
    * @name 		s-visible
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.visible
    * @type        class
    *
    * Display the element by setting the visibility to ```visible```
    *
    * @example 	html
    * <div class="s-visible">
    * 	I'm visible
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .s-visible {
      visibility: visible;
    }
  }
  @if class-match-namespace("sugar.helper.display.invisible") {
    /**
    * @name 		s-invisible
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.invisible
    * @type        class
    *
    * Display the element by setting the visibility to ```hidden```
    *
    * @example 	html
    * <div class="s-invisible">
    * 	I'm invisible
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .s-invisible {
      visibility: hidden;
    }
  }
  @if class-match-namespace(
    "sugar.helper.display.visually-hidden"
  ) {
    /**
    * @name 		s-visually-hidden
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.visually-hidden
    * @type        class
    *
    * Hide the element from display but not for SEO.
    * This class use some tricks to make the element dissapear without using some ```display:none;```, etc...
    *
    * @example 	html
    * <div class="s-visually-hidden">
    * 	I'm only visually hidden
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .s-visually-hidden {
     @include visually-hidden();
    }
  }
}
