@mixin classes-helper-margin() {

  @if class-match-namespace('sugar.helper.margin') {

    $sizes: setting("sizes");
    @each $name, $size in $sizes {

      @if class-match-namespace("sugar.helper.margin.#{$name}") {
        $cname: selector("s-m-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.margin.#{$name}
          * @type        class
          *
          * Set the **margins** to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        #{$cname} {
          margin: space($name);
        }
      }

      @if class-match-namespace("sugar.helper.margin.bottom.#{$name}") {
        $cname: selector("s-mb-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.margin.bottom.#{$name}
          * @type        class
          *
          * Set the **bottom** margin to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        #{$cname} {
          margin-bottom: space($name);
        }
      }

      @if class-match-namespace("sugar.helper.margin.top.#{$name}") {
        $cname: selector("s-mt-#{$name}");
        /**
          * @name          #{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.margin.top.#{$name}
          * @type        class
          *
          * Set the **top** margin to the **#{$size}** size
          *
          * @example 	html
          * <div style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div class="#{$cname}" style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        #{$cname} {
          margin-top: space($name);
        }
      }

      @if class-match-namespace("sugar.helper.margin.left.#{$name}") {
        $cname: selector("s-ml-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.margin.left.#{$name}
          * @type        class
          *
          * Set the **left** margin to the **#{$size}** size
          *
          * @example 	html
          * <div style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div class="#{$cname}" style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        #{$cname} {
          margin-left: space($name);
        }
      }

      @if class-match-namespace("sugar.helper.margin.right.#{$name}") {
        $cname: selector("s-mr-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.margin.right.#{$name}
          * @type        class
          *
          * Set the **right* margin to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        #{$cname} {
          margin-right: space($name);
        }
      }

      @if class-match-namespace("sugar.helper.margin.side.#{$name}") {
        $cname: selector("s-ms-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.margin.side.#{$name}
          * @type        class
          *
          * Set the **side** margin to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        #{$cname} {
          margin-left: space($name);
          margin-right: space($name);
        }
      }


      @if class-match-namespace("sugar.helper.margin.y.#{$name}") {
        $cname: selector("s-my-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.margin.y.#{$name}
          * @type        class
          *
          * Set the **top** and **bottom** margins to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        #{$cname} {
          margin-top: space($name);
          margin-bottom: space($name);
        }
      }

    }

    @if class-match-namespace("sugar.helper.margin.no") {
      /**
      * @name       	s-no-m
      * @namespace       scss.core.class
      * @class-namespace           sugar.helper.margin.no
      * @type        class
      *
      * Reset all margins
      *
      * @example 	html
      * <div class="s-no-m" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
      *
      * @since       1.0.0
      * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
      */
      .s-no-m {
        margin: 0 !important;
      }
    }

    @if class-match-namespace("sugar.helper.margin.no.top") {
      /**
      * @name       	s-no-mt
      * @namespace       scss.core.class
      * @class-namespace           sugar.helper.margin.no.top
      * @type        class
      *
      * Reset **top** margin
      *
      * @example 	html
      * <div class="s-no-m-t" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
      *
      * @since       1.0.0
      * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
      */
      .s-no-mt {
        margin-top: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.margin.no.right") {
      /**
        * @name       	s-no-mr
        * @namespace       scss.core.class
        * @class-namespace           sugar.helper.margin.no.right
        * @type        class
        *
        * Reset **right** margin
        *
        * @example 	html
        * <div class="s-no-m-r" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .s-no-mr {
        margin-right: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.margin.no.bottom") {
      /**
        * @name       	s-no-mb
        * @namespace       scss.core.class
        * @class-namespace           sugar.helper.margin.no.bottom
        * @type        class
        *
        * Reset **bottom** margin
        *
        * @example 	html
        * <div class="s-no-m-b" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .s-no-mb {
        margin-bottom: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.margin.no.left") {
      /**
        * @name       	s-no-ml
        * @namespace       scss.core.class
        * @class-namespace           sugar.helper.margin.no.left
        * @type        class
        *
        * Reset **left** margin
        *
        * @example 	html
        * <div class="s-no-m-l" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .s-no-ml {
        margin-left: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.margin.no.side") {
      /**
        * @name       	s-no-ms
        * @namespace       scss.core.class
        * @class-namespace           sugar.helper.margin.no.side
        * @type        class
        *
        * Reset **left** and **right** margins
        *
        * @example 	html
        * <div class="s-no-m-s" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .s-no-ms {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.margin.no.y") {
      /**
        * @name       	s-no-my
        * @namespace       scss.core.class
        * @class-namespace           sugar.helper.margin.no.y
        * @type        class
        *
        * Reset **top** and **bottom** margins
        *
        * @example 	html
        * <div class="s-no-m-y" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .s-no-my {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }


  }

}
