@mixin classes-helper-media() {

  @if class-match-namespace("sugar.helper.media.object") {
    /**
    * @name 		#{sel(mo)} #{sel(mo--center)} #{sel(mo__content)}
    * @namespace         sugar.scss.core.class.helper
    * @class-namespace     sugar.helper.media.object
    * @type        class
    *
    * Famous media object class
    *
    * @example 	html
    * <div class="#{sel(mo)}">
    *   <div class="#{sel(mo__content)}">
    *     <img src="https://source.unsplash.com/random/100x100" />
    *   </div>
    *   <div class="#{sel(mo__content)}">
    *     <h2 class="#{sel(h3)}">Hello World</h2>
    *     <p class="#{sel(p)}">Phasellus fringilla aliquet justo eget pulvinar. Donec in justo leo.</p>
    *   </div>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(mo)} {
      display: flex;
      flex-wrap: nowrap;

      @at-root {
        .#{sel(mo--center)} {
          align-items: center;
        }
        .#{sel(mo--end)} {
          align-items: flex-end;
        }
        .#{sel(mo__content)} {
          flex: 0 1 auto;
        }
      }
    }
  }

}
