@mixin classes-helper-padding() {

  @if class-match-namespace('sugar.helper.padding') {

    $sizes: setting("sizes");
    @each $name, $size in $sizes {

      @if class-match-namespace("sugar.helper.padding.#{$name}") {
        $cname: sel("p-#{$name}");
        /**
          * @name        #{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.padding.#{$name}
          * @type        class
          *
          * Set the paddings to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="border:1px solid #{color(primary)}; width:150px; height:150px;">
          * 	<div style="background:#{color(secondary)}; width:100%; height:100%"></div>
          * </div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          @if $name == "default" {
            &:not(p) {
              padding: space($name);
            }
          } @else {
            padding: space($name);
          }
        }
      }


      @if class-match-namespace("sugar.helper.padding.bottom.#{$name}") {
        $cname: sel("pb-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.padding.bottom.#{$name}
          * @type        class
          *
          * Set the **bottom** padding to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="border:1px solid #{color(primary)}; width:150px; height:150px;">
          * 	<div style="background:#{color(secondary)}; width:100%; height:100%"></div>
          * </div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          padding-bottom: space($name);
        }
      }


      @if class-match-namespace("sugar.helper.padding.top.#{$name}") {
        $cname: sel("pt-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.padding.top.#{$name}
          * @type        class
          *
          * Set the **top** padding to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="border:1px solid #{color(primary)}; width:150px; height:150px;">
          * 	<div style="background:#{color(secondary)}; width:100%; height:100%"></div>
          * </div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
       .#{$cname} {
          padding-top: space($name);
        }
      }


      @if class-match-namespace("sugar.helper.padding.left.#{$name}") {
        $cname: sel("pl-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.padding.left.#{$name}
          * @type        class
          *
          * Set the **left** padding  to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="border:1px solid #{color(primary)}; width:150px; height:150px;">
          * 	<div style="background:#{color(secondary)}; width:100%; height:100%"></div>
          * </div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          padding-left: space($name);
        }
      }


      @if class-match-namespace("sugar.helper.padding.right.#{$name}") {
        $cname: sel("pr-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.padding.right.#{$name}
          * @type        class
          *
          * Set the **right** padding  to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="border:1px solid #{color(primary)}; width:150px; height:150px;">
          * 	<div style="background:#{color(secondary)}; width:100%; height:100%"></div>
          * </div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          padding-right: space($name);
        }
      }


      @if class-match-namespace("sugar.helper.padding.side.#{$name}") {
        $cname: sel("ps-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.padding.side.#{$name}
          * @type        class
          *
          * Set the **side** padding  to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="border:1px solid #{color(primary)}; width:150px; height:150px;">
          * 	<div style="background:#{color(secondary)}; width:100%; height:100%"></div>
          * </div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          padding-left: space($name);
          padding-right: space($name);
        }
      }


      @if class-match-namespace("sugar.helper.padding.y.#{$name}") {
        $cname: sel("py-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.padding.y.#{$name}
          * @type        class
          *
          * Set the **top and bottom** padding to the **#{$size}**
          *
          * @example 	html
          * <div class="#{$cname}" style="border:1px solid #{color(primary)}; width:150px; height:150px;">
          * 	<div style="background:#{color(secondary)}; width:100%; height:100%"></div>
          * </div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          padding-top: space($name);
          padding-bottom: space($name);
        }
      }


    }

    @if class-match-namespace("sugar.helper.padding.no.top") {
      /**
      * @name       	#{sel(no-pt)}
      * @namespace       scss.core.class
      * @class-namespace           sugar.helper.padding.no.top
      * @type        class
      *
      * Reset **top** padding
      *
      * @example 	html
      * <div class="#{sel(no-pt)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
      *
      * @since       1.0.0
      * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
      */
      .#{sel(no-pt)} {
        padding-top: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.padding.no.right") {
      /**
        * @name       	#{sel(no-pr)}
        * @namespace       scss.core.class
        * @class-namespace           sugar.helper.padding.no.right
        * @type        class
        *
        * Reset **right** padding
        *
        * @example 	html
        * <div class="#{sel(no-pr)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-pr)} {
        padding-right: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.padding.no.bottom") {
      /**
        * @name       	#{sel(no-pb)}
        * @namespace       scss.core.class
        * @class-namespace           sugar.helper.padding.no.bottom
        * @type        class
        *
        * Reset **bottom** padding
        *
        * @example 	html
        * <div class="#{sel(no-pb)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-pb)} {
        padding-bottom: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.padding.no.left") {
      /**
        * @name       	#{sel(no-pl)}
        * @namespace       scss.core.class
        * @class-namespace           sugar.helper.padding.no.left
        * @type        class
        *
        * Reset **left** padding
        *
        * @example 	html
        * <div class="#{sel(no-pl)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-pl)} {
        padding-left: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.padding.no.side") {
      /**
        * @name       	#{sel(no-ps)}
        * @namespace       scss.core.class
        * @class-namespace           sugar.helper.padding.no.side
        * @type        class
        *
        * Reset **left** and **right** paddings
        *
        * @example 	html
        * <div class="#{sel(no-ps)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-ps)} {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.padding.no.y") {
      /**
        * @name       	#{sel(no-py)}
        * @namespace       scss.core.class
        * @class-namespace           sugar.helper.padding.no.y
        * @type        class
        *
        * Reset **top** and **bottom** paddings
        *
        * @example 	html
        * <div class="#{sel(no-py)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-py)} {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
      }
    }


  }

}
