@mixin classes-helper-text() {

  @if class-match-namespace('sugar.helper.size') {
    @each $size, $value in setting("sizes") {
      @if class-match-namespace("sugar.helper.text.#{$size}") {
        /**
          * @name       	#{sel(t-#{$size})}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.text.#{$size}
          * @type        class
          *
          * Set the size **#{$size}** relative to the root element
          *
          * @example 	html
          * <div class="#{sel(t-#{$size})}">
          * 	I have the size "#{$size}" defined
          * </div>
          *
          * @since       2.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{sel('#{$size}')} {
          font-size: to-rem($value);
        }
      }


      @if class-match-namespace("sugar.helper.text.rel.#{$size}") {
        /**
          * @name       	#{sel(t-#{$size}-rel)}
          * @namespace       scss.core.class
          * @class-namespace           sugar.helper.text.rel.#{$size}
          * @type        class
          *
          * Set the size **#{$size}** relative to my parent
          *
          * @example 	html
          * <div class="#{sel(t-#{$size}-rel)}">
          * 	I have the size "#{$size}" defined relative to my parent
          * </div>
          *
          * @since       2.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{sel('t-#{$size}-rel')} {
          font-size: to-em($value);
        }
      }
    }
  }



  @if class-match-namespace("sugar.helper.text.hidden") {
    /**
    * @name 		#{sel(t-hidden)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.hidden
    * @type        class
    *
    * Hide the text
    *
    * @example 	html
    * <div class="#{sel(t-hidden)}">
    * 	I'm not visible
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-hidden)} {
      @include text-hide();
    }
  }
  @if class-match-namespace("sugar.helper.text.truncate") {
    /**
    * @name 		#{sel(t-truncate)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.truncate
    * @type        class
    *
    * Hide the text
    *
    * @example 	html
    * <div class="#{sel(t-truncate)}">
    * 	I'm truncated cause I talk a lot too much Nulla mauris eros, finibus ac faucibus et, tempus quis risus. Praesent sit amet nulla vel libero euismod sodales eu nec.
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-truncate)} {
      @include text-truncate();
    }
  }
  @if class-match-namespace("sugar.helper.text.align.left") {
    /**
    * @name 		#{sel(t-left)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.align.left
    * @type        class
    *
    * Align the text to the left
    *
    * @example 	html
    * <div class="#{sel(t-left)}">
    * 	I'm left aligned
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-left)} {
      text-align: left;
    }
  }
  @if class-match-namespace("sugar.helper.text.align.right") {
    /**
    * @name 		#{sel(t-right)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.align.right
    * @type        class
    *
    * Align the text to the right
    *
    * @example 	html
    * <div class="#{sel(t-right)}">
    * 	I'm right aligned
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-right)} {
      text-align: right;
    }
  }
  @if class-match-namespace("sugar.helper.text.align.center") {
    /**
    * @name 		#{sel(t-center)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.align.center
    * @type        class
    *
    * Align the text to the center
    *
    * @example 	html
    * <div class="#{sel(t-center)}">
    * 	I'm centered
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-center)} {
       text-align: center;
    }
  }
  @if class-match-namespace("sugar.helper.text.align.justify") {
    /**
    * @name 		#{sel(t-justify)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.align.justify
    * @type        class
    *
    * Make the text justified
    *
    * @example 	html
    * <div class="#{sel(t-justify)}">
    * 	Nullam vel feugiat nunc. Phasellus facilisis, nisi sit amet viverra rhoncus, arcu risus volutpat dolor, sed euismod magna tellus ac purus. Praesent augue lorem, ullamcorper ac accumsan nec, suscipit eu.
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-justify)} {
      text-align: justify;
    }
  }
  @if class-match-namespace(
    "sugar.helper.text.transform.lowercase"
  ) {
    /**
    * @name 		#{sel(t-lowercase)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.transform.lowercase
    * @type        class
    *
    * Transform the text to lowercase
    *
    * @example 	html
    * <div class="#{sel(t-lowercase)}">
    * 	I'M LOWERCASE
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-lowercase)} {
      text-transform: lowercase;
    }
  }
  @if class-match-namespace(
    "sugar.helper.text.transform.uppercase"
  ) {
    /**
    * @name 		#{sel(t-uppercase)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.transform.uppercase
    * @type        class
    *
    * Transform the text to uppercase
    *
    * @example 	html
    * <div class="#{sel(t-uppercase)}">
    * 	I'm uppercase
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-uppercase)} {
      text-transform: uppercase;
    }
  }
  @if class-match-namespace(
    "sugar.helper.text.transform.capitalize"
  ) {
    /**
    * @name 		#{sel(t-capitalize)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.transform.capitalize
    * @type        class
    *
    * Capizalize the words
    *
    * @example 	html
    * <div class="#{sel(t-capitalize)}">
    * 	I'm capitalized
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-capitalize)} {
      text-transform: capitalize;
    }
  }


  @if class-match-namespace(
    "sugar.helper.text.weight.bold"
  ) {
    /**
    * @name 		#{sel(t-bold)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.weight.bold
    * @type        class
    *
    * Make the text bold
    *
    * @example 	html
    * <div class="#{sel(t-bold)}">
    * 	I'm bold
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-bold)} {
      font-weight: bold;
    }
  }


  @if class-match-namespace(
    "sugar.helper.text.weight.bolder"
  ) {
    /**
    * @name 		#{sel(t-bolder)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.weight.bolder
    * @type        class
    *
    * Make the text bolder
    *
    * @example 	html
    * <div class="#{sel(t-bolder)}">
    * 	I'm bolder
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-bolder)} {
      font-weight: bolder;
    }
  }


  @if class-match-namespace(
    "sugar.helper.text.weight.normal"
  ) {
    /**
    * @name 		#{sel(t-normal)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.weight.normal
    * @type        class
    *
    * Make the text normal
    *
    * @example 	html
    * <div class="#{sel(t-normal)}">
    * 	I'm normal
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-normal)} {
      font-weight: normal;
    }
  }


  @if class-match-namespace(
    "sugar.helper.text.weight.light"
  ) {
    /**
    * @name 		#{sel(t-light)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.weight.light
    * @type        class
    *
    * Make the text light
    *
    * @example 	html
    * <div class="#{sel(t-light)}">
    * 	I'm light
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-light)} {
      font-weight: 300;
    }
  }


  @if class-match-namespace(
    "sugar.helper.text.weight.lighter"
  ) {
    /**
    * @name 		#{sel(t-lighter)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.weight.lighter
    * @type        class
    *
    * Make the text lighter
    *
    * @example 	html
    * <div class="#{sel(t-lighter)}">
    * 	I'm lighter
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-lighter)} {
      font-weight: lighter;
    }
  }


  @if class-match-namespace(
    "sugar.helper.text.style.italic"
  ) {
    /**
    * @name 		#{sel(t-italic)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.style.italic
    * @type        class
    *
    * Make the text italic
    *
    * @example 	html
    * <div class="#{sel(t-italic)}">
    * 	I'm italic
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-italic)} {
      font-style: italic;
    }
  }



  $fonts: setting('fonts');
  @each $name, $value in $fonts {
    @if class-match-namespace(
      "sugar.helper.text.font.#{$name}"
    ) {
      /**
      * @name 		#{sel(t-#{$name})}
      * @namespace         scss.core.class.helper
      * @class-namespace     sugar.helper.text.font.#{$name}
      * @type        class
      *
      * Apply the font "#{$name}"
      *
      * @example 	html
      * <div class="#{sel(t-#{$name})}">
      * 	I'm "#{$name}"
      * </div>
      *
      * @since       2.0.0
      * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
      */
      .#{sel(t-#{$name})} {
        font-family: #{$name};
      }
    }
  }


  @if class-match-namespace(
    "sugar.helper.text.reset"
  ) {
    /**
    * @name 		#{sel(t-reset)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.reset
    * @type        class
    *
    * Reset the text (font-weight, family, color, etc...)
    *
    * @example 	html
    * <div class="#{sel(t-reset)}">
    * 	I'm reset
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-reset)} {
      vertical-align: baseline;
      font-weight: inherit;
      font-family: inherit;
      font-style: inherit;
      color: inherit;
      font-size: 100%;
      border: 0 none;
      outline: 0;
      padding: 0;
      margin: 0;
    }
  }


  @if class-match-namespace(
    "sugar.helper.decoration.none"
  ) {
    /**
    * @name 		#{sel(t-decoration-none)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.decoration.none
    * @type        class
    *
    * Remove the text decoration
    *
    * @example 	html
    * <div class="#{sel(t-decoration-none)}">
    * 	I don't have any decoration anymore
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-decoration-none)} {
      text-decoration: none;
    }
  }


  @if class-match-namespace(
    "sugar.helper.text.decoration.underline"
  ) {
    /**
    * @name 		#{sel(t-underline)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.decoration.underline
    * @type        class
    *
    * Apply the decoration underline
    *
    * @example 	html
    * <div class="#{sel(t-underline)}">
    * 	I have the decoration underline
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-underline)} {
      text-decoration: underline;
    }
  }


  @if class-match-namespace(
    "sugar.helper.text.decoration.line-through"
  ) {
    /**
    * @name 		#{sel(t-line-through)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.decoration.line-through
    * @type        class
    *
    * Apply the decoration line-through
    *
    * @example 	html
    * <div class="#{sel(t-line-through)}">
    * 	I have the decoration line-through
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-line-through)} {
      text-decoration: line-through;
    }
  }


  @if class-match-namespace(
    "sugar.helper.text.decoration.overline"
  ) {
    /**
    * @name 		#{sel(t-overline)}
    * @namespace         scss.core.class.helper
    * @class-namespace     sugar.helper.text.decoration.overline
    * @type        class
    *
    * Apply the decoration overline
    *
    * @example 	html
    * <div class="#{sel(t-overline)}">
    * 	I have the decoration overline
    * </div>
    *
    * @since       2.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-overline)} {
      text-decoration: overline;
    }
  }
}
