.examples {
    display: flex;

    @s.media <=tablet {
        flex-direction: column;
    }

    ._sidebar {
        width: 400px;
        flex-shrink: 0;
        @s.border.radius();

        @s.media <=tablet {
            display: flex;
            width: 100%;
            overflow-x: auto;
            @s.scrollbar;
        }

        a {
            display: block;
            padding: s.padding(30) s.padding(30);
            white-space: nowrap;
            @s.transition;
            @s.focus.outline (accent);

            &:hover {
            }
            &:active,
            &.active {
                color: s.color(accent);
            }

            i {
                margin-inline-end: s.margin(10);
            }
        }
    }

    ._content {
        flex-grow: 1;
    }

    ._code {
        display: none;

        &.active {
            display: block;
        }

        .s-code-example_tabs,
        .s-code-example_toolbar {
            display: none;
        }
    }
}
