.scroll-top {
    position: fixed;
    z-index: 20;
    bottom: 20px;
    right: 20px;
    background: s.color(main, surface);
    padding: s.padding(20) s.padding(30);
    font-size: s.font.size(50);
    @s.border.radius;
    opacity: 0;
    transform: translateY(50%);
    transition: s.transition(fast);
    poiner-events: none;

    .scrolled & {
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
    }

    @s.media <=tablet {
        display: none;
    }

    &:hover {
        background: s.color(main, surface, --lighten 10);
    }
}
