.s-hotkeys-list {
    &_list {
        display: flex;
        flex-direction: column;
        gap: s.margin(40);
    }
    &_list-item {
    }
    &_hotkey {
        margin-block-end: s.margin(30);
    }
    &_metas {
    }
    &_key {
        text-transform: uppercase;
        padding: s.padding(10) s.padding(20);
        margin-inline: s.margin(10);
        border: 1px solid s.color(accent);
        @s.border.radius;
    }
    &_title {
        color: s.color(accent, text);
        margin-block-end: s.margin(10);
    }
}
