.s-logo {
    &[fill='black'],
    *[fill='black'],
    &[stroke='black'],
    *[stroke='black'] {
        fill: s.color(main, --darken 10);
        stroke: s.color(main, --darken 10);

        @s.theme dark {
            fill: white;
            stroke: white;
        }
    }

    @s.wireframe {
        &,
        * {
            fill: #a4a4a4 !important;
        }
    }
}
