@use "sass:math";
/**
 * @name      math-odd
 * @namespace           scss.math
 * @type      function
 *
 * Convert the passed value to the closest odd value
 *
 * @param 			{Number} 		$value 		The value to convert
 * @return 			{Number} 					The closest odd converted value
 *
 * @example     scss
 * Sugar.math-odd(10); // => 9
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@function math-odd($value) {
  $dec: strip-units($value % 2);
  $value: math.round($value);
  @if strip-units($value) % 2 == 0 {
    @if $dec >= 1 {
      $value: $value + 1;
    } @else {
      $value: $value - 1;
    }
  }
  @return $value;
}
