/**
 * @name    math-convert-angle
 * @namespace           scss.math
 * @type      function
 *
 * Convert the passed angle into another unit like rad, deg, grad or turn
 *
 * @param           {Number}            $value          The angle value to convert
 * @param           {String}            $unit           The wanted unit. Can be rad, deg, grad or turn
 * @return          {Number}                            The converted angle value
 *
 * @example   scss
 * Sugar.math-convert-angle()
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@function math-convert-angle($value, $unit) {
  $value: test-argument(
    'Sugar.math-convert-angle',
    'value',
    number,
    $value
  );
  $unit: test-argument(
    'Sugar.math-convert-angle',
    'unit',
    (rad,deg,grad,turn),
    $unit
  );

  $factors: (
    rad: 1rad,
    deg: 180deg / $__math-pi,
    grad: 200grad / $__math-pi,
    turn: 0.5turn / $__math-pi
  );

  @if not is-unitless($value) {
    @warn '`#{$value}` should be unitless';
    @return false;
  }

  @if not map-has-key($factors, $unit) {
    @warn 'unit `#{$unit}` is not a valid unit - please make sure it is either `deg`, `rad`, `grad` or `turn`';
    @return false;
  }

  @return $value * map-get($factors, $unit);
}
