@use 'sass:math';
/**
 * @name      math-asin
 * @namespace           scss.math
 * @type      function
 *
 * Calculate the sinus inverse
 *
 * @param         {Number}        $value        The value to use
 * @param         {String}        [$unit=deg]   The unit wanted. Possible values are deg, rad, grad and turn
 * @return        {Number}                      The calculated asin
 *
 * @example     scss
 * Sugar.math-asin(1, rad); // => 1.5698197643rad
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@function math-asin($value, $unit: deg) {
  $value: test-argument(
    'Sugar.math-asin',
    'value',
    number,
    $value
  );
  $unit: test-argument(
    'Sugar.math-asin',
    'unit',
    (deg,rad,grad,turn),
    $unit
  );

  $threshold: $__math-default-threshold;
  $z: $value;
  $sum: 0;
  $complement: false;
  $sign: if($z != 0, $z/math.abs($z), 1);

  $z: math.abs($z);

  @if $z > 1 {
    @warn 'illegal `#{$z}` value for function';
    @return false;
  }

  @if $z > math-sin($__math-pi/4) {
    $complement: true;
    $z: math-sqrt(1 - math-pow($z, 2));
  }

  $term: $z;
  $i: 0;
  $k: 1;

  @while $term > $threshold {
    $sum: $sum + $term;

    $i: $i + 1;
    $k: $k * (2 * $i - 1)/ (2 * $i);
    $j: 2 * $i + 1;

    $term: $k * math-pow($z, $j) / $j;
  }

  @return math-convert-angle(
    $sign * (if($complement, $__math-pi/2 - $sum, $sum)),
    $unit
  );

}
