/* @sugar.partial (sidemenu) { */
.sidemenu {
    position: sticky;
    top: 80px;
    max-height: calc(100vh - 80px);
    background-image: linear-gradient(
        90deg,
        sugar.color(base, surface, --alpha 0),
        sugar.color(base, --alpha 0.05)
    );
    display: flex;
    flex-direction: column;
    padding: sugar.padding(50) 0 !important;
    margin: 0 !important;
    overflow: auto;
    @sugar.scrollbar();

    .sidemenu-main {
        flex-grow: 1;

        /* padding: sugar.padding(30); */
    }

    .sidemenu-sub {
        display: none;
    }

    [actual] {
        font-weight: bold;
        color: sugar.color(accent);
    }
}
