.footer {
    background: sugar.color(base, surface);
    padding-block: sugar.padding(60);

    .logo {
        width: 150px;
    }

    .s-layout {
        @sugar.layout ('1 2 2 2');
        gap: sugar.margin(50);
        align-items: center;

        @sugar.media <=mobile {
            padding-inline: sugar.padding(30);
            @sugar.layout ('1 _ 2');
        }
    }

    .s-menu__inner {
        display: flex;
        justify-content: flex-end;
        gap: sugar.margin(50);

        @sugar.media <=mobile {
            flex-direction: column;
        }
    }

    .s-menu__link {
        display: block;
        padding: sugar.padding(30) sugar.padding(50);
        border: 1px solid sugar.color(accent);
        border-radius: 999px;
        font-size: sugar.font.size(40);
        white-space: nowrap;
        @sugar.transition (fast);

        i {
            color: sugar.color(accent);
            margin-inline-end: sugar.margin(20);
            @sugar.transition (fast);
        }

        &:hover {
            background: sugar.color(accent);

            &,
            i {
                color: sugar.color(accent, foreground);
            }
        }
    }
}
