@mixin classes-helper-clear() {
  @if class-match-namespace('sugar.helper.clear.left') {
    /**
    * @name 		#{sel(clear-left)}
    * @namespace       sugar.scss.helper.class
    * @class-namespace     sugar.helper.clear.left
    * @type        class
    *
    * Clear the left float on the element
    *
    * @example 	html
    * <div class="#{sel(clear-left)}">
    * 	I clear the left float
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(clear-left)} {
      clear: left;
    }
  }
  @if class-match-namespace('sugar.helper.clear.right') {
    /**
    * @name 		#{sel(clear-right)}
    * @namespace       sugar.scss.helper.class
    * @class-namespace     sugar.helper.clear.right
    * @type        class
    *
    * Clear the right float on the element
    *
    * @example 	html
    * <div class="#{sel(clear-right)}">
    * 	I clear the right float
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(clear-right)} {
      clear: right;
    }
  }

  @if class-match-namespace('sugar.helper.clear.both') {
    /**
    * @name 		#{sel(clear)}
    * @namespace       sugar.scss.helper.class
    * @class-namespace     sugar.helper.clear.both
    * @type        class
    *
    * Clear both float on the element
    *
    * @example 	html
    * <div class="#{sel(clear)}">
    * 	I clear both floats
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(clear)} {
      clear: both;
    }
  }
}
