@mixin classes-helper-margin() {

  @if class-match-namespace('sugar.helper.margin') {

    $sizes: setting("sizes");
    @each $name, $size in $sizes {

      @if class-match-namespace("sugar.helper.margin.#{$name}") {
        $cname: selector("m-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.#{$name}
          * @type        class
          *
          * Set the **margins** to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin: space($name);
        }
      }

      @if class-match-namespace("sugar.helper.margin.bottom.#{$name}") {
        $cname: selector("mb-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.bottom.#{$name}
          * @type        class
          *
          * Set the **bottom** margin to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-bottom: space($name);
        }
      }

      @if class-match-namespace("sugar.helper.margin.top.#{$name}") {
        $cname: selector("mt-#{$name}");
        /**
          * @name          #{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.top.#{$name}
          * @type        class
          *
          * Set the **top** margin to the **#{$size}** size
          *
          * @example 	html
          * <div style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div class="#{$cname}" style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-top: space($name);
        }
      }

      @if class-match-namespace("sugar.helper.margin.left.#{$name}") {
        $cname: selector("ml-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.left.#{$name}
          * @type        class
          *
          * Set the **left** margin to the **#{$size}** size
          *
          * @example 	html
          * <div style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div class="#{$cname}" style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-left: space($name);
        }
      }

      @if class-match-namespace("sugar.helper.margin.right.#{$name}") {
        $cname: selector("mr-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.right.#{$name}
          * @type        class
          *
          * Set the **right* margin to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-right: space($name);
        }
      }

      @if class-match-namespace("sugar.helper.margin.side.#{$name}") {
        $cname: selector("ms-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.side.#{$name}
          * @type        class
          *
          * Set the **side** margin to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-left: space($name);
          margin-right: space($name);
        }
      }


      @if class-match-namespace("sugar.helper.margin.y.#{$name}") {
        $cname: selector("my-#{$name}");
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.y.#{$name}
          * @type        class
          *
          * Set the **top** and **bottom** margins to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-top: space($name);
          margin-bottom: space($name);
        }
      }

    }

    @if class-match-namespace("sugar.helper.margin.no") {
      /**
      * @name       	#{sel(no-m)}
      * @namespace       sugar.scss.core.class
      * @class-namespace           sugar.helper.margin.no
      * @type        class
      *
      * Reset all margins
      *
      * @example 	html
      * <div class="#{sel(no-m)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
      *
      * @since       1.0.0
      * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
      */
      .#{sel(no-m)} {
        margin: 0 !important;
      }
    }

    @if class-match-namespace("sugar.helper.margin.no.top") {
      /**
      * @name       	#{sel(no-mt)}
      * @namespace       sugar.scss.core.class
      * @class-namespace           sugar.helper.margin.no.top
      * @type        class
      *
      * Reset **top** margin
      *
      * @example 	html
      * <div class="#{sel(no-mt)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
      *
      * @since       1.0.0
      * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
      */
      .#{sel(no-mt)} {
        margin-top: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.margin.no.right") {
      /**
        * @name       	#{sel(no-mr)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.right
        * @type        class
        *
        * Reset **right** margin
        *
        * @example 	html
        * <div class="#{sel(no-mr)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-mr)} {
        margin-right: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.margin.no.bottom") {
      /**
        * @name       	#{sel(no-mb)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.bottom
        * @type        class
        *
        * Reset **bottom** margin
        *
        * @example 	html
        * <div class="#{sel(no-mb)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-mb)} {
        margin-bottom: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.margin.no.left") {
      /**
        * @name       	#{sel(no-ml)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.left
        * @type        class
        *
        * Reset **left** margin
        *
        * @example 	html
        * <div class="#{sel(no-ml)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-ml)} {
        margin-left: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.margin.no.side") {
      /**
        * @name       	#{sel(no-ms)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.side
        * @type        class
        *
        * Reset **left** and **right** margins
        *
        * @example 	html
        * <div class="#{sel(no-ms)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-ms)} {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }


    @if class-match-namespace("sugar.helper.margin.no.y") {
      /**
        * @name       	#{sel(no-my)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.y
        * @type        class
        *
        * Reset **top** and **bottom** margins
        *
        * @example 	html
        * <div class="#{sel(no-my)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-my)} {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }


  }

}
