@mixin helper-pull-classes() {
  @if class-match-namespace('sugar.helper.pull.left') {
    /**
    * @name 		#{sel(pull-left)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.pull.left
    * @type        class
    *
    * Allows you to pull an element to the left side
    *
    * @example 	html
    * <div>
    * 	<span class="#{sel(pull-left)}">Hello world</span>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(pull-left)} {
      float: left;
    }
  }
  @if class-match-namespace('sugar.helper.pull.right') {
    /**
    * @name 		#{sel(pull-right)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.pull.right
    * @type        class
    *
    * Allows you to pull an element to the right side
    *
    * @example 	html
    * <div>
    * 	<span class="#{sel(pull-right)}">Hello world</span>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(pull-right)} {
      float: right;
    }
  }

  @if class-match-namespace('sugar.helper.pull.none') {
    /**
    * @name 		#{sel(pull-none)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.pull.none
    * @type        class
    *
    * Reset the pull (float) styling on the element
    *
    * @example 	html
    * <div>
    * 	<span class="#{sel(pull-none)}">Hello world</span>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(pull-none)} {
      float: none;
    }
  }
}
