@mixin classes-helper-transmation() {
  @if class-match-namespace('sugar.helper.transition.no') {
    /**
    * @name 		#{sel(no-transition)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace       sugar.helper.transition.no
    * @type        class
    *
    * Disable the transitions **only on the element**
    *
    * @example 	html
    * <div class="#{sel(no-transition)}">
    * 	I have no more transitions
    * 	<div>But I have</div>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(no-transition)} {
      &,
      &:before,
      &:after {
        transition: none !important;
      }
    }
  }
  @if class-match-namespace('sugar.helper.transition.clear') {
    /**
    * @name 		#{sel(clear-transition)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace       sugar.helper.transition.clear
    * @type        class
    *
    * Disable the transitions **on the element and all his children**
    *
    * @example 	html
    * <div class="#{sel(clear-transition)}">
    * 	I have no more transitions
    * 	<div>Me neither</div>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(clear-transition)} {
      &,
      &:before,
      &:after,
      & *,
      & *:before,
      & *:after {
        transition: none !important;
      }
    }
  }
  @if class-match-namespace('sugar.helper.animation.no') {
    /**
    * @name 		#{sel(no-animation)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace       sugar.helper.animation.no
    * @type        class
    *
    * Disable the animations **only on the element**
    *
    * @example 	html
    * <div class="#{sel(no-animation)}">
    * 	I have no more animations
    * 	<div>But I have</div>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(no-animation)} {
      &,
      &:before,
      &:after {
        animation: none !important;
      }
    }
  }
  @if class-match-namespace('sugar.helper.animation.clear') {
    /**
    * @name 		#{sel(clear-animation)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace       sugar.helper.animation.clear
    * @type        class
    *
    * Disable the transitions **on the element and all his children**
    *
    * @example 	html
    * <div class="#{sel(clear-animation)}">
    * 	I have no more animations
    * 	<div>Me neither</div>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(clear-animation)} {
      &,
      &:before,
      &:after,
      & *,
      & *:before,
      & *:after {
        animation: none !important;
      }
    }
  }
  @if class-match-namespace('sugar.helper.transmation.no') {
    /**
    * @name 		#{sel(no-transmation)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace       sugar.helper.transmation.no
    * @type        class
    *
    * Disable the animations and transitions **only on the element**
    *
    * @example 	html
    * <div class="#{sel(no-transmation)}">
    * 	I have no more animations or transitions
    * 	<div>But I have</div>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(no-transmation)} {
      &,
      &:before,
      &:after {
        transition: none !important;
        animation: none !important;
      }
    }
  }
  @if class-match-namespace('sugar.helper.transmation.clear') {
    /**
    * @name 		#{sel(clear-transmation)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace       sugar.helper.transmation.clear
    * @type        class
    *
    * Disable the animations and transitions **on the element and all his children**
    *
    * @example 	html
    * <div class="#{sel(clear-transmation)}">
    * 	I have no more animations or transitions
    * 	<div>Me neither</div>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(clear-transmation)} {
      &,
      &:before,
      &:after,
      & *,
      & *:before,
      & *:after {
        transition: none !important;
        animation: none !important;
      }
    }
  }
}
