@mixin helper-vertical-align-classes() {
  @if class-match-namespace('sugar.helper.vertical-align.top') {
    /**
    * @name 		.#{sel(align-top)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.vertical-align.top
    * @type        class
    *
    * Align vertically top
    *
    * @example 	html
    * <div class="#{sel(border)} style="height:200px">
    *   <div class="#{sel(align-top)}">
    *     Hello world
    *   </div>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(align-top)} {
      vertical-align: top !important;
    }
  }

  @if class-match-namespace('sugar.helper.vertical-align.bottom') {
    /**
    * @name 		.#{sel(align-bottom)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.vertical-align.bottom
    * @type        class
    *
    * Align vertically bottom
    *
    * @example 	html
    * <div class="#{sel(border)} style="height:200px">
    *   <div class="#{sel(align-bottom)}">
    *     Hello world
    *   </div>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(align-bottom)} {
      vertical-align: bottom !important;
    }
  }

  @if class-match-namespace('sugar.helper.vertical-align.middle') {
    /**
    * @name 		.#{sel(align-middle)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.vertical-align.middle
    * @type        class
    *
    * Align vertically middle
    *
    * @example 	html
    * <div class="#{sel(border)} style="height:200px">
    *   <div class="#{sel(align-middle)}">
    *     Hello world
    *   </div>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(align-middle)} {
      vertical-align: middle !important;
    }
  }

  @if class-match-namespace('sugar.helper.vertical-align.baseline') {
    /**
    * @name 		.#{sel(align-baseline)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.vertical-align.baseline
    * @type        class
    *
    * Align vertically baseline
    *
    * @example 	html
    * <div class="#{sel(border)} style="height:200px">
    *   <div class="#{sel(align-baseline)}">
    *     Hello world
    *   </div>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(align-baseline)} {
      vertical-align: baseline !important;
    }
  }

  @if class-match-namespace('sugar.helper.vertical-align.text-top') {
    /**
    * @name 		#{sel(align-text-top)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.vertical-align.text-top
    * @type        class
    *
    * Align vertically text-top
    *
    * @example 	html
    * <div class="#{sel(border)} style="height:200px">
    *   <div class="#{sel(align-text-top)}">
    *     Hello world
    *   </div>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(align-text-top)} {
      vertical-align: text-top !important;
    }
  }

  @if class-match-namespace('sugar.helper.vertical-align.text-bottom') {
    /**
    * @name 		#{sel(align-text-bottom)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.vertical-align.text-bottom
    * @type        class
    *
    * Align vertically text-bottom
    *
    * @example 	html
    * <div class="#{sel(border)} style="height:200px">
    *   <div class="#{sel(align-text-bottom)}">
    *     Hello world
    *   </div>
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(align-text-bottom)} {
      vertical-align: text-bottom !important;
    }
  }
}
