.ck-doc-sub-nav {
  position: fixed;
  top: 100px;
  width: 300px;
  right: calc(100vw - 1500px - 300px - 150px);
  border-left: 1px solid sugar.color(accent, --alpha 0.1);
  padding: sugar.padding(30) sugar.padding(30);
  user-select: none;

  ._list {
  }
  ._list-item {
    position: relative;
    padding: sugar.padding(20) sugar.padding(30);
    display: flex;
    opacity: 0.4;
    @sugar.transition fast;

    &:hover,
    &.active {
      opacity: 1;
    }
  }

  ._index {
    position: absolute;
    top: 0;
    left: 0;
  }
  ._title {
    text-transform: uppercase;
    line-height: 1.5;
    flex-grow: 1;
    display: block;
    max-width: 35ch;
    padding-inline-start: sugar.padding(20);
  }
}
