@use 'sugar/index' as sugar;


.btn {
  display: inline-block;
  background-color: sugar.color(primary);
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: sugar.lnf(border-radius);

  &:hover {
    background-color: sugar.color(primary, -darken 10%);
  }
}
