.section-sandbox {
    position: relative;

    @sugar.media mobile {
        padding-inline: sugar.padding(30);
    }

    ._type {
        width: sugar.container.width();
        margin-block: sugar.margin(50);
    }

    ._title {
        @sugar.typo (h1);
    }
    ._value {
        background: sugar.color(main, surface);
        padding: sugar.padding(30);
        @sugar.border.radius;
    }

    ._video,
    ._img {
        width: 450px;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
}
