.section-sandbox {
    position: relative;

    @s.media mobile {
        padding-inline: s.padding(30);
    }

    ._type {
        width: s.container.width();
        margin-block: s.margin(50);
    }

    ._title {
        @s.typo (h1);
    }
    ._value {
        background: s.color(main, surface);
        padding: s.padding(30);
        @s.border.radius;
    }

    ._video,
    ._img {
        width: 450px;
        aspect-ratio: 16/9;
        object-fit: cover;
    }
}
