.s-specs-editor {
    user-select: none;

    .s-specs-editor_dropzone {
        padding-inline: sugar.padding(40);
    }

    .s-tooltip-container {
        float: right;
    }
    .s-tooltip {
        /* min-width: 250px; */
    }

    /**
     * Metas
     */
    .s-specs-editor_metas {
        display: flex;
        align-items: center;
        padding-inline-start: sugar.padding(40);
        padding-inline-end: sugar.padding(10);

        ._title {
            flex-grow: 1;
        }

        ._actions {
            display: flex;
            gap: sugar.margin(10);

            ._action {
            }
            ._action-save {
                @sugar.ui.button();
                @sugar.color (complementary);
            }
            ._action-delete {
                @sugar.ui.button ($lnf: text);
                /* @sugar.color (error); */
            }
        }
    }

    .s-specs-editor_actions {
        padding: sugar.padding(10);

        ._action {
            display: block;
            aspect-ratio: 1;
            width: 2em;
            text-align: center;
            background: sugar.color(current, --alpha 0);
            @sugar.transition (fast);
            @sugar.border.radius();

            &:hover {
                background: sugar.color(current, --darken 10%);
            }

            i {
                opacity: 1;
            }
        }
    }

    .s-specs-editor_prop:has(> div) {
        padding-block: sugar.padding(20);

        &.s-specs-editor_prop-checkbox {
            border-bottom: 1px solid sugar.color(main, surface, --darken 5%);
        }
    }

    .s-specs-editor_prop--checkbox {
        margin-block-start: sugar.margin(30);

        .s-specs-editor_label {
            > span {
                flex-grow: 1;
            }
        }
    }

    .s-specs-editor_repeatable {
        /* background: red; */
        background: sugar.color(main, background, --darken 5%);
    }
    .s-specs-editor_repeatable-title {
        background: sugar.color(main, surface);
        background-image: linear-gradient(
            -25deg,
            sugar.color(main, background),
            sugar.color(main, background, --lighten 5%)
        );
        padding: sugar.padding(30) sugar.padding(40);
        cursor: pointer;
        @sugar.depth (100);

        &.active,
        &:hover {
            background-image: linear-gradient(
                -45deg,
                sugar.color(accent),
                sugar.color(accent, --darken 3%)
            );
        }

        &.active {
            background-image: linear-gradient(
                45deg,
                sugar.color(accent),
                sugar.color(accent, --darken 3%)
            );
        }

        .s-specs-editor_repeatable-remove {
            float: right;
            display: none;
            margin-inline-end: sugar.margin(10);
        }
        &:hover .s-specs-editor_repeatable-remove {
            display: block;
            i {
                margin-inline-start: sugar.margin(10);
            }
        }

        i {
            float: right;
        }
    }
    .s-specs-editor_repeatable-item {
        display: none;
    }
    .s-specs-editor_repeatable-item.active {
        display: block;
    }

    .s-specs-editor_repeatable-item-actions {
        text-align: end;
        padding: sugar.padding(30) sugar.padding(40);
        background: sugar.color(main, background, --darken 5%);
    }

    .s-specs-editor_repeatable-item-props {
        padding: sugar.padding(30) 0;
    }

    .s-specs-editor_repeatable-actions {
        padding: sugar.padding(30) sugar.padding(30);
        text-align: end;
    }

    .s-specs-editor_help-icon {
        margin-inline-start: sugar.margin(10);

        .s-tooltip {
            min-width: 200px;
        }
    }

    .s-specs-editor_media-icons {
        float: right;
    }
    .s-specs-editor_media-icon {
        padding-inline: sugar.padding(10);

        &.active {
            color: sugar.color(accent);
        }
        &.current i {
            opacity: 1;
        }
    }

    .s-specs-editor_prop:not(.s-specs-editor_child .s-specs-editor_prop) {
        /* padding-inline: sugar.padding(40); */
    }

    .s-specs-editor_prop {
        padding-inline: sugar.padding(40);
    }
    .s-specs-editor_child-title {
        padding-block-start: sugar.padding(30);
        padding-inline: sugar.padding(40);
        color: sugar.color(accent);
    }
    .s-specs-editor_child-description {
        padding-block-end: sugar.padding(30);
        padding-inline: sugar.padding(40);
    }

    .s-specs-editor_label {
        margin-block-end: sugar.margin(20);

        i {
            opacity: 0.4;
            @sugar.transition (fast);

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .s-specs-editor_metas {
        position: sticky;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        padding-block: sugar.padding(30);
        margin-block-end: sugar.margin(30);
        background-image: linear-gradient(
            45deg,
            sugar.color(main, background),
            sugar.color(main, background, --lighten 5%)
        );
        @sugar.transition;
        @sugar.depth (50);

        &-title {
            color: sugar.color(accent);
            padding-inline: sugar.padding(30);
        }

        * {
            @sugar.transition;
            overflow: hidden;
            opacity: 1;
        }
    }

    .s-specs-editor_child {
        /* padding: sugar.padding(40); */
        /* background: sugar.color(main, background, --darken 5% --alpha 0.3); */

        &:not(:first-child) {
            margin-block-start: sugar.margin(40);
        }
        &:not(:last-child) {
            margin-block-end: sugar.margin(40);
        }
    }
}
