@import './components/_imports.css';
@import './widgets/_imports.css';

.s-specs-editor {
    --s-specs-editor-padding-inline: sugar.padding(40);
    --s-specs-editor-padding-block: sugar.padding(40);
    user-select: none;
}
