.__menu-toggle {
  @sugar.ui.toggle ('burger');
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-block: sugar.padding(40);
  background: sugar.color(base, background, --alpha 0);
  @sugar.transition();

  body.scrolled & {
    /* padding-block: sugar.padding(10); */
    background: sugar.color(base, background, --alpha 1);
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      sugar.color(base, background, --alpha 0.2),
      sugar.color(base, background, --alpha 0.7)
    );
  }

  @sugar.media mobile {
    padding: sugar.padding(30);
    top: 0;
    padding-inline: sugar.padding(30);
    background: sugar.color(base, background);
    height: 80px;
    @sugar.depth (20);
  }

  .logo {
    width: 200px;
    position: relative;

    @sugar.media mobile {
      width: 130px;
    }
  }

  .__bkg {
    @sugar.media <=mobile {
      display: none;
    }
  }

  .__toggle {
    padding: sugar.padding(10);
    aspect-ratio: 1;
    position: absolute;
    top: 53px;
    right: calc(50% - calc(sugar.theme(layout.container.default) * 0.5));
    font-size: 30px;
    z-index: 10;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: -0.4em;
      left: 0;
      width: 100%;
      height: 100%;
      background: sugar.color(base, background);
      transform: translateY(-100%);
    }

    @sugar.media <=mobile {
      top: sugar.margin(40);
      right: sugar.margin(30);
    }
  }
}
