/* init theme */
@sugar.init ($variant: dark);
/* @sugar.theme.import ($variant: light); */

/* main sugar classes */
/* we need to load them all to display correctly the documentation */
@sugar.classes;

/* UI's */
@sugar.ui.codeexample.classes;
@sugar.ui.clipboardcopy;

/* mobile specific classes */
@sugar.media.classes mobile {
    @sugar.layout.classes;
}

/* icons */
@sugar.icon.classes (
  fa:fire
  fa:user-graduate:documentation
  fa:synagogue:start
  fa:file-code:examples
  fa:magnifying-glass:search
  fa:expand:enter-fullscreen
  fa:compress:exit-fullscreen
  fa:list-ul:menu
  fa:keyboard
  fa:file
  fa:heart
  fa:bugs
  fa:angle-up
  fa:user
  fab:discord
  fab:github
  fab:facebook
  fab:patreon
  fab:twitter
  fab:instagram
  fs:'src/icons/coffeekraken/logo-opensource.svg'
  fs:'src/icons/coffeekraken/logo-postcss.svg'
  fs:'src/icons/coffeekraken/ui-menu-grid-solid.svg'
  fs:'src/icons/coffeekraken/logo-coffeekraken-sugar.svg'
);
