@mixin style(
  $name: s-filtrable-input
) {

  .#{$name}__node {
    background-color: Sugar.color(primary);
  }

  .#{$name}__list {
    background: white;
    border-radius: Sugar.lnf(border-radius);
    border: 2px solid white;

    @include Sugar.smooth-shadow();
    @include Sugar.scrollbar();
  }

  .#{$name}__list {
    transition: all .1s ease-in-out;
    transform: translateY(20px);

    .#{$name}__node:focus + &,
    &:focus {
      opacity: 1;
      transform: translateY(0);  
    }
    .#{$name}--ontop & {
      transform: translateY(-50px);
      bottom: 100%;
      top: initial;
    }

  }

  .#{$name}__list-no-item {
    padding: Sugar.lnf(padding);
    min-width: 100%;
  }
    .#{$name}__list-no-item-text {
      white-space: nowrap;
    }
  .#{$name}__list-item {
    padding: Sugar.lnf(padding);

    &:hover {
      background-color: Sugar.color(primary, lighter);
    }
    &--preselected {
      background-color: Sugar.color(primary, lighter);
    }
    &--preselected:hover {
      background-color: Sugar.color(primary, light);
    }
  }

  .#{$name}__list-item--selected {
    background-color: Sugar.color(primary) !important;
    color: white;
  }
  .#{$name}__list-item-title {
    font-weight: bold;
    @include Sugar.text-ellipsis();
  }
  .#{$name}__list-item-description {
    @include Sugar.text-ellipsis();
  }
  .#{$name}__list-item-highlight {
    background-color: Sugar.color(primary, dark);
    color: white;
  }

}
