@mixin style(
  $name: s-filtrable-input
) {

  .#{$name} {}

  .#{$name}__list {
    background: white;
    border-radius: Sugar.lnf(border-radius);
    border: 2px solid white;

    @include Sugar.smooth-shadow();
    @include Sugar.scrollbar();
  }
  .#{$name}__list-item {
    padding: Sugar.lnf(padding);

    &:hover {
      background-color: Sugar.color(primary, lighter);
    }
    &--preselected {
      background-color: Sugar.color(primary, lighter);
    }
    &--preselected:hover {
      background-color: Sugar.color(primary, light);
    }
  }

  .#{$name}__list-item--selected {
    background-color: Sugar.color(primary) !important;
    color: white;
  }
  .#{$name}__list-item-title {
    font-weight: bold;
    @include Sugar.text-ellipsis();
  }
  .#{$name}__list-item-description {
    @include Sugar.text-ellipsis();
  }
  .#{$name}__list-item-highlight {
    background-color: Sugar.color(primary, dark);
    color: white;
  }

}
