.s-filtrable-input {
  display: inline-block;
  position: relative;
}

  .s-filtrable-input__list {
    position: absolute;
    top: 100%; left:0;
    background: Sugar.color(primary);
    overflow-x: hidden;
    overflow-y: auto;
    transition: height .2s ease-in-out;

    .s-filtrable-input--ontop & {
      bottom: 100%;
      top: initial;
    }

  }

  .s-filtrable-input__list-item {
    padding: Sugar.lnf(padding);
  }

  .s-filtrable-input__list-item__highlighted {
    color: red;
    font-weight: bold;
  }
