/**
 * @name      text-hide
 * @namespace           scss.typography
 * @type      mixin
 *
 * Hide the contained text
 *
 * @example 	scss
 * .my-cool-container {
 * 	\@include sugar.text-hide();
 * }
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin text-hide() {
  overflow: hidden;
  text-indent: -9000px;
  display: block;
}
