@use 'sass:math';
/**
 * @name  math-sqrt
 * @namespace           sugar.scss.core.math
 * @type      function
 *
 * Return the square root of the passed number
 *
 * @param         {Number}        $number       The number to process
 * @return        {Number}                      The square root of the passed number
 *
 * @example   scss
 * Sugar.math-sqrt(2); // => 1.41421356237
 *
 * @since       1.0.0
 * @author 		Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@function math-sqrt($number) {
  $x0: 1;
  $x1: $x0;

  @for $i from 1 through 10 {
    $x1: $x0 - ($x0 * $x0 - math.abs($number)) / (2 * $x0);
    $x0: $x1;
  }

  @return $x1;
}
