.s-dashboard-browserstack {
    ._browsers {
        display: flex;
        justify-content: space-between;
        gap: s.margin(20);
    }

    ._browser-svg {
        width: 32px;
        height: 32px;
    }

    .ck-list_item {
        text-align: center;
        padding: s.padding(30);
    }

    .s-tooltip {
        white-space: nowrap;
    }
}
