/* @sugar.partial (opensource) { */
@keyframes opensource-animation {
    0% {
        padding: 20px 10px;
        opacity: 1;
        transform: translate(150px, 0) rotateZ(10deg) scale(1);
    }
    50% {
        opacity: 0.2;
        transform: translate(50px, 0) scale(1.2);
    }
    100% {
        padding: 20px 30px;
        opacity: 0;
        transform: translate(-150px, 0) rotateZ(-180deg) scale(0.5);
    }
}

#features-opensource {
    position: relative;
    z-index: 20;

    ._illustration {
        height: calc(100% + sugar.padding(50) * 2);
        width: 250%;
        position: absolute;
        top: calc(sugar.padding(50) * -1);
        right: calc(sugar.padding(50) * -1);

        @sugar.lod.wireframe {
            width: 200%;
        }

        @sugar.media mobile {
            display: none;
        }

        svg {
            transform: translate(-50%, -50%);
        }

        ._desk {
            height: 100%;
            opacity: 0;

            svg {
                transform: none;
            }
        }

        ._logo,
        ._logo-back,
        ._logo-draw {
            position: absolute;
            top: 50%;
            left: 55%;
        }
        ._logo-back {
            left: 60%;

            path {
                fill: sugar.color(main);
                opacity: 0.1;
                filter: blur(10px);
                transform-origin: 50% 50%;
                transform: scale(0.9);

                @sugar.theme.when dark {
                    opacity: 1;
                    fill: sugar.color(main, background);
                }
            }
        }
        ._logo {
            scale: 1.2;

            [fill] {
                fill: sugar.color(accent);
            }
        }
        ._logo-draw {
            scale: 1.8;
            transform-origin: 0% 0%;

            path {
                stroke: sugar.color(base, --alpha 0.05);
                fill: none;
            }

            @sugar.theme.when dark {
                path {
                    stroke: sugar.color(base, foreground, --alpha 0.1);
                    fill: none;
                }
            }
        }

        ._bubble-01,
        ._bubble-02,
        ._bubble-03 {
            position: absolute;

            > * > * {
                fill: white;
            }
            > * > *:first-child {
                fill: sugar.color(accent);
            }
        }
        ._bubble-01 {
            top: 0;
            left: 20%;
        }
        ._bubble-02 {
            top: 50%;
            left: 100%;

            > * > *:first-child {
                fill: sugar.color(complementary);
            }
        }
        ._bubble-03 {
            top: calc(100% + 30px);
            left: 30%;

            > * > *:first-child {
                fill: sugar.color(main);
            }
        }

        ._bubble-emoji-01,
        ._bubble-emoji-02,
        ._bubble-emoji-03 {
            position: absolute;

            path {
                stroke: sugar.color(base, foreground, --alpha 0.2);
                fill: none;
            }
        }
        ._bubble-emoji-01 {
            top: 5%;
            left: 80%;
        }
        ._bubble-emoji-02 {
            top: 83%;
            left: 85%;
        }
        ._bubble-emoji-03 {
            top: 55%;
            left: 10%;
        }
    }

    ._box {
        position: relative;
        background: sugar.color(main, surface);
        @sugar.border.radius();

        @sugar.lod.wireframe {
            @sugar.wireframe.border;
        }

        @sugar.theme.when dark {
            @sugar.depth (100);
            /* background: sugar.color(main, background, --lighten 5%); */
            background-image: linear-gradient(
                -45deg,
                sugar.color(base, surface, --alpha 0),
                sugar.color(base, --alpha 0.2)
            );
        }

        @sugar.media mobile {
            margin-top: 0;
        }

        /* &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: sugar.color(accent);
    }
    &:before {
      width: sugar.scalable(100px);
      height: 2px;
      bottom: -12px;
      right: -12px;
    }
    &:after {
      width: 2px;
      height: sugar.scalable(100px);
      bottom: -10px;
      right: -12px;
    }

    @sugar.media mobile {
      &:before {
        right: sugar.margin(30);
      }
      &:after {
        right: sugar.margin(30);
      }
    } */
    }
}
