/* @sugar.partial (opensource) { */
@keyframes opensource-animation {
    0% {
        padding: 20px 10px;
        opacity: 1;
        transform: translate(150px, 0) rotateZ(10deg) scale(1);
    }
    50% {
        opacity: 0.2;
        transform: translate(50px, 0) scale(1.2);
    }
    100% {
        padding: 20px 30px;
        opacity: 0;
        transform: translate(-150px, 0) rotateZ(-180deg) scale(0.5);
    }
}

#features-opensource {
    position: relative;
    z-index: 20;

    .__illustration {
        height: calc(100% + sugar.padding(50) * 2);
        position: absolute;
        top: calc(sugar.padding(50) * -1);
        right: calc(sugar.padding(50) * -1);

        svg {
            transform: translate(-50%, -50%);
        }

        .__desk {
            height: 100%;

            svg {
                transform: none;
            }
        }

        .__heart,
        .__heart-back {
            position: absolute;
            top: 50%;
            left: 50%;
        }
        .__heart-back {
            left: 60%;
        }
        .__heart {
            scale: 1.2;
            [fill] {
                fill: sugar.color(accent);
            }
        }

        .__bubble-01,
        .__bubble-02,
        .__bubble-03 {
            position: absolute;
        }
        .__bubble-01 {
            top: 0;
            left: 20%;
        }
        .__bubble-02 {
            top: 50%;
            left: 100%;
        }
        .__bubble-03 {
            top: calc(100% + 30px);
            left: 30%;
        }

        .__bubble-emoji-01,
        .__bubble-emoji-02,
        .__bubble-emoji-03 {
            position: absolute;
        }
        .__bubble-emoji-01 {
            top: 5%;
            left: 80%;
        }
        .__bubble-emoji-02 {
            top: 80%;
            left: 75%;
        }
        .__bubble-emoji-03 {
            top: 55%;
            left: 10%;
        }
    }

    .__box {
        position: relative;
        background: sugar.color(main, surface);
        /* @sugar.depth (100); */

        @sugar.theme.when dark {
            @sugar.depth (100);
            /* background: sugar.color(main, background, --lighten 5%); */
            background-image: linear-gradient(
                -45deg,
                sugar.color(base, surface, --alpha 0),
                sugar.color(base, --alpha 0.2)
            );
        }

        @sugar.media mobile {
            margin-top: 0;
        }

        /* &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: sugar.color(accent);
    }
    &:before {
      width: sugar.scalable(100px);
      height: 2px;
      bottom: -12px;
      right: -12px;
    }
    &:after {
      width: 2px;
      height: sugar.scalable(100px);
      bottom: -10px;
      right: -12px;
    }

    @sugar.media mobile {
      &:before {
        right: sugar.margin(30);
      }
      &:after {
        right: sugar.margin(30);
      }
    } */
    }
}
