.header {
  position: fixed;
  top: sugar.margin(40);
  width: 100%;
  z-index: 100;
  pointer-events: none;
  @sugar.transition();

  .logo {
    width: 150px;
    position: absolute;
    left: sugar.margin(80);
  }
}
