.markdown {
    .folder-nav {
        position: sticky;
        top: 100px;
        height: calc(100vh - 100px);
        overflow: auto;
        border-right: 1px solid sugar.color(current, border);
        user-select: none;
        @sugar.scrollbar();
    }
}
