.geo {
    display: flex;
    flex-direction: column;
    gap: sugar.margin(20);
    padding: sugar.padding(20) 0;

    ._item {
        display: flex;
        width: 250px;
    }
    ._label {
        flex-grow: 1;
    }
    ._value {
        font-weight: bold;
    }
}
