.s-btn:not(.s-color) {
    @s.color (accent);
}
.s-btn--text {
    /* @s.color (complementary); */

    * {
        color: white;
    }
}
.s-btn {
    @s.shape (pill);

    svg:not(.s-color) [fill] {
        fill: white;
    }

    /* .s-tooltip {
        @s.color (main);
    } */
}
