.s-specs-editor {
    &_metas {
        ._title {
            color: s.color(accent, text);
        }
    }

    &_error {
        margin-block-start: s.margin(20);
        color: s.color(error, text);
    }

    &_root {
        display: flex;
        flex-direction: column;
        gap: s.margin(40);
    }

    ._help-icon {
        svg {
            opacity: 0.4;
            @s.transition fast;
        }

        &:hover svg {
            opacity: 0.6;
        }
    }

    &_label {
        margin-block-end: s.margin(20);

        ._title {
            opacity: 0.6;
        }
    }
}
