@use 'sass:map';
@use 'sass:meta';

@mixin init-typography() {
  html {
    $base-font-size: setting('typography.font-size');
    $base-font-sizes: setting('typography.font-sizes');
    font-size: font-size($base-font-size);
    color: color(default);
    @if meta.type-of($base-font-sizes) == map {
      @each $size, $media in $base-font-sizes {
        @include media($media...) {
          font-size: $size;
        }
      }
    }
  }
}
