.footer {
    padding-block: s.padding(80);

    @s.lod.prevent {
        background-color: rgba(0, 0, 0, 0.01);
    }

    @s.lod (2) {
        background-color: s.color(main, background);
    }

    .logo {
        width: 150px;
    }

    .s-layout {
        @s.layout ('1 2 3 3');
        gap: s.margin(50);

        @s.media <=mobile {
            padding-inline: s.padding(30);
            @s.layout ('1 _ 2 _ 3');
        }
    }

    .s-menu--level-0 {
        @s.layout ('1 2');

        @s.media <=mobile {
            @s.layout ('1 _ 2');
        }
    }

    .s-menu_link--level-0 {
        display: block;
        font-weight: bold;
        font-size: s.font.size(50);
        margin-block-end: s.margin(50);
    }
    .s-menu_item.s-menu_item--level-0:not(:first-child) {
        @s.media <=mobile {
            margin-block-start: s.margin(50);
        }
    }

    .s-menu_link--level-1 {
        display: block;
        font-size: s.font.size(40);
        margin-block-end: s.margin(30);

        &:hover {
            color: s.color(accent);
        }

        &:before {
            content: '-';
            color: s.color(accent);
            font-weight: bold;
            margin-inline-end: s.margin(10);
        }
    }
}
