.s-gauge {
    --stroke-width: 0.33em;

    display: block;
    position: relative;
    width: 1em;
    height: 1em;
    font-size: 150px;
    user-select: none;
    stroke-width: calc(
        var(--stroke-width) * 0.5
    ); /* only for js to get the computed stroke width */

    svg {
        --dash-circle: calc(2 * 3.14 * 0.5em);
        --dash-length: calc(
            var(--dash-circle) / 360 * (var(--end-degree) - var(--start-degree))
        );
        transform: rotateZ(calc(90deg + var(--start-degree) * 1deg));
        color: red;
    }

    path {
        stroke-width: calc(var(--stroke-width) * 0.5);
        stroke-dasharray: calc(2 * 3.14 * 0.5em);
        transform-origin: 50% 50%;
    }
    ._track {
        stroke: rgba(0, 0, 0, 0.1);
        stroke-dashoffset: calc((var(--dash-circle) - var(--dash-length)));
    }
    ._gauge {
        stroke: currentColor;
        stroke-dashoffset: calc(
            (
                var(--dash-circle) -
                    (var(--dash-length) / 100 * var(--value-percent))
            )
        );
    }

    ._value {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 0.25em;
        transform: translate(-50%, -50%);
    }
}
