@use 'sass:meta';
@use 'sass:list';
/**
 * @name      map-deep-values
 * @namespace     sugar.scss.map
 * @type      function
 *
 * Get values of a map even if it is deep
 *
 * @param       {Map}       $map        The map to get values from
 * @return      {List}                  The list of map values
 *
 * @example       scss
 * sugar.map-deep-values((
 *    'hello': 'world',
 *    'coco': (
 *       'plop': 'youhou'
 *    )
 * ));
 * // => ('world', 'youhou')
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@function map-deep-values($map) {
  $values: ();
  // loop on each keys
  @each $key, $value in $map {
    @if meta.type-of($value) == map or meta.type-of($value) == list {
      // add to values :
      $values: list.join($values, map-deep-values($value));
    } @else {
      // add to values :
      $values: list.append($values, $value);
    }
  }
  // return values
  @return $values;
}
