.section-tabs {
    position: relative;
    z-index: 10;
    perspective: 800px;

    @s.lod (3) {
        /* margin-block-start: -30px; */
    }

    .nude & {
        margin-block-start: 0;
    }

    ._layout {
        @s.layout ('1 2 2');

        @s.media mobile {
            @s.layout ('1 _ 2');
        }
    }

    ._tabs {
        background-color: s.color(main, surface);
        position: relative;
        z-index: 10;

        @s.lod (3) {
            transform: rotateX(-5deg) rotateY(15deg) translateX(0%)
                translateY(0);
        }
    }

    ._tabs-item {
        display: block;
        padding: s.padding(30) s.padding(50);
        background: linear-gradient(
            90deg,
            s.color(main, surface),
            s.color(main, background)
        );
        font-size: s.font.size(50);
        transform: scale(1);
        position: relative;
        @s.transition (fast);

        &:not(:last-child) {
            border-bottom: 1px solid s.color(accent, --alpha 0.1);
        }

        &:hover {
            background: s.color(accent, --alpha 0.6);
            color: s.color(accent, foreground);
        }

        &.active {
            background: linear-gradient(
                -90deg,
                s.color(accent),
                s.color(accent)
            );
            z-index: 2;
            color: s.color(accent, foreground);
            font-weight: bold;

            @s.lod (3) {
                transform: scale(1.03);
            }
        }

        @s.wireframe {
            border: solid 1px rgba(0, 0, 0, 0.1);
        }
        &.active {
            @s.wireframe {
                background: rgba(0, 0, 0, 0.02);
            }
        }
    }

    ._content {
        padding: s.padding(50);
        background-color: s.color(main, surface);
        background-image: linear-gradient(
            45deg,
            s.color(main, surface),
            s.color(main, background)
        );
        display: none;
        position: relative;
        z-index: 0;

        &.active {
            display: block;
        }

        @s.media >mobile {
            @s.lod (3) {
                transform: rotateX(5deg) rotateY(-15deg) translateX(1%)
                    translateY(0%) scale(1.1);
            }
        }
    }
}
