.section-chart {
    ._bkg {
        pointer-events: none;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            /* filter: blur(100px); */
            object-fit: cover;
            width: 100%;
            height: 100%;
            transform: scale(1.4);
            display: none;

            @sugar.lod (3) {
                display: block;
            }
        }
    }

    .chart {
        position: absolute;
        background: sugar.color(main, background);
        display: flex;
        top: 100px;
        left: sugar.margin(70);
        right: sugar.margin(70);
        bottom: sugar.margin(70);
        overflow: auto;
        @sugar.scrollbar;
        /* @sugar.depth (100); */
        border: solid 2px rgba(0, 0, 0, 0.3);
        padding-bottom: 100px;
    }

    ._heading {
        position: sticky;
        top: 0;
        left: 0;
        display: flex;
        height: 100px;
        background: sugar.color(accent, --lighten 100);
        z-index: 11;
        border-bottom: solid 2px rgba(0, 0, 0, 0.3);

        ._features {
            width: 300px;
        }

        ._systems {
            position: relative;
            display: flex;
        }
        ._system {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
        }
        ._system-logo {
            max-width: 100px;
            max-height: 40px;
        }
    }

    ._notes {
        position: absolute;
        top: calc(100vh - 194px);
        left: 0;
        display: flex;
        height: 100px;
        width: 100%;
        background: sugar.color(accent, --lighten 100);
        z-index: 12;
        border-top: solid 2px rgba(0, 0, 0, 0.3);
        transform: translateY(-100%);

        ._features {
            width: 300px;
        }
        ._systems {
            position: relative;
            display: flex;
        }
        ._system {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 150px;
        }
        ._note {
            font-size: sugar.font.size(50);
            font-weight: bolder;
        }
    }

    i.s-icon--star {
        color: sugar.color(warning);
    }

    i.s-icon--feature {
        color: sugar.color(warning);
        margin-inline-start: sugar.margin(20);
        opacity: 0.6;
    }
    i.s-icon--component {
        color: sugar.color(accent);
        margin-inline-start: sugar.margin(20);
    }

    i.s-icon--check {
        color: sugar.color(success);
    }
    i.s-icon--cross {
        color: sugar.color(error);
    }
    i.s-icon--info {
        color: sugar.color(warning);
    }

    .s-badge:has(._pts) {
        margin-inline-start: sugar.margin(20);
    }

    ._pts {
    }

    ._why-not {
        width: 100%;
        height: 100%;
        background: sugar.color(main, background, --darken 10);
        opacity: 0.1;
    }

    .s-tooltip-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        /* overflow: hidden;
    display: inline-block;

    &:hover {
      overflow: unset;
    } */
    }

    ._body {
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;

        ._features {
            position: sticky;
            left: 0;
            z-index: 10;
            margin-bottom: 300px;

            ._feature {
                border-right: solid 2px rgba(0, 0, 0, 0.3);
                width: 300px;
                padding-right: sugar.padding(30);
                font-weight: bold;

                .s-tooltip-container .s-tooltip-container {
                    width: auto;
                    height: auto;
                    display: block;
                }
            }
        }
        ._systems {
            display: flex;
        }
        ._system {
            width: 150px;

            &:hover {
                background: sugar.color(main, background, --darken 2);
            }
        }
    }

    ._feature {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ._not {
        pointer-events: none;
        width: 100px;
        height: 4px;
        border-radius: 2px;
        background: sugar.color(error);
        position: absolute;
        top: 40%;
        left: 50%;
        transform-origin: 50% 50%;
        transform: rotate(-10deg) translateX(-50%) translateY(-50%);
    }

    ._body ._features {
    }

    ._body ._feature {
        /* padding: sugar.padding(20) sugar.padding(30); */
        height: 100px;
        width: 150px;

        &:nth-child(odd) {
            background: sugar.color(main, background, --darken 1%);
        }
    }
    ._body ._features ._feature {
        background: sugar.color(main, background, --darken 1);
        justify-content: end;
        .s-tooltip-container {
            justify-content: end;
        }

        &:nth-child(odd) {
            background: sugar.color(main, background, --darken 2);
        }
    }

    ._body ._systems ._system {
        &:hover ._feature {
            background: sugar.color(main, background, --darken 2) !important;
        }

        ._feature {
            &:hover {
                background: sugar.color(
                    base,
                    background,
                    --darken 10
                ) !important;
            }
        }

        &:nth-child(odd) ._feature {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-left: 1px solid sugar.color(main, background, --darken 5);
                border-right: 1px solid
                    sugar.color(main, background, --darken 5);
            }
        }
    }
}
