@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

@keyframes welcome-letters-1n {
    0% {
        color: s.color(main, text, --alpha 0.4);
    }
    50% {
        color: s.color(accent, text);
    }
    100% {
        color: s.color(main, text, --alpha 0.4);
    }
}
@keyframes welcome-letters-2n {
    0% {
        color: s.color(main, text, --alpha 0.4);
    }
    50% {
        color: s.color(complementary, text);
    }
    100% {
        color: s.color(main, text, --alpha 0.4);
    }
}

@keyframes welcome-round-icon {
    0% {
        transform: rotateZ(0) translate(-50%, -50%);
    }
    10% {
        transform: rotateZ(720deg) translate(-50%, -50%);
    }
    100% {
        transform: rotateZ(720deg) translate(-50%, -50%);
    }
}

#homepage-welcome {
    text-align: center;
    position: relative;
    z-index: 10;
    min-height: clamp(1000px, 100vh, 100vh);

    .s-logo-coffeekraken-picto {
        width: 100px;
    }

    @s.theme light {
        color: s.color(main);
    }

    @s.media mobile {
        height: auto;
        min-height: 0;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    ._title {
        display: inline-flex;
        gap: s.margin(30);
        align-items: end;
        margin-block-end: s.margin(40);
    }

    ._ctas {
        display: inline-flex;
        gap: s.margin(30);
    }

    ._footer {
        display: inline-block;
    }

    .s-logo {
        height: 90px;

        [fill='black'] {
            fill: s.color(accent);
            stroke: s.color(accent);
        }

        @s.theme light {
            [fill='white'] {
                fill: s.color(main);
                stroke: s.color(main);
            }
        }

        @s.media mobile {
            height: 70px;
            margin-inline-start: 0;
        }
    }

    ._content {
        position: relative;
        width: 100%;

        @s.media mobile {
            top: 40px;
        }
    }

    ._install {
    }
    ._code {
        display: inline-block;
        background: s.color(main, background, --darken 1);
        padding: s.padding(30) s.padding(40);
        user-select: all;
        @s.font.family (code);
        @s.border.radius;
    }

    ._illustration {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

        ._smoke {
            position: absolute;
            top: 40px;
            left: 60px;
            width: 200px;
            transform: translate(0, -100%);
            opacity: 0.15;

            @s.theme light {
                filter: invert(100%);
                opacity: 0.08;
            }
        }

        svg {
            position: relative;
            height: 600px;
            opacity: 0;

            &._main {
                [fill] {
                    fill: s.color(main, background);
                }
                [stroke] {
                    stroke: rgba(255, 255, 255, 1);
                }
            }
        }

        ._shadow {
            position: absolute;
            width: 200px;
            height: 200px;
            filter: blur(100px);
            opacity: 0.3;

            @s.theme light {
                opacity: 0;
            }
        }
        ._shadow-1 {
            top: 100px;
            left: 0;
            background: s.color(main);
        }
        ._shadow-2 {
            top: 100px;
            right: -100px;
            background: s.color(complementary);
            filter: blur(150px);
        }
        ._shadow-3 {
            bottom: 200px;
            right: 0;
            background: s.color(main);
        }
        ._shadow-4 {
            bottom: 200px;
            left: 0;
            background: s.color(accent);
            filter: blur(150px);
        }
    }
}
