@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

@keyframes welcome-letters-1n {
    0% {
        color: s.color(main, text, --alpha 0.4);
    }
    50% {
        color: s.color(accent, text);
    }
    100% {
        color: s.color(main, text, --alpha 0.4);
    }
}
@keyframes welcome-letters-2n {
    0% {
        color: s.color(main, text, --alpha 0.4);
    }
    50% {
        color: s.color(complementary, text);
    }
    100% {
        color: s.color(main, text, --alpha 0.4);
    }
}

@keyframes welcome-round-icon {
    0% {
        transform: rotateZ(0) translate(-50%, -50%);
    }
    10% {
        transform: rotateZ(720deg) translate(-50%, -50%);
    }
    100% {
        transform: rotateZ(720deg) translate(-50%, -50%);
    }
}

#homepage-welcome {
    text-align: left;
    position: relative;
    z-index: 10;
    min-height: 100vh;

    .s-logo-coffeekraken-picto {
        width: 100px;
    }

    @s.media mobile {
        height: auto;
        min-height: 0;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    ._title  {
        display: flex;
        gap: s.margin(30);
        align-items: end;
        margin-block-end: s.margin(40);
    }

    .s-logo {
        height: 90px;
        position: relative;
        top: -10px;
        margin-inline-start: -26px;

        [fill='black'] {
            fill: s.color(accent);
            stroke: s.color(accent);
        }

        @s.media mobile {
            height: 70px;
            margin-inline-start: 0;
        }
    }

    ._content {
        position: relative;
        width: 100%;

        @s.media mobile {
            top: 40px;
        }
    }

    ._illustration {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(900px);
        aspect-ratio: 4/3;
        transform: translateY(-50%) scale(1);
        user-select: none;
        pointer-events: none;
        @s.transition;

        @s.media mobile {
            display: none;
        }

        ._round {
            width: 1em;
            height: 1em;
            border-radius: 0.5em;
            background: s.color(current);
            position: absolute;
            /* mix-blend-mode: overlay; */

            i {
                font-size: 0.5em;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0.4;
                color: s.color(current, --darken 40);
                transform-origin: 0 0;
                animation: welcome-round-icon 10s ease-in-out infinite;
            }
        }

        ._round-1 {
            @s.color (complementary);
            @s.font.size (100);
            top: 60%;
            left: 34%;

            i {
                animation-delay: 1.3s;
            }
        }

        ._round-2 {
            @s.color (complementary);
            @s.font.size (60);
            top: 65%;
            left: 70%;
        }

        ._round-3 {
            @s.color (accent);
            @s.font.size (60);
            top: 75%;
            left: 47%;
        }

        ._round-4 {
            @s.color (accent);
            @s.font.size (80);
            top: 43%;
            left: 57%;

            i {
                animation-delay: 2s;
            }
        }

        ._round-5 {
            @s.color (accent);
            @s.font.size (60);
            top: 23%;
            left: 47%;

            i {
                animation-delay: 2.5s;
            }
        }

        ._round-6 {
            @s.color (complementary);
            @s.font.size (40);
            top: 13%;
            left: 57%;
        }

        ._cup {
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translate(-50%, 0);
        }
        ._cup-smoke {
            position: absolute;
            width: 500px;
            bottom: 250px;
            left: calc(50% + 50px);
            transform: translate(-50%, 0);
            opacity: 0.3;
        }
    }
}
