@import url('./menu.css');
@import url('./menu-mobile.css');

#header {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(1280px + sugar.padding(30) * 2);
    z-index: 999;
    height: 80px;
    display: flex;
    align-items: center;
    background: sugar.color(main, --alpha 0);
    transition: all sugar.theme(easing.default) 0.6s;
    @sugar.depth (100);
    background: sugar.color(main, surface);
    border-radius: sugar.border.radius();
    /* box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.03); */
    background: linear-gradient(
        90deg,
        sugar.color(main, --darken 46),
        sugar.color(main, --darken 48)
    );
    background: linear-gradient(
        90deg,
        sugar.color(main, surface),
        sugar.color(main, surface)
    );

    .__body {
        order: 10;
        display: flex;
        align-items: center;
    }

    &:not(#homepage &),
    body.scrolled & {
        top: 0;
        width: calc(1280px + sugar.padding(40) * 2);
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .s-container {
        flex-grow: 1;
    }

    a {
        text-align: left;
    }

    svg {
        height: 50px;
        transform-origin: 0 50%;
        transform: scale(0.8);
    }
    svg .main {
        fill: sugar.color(main, text);
    }
    svg .accent {
        fill: sugar.color(accent);
    }

    .__menu-icon {
        position: relative;
        width: 16px; height: 16px;
        display: inline-block;

        .__open, .__close {
            position: absolute;
            top: 0; left: 0;
        }

        .__open {
            opacity: 1;
            transform: rotate(0);
            transition: sugar.transition();
        }
        .__close {
            opacity: 0;
            transform: rotate(0);
            transition: sugar.transition();
        }

        &[active] {
            .__open {
                opacity: 0;
                transform: rotate(180deg);
            }
            .__close {
                opacity: 1;
                transform: rotate(180deg);
            }
        }
    }

}

#settings .s-side-panel__container {
    background-color: sugar.color(main, background);
    min-width: 300px;
    width: 33vw;
    max-width: 500px;
    overflow-y: scroll;
    @sugar.scrollbar();
    @sugar.depth (10);

    .s-label > *:last-child {
        max-width: 50%;
    }
}
