body {
    padding-top: 100px;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 100px;
    display: flex;
    align-items: center;
    background: sugar.color(main, 100);
    transition: padding ease-in-out 0.2s;
    @sugar.depth (10);

    .s-container {
        flex-grow: 1;
    }

    @sugar.theme.when (dark) {
        background-color: sugar.color(main, --darken 35);
    }

    svg .main {
        fill: sugar.color(main, text);
    }
    svg .accent {
        fill: sugar.color(accent);
    }

    .s-tooltip {
        padding: sugar.space(20);
    }

    .__subnav {
        text-align: left;
        @sugar.border.radius;
        font-size: 1rem;

        & > * {
            display: block;
            padding: sugar.space(20) sugar.space(30);
            background: sugar.color(ui, background);

            &:first-child {
                border-top-right-radius: sugar.border.radius();
                border-top-left-radius: sugar.border.radius();
            }
            &:last-child {
                border-bottom-right-radius: sugar.border.radius();
                border-bottom-left-radius: sugar.border.radius();
            }
        }
        & > a:hover {
            background: sugar.color(accent);
            color: sugar.color(accent, foreground);
            /* transform: scale(1.1); */
        }
    }
}

#settings .s-side-panel__container {
    background-color: sugar.color(main, background);
    min-width: 300px;
    width: 33vw;
    max-width: 500px;
    overflow-y: scroll;
    @sugar.scrollbar (accent, 2px);
    @sugar.depth (100);

    .s-label > *:last-child {
        max-width: 50%;
    }
}
