@import url('./menu.css');
@import url('./menu-mobile.css');

#header {
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    width: calc(1280px + sugar.padding(30) * 2);
    z-index: 999;
    height: 80px;
    display: flex;
    align-items: center;
    background: sugar.color(main, --alpha 0);
    transition: all sugar.theme(easing.default) 0.6s;
    @sugar.depth (5);
    border-radius: sugar.border.radius();
    backdrop-filter: blur(10px);
    background: sugar.color(main, background, --alpha 0.9);

    @sugar.theme.when dark {
        background: linear-gradient(
            90deg,
            sugar.color(main, surface, --alpha 0.8),
            sugar.color(main, background)
        );
    }

    .__body {
        order: 10;
        display: flex;
        align-items: center;
    }

    @sugar.media (>=wide) {
        width: calc(1640px + sugar.padding(30) * 2);
    }

    &:not(#homepage &),
    body.scrolled & {
        top: 0;
        width: calc(1280px + sugar.padding(40) * 2);
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        @sugar.media (>=wide) {
            width: 100%;
        }
    }

    .s-container {
        flex-grow: 1;
    }

    .__logo {
        width: 140px;

        svg {
            height: 40px;
            width: 140px;
            transform-origin: 0 50%;
            transform: translate(-10px, 0px);

            @sugar.media mobile {
                position: relative;
                top: 0;
            }
        }

        svg .main {
            fill: sugar.color(base, --darken 55);
        }
        svg .accent {
            fill: sugar.color(accent);
        }
    }

    @sugar.theme.when (dark) {
        svg .main {
            fill: sugar.color(main, text);
        }
        svg .accent {
            fill: sugar.color(accent);
        }
    }

    .__menu-icon {
        position: relative;
        width: 16px;
        height: 16px;
        display: inline-block;

        .__open,
        .__close {
            position: absolute;
            top: 0;
            left: 0;
        }

        .__open {
            opacity: 1;
            transform: rotate(0);
            transition: sugar.transition();
        }
        .__close {
            opacity: 0;
            transform: rotate(0);
            transition: sugar.transition();
        }

        &[active] {
            .__open {
                opacity: 0;
                transform: rotate(180deg);
            }
            .__close {
                opacity: 1;
                transform: rotate(180deg);
            }
        }
    }
}
