#header {
    .__nav {
        display: flex;
        user-select: none;
        flex-grow: 1;
        justify-content: space-evenly;
        text-align: center;
        font-size: sugar.font.size(40);

        .__main-link {
            & > *:first-child {
                position: relative;
            }

            & > *:first-child:before {
                content: '';
                position: absolute;
                top: calc(100% + 5px);
                left: 50%;
                width: 20px;
                height: 20px;
                transform: translate(-50%, 0) scale(0);
                background: sugar.color(accent);
                border-radius: 9999px;
                @sugar.depth (50);
                z-index: 100;
                transition: sugar.transition(fast);
            }

            &:hover,
            &:focus-within {
                & > *:first-child {
                    color: sugar.color(accent);

                    &:before {
                        transform: translate(-50%, 0) scale(1);
                    }
                }
            }
        }

        .__subnav {
            --max-height: 60vh;

            position: absolute;
            top: 60px;
            left: 50%;
            height: calc(var(--max-height) + 96px);
            width: 1240px;
            max-width: 100vw;
            transform: translateX(-50%);
            z-index: 10;
            background-color: sugar.color(main, surface);
            background-position: 0 0;
            background-size: contain;
            text-align: left;
            display: none;
            overflow: hidden;
            border-radius: sugar.border.radius();
            @sugar.depth (10);

            @sugar.media (>=wide) {
                width: 1640px;
            }
            @sugar.media (<=dwarf) {
                --max-height: calc(100vh - 200px);
            }

            @sugar.media mobile {
                width: 100vw;
                height: 100vh;
                position: fixed;
                top: 160px;
                left: 0;
                transform: none;
                flex-direction: column;
            }
        }
        [active] .__subnav {
            display: block;

            @sugar.media mobile {
                display: flex;
            }

            /* border-bottom: 1px solid sugar.color(accent, border); */
        }

        .__subnav-footer {
            background: sugar.color(main, --lighten 43);
            padding: sugar.padding(30);

            @sugar.theme.when (dark) {
                background: sugar.color(main, --darken 33);
            }
        }

        .__subnav-chapters {
            overflow-y: auto;
            height: var(--max-height);
            padding: sugar.padding(50);
            position: relative;
            @sugar.scrollbar();

            background: linear-gradient(
                -90deg,
                sugar.color(main, --alpha 0.03),
                sugar.color(main, --alpha 0)
            );

            s-activate {
                display: block;
            }

            ul {
                display: flex;
                position: relative;
                z-index: 10;
            }

            li:hover {
                background-color: sugar.color(accent, --alpha 0.5);
            }
            li:hover,
            li[active] {
                background-color: sugar.color(accent);
                color: sugar.color(accent, foreground);
            }

            li {
                padding: sugar.padding(20) sugar.padding(30);
                border-radius: sugar.border.radius(ui.default.borderRadius);
                cursor: pointer;
            }

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: sugar.color(main, surface);
                opacity: 0.95;
                z-index: -1;
            }
        }

        .__subnav-stories {
            position: relative;
            overflow-y: auto;
            height: var(--max-height);
            padding: sugar.padding(50);
            background-color: sugar.color(main, background);
            background-image: radial-gradient(
                circle at bottom,
                sugar.color(complementary, --alpha 0.02),
                transparent
            ) !important;

            @sugar.scrollbar();

            /* &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                
                opacity: 0.98;
            } */
        }

        .__subnav-story {
            width: 100%;

            ul {
                position: relative;
                z-index: 1;
                display: flex;
                flex-wrap: wrap;
                width: 100%;

                li {
                    padding: sugar.padding(20) sugar.padding(30);
                    border-radius: sugar.border.radius(ui.default.borderRadius);
                    cursor: pointer;
                    width: 50%;

                    &:hover {
                        background-color: sugar.color(complementary);
                        color: sugar.color(complementary, foreground);
                    }

                    &[actual-parent] {
                        background-color: sugar.color(
                            complementary,
                            --alpha 0.8
                        );
                    }
                }
            }
        }
        /* .__subnav-doc .__subnav-story li {
            width: 50%;
        } */

        .__subnav-story {
            display: none;
            position: relative;

            &[active] {
                display: block;
            }
        }

        .ck-discover p {
            @sugar.truncate (3);
        }
    }
}
