@mixin media($medias) {

  @each $media in $medias {

    $firstChar: str-slice($media, 0, 1);
    $firstTwoChars: str-slice($media, 0, 2);
    $mediaName: $media;
    $action: '';

    @if $firstTwoChars == '>=' or $firstTwoChars == '<=' {
      $mediaName: str-slice($media, 3);
      $action: $firstTwoChars;
    } @else if $firstChar == '<' or $firstChar == '>' or $firstChar == '=' {
      $mediaName: str-slice($media, 2);
      $action: $firstChar;
    } @else {

    }

    $mediaSettings: setting('media.#{$mediaName}');
    @if not $mediaSettings {
      @error("It seem's that the requested media \"#{$mediaName}\" does not exist...");
    }


    $queryList: ();

    @each $key, $value in $mediaSettings {

      @if $key == 'min-width' or $key == 'max-width' or $key == 'min-device-width' or $key == 'max-device-width' {
        @if $action == '>' {
          @if $key == 'max-width' or $key == 'max-device-width' {
            $argName: 'min-width';
            @if str-index($key, '-device') != -1 {
              $argName: 'min-device-width';
            }
            $queryList: list-append($queryList, "(#{$argName}: #{$value+1})");
          }
        } @else if $action == '<' {
          @if $key == 'min-width' or $key == 'min-device-width' {
            $argName: 'max-width';
            @if str-index($key, '-device') != -1 {
              $argName: 'max-device-width';
            }
            $queryList: list-append($queryList, "(#{$argName}: #{$value})");
          }
        } @else if $action == '=' {
          $queryList: list-append($queryList, "(#{$key}: #{$value})");
        } @else if $action == '>=' {
          @if $key == 'min-width' or $key == 'min-device-width' {
            $queryList: list-append($queryList, "(#{$key}: #{$value})");
          }
        } @else if $action == '<=' {
          @if $key == 'max-width' or $key == 'max-device-width' {
            $queryList: list-append($queryList, "(#{$key}: #{$value})");
          }
        }
      } @else {
        $queryList: list-append($queryList, "(#{$key}: #{$value})");
      }

      @if $firstChar == '>' and str-slice($key,0,4) == 'max-' {

      } @else if $firstChar == '<' and str-slice($key,0,4) == 'min-' {

      } @else {

      }

    }
    @debug($queryList);

  }


  @content;

}
