/* @sugar.partial (ckSearch) { */
.ck-search {
    .s-highlight {
        background: sugar.color(accent);
        color: black;
        border-radius: sugar.border.radius(10);
    }

    #search-tips {
        max-height: 250px;
        transition: sugar.transition();
        overflow: hidden;
        background: sugar.color(main, background, --darken 3);
    }
    #search-tips.active {
        max-height: 0;
        padding-block: 0;
    }

    .s-filtrable-input {
        width: 100%;
    }

    .s-filtrable-input_keywords {
        padding-inline: sugar.padding(30);
        padding-block: sugar.padding(30);
    }

    .s-filtrable-input_dropdown {
        background: sugar.color(main, surface);
        width: 300% !important;
        left: auto !important;
        right: 0 !important;

        @sugar.lod.wireframe {
            @sugar.wireframe.background;
            @sugar.wireframe.border;
        }
    }

    .s-filtrable-input_list-item {
        padding-inline: sugar.padding(30) !important;
        padding-block: sugar.padding(30) !important;
    }
}
/* } */
