.ck-settings {
}
#settings .s-panel_container {
    background-color: sugar.color(main, background);
    min-width: 300px;
    width: 33vw;
    overflow-y: scroll;
    @sugar.scrollbar();
    /* @sugar.depth (100); */

    @sugar.media mobile {
        min-width: 80%;
    }
}
