.ck-version-selector {
    .s-dropdown {
        transform: translateX(calc(sugar.margin(40) * -1));

        @sugar.wireframe {
            @sugar.wireframe.background;
            @sugar.wireframe.border;
        }

        &:before {
            content: '';
            @sugar.ui.backdrop;
            z-index: -1;
            pointer-events: none;
        }

        ._inner {
            @sugar.border.radius;
            @sugar.depth (100);
        }
    }

    ._new {
        background: sugar.color(base, background, --lighten 10);

        span {
            font-weight: bold;
        }
    }

    ._codename {
        background-image: linear-gradient(
            90deg,
            sugar.color(base, background),
            sugar.color(base, background, --darken 5)
        );

        padding: sugar.padding(40);
        margin-inline: calc(sugar.padding(40) * -1);
        @sugar.depth (100);
    }

    ._header {
        /* background: sugar.color(complementary); */
        padding: sugar.padding(30) sugar.padding(30);
        border-top-left-radius: sugar.border.radius();
        border-top-right-radius: sugar.border.radius();
        background-color: sugar.color(base, --lighten 50);
        background-position: 50% 50%;
        background-size: cover;

        @sugar.theme.when dark {
            background-image: url('/dist/img/discord-illustration-bkg.png');
            background-color: sugar.color(complementary, --lighten 10);
            background-color: sugar.color(base, --darken 10);
        }
    }
    ._footer {
        /* background: sugar.color(complementary); */
        background-color: sugar.color(base, --lighten 50);
        padding: sugar.padding(30) sugar.padding(30);
        border-bottom-left-radius: sugar.border.radius();
        border-bottom-right-radius: sugar.border.radius();
        background-position: 50% 50%;
        background-size: cover;
        font-size: sugar.font.size(25);

        @sugar.theme.when dark {
            background-color: sugar.color(base, --darken 17);
        }

        display: flex;

        > div:first-child {
            flex-grow: 1;
        }

        /* background-image: url('/dist/img/discord-illustration-bkg.png'); */
    }

    ._versions {
        max-height: calc(100vh - 300px);
        background: sugar.color(base, surface, --darken 1);
        /* overflow-y: auto; */
        min-width: 200px;
        @sugar.scrollbar;

        @sugar.theme.when dark {
            background: sugar.color(base, surface);
        }

        ._version {
            padding: sugar.padding(30) sugar.padding(30);
            display: flex;
            align-items: center;

            &:not(:last-child) {
                border-bottom: 1px solid
                    sugar.color(base, background, --lighten 5);
            }

            &:hover {
                background: sugar.color(base, surface, --darken 3);
                @sugar.theme.when dark {
                    background: sugar.color(base, surface, --lighten 5);
                }
            }

            ._number {
                flex-grow: 1;
                padding-inline-end: sugar.padding(20);
            }
        }
    }
}
