/* @sugar.partial (codeExampleSection) { */
.code-example-section {
    margin-block-end: sugar.margin(80);
    padding-block: sugar.padding(50);

    @sugar.layout (
    2 2 1
    2 2 3
    , $gap: 50, $gapBetween: true
);

    @sugar.media mobile {
        @sugar.layout (
    1
    2
    3
    , $gap: 50, $gapBetween: true
    );
    }
}

.code-example-section--right {
    margin-block-end: sugar.margin(80);

    @sugar.layout (
    1 2 2
    3 2 2
    , $gap: 50, $gapBetween: true
);

    @sugar.media mobile {
        @sugar.layout (
    1
    2
    3
    , $gap: 50, $gapBetween: true
    );
    }
}
/* } */
