@keyframes s-code-example-loading {
  0% {
    background-position: 0px 0%;
  }
  50% {
    background-position: 996px 0%;
  }
  100% {
    background-position: 0px 0%;
  }
}
/* 
s-code-example:not([status="mounted"]) {
  position: relative;
  display: block;
  margin-top: sugar.margin(30);

  &:before {
    content: '';
    display: block;
    height: 100px;
    @sugar.border.radius();
    background: linear-gradient(
      90deg,
      sugar.color(main, surface),
      sugar.color(main, surface, --lighten 5%),
      sugar.color(main, surface)
    );
    background-size: 100% 100%;
    animation: s-code-example-loading 3s ease-in-out infinite;
  }
  &:after {
    content: '...';
    padding: sugar.padding(20) sugar.padding(30);
    display: block;
    position: absolute;
    top: calc(sugar.margin(30) * -1);
    left: sugar.margin(20);
    background: sugar.color(main);
    @sugar.border.radius();
  }
} */

.s-code-example {
  display: block;
  position: relative;

  /* &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    background: sugar.color(accent);
  }
  &:before {
    width: 100px;
    height: 2px;
    bottom: -12px;
    right: -12px;
  }
  &:after {
    width: 2px;
    height: 100px;
    bottom: -10px;
    right: -12px;
  }

  @sugar.media mobile {
    &:before {
      right: sugar.margin(30);
    }
    &:after {
      right: sugar.margin(30);
    }
  } */
}

.s-code-example__tabs {
  margin-bottom: calc(sugar.margin(20) * -1);
  margin-left: calc(sugar.margin(20));
  position: relative;
}

.s-code-example__toolbar {
  color: rgba(0, 0, 0, 0.3);
  position: relative;
  top: calc(sugar.margin(10) * -1) !important;

  @sugar.theme.when (dark) {
    color: rgba(255, 255, 255, 0.3);
  }
}

.s-code-example {
  /* filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.05)); */
}

.s-code-example__content .hljs {
  /* background-color: sugar.color(main, surface, --darken 2); */
  border: 1px solid sugar.color(base, border, --alpha 0.1);

  @sugar.theme.when dark {
    background-image: linear-gradient(
      -45deg,
      sugar.color(base, surface, --alpha 0),
      sugar.color(base, --alpha 0.2)
    );
  }
}
