.section {
    padding-block: sugar.padding(100);

    &:first-child {
        padding-block-start: 0;
    }

    @sugar.media mobile {
        padding-block: sugar.padding(50);
        padding-inline: sugar.padding(30);
    }
}
