.section-slider {
    margin-block: -20px;
    position: relative;
    z-index: 10;

    @sugar.media mobile {
        padding-block: 0;
        margin-block-end: 100px;
        transform: scale(1.05);
    }
}

.s-slider_root {
    /* perspective: 800px;
    .s-slider_slides-wrapper {
        transform: rotateY(-3deg);
    } */

    .s-slider_slide {
        /* width: 1200px !important; */
    }
}
