@use 'select-webcomponent/index' as select-webcomponent;
@use 'typography-style/index' as typography-style;
@use 'sugar/index' as sugar;

// configure your sugar
@include sugar.setup((
  colors: (
    dark-grey: (
      color: #000
    )
  ),
  look-and-feel: (
    border-radius: 0.5em
  )
));

// init (required to be just after sugar.setup calls)
@include sugar.init();

// generate the classes if you want
@include sugar.classes();

// generate the classes for the ck-select webcomponent
@include select-webcomponent.classes();

// generate typography styles
@include typography-style.classes();

// import some atoms
@import 'atom/button';

// import some sections
@import 'section/ck-preview__views-selector';
@import 'section/ck-preview__iframe';
@import 'section/ck-preview__welcome-container';

// apply base styling for the body
