@use '../variables' as sugar;
/**
 * Set the name of the component that will be handled inside the mixin
 *
 * @param 			{String} 			[$name=null] 			The name of the component to set
 * @param 			{String|Map} 		[$context=null] 		A context name or map to use inside the mixin
 *
 * @example
 * \@include sugar.component('my-component') {
 * 		sugar.component('hello') // => 'my-component'
 * 		\@include sugar.component('another-component') {
 * 			sugar.component('hello') // => 'my-component'
 * 		}
 * }
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com);
 */
@mixin component($name: null, $context: null) {
  @if (setting('debug.test-arguments')) {
    $name: test-argument(
      'sugar.component',
      'name',
      string,
      $name
    );
    $context: test-argument(
      'sugar.component',
      'context',
      'string|map',
      $context
    );
  }
  $is-root: true;
  @if sugar.$component-name {
    $is-root: false;
  } @else if $name {
    sugar.$component-name: $name;
  }

  @if $context {
    @include context($context) {
      @content;
    }
  } @else {
    @content;
  }

  @if $is-root {
    sugar.$component-name: null;
  }
}
