@use "sass:list";
@use "sass:meta";
@use "sass:string";
/**
 * @name      replace-tokens
 * @namespace           scss.core.string
 * @type    function
 *
 * Search and replace tokens like colors #primary in a passed string, list or map
 * Supported tokens types :
 * 1. Colors : #{colorName}
 *
 * @example     scss
 * sugar.replace-tokens(12px #primary hello #secondary); // > 12px #ddd hello #fff;
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@function replace-tokens($in) {
  @if meta.type-of($in) == list {
    $idx: 1;
    @each $item in $in {
      $in: list.set-nth($in, $idx, replace-tokens($item));
      $idx: $idx + 1;
    }
  } @else if meta.type-of($in) == map {
    @each $idx, $item in $in {
      $in: map-set($in, $idx, replace-tokens($item));
    }
  } @else if meta.type-of($in) == string and string.slice($in, 1, 1) == "#" {
    $color: string.slice($in, 2);
    @if has-color($color) {
      $mod-idx: string.index($color, "--");
      $mod: null;
      @if $mod-idx {
        $mod: string.slice($color, $mod-idx + 2);
        $color: string.slice($color, 1, $mod-idx - 1);
      }
      $in: color($color, $mod);
    }
  }
  @return $in;
}
