.section-specs {
  background: sugar.color(base, surface, --darken 10%);
  background: linear-gradient(
    sugar.color(base, surface, --darken 10%),
    sugar.color(base, surface, --alpha 0)
  );
  margin-block-start: 100px;
  margin-block-end: 100px;
  @sugar.border.radius();

  .__spec {
    position: relative;
    z-index: 10;
    padding-block: sugar.padding(70);
    padding-inline: sugar.padding(50);
    margin: -50px 0;
    background-color: sugar.color(base, surface);
    background-image: linear-gradient(
      -45deg,
      sugar.color(base, surface, --alpha 0),
      sugar.color(base, --alpha 0.2)
    );
    @sugar.border.radius();
    @sugar.depth (100);

    &:before,
    &:after {
      content: '';
      display: block;
      position: absolute;
      background: sugar.color(accent);
    }
    &:before {
      width: 100px;
      height: 2px;
      bottom: -12px;
      right: -12px;
    }
    &:after {
      width: 2px;
      height: 100px;
      bottom: -10px;
      right: -12px;
    }

    &:nth-child(1) {
      position: relative;
      top: -100px;
      left: -50px;
    }
    &:nth-child(2) {
      position: relative;
      top: 100px;
      left: 0;
    }
    &:nth-child(3) {
      position: relative;
      top: -30px;
      left: 50px;
    }
  }
}
