@mixin classes-helper-display() {

  @if class-match-namespace("sugar.helper.display.block") {
    /**
    * @name 		block
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.block
    * @type        class
    *
    * Display the element as ```block```
    *
    * @example 	html
    * <div class="block">
    * 	I'm displayed as block
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .block {
      display: block;
    }
  }
  @if class-match-namespace("sugar.helper.display.inline") {
    /**
    * @name 		inline
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.inline
    * @type        class
    *
    * Display the element as ```inline```
    *
    * @example 	html
    * <div class="inline">
    * 	I'm displayed as inline
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .inline {
     display: inline;
    }
  }
  @if class-match-namespace("sugar.helper.display.inline-block") {
    /**
    * @name 		inline-block
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.inline-block
    * @type        class
    *
    * Display the element as ```inline-block```
    *
    * @example 	html
    * <div class="inline-block">
    * 	I'm displayed as inline-block
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .inline-block {
      display: inline-block;
    }
  }
  @if class-match-namespace("sugar.helper.display.show") {
    /**
    * @name 		show
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.show
    * @type        class
    *
    * Display the element as ```block```
    *
    * @example 	html
    * <div class="show">
    * 	I'm displayed
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .show {
      display: block;
    }
  }
  @if class-match-namespace("sugar.helper.display.show-inline") {
    /**
    * @name 		show-inline
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.show-inline
    * @type        class
    *
    * Display the element as ```inline-block```
    *
    * @example 	html
    * <div class="show-inline">
    * 	I'm inline displayed
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .show-inline {
      display: inline-block;
    }
  }
  @if class-match-namespace("sugar.helper.display.hidden") {
    /**
    * @name 		hidden
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.hidden
    * @type        class
    *
    * Hide the element by setting the display to ```none```
    *
    * @example 	html
    * <div class="hidden">
    * 	I'm hidden
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .hidden {
      display: none;
    }
  }
  @if class-match-namespace("sugar.helper.display.hide") {
    /**
    * @name 		hide
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.hide
    * @type        class
    *
    * Hide the element by setting the display to ```none```
    *
    * @example 	html
    * <div class="hide">
    * 	I'm hidden
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .hide {
      display: none;
    }
  }
  @if class-match-namespace("sugar.helper.display.visible") {
    /**
    * @name 		visible
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.visible
    * @type        class
    *
    * Display the element by setting the visibility to ```visible```
    *
    * @example 	html
    * <div class="visible">
    * 	I'm visible
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .visible {
      visibility: visible;
    }
  }
  @if class-match-namespace("sugar.helper.display.invisible") {
    /**
    * @name 		invisible
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.invisible
    * @type        class
    *
    * Display the element by setting the visibility to ```hidden```
    *
    * @example 	html
    * <div class="invisible">
    * 	I'm invisible
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .invisible {
      visibility: hidden;
    }
  }
  @if class-match-namespace(
    "sugar.helper.display.visually-hidden"
  ) {
    /**
    * @name 		visually-hidden
    * @namespace             scss.core.class.helper
    * @class-namespace         sugar.helper.display.visually-hidden
    * @type        class
    *
    * Hide the element from display but not for SEO.
    * This class use some tricks to make the element dissapear without using some ```display:none;```, etc...
    *
    * @example 	html
    * <div class="visually-hidden">
    * 	I'm only visually hidden
    * </div>
    *
    * @since       1.0.0
    * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .visually-hidden {
     @include visually-hidden();
    }
  }
}
