.tools {
    position: fixed;
    top: sugar.margin(10);
    right: 0;
    z-index: 100;

    @sugar.media <=1400 {
        display: none;
    }

    @sugar.media mobile {
        display: none;
    }

    .s-btn {
        display: block;
        text-align: center;
    }

    ._btn {
        padding: sugar.padding(20);
        background: sugar.color(main, surface);
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    > * {
        display: block !important;
        margin-block: sugar.margin(20);
        margin-inline-end: sugar.margin(20);
    }

    .tools_opensource > .s-btn {
        color: sugar.color(main, text) !important;
    }

    .s-tooltip {
        width: 400px;
        padding: sugar.padding(50);
        background-color: sugar.color(main, surface);
        background-position: 50% 50%;
        background-size: cover;
        @sugar.depth (10);

        &:after {
            border-color: sugar.color(main, surface) transparent transparent
                transparent;
        }

        .s-floating_arrow {
            background: sugar.color(main, surface);
        }
    }
}
