@use '@coffeekraken/drawer-webcomponent/index' as drawer-webcomponent;
@use '@coffeekraken/sugar/index' as sugar;

@include drawer-webcomponent.classes(
	$name: 'apps',
	$side: 'left',
	$type: push
);

label[for="apps"] {
	cursor: pointer;
}
.drawer {

}
.drawer--sidemenu {
	background-color: sugar.color(secondary);

	ck-scrollbar {
		height: 100%;
		padding-bottom: sugar.space(bigger) * 2;
	}
}
