@use '@coffeekraken/sugar/index' as sugar;

/**
 * Header styling
 */
.header {
	background: sugar.color(secondary, -darken 5%);
	color:white;
	position: relative;
	z-index:100;

	[class*="col--"] {
		height: sugar.to-rem(50px);
	}
}

	.header__title,
	.header__logo {
		padding: 10px 10px;
	}

	.header__demos {
		padding: 17px 10px;
	}

	.header__title {
		color: white;
	}
	.header__logo {
		height:30px;
	}
