@use '@coffeekraken/sugar/index' as sugar;

.list {

}

.list--contributors {
	margin-left: -5px;
	margin-right: -5px;

	.list__item {
		display: inline-block;
		margin:0 5px;

		a {
			border-radius: 50%;
			overflow:hidden;
			width: sugar.to-rem(36px);
			height: sugar.to-rem(36px);
			border: 1px solid sugar.color(primary);
			display:block;
		}

		img {
			@include sugar.fit;
		}
	}
}
