@use '@coffeekraken/sugar/index' as sugar;

.sidemenu {
}

.sidemenu__item {
  a {
    display: block;
    padding: sugar.lnf(padding-horizontal) sugar.lnf(padding-vertical) * 1.5;
    color: sugar.color(white);
    border-bottom: sugar.color(white, -opacity 0.1) 1px solid;
    border-right: 0 sugar.color(primary) solid;
    text-decoration: none;

    @include sugar.transition(fast);

    &.active,
    &:hover {
      background: sugar.color(secondary, -lighten 5%);
      border-right: sugar.to-rem(5px) sugar.color(primary) solid;
    }
  }
}
