@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

@keyframes welcome-letters-1n {
    0% {
        color: sugar.color(main, text, --alpha 0.4);
    }
    50% {
        color: sugar.color(accent, text);
    }
    100% {
        color: sugar.color(main, text, --alpha 0.4);
    }
}
@keyframes welcome-letters-2n {
    0% {
        color: sugar.color(main, text, --alpha 0.4);
    }
    50% {
        color: sugar.color(complementary, text);
    }
    100% {
        color: sugar.color(main, text, --alpha 0.4);
    }
}

#homepage-welcome {
    height: calc(100vh - 200px);
    min-height: 800px;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10;

    .s-logo--coffeekraken-picto {
        width: 100px;
    }

    @sugar.media mobile {
        height: auto;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
    }

    ._content {
        position: relative;
        width: 100%;

        @sugar.media mobile {
            top: 40px;
        }
    }

    ._illustration {
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(900px);
        aspect-ratio: 4/3;
        transform: translateY(-50%) scale(1);
        user-select: none;
        pointer-events: none;
        filter: drop-shadow(
            150px 100px 15px sugar.color(main, background, --darken 10)
        );
        @sugar.transition;

        @sugar.media <=1000 {
            transform: translateX(-15%) translateY(-50%) scale(0.6);
        }

        @sugar.media tablet {
            display: none;
        }

        * {
            @sugar.font.family (code);
            white-space: nowrap;
        }

        ._line {
            white-space: nowrap;
            line-height: 1.3;
        }

        [welcome-slider]:not([ready]) {
            visibility: hidden;
        }

        .s-split-letter {
            opacity: 0;

            &:not(:empty).active {
                @sugar.transition fast;
                transform: scale(2) !important;

                &:nth-child(1n) {
                    color: sugar.color(accent, text);
                }
                &:nth-child(2n) {
                    color: sugar.color(complementary, text);
                }
                &:nth-child(3n) {
                    color: sugar.color(error, text);
                }
                &:nth-child(4n) {
                    color: sugar.color(info, text);
                }
            }
            &:not(:empty):hover {
                @sugar.transition fast;
                color: sugar.color(accent);
                transform: scale(2) !important;
            }
        }

        .s-tc--white {
            color: white;
        }

        ._text {
            color: sugar.color(main, text);
        }
        ._comment {
            color: sugar.color(main, text, --alpha 0.5);
        }

        ._code {
            position: absolute;
            font-size: 26px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            &._postcss {
                font-size: 36px;

                ._comment {
                    color: #f16f48;
                    color: sugar.color(complementary, text);

                    /* > span > span:nth-child(1n) {
                        animation: welcome-letters-1n 7s ease-in-out infinite;
                    }

                    > span > span:nth-child(2n) {
                        color: sugar.color(accent, text);
                        animation: welcome-letters-2n 10s ease-in-out infinite
                            0.5s;
                    } */
                    /* > span > span:nth-child(3n) {
                        color: sugar.color(info, text);
                    }
                    > span > span:nth-child(4n) {
                        color: sugar.color(error, text);
                    }
                    > span > span:nth-child(5n) {
                        color: sugar.color(main, text, --alpha 0.3);
                    } */
                }
            }

            &.active {
                z-index: 10;
            }
        }
    }
}
