@s.import ('./sugar.css');
@s.import ('../views/**/*.css');
@s.import ('./generic/**/*.css');

html {
    overflow-x: hidden;
    background: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
    @s.shape pill;

    @s.theme light {
        background: s.color(main, --lighten 45);
    }
}

[s-appear]:not([appear]) {
    opacity: 0;
}

.hljs > * {
    display: inline-block !important;
}

.s-page-transition.loading * {
    user-select: none;
    pointer-events: none !important;
}

.sticky {
    @s.media (>=desktop) {
        position: sticky;
        top: 100px;
    }
}

[s-form-validate][password] {
    ._levels * {
        display: none;
        margin-inline-end: s.margin(20);
    }

    &.password-weak ._levels ._weak {
        display: inline-block;
    }
    &.password-medium ._levels ._medium {
        display: inline-block;
    }
    &.password-strong ._levels ._strong {
        display: inline-block;
    }
}
