@s.import ('./sugar.css');
@s.import ('../views/**/*.css');
@s.import ('./generic/**/*.css');

html {
    overflow-x: hidden;
    background: none;
}

body {
    width: 100vw;
    overflow-x: hidden;
    @s.shape pill;
}

body {
    @s.theme light {
        background: s.color(main, --lighten 45);
    }
}

body:not(#homepage) {
    .s-container:not(._nav .s-container, .s-panel .s-container) {
        margin: 0 0 0 s.margin(80) !important;
        max-width: 1500px;
        translate: 0 0 !important;

        @s.media mobile {
            margin: 0 !important;
        }
    }
}

[s-appear]:not([appear]) {
    opacity: 0;
}

.hljs > * {
    display: inline-block !important;
}

.s-page-transition.loading * {
    user-select: none;
    pointer-events: none !important;
}

.sticky {
    @s.media (>=desktop) {
        position: sticky;
        top: 100px;
    }
}

[s-form-validate][password] {
    ._levels * {
        display: none;
        margin-inline-end: s.margin(20);
    }

    &.password-weak ._levels ._weak {
        display: inline-block;
    }
    &.password-medium ._levels ._medium {
        display: inline-block;
    }
    &.password-strong ._levels ._strong {
        display: inline-block;
    }
}
