/* init theme */
@s.init();
@s.theme.apply ($theme: coffeekraken, $variant: light);
@s.theme.import ($theme: coffeekraken, $variant: dark);

/* main sugar classes */
/* we need to load them all to display correctly the documentation */

@s.scope.only 'bare' {
    @s.ui.tooltip.classes;
    @s.ui.dropdown.classes;
    @s.ui.badge.classes;
    @s.ui.tabs.classes;
    @s.ui.button.classes;
    @s.ui.gauge.classes;
    @s.ui.avatar.classes;
    @s.ui.backdrop.classes;
    @s.ui.blockquote.classes;
    @s.ui.checkbox.classes;
    @s.ui.fstree.classes;
    @s.ui.input.classes;
    @s.ui.inputcontainer.classes;
    @s.ui.label.classes;
    @s.ui.list.classes;
    @s.ui.loader.classes;
    @s.ui.media.classes;
    @s.ui.radio.classes;
    @s.ui.range.classes;
    @s.ui.select.classes;
    @s.ui.switch.classes;
    @s.ui.table.classes;
    @s.ui.toggle.classes;
}

@s.container.classes;
@s.disabled.classes;
@s.layout.classes;
@s.typo.classes;
@s.format.classes;
@s.font.classes;
@s.color.classes;
@s.margin.classes;
@s.padding.classes;
@s.gradient.classes;
@s.grid.classes;
@s.group.classes;
@s.hide.classes;
@s.clearfix.classes;
@s.cursor.classes;
@s.link.classes;
@s.gap.classes;
@s.text.classes;
@s.depth.classes;
@s.flex.classes;
@s.fit.classes;
@s.float.classes;
@s.font.classes;
@s.ratio.classes;
@s.scale.classes;
@s.border.classes;
@s.display.classes;
@s.overflow.classes;
@s.position.classes;
@s.pointer.classes;
@s.transition.classes;
@s.offsize.classes;
@s.opacity.classes;
@s.order.classes;
@s.spacing.classes;
@s.until.classes;
@s.when.classes;
@s.userselect.classes;
@s.visibility.classes;
@s.visually.classes;
@s.truncate.classes;
@s.shape.classes;
@s.width.classes;
@s.when.classes;
@s.whitespace.classes;

/* UI's */
@s.ui.codeexample.classes;
@s.ui.clipboardcopy;

/* mobile specific classes */
@s.media.classes mobile {
    @s.layout.classes;
    @s.typo.classes;
}

/* icons */
@s.icon.classes (
  fa:fire
  fa:user-graduate:documentation
  fa:synagogue:start
  fa:file-code:examples
  fa:magnifying-glass:search
  fa:expand:enter-fullscreen
  fa:compress:exit-fullscreen
  fa:list-ul:menu
  fa:keyboard
  fa:file
  fa:heart
  fa:bugs
  fa:moon
  fa:sun
  fa:angle-up
  fa:lightbulb
  fa:user
  fa:display
  fa:brush
  fa:scissors
  fab:osi:logo-opensource
  fab:discord
  fab:github
  fab:facebook
  fab:patreon
  fab:twitter
  fab:instagram
  fs:'src/icons/coffeekraken/logo-postcss.svg'
  fs:'src/icons/coffeekraken/ui-menu-grid-solid.svg'
  fs:'src/icons/coffeekraken/logo-coffeekraken-sugar.svg'
);
