@use 'sass:map';
/**
 * Return the map value depending on the passed path
 *
 * @param       {Map}       $map        The map in which to get the value
 * @param       {String}    $path       The path to get the value from
 * @param       {Mixed}     [$default:null]       The default value to return if none exist
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@function map-get-path($map, $path, $default: null) {
  $parts: str-split($path, ".");
  $value: $map;
  @each $part in $parts {
    $newValue: map.get($value, $part);
    @if not $newValue {
      @return $default;
    }
    $value: $newValue;
  }
  @return $value;
}
