@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');

@keyframes welcome-blur {
    0% {
        filter: blur(10px);
        opacity: 0.1;
    }
    20% {
        filter: blur(15px);
        opacity: 0.08;
    }
    40% {
        filter: blur(10px);
        opacity: 0.05;
    }
    60% {
        filter: blur(15px);
        opacity: 0.12;
    }
    80% {
        filter: blur(5px);
        opacity: 0.05;
    }
    100% {
        filter: blur(10px);
        opacity: 0.1;
    }
}

#homepage-welcome {
    height: calc(100vh - 200px);
    margin-block-end: -100px;
    min-height: 800px;
    text-align: left;
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10;
    padding-block: 0;

    .s-logo--coffeekraken-picto {
        width: 100px;
    }

    @sugar.media mobile {
        height: auto;
        text-align: center;
        position: relative;
        top: 100px;
        left: 0;
        width: 100%;
    }

    ._content {
        display: flex;
        align-items: center;
        gap: sugar.margin(100);

        ._right {
            flex-grow: 1;
        }

        @sugar.media >=wide {
            @sugar.container (wide);
        }

        @sugar.media mobile {
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            transform: none;
            padding: sugar.padding(30) sugar.padding(30);
        }
    }

    ._illustration {
        position: absolute;
        top: 0;
        left: 40%;
        width: 50vw;
        height: 100%;
        user-select: none;
        pointer-events: none;

        filter: drop-shadow(
            150px 100px 15px sugar.color(main, background, --darken 10)
        );
        * {
            font-family: 'Baloo Da 2', cursive;
            white-space: nowrap;
        }

        ._line {
            white-space: nowrap;
            line-height: 1.3;

            .s-tc--error {
                /* text-decoration: underline; */
            }
        }

        .s-split-letter {
            opacity: 0;
        }

        ._text {
            color: sugar.color(main, text);
        }
        ._comment {
            opacity: 0.5;
        }

        ._01-1,
        ._01-2,
        ._01-3 {
            display: none;
            position: absolute;
            font-size: 250px;
            top: 50%;
            transform: translateY(-50%);
            animation: welcome-blur 2s ease-in-out 0s infinite;
            /* filter: blur(20px); */
            opacity: 0.2;
        }
        ._01-2 {
            opacity: 0.03 !important;
            font-size: 350px;
            top: 60%;
            left: -40%;
            * {
                opacity: 1 !important;
                color: black !important;
            }
        }

        ._01-3 {
            opacity: 0.5 !important;
            z-index: 10;
            font-size: 350px;
            top: 40%;
            left: 40%;
            filter: blur(70px) !important;
            * {
                opacity: 1 !important;
            }
        }

        ._02 {
            position: absolute;
            font-size: 40px;
            top: 20%;
            left: 0;
            display: none;
            transform: translateY(-10%);
        }
        ._03 {
            position: absolute;
            display: none;
            font-size: 80px;
            top: 70%;
            left: 0;
            opacity: 0.4;
            transform: translateY(-10%);
            filter: blur(10px)
                drop-shadow(0 0 20px sugar.color(main, background));
        }
        ._04 {
            position: absolute;
            font-size: 40px;
            top: 50%;
            left: 20%;
            transform: translateY(-50%);
        }
        ._05 {
            color: sugar.color(error, text);
            position: absolute;
            font-size: 40px;
            top: 50%;
            left: 20%;
            transform: translateY(-50%);
        }
        ._06 {
            position: absolute;
            font-size: 40px;
            top: 50%;
            left: 20%;
            transform: translateY(-50%);
        }
    }
}
