.examples {
    display: flex;
    /* @sugar.depth (100); */

    ._sidebar {
        width: 400px;
        flex-shrink: 0;
        /* background: sugar.color(main, surface);
        border: solid 1px sugar.color(main, border); */
        @sugar.border.radius();

        a {
            display: block;
            padding: sugar.padding(30) sugar.padding(30);
            border-top-left-radius: sugar.border.radius();
            border-bottom-left-radius: sugar.border.radius();
            background: sugar.color(main, surface, --alpha 0);
            @sugar.transition;
            @sugar.focus.outline (accent);

            &:hover {
                background: sugar.color(main, surface, --alpha 0.4);
            }
            &:active,
            &.active {
                background: sugar.color(main, surface);
                color: sugar.color(accent);
            }

            i {
                margin-inline-end: sugar.margin(10);
            }
        }
    }

    ._content {
        background: sugar.color(main, surface);
        flex-grow: 1;
    }

    ._code {
        display: none;

        &.active {
            display: block;
        }

        .s-code-example_tabs,
        .s-code-example_toolbar {
            display: none;
        }
    }
}
