.scroll-top {
    position: fixed;
    z-index: 20;
    bottom: 20px;
    right: 20px;
    background: sugar.color(main, surface);
    padding: sugar.padding(20) sugar.padding(30);
    font-size: sugar.font.size(50);
    @sugar.border.radius;
    opacity: 0;
    transform: translateY(50%);
    transition: sugar.transition(fast);
    poiner-events: none;

    .scrolled & {
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
    }

    @sugar.media mobile {
        display: none;
    }

    &:hover {
        background: sugar.color(main, surface, --lighten 10);
    }
}
