.step {
    position: relative;

    &:before {
        content: attr(step);
        font-size: sugar.font.size(100);
        width: 1.5em;
        font-weight: bold;
        position: absolute;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -0.5em;
        right: 0.6em;
        aspect-ratio: 1;
        background: sugar.color(accent);
        border-radius: 999px;
        background-image: linear-gradient(
            135deg,
            sugar.color(main, background),
            sugar.color(main, background)
        );

        @sugar.media mobile {
            font-size: sugar.font.size(80);
            top: 0;
            right: 50px;
        }
    }
}
