.section-slider {
    position: relative;
    z-index: 10;

    @s.lod (3) {
        margin-block: -20px;
    }

    @s.media mobile {
        padding-block: 0;
        margin-block-end: 100px;
        transform: scale(1.05);
    }
}
