s-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    pointer-events: none;

    &[active] {
        pointer-events: all;
    }

    &:not([mounted]) > * {
        display: none;
    }
}

.s-panel {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

.s-panel__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.s-panel__container {
    display: none;
    position: absolute;
    z-index: 1;

    [mounted] & {
        display: block;
    }

    [position='left'] & {
        left: 0;
        top: 0;
        height: 100%;
        transform: translateX(-100%);
    }
    [position='top'] & {
        left: 0;
        top: 0;
        width: 100%;
        min-height: 40px;
        transform: translateY(-100%);
    }
    [position='right'] & {
        right: 0;
        top: 0;
        height: 100%;
        min-width: 40px;
        transform: translateX(100%);
    }
    [position='bottom'] & {
        left: 0;
        bottom: 0;
        width: 100%;
        min-height: 40px;
        transform: translateY(100%);
    }
    [position='modal'] & {
        top: 50%;
        left: 50%;
        min-width: 50px;
        min-height: 50px;
        transform: translate(-50%, -50%);
    }
    [active][position='modal'] & {
        transform: translate(-50%, -50%);
    }

    [active] & {
        transform: translateX(0) translateY(0);
    }
}

.s-panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

s-panel[lnf='default'] {
    .s-panel__backdrop {
        background: sugar.color(main, surface, --alpha 0.6);
        transition: sugar.transition(default);
        opacity: 0;
    }

    .s-panel__container {
        transition: sugar.transition(default);
        background: sugar.color(main, background);
        @sugar.depth (100);
        @sugar.border.radius;
        opacity: 0;
    }

    &[active] {
        .s-panel__container,
        .s-panel__backdrop {
            opacity: 1;
        }
    }
}
