.lod {
    position: fixed !important;
    top: sugar.margin(40);
    right: sugar.margin(30);
    z-index: 101;
    overflow: hidden;
    @sugar.border.radius;
    background: sugar.color(base, background, --darken 5);

    @sugar.media mobile {
        display: none;
    }

    ._level {
        border-right: solid 4px sugar.color(accent);
        padding: sugar.padding(20) sugar.padding(30);
        cursor: pointer;

        &:hover {
            background: sugar.color(accent, --alpha 0.6);
        }
        &.active {
            background: sugar.color(accent);
        }
    }

    @sugar.lod.wireframe {
        border: 2px solid rgba(0, 0, 0, 0.05);
        background: white;

        &:after,
        *:after {
            display: none !important;
        }

        ._level {
            border-bottom: 2px solid rgba(0, 0, 0, 0.05);

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                background: rgba(0, 0, 0, 0.03);
            }
            &.active {
                background: rgba(0, 0, 0, 0.05);
            }
        }
    }
}
