@sugar.import ('../views/**/*.css');
@sugar.import ('./generic/**/*.css');

@sugar.init;
@sugar.classes;
@sugar.ui.filtrableinput.classes;

/* 
@sugar.media.classes(tablet, tablet) {
  @sugar.classes;
}
@sugar.media.classes(desktop, desktop) {
  @sugar.classes;
} */

body {
    @sugar.theme.when (dark) {
        background-color: sugar.color(main, --darken 30);
    }
}

@sugar.icon.classes (
  fa:user:user
  fa:heart:heart
  fa:fire:fire
  fa:copy:copy
  fa:eye:preview
  fab:css3-alt:css
  fa:box-open:box
  fa:info:info
  fa:chalkboard-teacher:example
  fa:list-ul:list-ul
  fa:cogs:setting
  fa:th:return
  fa:search:search
  fa:radiation:nothing
  fa:download:import
  fab:discord:discord
  fab:github:github
  fab:facebook:facebook
  fab:twitter:twitter
  fab:instagram:instagram
  fa:cloud-download-alt:install
  fa:cogs:settings
  fab:vuejs:vuejs
  fa:tasks:tasks
  fa:hammer:todo
  fa:file-pdf
  fa:file-image
  fa:file-code
  fa:file-archive
  fa:file
  fs:src/icons/coffeekraken/lang/lang-js.svg
  fs:src/icons/coffeekraken/lang/lang-ts.svg
  fs:src/icons/coffeekraken/lang/lang-css.svg
  fs:src/icons/coffeekraken/lang/lang-html.svg
  fs:src/icons/coffeekraken/lang/lang-php.svg
  fs:src/icons/coffeekraken/lang/lang-html.svg
  fs:src/icons/coffeekraken/lang/lang-md.svg
  fs:src/icons/coffeekraken/file/file-js.svg
  fs:src/icons/coffeekraken/file/file-ts.svg
  fs:src/icons/coffeekraken/file/file-css.svg
  fs:src/icons/coffeekraken/file/file-html.svg
  fs:src/icons/coffeekraken/file/file-php.svg
  fs:src/icons/coffeekraken/file/file-html.svg
  fs:src/icons/coffeekraken/file/file-md.svg
  fs:src/icons/coffeekraken/fs/folder.svg
  fs:src/icons/coffeekraken/fs/folder-opened.svg
  fs:src/icons/coffeekraken/display/display-preview.svg
  fs:src/icons/read-direction.svg:support-rtl
  fs:src/icons/edge.svg:support-edge
  fs:src/icons/chrome.svg:support-chromium
  fs:src/icons/firefox.svg:support-firefox
  fs:src/icons/safari.svg:support-safari
  fs:src/icons/vuejs.svg:vue
);

.hljs > * {
    display: inline-block !important;
}

@sugar.platform.classes;

.s-theme--default-dark {
    @sugar.theme (dark);
}

[class*='s-btn']:not(s-date-picker [class*='s-btn']):not(.preview
        [class*='s-btn']) {
    /* border-radius: 100px !important; */
    border: none !important;
}

#bkg {
    position: absolute;
    top: 0;
    right: 0;
    width: 135vh;
    height: 100vh;
    background: url(/src/img/idflood/08.jpg);
    background-position: center;
    background-size: cover;

    &:after {
    }
}
