@sugar.import ('../views/**/*.css');
@sugar.import ('./generic/**/*.css');

@sugar.init;
@sugar.classes;

/* 
@sugar.media.classes(tablet, tablet) {
  @sugar.classes;
}
@sugar.media.classes(desktop, desktop) {
  @sugar.classes;
} */

@sugar.theme (dark, true);

body {
    @sugar.theme.when (dark) {
        background-color: sugar.color(main, --darken 30);
    }
}

s-code-example {
    opacity: 0;
    transition: all 0.2s ease-out;

    &[mounted] {
        opacity: 1;
    }
}

a:active {
    color: red;
}

@sugar.icon.classes (
  fa:user:user
  fa:heart:heart
  fa:fire:fire
  fa:copy:copy
  fa:box-open:box
  fa:info:info
  fa:chalkboard-teacher:example
  fa:list-ul:list-ul
  fa:cogs:setting
  fa:th:return
  fa:search:search
  fa:radiation:nothing
  fa:download:import
  fa:cogs:settings
  fab:vuejs:vuejs
  fa:tasks:tasks
  fa:hammer:todo
  fs:src/icons/vuejs.svg:vue
);

.hljs > * {
    display: inline-block !important;
}

@sugar.platform.classes;

.s-theme--dark,
/* .s-tooltip:not(.s-theme--dark .s-tooltip), */
.s-code-example {
    @sugar.theme (dark);
}

[class*='s-btn'] {
    border-radius: 100px !important;
    border: none !important;
}

#bkg {
    position: absolute;
    top: 0;
    right: 0;
    width: 135vh;
    height: 100vh;
    background: url(/src/img/idflood/08.jpg);
    background-position: center;
    background-size: cover;

    &:after {
    }
}
