.adaptive-color {
    [fill='white'],
    .main {
        fill: s.color(main);
    }
    [fill='#FFBB01'],
    [fill='#FEBD0F'] .accent {
        fill: s.color(accent);
    }
    [stroke='#FFBB01'],
    [stroke='#FEBD0F'] {
        stroke: s.color(accent);
    }

    [fill='#5100FF'],
    [fill='#4900E6'],
    [fill='#FEBD0F'] .complementary {
        fill: s.color(complementary);
    }
    [stroke='#5100FF'],
    [stroke='#4900E6'],
    [stroke='#FEBD0F'] {
        stroke: s.color(complementary);
    }

    @s.theme (dark) {
        [fill='white'],
        .main {
            fill: s.color(main, text);
        }
        [fill='#FFBB01'],
        [fill='#FEBD0F'],
        .accent {
            fill: s.color(accent);
        }
        [stroke='#FFBB01'],
        [stroke='#FEBD0F'] {
            stroke: s.color(accent);
        }
    }
}
