.examples {
    display: flex;
    gap: s.margin(50);

    @s.media <=tablet {
        flex-direction: column;
    }

    ._sidebar {
        width: 400px;
        flex-shrink: 0;
        position: relative;
        top: s.margin(40);
        @s.border.radius();

        @s.media <=tablet {
            display: flex;
            width: 100%;
            overflow-x: auto;
            @s.scrollbar;
        }

        a {
            position: relative;
            display: block;
            padding: s.padding(30) s.padding(40);
            white-space: nowrap;
            @s.transition fast;
            @s.shape;

            &:hover {
            }
            &:active,
            &.active {
                background: s.color(main, surface, --alpha 0.5);
                color: s.color(accent);

                &:before {
                    opacity: 0.8;
                }
            }

            i {
                margin-inline-end: s.margin(10);
            }
        }
    }

    .s-code-example {
        min-height: 570px;
    }

    ._content {
        flex-grow: 1;
    }

    ._code {
        display: none;

        &.active {
            display: block;
        }

        .s-code-example_tabs,
        .s-code-example_toolbar {
            display: none;
        }
    }
}
