.scroll-top {
    position: fixed;
    z-index: 20;
    bottom: 20px;
    right: 20px;
    background: s.color(main, surface);
    padding: s.padding(20);
    width: 3em;
    aspect-ratio: 1;
    @s.shape;
    opacity: 0;
    transform: translateY(50%);
    transition: s.transition(fast);
    poiner-events: none;
    display: flex;
    align-items: center;
    justify-content: center;

    .scrolled & {
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
    }

    @s.media <=tablet {
        display: none;
    }

    &:hover {
        background: s.color(main, surface, --lighten 10);
    }
}
