.s-code-example {
    &_content {
        max-height: 60vh !important;
        overflow-y: auto;
        @s.scrollbar;
    }

    code {
        background: s.color(main, surface, --alpha 0.4) !important;
    }

    &_more-bar {
        &:before {
            display: none;
        }
    }
}
