.section {
    /* padding-block: s.padding(100); */
    display: flex;
    align-items: center;
    min-height: 80vh;

    @s.media tablet {
        padding-block: s.padding(60) !important;
        padding-inline: s.padding(50);
    }
    @s.media mobile {
        padding-block: s.padding(60) !important;
        padding-inline: s.padding(30);
    }
}
