/**
  * @name            paragraph-classes
  * @namespace       sugar.scss.component.paragraph.class
  * @type            Mixin
  *
  * This mixin generate all the css needed to display properly some paragraphs.
  *
  * @param       {List<String>}      [$names=map-keys(setting('components.paragraph'))]                                List all paragraphs "names" you want to generate
  * @param         {List<String>}    [$scope=null]       The scope you want to generate. Usually "all", "bare" or "style"            
  * @param          {String}        [$name='p']                 The name you want for your paragraphs
  *
  * @example         html
  * <p class="#{sel(p)}">
  *   Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis purus ac rhoncus mollis. Mauris lacinia velit purus, sit amet aliquet odio imperdiet in. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis rhoncus magna et dui bibendum, id suscipit dui consectetur. Nulla facilisi. Vivamus a metus nunc. Pellentesque eu lectus a velit consequat condimentum. Donec ac dolor sed enim posuere fringilla et dapibus metus. Nam id vehicula enim. In hac habitasse platea dictumst. Phasellus ultricies eros et neque blandit pulvinar. Proin nec urna auctor, porttitor ligula eu, fermentum risus. Etiam non eros blandit, pellentesque purus quis, viverra arcu.
  * </p>
  *
  * @example           scss
  * @include Sugar.paragraph-classes();
  *
  * @since       2.0.0
  * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
  */
@mixin paragraph-classes(
  $names: map-keys(setting('components.paragraph')),
  $scope: null,
  $name: 'p'
) {
  @if class-match-namespace('sugar.component.paragraph') {
    @each $n in $names {
      /**
      * @name              .#{sel(#{$name}--#{$n})}, .#{sel(#{tf-class()})} #{sel('p.#{$n}', null)}
      * @namespace         sugar.scss.component
      * @type              Classname
      *
      * This class can be applied on any ```#{$name}``` component to specify his style
      *
      * @example         html
      * <p class="#{sel(p--#{$n})}">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec facilisis purus ac rhoncus mollis. Mauris lacinia velit purus, sit amet aliquet odio imperdiet in. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis rhoncus magna et dui bibendum, id suscipit dui consectetur. Nulla facilisi. Vivamus a metus nunc. Pellentesque eu lectus a velit consequat condimentum. Donec ac dolor sed enim posuere fringilla et dapibus metus. Nam id vehicula enim. In hac habitasse platea dictumst. Phasellus ultricies eros et neque blandit pulvinar. Proin nec urna auctor, porttitor ligula eu, fermentum risus. Etiam non eros blandit, pellentesque purus quis, viverra arcu.</p>
      *
      * @since       2.0.0
      * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
      */
      .#{sel(#{tf-class()})} #{$name}.#{$n},
      .#{sel(#{$name}--#{$n})} {
        @include paragraph($name: $n, $scope: $scope);
      }
    }
  }
}
