#homepage-welcome {
  height: 100vh;
  text-align: left;
  position: relative;
  z-index: 10;
  margin-bottom: 50px;

  @sugar.media mobile {
    height: auto;
    text-align: center;
  }

  .__illustration {
    position: absolute;
    width: 1280px;
    height: 720px;
    z-index: 10;
    top: 50vh;
    left: calc(50% - 250px);
    transform: scale(1) translateY(-50%);
    pointer-events: none;

    @sugar.media mobile {
      position: relative;
      top: 100px;
      left: 0;
      width: 100%;
      height: 350px;
      transform: scale(1.4);
    }

    ck-blob {
      display: block;
    }

    .__loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .__content {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @sugar.container (default);

    @sugar.media >=wide {
      @sugar.container (wide);
    }

    @sugar.media mobile {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      transform: none;
      padding: sugar.padding(100) sugar.padding(30);
    }
  }
}
