.s-section-contact {
    position: relative;

    ._layout {
        @s.layout '1 1 2 3 3';
        gap: s.margin(50);

        @s.media mobile {
            @s.layout '1 _ 2 _ 3';

            > *:nth-child(2) {
                display: none;
            }
        }

        &.left {
            @s.layout '3 3 2 1 1';
            gap: s.margin(50);
        }
    }

    ._metas {
        margin-block-end: s.margin(40);
    }

    ._address {
    }

    ._socials {
        margin-block-start: s.margin(40);
        font-size: s.font.size(50);
        display: flex;
        flex-direction: row;
        gap: s.margin(20);

        a {
            @s.transition (fast);

            &:hover {
                color: s.color(accent);
            }
        }
    }

    .s-form {
        @s.media mobile {
            margin-block-start: calc(s.margin(40) * -1);
        }
    }

    .s-google-map {
        width: 43vw;
        height: 300px;

        @s.lod (2) {
            margin-bottom: calc(s.padding(80) * 2 * -1);
            top: calc(s.padding(80) * -1);
            height: 700px;
        }
    }

    .s-google-map-marker {
        @s.color (accent);
    }
}
