.s-section-contact {
    ._layout {
    }

    ._address {
    }

    ._socials {
        font-size: s.font.size(50);

        a {
            opacity: 0.5;
            @s.transition (fast);

            &:hover {
                color: s.color(accent);
                opacity: 1;
            }
        }
    }

    .s-form {
    }

    /* .s-google-map {
        width: 43vw;
        margin-bottom: calc(s.padding(80) * 2 * -1);
        top: calc(s.padding(80) * -1);
        height: 700px;
    }

    .s-google-map-marker {
        @s.color (accent);
    }
     */
}
