.ck-action {
    display: inline-flex;
    aspect-ratio: 1/1;
    align-items: center;
    justify-content: center;
    width: calc(1em + s.padding(30) * 2);
    height: calc(1em + s.padding(30) * 2);
    @s.border.radius();
    background: s.color(main, --alpha 0.1);

    &:hover {
        background: s.color(accent, --alpha 0.3);
    }
    &.active {
        background: s.color(accent);
        color: s.color(accent, foreground);
    }

    @s.theme dark {
        background: s.color(main, --darken 45 --alpha 0.3);

        &:hover {
            background: s.color(accent, --alpha 0.3);
        }
        &.active {
            background: s.color(accent);
        }
    }
}
