.ck-branch {
    background: s.color(complementary);
    border-radius: 999px;
    padding: s.padding(20) s.padding(30);
    font-family: s.font.family(code);
    color: s.color(complementary, foreground);
}
