.ck-count {
    display: inline-block;
    background: sugar.color(accent, surface);
    /* width: 1.4em; */
    padding-inline: sugar.padding(10);
    height: 1.4em;
    font-size: 0.8em;
    text-align: center;
    border-radius: 999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
