.ck-list {
    &_item {
        /* border-inline-start: 1px solid s.color(accent); */
        padding: s.padding(20) s.padding(20);
        border-color: s.color(current);
        @s.border.radius (10);
        cursor: pointer;
        user-select: none;

        &:hover {
            /* background-color: s.color(current, --alpha 0.1);  */
            background-color: s.color(accent, --alpha 0.3);
        }
        &:focus-within {
            background-color: s.color(accent, --alpha 1);
            color: s.color(accent, foreground);
        }

        @s.theme dark {
            &:hover {
                background-color: s.color(main, --alpha 0.2);
            }
            &:focus-within {
                background-color: s.color(main, --alpha 1);
                color: s.color(accent, foreground);
            }
        }
    }
}
