.ck-panel {
    display: flex;
    flex-direction: column;
    background: s.color(main, background, --alpha 0.7);
    padding: s.padding(30);
    @s.border.radius (10);
    max-height: calc(100vh - 250px);

    .ck-panel_section {
        &-scrollable {
            flex-grow: 1;
            overflow-y: auto;
            @s.scrollbar;
        }
    }
}
