.ck-stat {
    .ck-stat_label {
        font-size: 16px;
        color: sugar.color(accent);
    }
    .ck-stat_value {
        font-size: 30px;
        margin-block-start: sugar.margin(10);

        &-code {
            font-family: sugar.font.family(code);
        }
    }
}
