.s-menu-generic {
    .s-menu-level-0 {
        &_link {
        }

        &_item {
        }
    }

    .s-menu_link {
        @s.transition fast;
        display: block;
        padding: s.padding(20) s.padding(30);

        &:hover {
            background: s.color(main);
            color: s.color(main, foreground);
            @s.border.radius;
        }
    }

    .s-menu_level {
        @s.transition fast;
    }

    .s-menu-level-1,
    .s-menu-level-2,
    .s-menu-level-3 {
        @s.depth (100);
    }

    .s-menu-level-1 {
        background: s.color(main, background);
        padding: s.padding(20);
        transform: translateY(-10px);
        @s.transition fast;
        @s.border.radius;
    }

    .s-menu-level-0 {
        &_item:hover {
            .s-menu-level-1 {
                transform: translateY(0);
            }
        }
    }
}
