sherlock-header {
    display: block;
}

.sh-header {
    display: flex;
    height: 80px;
    align-items: center;
    background: sugar.color(main, background, --darken 5% --alpha 0.4);
    backdrop-filter: blur(10px);
    padding-inline: sugar.padding(30);

    ._spacer {
        flex-grow: 1;
    }

    .s-logo {
        width: 30px;
    }

    ._metas {
        display: flex;
        align-items: center;
    }

    ._breadcrumb {
        display: flex;
        gap: sugar.margin(20);
        padding-inline-start: sugar.margin(30);

        ._item:not(:last-child):after {
            content: '/';
            margin-inline-start: sugar.margin(20);
            opacity: 0.3;
        }
    }

    ._user-info {
        display: flex;
        align-items: center;
        gap: sugar.margin(20);
        user-select: none;
        cursor: pointer;

        .s-avatar {
            font-size: 40px;
        }
    }

    ._title {
        font-size: sugar.font.size(50);
        position: relative;
        top: 1px;
        margin-inline-start: sugar.margin(20);
        color: sugar.color(accent);
    }
}
