/**
 * @name    ratio
 * @namespace     sugar.scss.mixin
 * @type      mixin
 *
 * Apply a ratio css styling. This will apply a before or after content that will make the element keep the specified ratio.
 * The content need to be displayed as absolute top left and fit in size.
 *
 * @param 		{Number} 		$ratio 			The ratio to keep like 16/9, etc...
 *
 * @example 	scss
 * .my-cool-element {
 * 	\@include sugar.ratio(16/9);
 * }
 *
 * @author 		Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin ratio($ratio) {
  $ratio: test-argument("sugar.ratio", "ratio", number, $ratio);

  position: relative;
  &::before {
    content: "";
    padding-top: math-percentage(1 / $ratio);
    float: left;
  }
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
