/**
 * This file is responsible to register the static helper classes like:
 *
 * - sugar.helper.pull.left : <primary>pull-left</primary>
 * - sugar.helper.pull.right : <primary>pull-right</primary>
 * - sugar.helper.position.relative : <primary>relative</primary>
 * - sugar.helper.position.absolute : <primary>absolute</primary>
 * - sugar.helper.clear.left : <primary>clear-left</primary>
 * - sugar.helper.clear.right : <primary>clear-right</primary>
 * - sugar.helper.clear.both : <primary>clear</primary>
 * - sugar.helper.pointer.events.all : <primary>pointer-events-all</primary>
 * - sugar.helper.pointer.events.none : <primary>pointer-events-none</primary>
 * - sugar.helper.display.show : <primary>show</primary>
 * - sugar.helper.display.show-inline : <primary>show-inline</primary>
 * - sugar.helper.display.hidden : <primary>hidden</primary>
 * - sugar.helper.display.hide : <primary>hide</primary>
 * - sugar.helper.display.visible : <primary>visible</primary>
 * - sugar.helper.display.invisible : <primary>invisible</primary>
 * - sugar.helper.display.visually-hidden : <primary>visually-hidden</primary>
 * - sugar.helper.text.hidden : <primary>t-hidden</primary>
 * - sugar.helper.text.truncate : <primary>t-truncate</primary>
 * - sugar.helper.text.align.left : <primary>t-left</primary>
 * - sugar.helper.text.align.right : <primary>t-right</primary>
 * - sugar.helper.text.align.center : <primary>t-center</primary>
 * - sugar.helper.text.align.justify : <primary>t-justify</primary>
 * - sugar.helper.text.transform.lowercase : <primary>t-lowercase</primary>
 * - sugar.helper.text.transform.uppercase : <primary>t-uppercase</primary>
 * - sugar.helper.text.transform.capitalize : <primary>t-capitalize</primary>
 * - sugar.helper.font.weight.bold : <primary>f-bold</primary>
 * - sugar.helper.font.weight.lighter : <primary>f-lighter</primary>
 * - sugar.helper.font.weight.bolder : <primary>f-bolder</primary>
 * - sugar.helper.font.weight.normal : <primary>f-normal</primary>
 * - sugar.helper.font.style.italic : <primary>f-italic</primary>
 * - sugar.helper.font.style.oblique : <primary>f-oblique</primary>
 * - sugar.helper.font.variant.small-caps : <primary>f-small-caps</primary>
 * - sugar.helper.block.align.center : <primary>block-center</primary>
 * - sugar.helper.ratio.21-9 : <primary>ratio-21-9</primary>
 * - sugar.helper.ratio.16-9 : <primary>ratio-16-9</primary>
 * - sugar.helper.ratio.4-3 : <primary>ratio-4-3</primary>
 * - sugar.helper.ratio.1-1 : <primary>ratio-1-1</primary>
 * - sugar.helper.size.abs.cover : <primary>abs-cover</primary>
 * - sugar.helper.size.abs.contain : <primary>abs-contain</primary>
 * - sugar.helper.size.abs.fit : <primary>abs-fit</primary>
 * - sugar.helper.media.object : <primary>mo .mo--center .mo--end .mo__content</primary>
 * - sugar.helper.clearfix.default : <primary>clearfix</primary>
 * - sugar.helper.clearfix.float : <primary>clearfix-float</primary>
 * - sugar.helper.clearfix.micro : <primary>clearfix-micro</primary>
 * - sugar.helper.clearfix.overflow : <primary>clearfix-overflow</primary>
 * - sugar.helper.clearfix.facebook : <primary>clearfix-facebook</primary>
 * - sugar.helper.no-transition : <primary>no-transition</primary>
 * - sugar.helper.clear-transition : <primary>clear-transition</primary>
 * - sugar.helper.no-animation : <primary>no-animation</primary>
 * - sugar.helper.clear-animation : <primary>clear-animation</primary>
 * - sugar.helper.no-transmation : <primary>no-transmation</primary>
 * - sugar.helper.clear-transmation : <primary>clear-transmation</primary>
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
 */

//
// Pull
//
@include register-class(pull-left, "sugar.helper.pull.left") {
  /**
   * @name 		pull-left
   * @namespace 	sugar.scss.helper.class.pull
   * @type        class
   *
	 * Allows you to pull an element to the left side
   *
   * @example 	html
   * <div>
	 * 	<span class="pull-left">Hello world</span>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  float: left;
}
@include register-class(pull-right, "sugar.helper.pull.right") {
  /**
   * @name 		pull-right
   * @namespace 	sugar.scss.helper.class.pull
   * @type        class
   *
	 * Allows you to pull an element to the right side
   *
   * @example 	html
   * <div>
	 * 	<span class="pull-right">Hello world</span>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  float: right;
}

//
// Position
//
@include register-class(relative, "sugar.helper.position.relative") {
  /**
   * @name 		relative
   * @namespace 	sugar.scss.helper.class.position
   * @type        class
   *
	 * Set an element position as ```relative```
   *
   * @example 	html
	 * <div class="relative">
	 * 	I'm relative now
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  position: relative;
}
@include register-class(absolute, "sugar.helper.position.absolute") {
  /**
   * @name 		absolute
   * @namespace 	sugar.scss.helper.class.position
   * @type        class
   *
	 * Set an element position as ```absolute```
   *
   * @example 	html
	 * <div class="absolute">
	 * 	I'm absolute now
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  position: absolute;
}

//
// Clear
//
@include register-class(clear-left, "sugar.helper.clear.left") {
  /**
   * @name 		clear-left
   * @namespace 	sugar.scss.helper.class.float
   * @type        class
   *
	 * Clear the left float on the element
   *
   * @example 	html
	 * <div class="clear-left">
	 * 	I clear the left float
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  clear: left;
}
@include register-class(clear-right, "sugar.helper.clear.right") {
  /**
   * @name 		clear-right
   * @namespace 	sugar.scss.helper.class.float
   * @type        class
   *
	 * Clear the right float on the element
   *
   * @example 	html
	 * <div class="clear-right">
	 * 	I clear the right float
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  clear: right;
}
@include register-class(clear, "sugar.helper.clear.both") {
  /**
   * @name 		clear
   * @namespace 	sugar.scss.helper.class.float
   * @type        class
   *
	 * Clear both float on the element
   *
   * @example 	html
	 * <div class="clear">
	 * 	I clear both floats
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  clear: both;
}

//
// Pointer
//
@include register-class(
  pointer-events-none,
  "sugar.helper.pointer.events.none"
) {
  /**
   * @name 		pointer-events-none
   * @namespace 	sugar.scss.helper.class.pointer.event
   * @type        class
   *
	 * Disable any pointer events
   *
   * @example 	html
	 * <div class="pointer-events-none">
	 * 	I will not react to any pointer events
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  pointer-events: none;
}
@include register-class(
  pointer-events-all,
  "sugar.helper.pointer.events.all"
) {
  /**
   * @name 		pointer-events-all
   * @namespace 	sugar.scss.helper.class.pointer.event
   * @type        class
   *
	 * Disable any pointer events
   *
   * @example 	html
	 * <div class="pointer-events-all">
	 * 	I will not react to any pointer events
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  pointer-events: all;
}

//
// Show / hide
//
@include register-class(block, "sugar.helper.display.block") {
  /**
   * @name 		block
   * @namespace 	sugar.scss.helper.class.display
   * @type        class
   *
	 * Display the element as ```block```
   *
   * @example 	html
	 * <div class="block">
	 * 	I'm displayed as block
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  display: block;
}
@include register-class(inline, "sugar.helper.display.inline") {
  /**
   * @name 		inline
   * @namespace 	sugar.scss.helper.class.display
   * @type        class
   *
	 * Display the element as ```inline```
   *
   * @example 	html
	 * <div class="inline">
	 * 	I'm displayed as inline
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  display: inline;
}
@include register-class(inline-block, "sugar.helper.display.inline-block") {
  /**
   * @name 		inline-block
   * @namespace 	sugar.scss.helper.class.display
   * @type        class
   *
	 * Display the element as ```inline-block```
   *
   * @example 	html
	 * <div class="inline-block">
	 * 	I'm displayed as inline-block
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  display: inline-block;
}
@include register-class(show, "sugar.helper.display.show") {
  /**
   * @name 		show
   * @namespace 	sugar.scss.helper.class.display
   * @type        class
   *
	 * Display the element as ```block```
   *
   * @example 	html
	 * <div class="show">
	 * 	I'm displayed
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  display: block;
}
@include register-class(show-inline, "sugar.helper.display.show-inline") {
  /**
   * @name 		show-inline
   * @namespace 	sugar.scss.helper.class.display
   * @type        class
   *
	 * Display the element as ```inline-block```
   *
   * @example 	html
	 * <div class="show-inline">
	 * 	I'm inline displayed
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  display: inline-block;
}
@include register-class(hidden, "sugar.helper.display.hidden") {
  /**
   * @name 		hidden
   * @namespace 	sugar.scss.helper.class.display
   * @type        class
   *
	 * Hide the element by setting the display to ```none```
   *
   * @example 	html
	 * <div class="hidden">
	 * 	I'm hidden
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  display: none;
}
@include register-class(hide, "sugar.helper.display.hide") {
  /**
   * @name 		hide
   * @namespace 	sugar.scss.helper.class.display
   * @type        class
   *
	 * Hide the element by setting the display to ```none```
   *
   * @example 	html
	 * <div class="hide">
	 * 	I'm hidden
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  display: none;
}
@include register-class(visible, "sugar.helper.display.visible") {
  /**
   * @name 		visible
   * @namespace 	sugar.scss.helper.class.display
   * @type        class
   *
	 * Display the element by setting the visibility to ```visible```
   *
   * @example 	html
	 * <div class="visible">
	 * 	I'm visible
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  visibility: visible;
}
@include register-class(invisible, "sugar.helper.display.invisible") {
  /**
   * @name 		invisible
   * @namespace 	sugar.scss.helper.class.display
   * @type        class
   *
	 * Display the element by setting the visibility to ```hidden```
   *
   * @example 	html
	 * <div class="invisible">
	 * 	I'm invisible
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  visibility: hidden;
}
@include register-class(
  visually-hidden,
  "sugar.helper.display.visually-hidden"
) {
  /**
   * @name 		visually-hidden
   * @namespace 	sugar.scss.helper.class.display
   * @type        class
   *
	 * Hide the element from display but not for SEO.
	 * This class use some tricks to make the element dissapear without using some ```display:none;```, etc...
   *
   * @example 	html
	 * <div class="visually-hidden">
	 * 	I'm only visually hidden
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include visually-hidden();
}

//
// Text
//
@include register-class(t-hidden, "sugar.helper.text.hidden") {
  /**
   * @name 		t-hidden
   * @namespace 	sugar.scss.helper.class.text
   * @type        class
   *
	 * Hide the text
   *
   * @example 	html
	 * <div class="t-hidden">
	 * 	I'm not visible
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include text-hide();
}
@include register-class(t-truncate, "sugar.helper.text.truncate") {
  /**
   * @name 		t-truncate
   * @namespace 	sugar.scss.helper.class.text
   * @type        class
   *
	 * Hide the text
   *
   * @example 	html
	 * <div class="t-truncate">
	 * 	I'm truncated cause I talk a lot too much Nulla mauris eros, finibus ac faucibus et, tempus quis risus. Praesent sit amet nulla vel libero euismod sodales eu nec.
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include text-truncate();
}
@include register-class(t-left, "sugar.helper.text.align.left") {
  /**
   * @name 		t-left
   * @namespace 	sugar.scss.helper.class.text.align
   * @type        class
   *
	 * Align the text to the left
   *
   * @example 	html
	 * <div class="t-left">
	 * 	I'm left aligned
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  text-align: left;
}
@include register-class(t-right, "sugar.helper.text.align.right") {
  /**
   * @name 		t-right
   * @namespace 	sugar.scss.helper.class.text.align
   * @type        class
   *
	 * Align the text to the right
   *
   * @example 	html
	 * <div class="t-right">
	 * 	I'm right aligned
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  text-align: right;
}
@include register-class(t-center, "sugar.helper.text.align.center") {
  /**
   * @name 		t-center
   * @namespace 	sugar.scss.helper.class.text.align
   * @type        class
   *
	 * Align the text to the center
   *
   * @example 	html
	 * <div class="t-center">
	 * 	I'm centered
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  text-align: center;
}
@include register-class(t-justify, "sugar.helper.text.align.justify") {
  /**
   * @name 		t-justify
   * @namespace 	sugar.scss.helper.class.text.align
   * @type        class
   *
	 * Make the text justified
   *
   * @example 	html
	 * <div class="t-justify">
	 * 	Nullam vel feugiat nunc. Phasellus facilisis, nisi sit amet viverra rhoncus, arcu risus volutpat dolor, sed euismod magna tellus ac purus. Praesent augue lorem, ullamcorper ac accumsan nec, suscipit eu.
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  text-align: justify;
}
@include register-class(
  t-lowercase,
  "sugar.helper.text.transform.lowercase"
) {
  /**
   * @name 		t-lowercase
   * @namespace 	sugar.scss.helper.class.text.transform
   * @type        class
   *
	 * Transform the text to lowercase
   *
   * @example 	html
	 * <div class="t-lowercase">
	 * 	I'M LOWERCASE
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  text-transform: lowercase;
}
@include register-class(
  t-uppercase,
  "sugar.helper.text.transform.uppercase"
) {
  /**
   * @name 		t-uppercase
   * @namespace 	sugar.scss.helper.class.text.transform
   * @type        class
   *
	 * Transform the text to uppercase
   *
   * @example 	html
	 * <div class="t-uppercase">
	 * 	I'm uppercase
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  text-transform: uppercase;
}
@include register-class(
  t-capitalize,
  "sugar.helper.text.transform.capitalize"
) {
  /**
   * @name 		t-capitalize
   * @namespace 	sugar.scss.helper.class.text.transform
   * @type        class
   *
	 * Capizalize the words
   *
   * @example 	html
	 * <div class="t-capitalize">
	 * 	I'm capitalized
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  text-transform: capitalize;
}

//
// Fonts
//
@include register-class(f-bold, "sugar.helper.font.weight.bold") {
  /**
   * @name 		f-bold
   * @namespace 	sugar.scss.helper.class.font.weight
   * @type        class
   *
	 * Set the font-weight to ```bold```
   *
   * @example 	html
	 * This <span class="f-bold">word</span> is bold
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  font-weight: bold;
}
@include register-class(f-lighter, "sugar.helper.font.weight.lighter") {
  /**
   * @name 		f-lighter
   * @namespace 	sugar.scss.helper.class.font.weight
   * @type        class
   *
	 * Set the font-weight to ```lighter```
   *
   * @example 	html
	 * 	This <span class="f-lighter">word</span> is lighter
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  font-weight: lighter;
}
@include register-class(f-bolder, "sugar.helper.font.weight.bolder") {
  /**
   * @name 		f-bolder
   * @namespace 	sugar.scss.helper.class.font.weight
   * @type        class
   *
	 * Set the font-weight to ```bolder```
   *
   * @example 	html
	 * This <span class="f-bolder">word</span> is bolder
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  font-weight: bolder;
}
@include register-class(f-normal, "sugar.helper.font.weight.normal") {
  /**
   * @name 		f-normal
   * @namespace 	sugar.scss.helper.class.font.weight
   * @type        class
   *
	 * Set the font-weight to ```normal```
   *
   * @example 	html
	 * <div class="f-bold">
	 * 	This <span class="f-normal">word</span> is normal
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  font-weight: normal;
  font-style: normal;
}
@include register-class(f-italic, "sugar.helper.font.style.italic") {
  /**
   * @name 		f-italic
   * @namespace 	sugar.scss.helper.class.font
   * @type        class
   *
	 * Set the font-style to ```italic```
   *
   * @example 	html
	 * This <span class="f-italic">word</span> is italic
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  font-style: italic;
}
@include register-class(f-oblique, "sugar.helper.font.style.oblique") {
  /**
   * @name 		f-oblique
   * @namespace 	sugar.scss.helper.class.font.style
   * @type        class
   *
	 * Set the font-style to ```oblique```
   *
   * @example 	html
	 * This <span class="f-oblique">word</span> is oblique
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  font-style: oblique;
}
@include register-class(
  f-small-caps,
  "sugar.helper.font.variant.small-caps"
) {
  /**
   * @name 		f-small-caps
   * @namespace 	sugar.scss.helper.class.font.variant
   * @type        class
   *
	 * Set the font-variant to ```small-caps```
   *
   * @example 	html
	 * This <span class="f-small-caps">word</span> is small-caps
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  font-variant: small-caps;
}

//
// Blocks
//
@include register-class(block-center, "sugar.helper.block.align.center") {
  /**
   * @name 		block-center
   * @namespace 	sugar.scss.helper.class.block
   * @type        class
   *
	 * Set the element to as ```display:block``` and center it
   *
   * @example 	html
	 * <div class="block-center bkg-primary" style="width:100px;">
	 * 	I'm a centered block
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//
// Images
//
@include register-class(abs-cover, "sugar.helper.size.abs.cover") {
  /**
   * @name 		abs-cover
   * @namespace 	sugar.scss.helper.class.size
   * @type        class
   *
	 * Set a size that will cover the entire parent surface by positionning it in absolute
   *
   * @example 	html
	 * <div class="ratio-16-9">
	 * 	<img src="https://source.unsplash.com/random" class="abs-cover" />
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include size(cover, $position: absolute);
}
@include register-class(abs-contain, "sugar.helper.size.abs.contain") {
  /**
   * @name 		abs-contain
   * @namespace 	sugar.scss.helper.class.size
   * @type        class
   *
	 * Set a size that will contain the entire parent surface by positionning it in absolute
   *
   * @example 	html
	 * <div class="ratio-16-9">
	 * 	<img src="https://source.unsplash.com/random" class="abs-contain" />
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include size(contain, $position: absolute);
}
@include register-class(abs-fit, "sugar.helper.size.abs.fit") {
  /**
   * @name 		abs-fit
   * @namespace 	sugar.scss.helper.class.size
   * @type        class
   *
	 * Set a size that will fit the entire parent surface by positionning it in absolute
   *
   * @example 	html
	 * <div class="ratio-16-9">
	 * 	<img src="https://source.unsplash.com/random" class="abs-fit" />
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include size(fit, $position: absolute);
}

//
// Media object
//
@include register-class(mo, "sugar.helper.media.object") {
  /**
   * @name 		mo .mo--center .mo__content
   * @namespace 	sugar.scss.helper.class.media-object
   * @type        class
   *
	 * Famous media object class
   *
   * @example 	html
	 * <div class="mo">
	 *   <div class="mo__content">
	 *     <img src="https://source.unsplash.com/random/100x100" />
	 *   </div>
	 *   <div class="mo__content">
	 *     <h2 class="h3">Hello World</h2>
	 *     <p class="p">Phasellus fringilla aliquet justo eget pulvinar. Donec in justo leo.</p>
	 *   </div>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  display: flex;
  flex-wrap: nowrap;

  @at-root {
    .mo--center {
      align-items: center;
    }
    .mo--end {
      align-items: flex-end;
    }
    .mo__content {
      flex: 0 1 auto;
    }
  }
}

//
// Clearfix
//
@include register-class(clearfix, "sugar.helper.clearfix.default") {
  /**
   * @name 		clearfix
   * @namespace 	sugar.scss.helper.class.clearfix
   * @type        class
   *
	 * Apply the micro clearfix on the element
   *
   * @example 	html
	 * <div class="clearfix bkg-primary">
	 * 	<div class="pull-right">right pulled</div>
	 * </div>
	 * <div class="bkg-primary">
	 * 	<div class="pull-right">right pulled without clearfix</div>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include clearfix(micro);
}
@include register-class(clearfix-float, "sugar.helper.clearfix.float") {
  /**
   * @name 		clearfix-float
   * @namespace 	sugar.scss.helper.class.clearfix
   * @type        class
   *
	 * Apply the float clearfix on the element
   *
   * @example 	html
	 * <div class="clearfix-float bkg-primary">
	 * 	<div class="pull-right">right pulled</div>
	 * </div>
	 * <div class="bkg-primary">
	 * 	<div class="pull-right">right pulled without clearfix</div>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include clearfix(float);
}
@include register-class(clearfix-micro, "sugar.helper.clearfix.micro") {
  /**
   * @name 		clearfix
   * @namespace 	sugar.scss.helper.class.clearfix
   * @type        class
   *
	 * Apply the micro clearfix on the element
   *
   * @example 	html
	 * <div class="clearfix bkg-primary">
	 * 	<div class="pull-right">right pulled</div>
	 * </div>
	 * <div class="bkg-primary">
	 * 	<div class="pull-right">right pulled without clearfix</div>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include clearfix(micro);
}
@include register-class(clearfix-overflow, "sugar.helper.clearfix.overflow") {
  /**
   * @name 		clearfix-overflow
   * @namespace 	sugar.scss.helper.class.clearfix
   * @type        class
   *
	 * Apply the overflow clearfix on the element
   *
   * @example 	html
	 * <div class="clearfix-overflow bkg-primary">
	 * 	<div class="pull-right">right pulled</div>
	 * </div>
	 * <div class="bkg-primary">
	 * 	<div class="pull-right">right pulled without clearfix</div>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include clearfix(overflow);
}
@include register-class(clearfix-facebook, "sugar.helper.clearfix.facebook") {
  /**
   * @name 		clearfix-facebook
   * @namespace 	sugar.scss.helper.class.clearfix
   * @type        class
   *
	 * Apply the facebook clearfix on the element
   *
   * @example 	html
	 * <div class="clearfix-facebook bkg-primary">
	 * 	<div class="pull-right">right pulled</div>
	 * </div>
	 * <div class="bkg-primary">
	 * 	<div class="pull-right">right pulled without clearfix</div>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include clearfix(facebook);
}

//
// Ratios
//
@include register-class(ratio-21-9, "sugar.helper.ratio.21-9") {
  /**
   * @name 		ratio-21-9
   * @namespace 	sugar.scss.helper.class.ratio
   * @type        class
   *
	 * Keep a 16/9 ratio on a particular element. Applied by setting height to 0 and paddingtop to 100% / 16 * 9
   *
   * @example 	html
	 * <div class="bkg-primary ratio-21-9"></div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include ratio(21/9);
}
@include register-class(ratio-16-9, "sugar.helper.ratio.16-9") {
  /**
   * @name 		ratio-16-9
   * @namespace 	sugar.scss.helper.class.ratio
   * @type        class
   *
	 * Keep a 16/9 ratio on a particular element. Applied by setting height to 0 and paddingtop to 100% / 16 * 9
   *
   * @example 	html
	 * <div class="bkg-primary ratio-16-9"></div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include ratio(16/9);
}
@include register-class(ratio-4-3, "sugar.helper.ratio.4-3") {
  /**
   * @name 		ratio-4-3
   * @namespace 	sugar.scss.helper.class.ratio
   * @type        class
   *
	 * Keep a 4/3 ratio on a particular element. Applied by setting height to 0 and paddingtop to 100% / 4 * 3
   *
   * @example 	html
	 * <div class="bkg-primary ratio-4-3"></div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include ratio(4/3);
}
@include register-class(ratio-1-1, "sugar.helper.ratio.1-1") {
  /**
   * @name 		ratio-1-1
   * @namespace 	sugar.scss.helper.class.ratio
   * @type        class
   *
	 * Keep a 1/1 ratio on a particular element. Applied by setting height to 0 and paddingtop to 100%
   *
   * @example 	html
	 * <div class="bkg-primary ratio-1-1"></div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  @include ratio(1);
}

//
// Transition / Animation
//
@include register-class(no-transition, "sugar.helper.no-transition") {
  /**
   * @name 		no-transition
   * @namespace 	sugar.scss.helper.class.transition
   * @type        class
   *
	 * Disable the transitions **only on the element**
   *
   * @example 	html
	 * <div class="no-transition">
	 * 	I have no more transitions
	 * 	<div>But I have</div>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  &,
  &:before,
  &:after {
    transition: none !important;
  }
}
@include register-class(clear-transition, "sugar.helper.clear-transition") {
  /**
   * @name 		clear-transition
   * @namespace 	sugar.scss.helper.class.transition
   * @type        class
   *
	 * Disable the transitions **on the element and all his children**
   *
   * @example 	html
	 * <div class="clear-transition">
	 * 	I have no more transitions
	 * 	<div>Me neither</div>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  &,
  &:before,
  &:after,
  & *,
  & *:before,
  & *:after {
    transition: none !important;
  }
}
@include register-class(no-animation, "sugar.helper.no-animation") {
  /**
   * @name 		no-animation
   * @namespace 	sugar.scss.helper.class.animation
   * @type        class
   *
	 * Disable the animations **only on the element**
   *
   * @example 	html
	 * <div class="no-animation">
	 * 	I have no more animations
	 * 	<div>But I have</div>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  &,
  &:before,
  &:after {
    animation: none !important;
  }
}
@include register-class(clear-animation, "sugar.helper.clear-animation") {
  /**
   * @name 		clear-animation
   * @namespace 	sugar.scss.helper.class.animation
   * @type        class
   *
	 * Disable the transitions **on the element and all his children**
   *
   * @example 	html
	 * <div class="clear-animation">
	 * 	I have no more animations
	 * 	<div>Me neither</div>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  &,
  &:before,
  &:after,
  & *,
  & *:before,
  & *:after {
    animation: none !important;
  }
}
@include register-class(no-transmation, "sugar.helper.no-transmation") {
  /**
   * @name 		no-transmation
   * @namespace 	sugar.scss.helper.class.transmation
   * @type        class
   *
	 * Disable the animations and transitions **only on the element**
   *
   * @example 	html
	 * <div class="no-transmation">
	 * 	I have no more animations or transitions
	 * 	<div>But I have</div>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  &,
  &:before,
  &:after {
    transition: none !important;
    animation: none !important;
  }
}
@include register-class(
  clear-transmation,
  "sugar.helper.clear-transmation"
) {
  /**
   * @name 		clear-transmation
   * @namespace 	sugar.scss.helper.class.transmation
   * @type        class
   *
	 * Disable the animations and transitions **on the element and all his children**
   *
   * @example 	html
	 * <div class="clear-transmation">
	 * 	I have no more animations or transitions
	 * 	<div>Me neither</div>
	 * </div>
   *
   * @author 			Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
   */
  &,
  &:before,
  &:after,
  & *,
  & *:before,
  & *:after {
    transition: none !important;
    animation: none !important;
  }
}
