.content {
    padding-top: 60px;
    position: relative;
    z-index: 1;
}
#homepage .content {
    padding-top: 0;
}

.bkg {
    position: absolute;
    z-index: -1;
    top: 15%;
    left: 100%;
    width: 100%;
    height: 100%;
    background-image: url('/dist/img/welcome/welcome-bg-light-01.jpg');
    background-position: 50% 260%;
    background-size: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transform: scale(2) translateX(-50%) translateY(-50%);
    overflow: hidden;
    opacity: 0.6;
    transition: opacity .5s ease-out;

    @sugar.theme.when dark {
        background-image: url('/dist/img/welcome/welcome-bg-dark-01.jpg');
        opacity: 0.13;
    }

    /* &:after {
        content: '';
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: sugar.color(main, surface);
    } */
}
[s-sugar]:not(#homepage) .bkg,
.scrolled .bkg {
    opacity: 0;
}
[s-sugar]:not(#homepage) ,
.scrolled {
    @sugar.theme.when dark {
        .bkg {
            opacity: 0;
    }
    }
}
