@use '@coffeekraken/sugar/index' as sugar;

.error {
  @include sugar.fit();
}

.error__container {
  @include sugar.position(
    $position: absolute,
    $vertical-align: middle,
    $align: center,
  );
  text-align: center;
}

.error__icon {
  transform: translateY(-20px);
  font-size: 4em;
  color: sugar.color(error);
}
