@use '@coffeekraken/sugar/index' as sugar;

.loading {
  @include sugar.fit();
}

.loading__container {
  @include sugar.position(
    $position: absolute,
    $vertical-align: middle,
    $align: center,
  );
  text-align: center;
}

.loading__loader {
  transform: translateY(-20px);
  @include sugar.loader-bars(
    $shape: rect,
    $color: primary,
    $width: 0.5em,
    $height: 2em,
    $count: 5,
    $gap: 0.5em,
    $opacity: 1,
    $a-opacity: null,
    $a-duration: 1s,
    $a-delay: 0s,
    $a-near: 2,
    $a-ease: ease-in-out,
    $a-offset: 2em,
    $a-direction: both,
    $a-continuous: true
  );
}
