@use '@coffeekraken/sugar/index' as sugar;

.noAppSpecified {
  @include sugar.fit();
  background-color: sugar.color(secondary);
}

.noAppSpecified__container {
  @include sugar.position(
    $position: absolute,
    $vertical-align: middle,
    $align: center,
  );
  text-align: center;
}

.noAppSpecified__icon {
  transform: translateY(-20px);
  font-size: 4em;
  color: sugar.color(error);
}
