/**
 * @name            user-avatar
 * @namespace            scss.component.mixin
 * @type            Mixin
 *
 * This mixin display a user-avatar with a name and an image.
 * Their's also the mixin ```user-avatar-bare``` and ```user-avatar-style``` that you
 * can use if you need more controls.
 *
 * @param       {String}        [$name='user-avatar']       The className to use for the generation
 *
 * @example         html
 * <div class="s-user-avatar">
 *   <a href="https://olivierbossel.com" target="_blank" title="Olivier Bossel">
 *     <img class="s-user-avatar__img" src="https://www.gravatar.com/avatar/b5df60055b6287bb7c90c0078ce20a5f?s=300" title="Olivier Bossel">
 *     <span class="s-user-avatar__name">
 *       Olivier Bossel
 *     </span>
 *   </a>
 * </div>
 *
 * @since       2.0.0
 * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@mixin user-avatar(
  $name: 'user-avatar',
  $avatar-size: 150px,
  $avarar-shape: circle
) {
  @include user-avatar-bare($name, $avatar-size, $avarar-shape);
  @include user-avatar-style($name, $avatar-size, $avarar-shape);
}
@mixin user-avatar-bare(
  $name: 'user-avatar',
  $avatar-size: 150px,
  $avatar-shape: circle
) {
  .#{$name} {
    display: inline-block;

    a {
      text-decoration: none;
    }
  }
  .#{$name}__img {
    width: $avatar-size;
    height: $avatar-size;
    @if $avatar-shape == circle {
      border-radius: 50%;
    }
    margin-bottom: space(small);
  }
  .#{$name}__name {
    display: block;
    text-align: center;
  }

  @each $size, $value in setting('sizes') {
    .#{$name}--#{$size} {
      .#{$name}__img {
        width: interpolate($avatar-size, $size);
        height: interpolate($avatar-size, $size);
      }
    }
  }
}
@mixin user-avatar-style(
  $name: 'user-avatar',
  $avatar-size: 150px,
  $avatar-shape: circle
) {
  .#{$name} {
  }
  .#{$name}__img {
  }
  .#{$name}__name {
  }
}
