s-dashboard-frontend-checker {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.s-dashboard-frontend-checker {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .__header {
        background: sugar.color(base, background);
        padding: sugar.padding(30);
        @sugar.border.radius (10);
    }

    .__levels {
        display: flex;
        @sugar.border.radius (10);
        margin-block-end: sugar.margin(20);
    }
    .__level {
        padding: sugar.padding(20) sugar.padding(20);
        flex-grow: 1;
        width: 33.3%;
        cursor: pointer;
        text-align: center;
        @sugar.border.radius (10);

        .s-icon {
            margin-inline-end: sugar.margin(10);
        }

        &:hover {
            background-color: sugar.color(accent, background);
        }
        &.active {
            background: sugar.color(accent);
        }
    }

    .__filters {
        display: flex;
        @sugar.border.radius (10);
        margin-block-end: sugar.margin(20);
    }
    .__filter {
        padding: sugar.padding(20) sugar.padding(20);
        flex-grow: 1;
        width: 33.3%;
        cursor: pointer;
        @sugar.border.radius (10);
        opacity: 0.5;
        text-align: center;

        .s-icon {
            margin-inline-end: sugar.margin(10);
        }

        &:hover {
            background-color: sugar.color(accent, background);
        }
        &.active {
            opacity: 1;
        }
    }

    .ck-list {
        flex-grow: 1;
        overflow-y: auto;
        @sugar.scrollbar();
    }

    .__details {
        display: none;
    }
    .ck-list__item:focus-within .__details {
        display: block;
    }

    .s-typo--code {
        line-height: 1.5em;
        width: 100%;
        padding: sugar.padding(20);
        user-select: all;
    }

    .s-icon--success {
        font-size: 0.8em;
    }
    .ck-list__item {
        .s-icon--success {
            font-size: 0.5em;
        }
    }

    .__more-link {
        color: sugar.color(accent, background);
        text-decoration: underline;
    }

    .__list-item:focus,
    .__list-item:focus-within {
        .__details {
            display: block;
        }
    }
}
