.s-dashboard-frontend-checker {
    .__list {
        background: sugar.color(base, background, --alpha 0.7);
        padding: sugar.padding(20);
        @sugar.border.radius (10);
        @sugar.depth (100);
    }
    .__list-item {
        /* border-inline-start: 1px solid sugar.color(accent); */
        padding: sugar.padding(20) sugar.padding(20);
        border-color: sugar.color(current);
        @sugar.border.radius (10);
        cursor: pointer;
        user-select: none;

        &:hover {
            /* background-color: sugar.color(current, --alpha 0.1);  */
            background-color: sugar.color(accent, background, --alpha 0.6);
        }
        &:focus-within {
            background-color: sugar.color(
                accent,
                background,
                --lighten 20 --alpha 1
            );
        }
    }

    .__details {
        display: none;
    }

    .s-typo--code {
        line-height: 1.5em;
        width: 100%;
        padding: sugar.padding(20);
        user-select: all;
    }

    .__list-item:focus,
    .__list-item:focus-within {
        .__details {
            display: block;
        }
    }
}
