@use '../../index' as sugar;
@use 'sass:meta';

.my-cool-element {
 		@include sugar.effect-hey(
 			$align : right,
 			$color : secondary,
 			$size : 10px,
 			$offset-top : -10px,
 			$offset-right : -10px
 		);
 }
