/**
 * Return the calculated power of the passed base using the passed exponent
 *
 * @param         {Number}        $base         The base number
 * @param         {Number}        $exponent     The exponent used to raise the base
 * @return        {Number}                      The calculated power number
 *
 * @example    scss
 * sugar.math.pow(7, 3); // => 343
 *
 * @author 			Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
 */
@function math-pow($base, $exponent) {
  $base: test-argument(
    'sugar.math-pow',
    'base',
    number,
    $base
  );
  $exponent: test-argument(
    'sugar.math-pow',
    'exponent',
    number,
    $exponent
  );

  $value: $base;
  @if $exponent > 1 {
    @for $i from 2 through $exponent {
      $value: $value * $base;
    }
  }
  @if $exponent < 1 {
    @for $i from 0 through -$exponent {
      $value: $value / $base;
    }
  }
  @return $value;
}
