/**
 * @name              helper-margin-classes
 * @namespace         sugar.scss.helper.class
 * @type              Mixin
 *
 * This mixin generate all the "margin" related helper classes.
 *
 * @classname     #{sel(m-[size])}              Set the **margins** to the a special size
 * @classname     #{sel(m-b-[size])}              Set the **bottom** margin to a special size
 * @classname     #{sel(m-t-[size])}              Set the **top** margin to a special size
 * @classname     #{sel(m-l-[size])}              Set the **left** margin to a special size
 * @classname     #{sel(m-r-[size])}              Set the **right** margin to a special size
 * @classname     #{sel(m-s-[size])}              Set the **side** margin to a special size
 * @classname     #{sel(m-y-[size])}              Set the **top and bottom** margins to a special size
 * @classname     #{sel(no-m)}              Remove **all** the margins
 * @classname     #{sel(no-m-t)}              Remove **top** the margin
 * @classname     #{sel(no-m-r)}              Remove **right** the margin
 * @classname     #{sel(no-m-b)}              Remove **bottom** the margin
 * @classname     #{sel(no-m-l)}              Remove **left** the margin
 * @classname     #{sel(no-m-s)}              Remove **side** margins
 * @classname     #{sel(no-m-y)}              Remove **top and bottom** margins
 *
 * @example         scss
 * @include Sugar.helper-margin-classes();
 *
 * @since         2.0.0
 * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
 */
@mixin helper-margin-classes() {
  @if class-match-namespace('sugar.helper.margin') {
    $sizes: setting('sizes');
    @each $name, $size in $sizes {
      @if class-match-namespace('sugar.helper.margin.#{$name}') {
        $cname: selector('m-#{$name}');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.#{$name}
          * @type        Classname
          *
          * Set the **margins** to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin: space($name);
        }
      }

      @if class-match-namespace('sugar.helper.margin.bottom.#{$name}') {
        $cname: selector('m-b-#{$name}');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.bottom.#{$name}
          * @type        class
          *
          * Set the **bottom** margin to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-bottom: space($name);
        }
      }

      @if class-match-namespace('sugar.helper.margin.top.#{$name}') {
        $cname: selector('m-t-#{$name}');
        /**
          * @name          #{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.top.#{$name}
          * @type        class
          *
          * Set the **top** margin to the **#{$size}** size
          *
          * @example 	html
          * <div style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div class="#{$cname}" style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-top: space($name);
        }
      }

      @if class-match-namespace('sugar.helper.margin.left.#{$name}') {
        $cname: selector('m-l-#{$name}');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.left.#{$name}
          * @type        class
          *
          * Set the **left** margin to the **#{$size}** size
          *
          * @example 	html
          * <div style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div class="#{$cname}" style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-left: space($name);
        }
      }

      @if class-match-namespace('sugar.helper.margin.right.#{$name}') {
        $cname: selector('m-r-#{$name}');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.right.#{$name}
          * @type        class
          *
          * Set the **right* margin to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-right: space($name);
        }
      }

      @if class-match-namespace('sugar.helper.margin.side.#{$name}') {
        $cname: selector('m-s-#{$name}');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.side.#{$name}
          * @type        class
          *
          * Set the **side** margin to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-left: space($name);
          margin-right: space($name);
        }
      }

      @if class-match-namespace('sugar.helper.margin.y.#{$name}') {
        $cname: selector('m-y-#{$name}');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.y.#{$name}
          * @type        class
          *
          * Set the **top** and **bottom** margins to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-top: space($name);
          margin-bottom: space($name);
        }
      }
    }

    @if class-match-namespace('sugar.helper.margin.no') {
      /**
      * @name       	#{sel(no-m)}
      * @namespace       sugar.scss.core.class
      * @class-namespace           sugar.helper.margin.no
      * @type        class
      *
      * Reset all margins
      *
      * @example 	html
      * <div class="#{sel(no-m)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
      *
      * @since       1.0.0
      * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
      */
      .#{sel(no-m)} {
        margin: 0 !important;
      }
    }

    @if class-match-namespace('sugar.helper.margin.no.top') {
      /**
      * @name       	#{sel(no-m-t)}
      * @namespace       sugar.scss.core.class
      * @class-namespace           sugar.helper.margin.no.top
      * @type        class
      *
      * Reset **top** margin
      *
      * @example 	html
      * <div class="#{sel(no-m-t)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
      *
      * @since       1.0.0
      * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
      */
      .#{sel(no-m-t)} {
        margin-top: 0 !important;
      }
    }

    @if class-match-namespace('sugar.helper.margin.no.right') {
      /**
        * @name       	#{sel(no-m-r)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.right
        * @type        class
        *
        * Reset **right** margin
        *
        * @example 	html
        * <div class="#{sel(no-m-r)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-m-r)} {
        margin-right: 0 !important;
      }
    }

    @if class-match-namespace('sugar.helper.margin.no.bottom') {
      /**
        * @name       	#{sel(no-m-b)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.bottom
        * @type        class
        *
        * Reset **bottom** margin
        *
        * @example 	html
        * <div class="#{sel(no-m-b)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-m-b)} {
        margin-bottom: 0 !important;
      }
    }

    @if class-match-namespace('sugar.helper.margin.no.left') {
      /**
        * @name       	#{sel(no-m-l)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.left
        * @type        class
        *
        * Reset **left** margin
        *
        * @example 	html
        * <div class="#{sel(no-m-l)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-m-l)} {
        margin-left: 0 !important;
      }
    }

    @if class-match-namespace('sugar.helper.margin.no.side') {
      /**
        * @name       	#{sel(no-m-s)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.side
        * @type        class
        *
        * Reset **left** and **right** margins
        *
        * @example 	html
        * <div class="#{sel(no-m-s)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-m-s)} {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }

    @if class-match-namespace('sugar.helper.margin.no.y') {
      /**
        * @name       	#{sel(no-m-y)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.y
        * @type        class
        *
        * Reset **top** and **bottom** margins
        *
        * @example 	html
        * <div class="#{sel(no-m-y)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-m-y)} {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }
  }
}
