/**
 * @name              helper-margin-classes
 * @namespace         sugar.scss.helper.class
 * @type              Mixin
 *
 * This mixin generate all the "margin" related helper classes.
 *
 * @example         scss
 * @include Sugar.helper-margin-classes();
 *
 * @since         2.0.0
 * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
 */
@mixin helper-margin-classes() {
  @if class-match-namespace('sugar.helper.margin') {
    $defaultMargin: setting('margins.default');
    $margins: setting('margins.sizes');

    @if map-has-key($margins, $defaultMargin) {
      @if class-match-namespace('sugar.helper.margin.default') {
        $cname: selector('mar');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.default
          * @type        Classname
          *
          * Set the **margins** to the **default** size (#{$defaultMargin})
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin: setting('margins.sizes.#{$defaultMargin}');
        }
      }
      @if class-match-namespace('sugar.helper.margin.bottom.default') {
        $cname: selector('mar-b');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.bottom.default
          * @type        Classname
          *
          * Set the **margin bottom** to the **default** size (#{$defaultMargin})
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-bottom: setting('margins.sizes.#{$defaultMargin}');
        }
      }
      @if class-match-namespace('sugar.helper.margin.top.default') {
        $cname: selector('mar-t');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.top.default
          * @type        Classname
          *
          * Set the **margin top** to the **default** size (#{$defaultMargin})
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-top: setting('margins.sizes.#{$defaultMargin}');
        }
      }
      @if class-match-namespace('sugar.helper.margin.left.default') {
        $cname: selector('mar-l');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.left.default
          * @type        Classname
          *
          * Set the **margin left** to the **default** size (#{$defaultMargin})
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-left: setting('margins.sizes.#{$defaultMargin}');
        }
      }
      @if class-match-namespace('sugar.helper.margin.right.default') {
        $cname: selector('mar-r');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.right.default
          * @type        Classname
          *
          * Set the **margin right** to the **default** size (#{$defaultMargin})
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-right: setting('margins.sizes.#{$defaultMargin}');
        }
      }
      @if class-match-namespace('sugar.helper.margin.x.default') {
        $cname: selector('mar-x');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.x.default
          * @type        Classname
          *
          * Set the **margins x** to the **default** size (#{$defaultMargin})
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-left: setting('margins.sizes.#{$defaultMargin}');
          margin-right: setting('margins.sizes.#{$defaultMargin}');
        }
      }
      @if class-match-namespace('sugar.helper.margin.y.default') {
        $cname: selector('mar-y');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.y.default
          * @type        Classname
          *
          * Set the **margins y** to the **default** size (#{$defaultMargin})
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-top: setting('margins.sizes.#{$defaultMargin}');
          margin-bottom: setting('margins.sizes.#{$defaultMargin}');
        }
      }
    }

    @each $name, $size in $margins {
      @if class-match-namespace('sugar.helper.margin.#{$name}') {
        $cname: selector('mar-#{$name}');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.#{$name}
          * @type        Classname
          *
          * Set the **margins** to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin: $size;
        }
      }

      @if class-match-namespace('sugar.helper.margin.bottom.#{$name}') {
        $cname: selector('mar-b-#{$name}');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.bottom.#{$name}
          * @type        class
          *
          * Set the **bottom** margin to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-bottom: $size;
        }
      }

      @if class-match-namespace('sugar.helper.margin.top.#{$name}') {
        $cname: selector('mar-t-#{$name}');
        /**
          * @name          #{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.top.#{$name}
          * @type        class
          *
          * Set the **top** margin to the **#{$size}** size
          *
          * @example 	html
          * <div style="background:#{color(primary)}; width:100px; height:5px"></div>
          * <div class="#{$cname}" style="background:#{color(secondary)}; width:100px; height:5px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-top: $size;
        }
      }

      @if class-match-namespace('sugar.helper.margin.left.#{$name}') {
        $cname: selector('mar-l-#{$name}');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.left.#{$name}
          * @type        class
          *
          * Set the **left** margin to the **#{$size}** size
          *
          * @example 	html
          * <div style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div class="#{$cname}" style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-left: $size;
        }
      }

      @if class-match-namespace('sugar.helper.margin.right.#{$name}') {
        $cname: selector('mar-r-#{$name}');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.right.#{$name}
          * @type        class
          *
          * Set the **right* margin to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-right: $size;
        }
      }

      @if class-match-namespace('sugar.helper.margin.x.#{$name}') {
        $cname: selector('mar-x-#{$name}');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.x.#{$name}
          * @type        class
          *
          * Set the **x** margin to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-left: $size;
          margin-right: $size;
        }
      }

      @if class-match-namespace('sugar.helper.margin.y.#{$name}') {
        $cname: selector('mar-y-#{$name}');
        /**
          * @name       	#{$cname}
          * @namespace       sugar.scss.core.class
          * @class-namespace           sugar.helper.margin.y.#{$name}
          * @type        class
          *
          * Set the **top** and **bottom** margins to the **#{$size}** size
          *
          * @example 	html
          * <div class="#{$cname}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px"></div>
          * <div style="display:inline-block; background:#{color(secondary)}; width:50px; height:50px"></div>
          *
          * @since       1.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{$cname} {
          margin-top: $size;
          margin-bottom: $size;
        }
      }
    }

    @if class-match-namespace('sugar.helper.margin.no') {
      /**
      * @name       	#{sel(no-mar)}
      * @namespace       sugar.scss.core.class
      * @class-namespace           sugar.helper.margin.no
      * @type        class
      *
      * Reset all margins
      *
      * @example 	html
      * <div class="#{sel(no-mar)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
      *
      * @since       1.0.0
      * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
      */
      .#{sel(no-mar)} {
        margin: 0 !important;
      }
    }

    @if class-match-namespace('sugar.helper.margin.no.top') {
      /**
      * @name       	#{sel(no-mar-t)}
      * @namespace       sugar.scss.core.class
      * @class-namespace           sugar.helper.margin.no.top
      * @type        class
      *
      * Reset **top** margin
      *
      * @example 	html
      * <div class="#{sel(no-mar-t)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
      *
      * @since       1.0.0
      * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
      */
      .#{sel(no-mar-t)} {
        margin-top: 0 !important;
      }
    }

    @if class-match-namespace('sugar.helper.margin.no.right') {
      /**
        * @name       	#{sel(no-mar-r)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.right
        * @type        class
        *
        * Reset **right** margin
        *
        * @example 	html
        * <div class="#{sel(no-mar-r)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-mar-r)} {
        margin-right: 0 !important;
      }
    }

    @if class-match-namespace('sugar.helper.margin.no.bottom') {
      /**
        * @name       	#{sel(no-mar-b)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.bottom
        * @type        class
        *
        * Reset **bottom** margin
        *
        * @example 	html
        * <div class="#{sel(no-mar-b)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-mar-b)} {
        margin-bottom: 0 !important;
      }
    }

    @if class-match-namespace('sugar.helper.margin.no.left') {
      /**
        * @name       	#{sel(no-mar-l)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.left
        * @type        class
        *
        * Reset **left** margin
        *
        * @example 	html
        * <div class="#{sel(no-mar-l)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-mar-l)} {
        margin-left: 0 !important;
      }
    }

    @if class-match-namespace('sugar.helper.margin.no.x') {
      /**
        * @name       	#{sel(no-mar-x)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.x
        * @type        class
        *
        * Reset **left** and **right** margins
        *
        * @example 	html
        * <div class="#{sel(no-mar-x)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-mar-x)} {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }

    @if class-match-namespace('sugar.helper.margin.no.y') {
      /**
        * @name       	#{sel(no-mar-y)}
        * @namespace       sugar.scss.core.class
        * @class-namespace           sugar.helper.margin.no.y
        * @type        class
        *
        * Reset **top** and **bottom** margins
        *
        * @example 	html
        * <div class="#{sel(no-mar-y)}" style="display:inline-block; background:#{color(primary)}; width:50px; height:50px;"></div>
        *
        * @since       1.0.0
        * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
        */
      .#{sel(no-margin-y)} {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
      }
    }
  }
}
