/**
 * @name              helper-size-classes
 * @namespace            scss.helper.class
 * @type              Mixin
 *
 * This mixin generate all the "size" related helper classes.
 *
 * @classname     #{sel(abs-cover)}            Set a size that will cover the entire parent surface by positionning it in absolute
 * @classname     #{sel(abs-cover--top)}        Align the element to the top
 * @classname     #{sel(abs-cover--middle)}        Align the element to the middle
 * @classname     #{sel(abs-cover--bottom)}        Align the element to the bottom
 * @classname     #{sel(abs-cover--left)}        Align the element to the left
 * @classname     #{sel(abs-cover--center)}        Align the element to the center
 * @classname     #{sel(abs-cover--right)}        Align the element to the right
 * @classname     #{sel(abs-contain)}            Set a size that will contain the entire parent surface by positionning it in absolute
 * @classname     #{sel(abs-contain--top)}        Align the element to the top
 * @classname     #{sel(abs-contain--middle)}        Align the element to the middle
 * @classname     #{sel(abs-contain--bottom)}        Align the element to the bottom
 * @classname     #{sel(abs-contain--left)}        Align the element to the left
 * @classname     #{sel(abs-contain--center)}        Align the element to the center
 * @classname     #{sel(abs-contain--right)}        Align the element to the right
 * @classname     #{sel(abs-fit)}           Set a size that will fit the entire parent surface by positionning it in absolute
 *
 * @example         scss
 * @include Sugar.helper-size-classes();
 *
 * @since         2.0.0
 * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
 */
@mixin helper-size-classes() {
  @if class-match-namespace('sugar.helper.size.abs.cover') {
    /**
    * @name 		#{sel(abs-cover)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.cover
    * @type        Classname
    *
    * Set a size that will cover the entire parent surface by positionning it in absolute
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-cover)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-cover)} {
      @include size(cover, $position: absolute);
    }
  }
  @if class-match-namespace('sugar.helper.size.abs.cover.top') {
    /**
    * @name 		#{sel(abs-cover--top)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.cover.top
    * @type        Classname
    *
    * This will align an "abs-cover" content to the top
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-cover)} #{sel(abs-cover--top)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-cover--top)} {
      top: 0;
      --translateY: 0;
    }
  }
  @if class-match-namespace('sugar.helper.size.abs.cover.middle') {
    /**
    * @name 		#{sel(abs-cover--middle)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.cover.middle
    * @type        Classname
    *
    * This will align an "abs-cover" content to the middle
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-cover)} #{sel(abs-cover--middle)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-cover--middle)} {
      top: 50%;
      --translateY: -50%;
    }
  }
  @if class-match-namespace('sugar.helper.size.abs.cover.bottom') {
    /**
    * @name 		#{sel(abs-cover--bottom)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.cover.bottom
    * @type        Classname
    *
    * This will align an "abs-cover" content to the bottom
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-cover)} #{sel(abs-cover--bottom)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-cover--bottom)} {
      top: auto;
      bottom: 0;
      --translateY: 0;
    }
  }
  @if class-match-namespace('sugar.helper.size.abs.cover.left') {
    /**
    * @name 		#{sel(abs-cover--left)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.cover.left
    * @type        Classname
    *
    * This will align an "abs-cover" content to the left
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-cover)} #{sel(abs-cover--left)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-cover--left)} {
      left: 0;
      --translateX: 0;
    }
  }
  @if class-match-namespace('sugar.helper.size.abs.cover.center') {
    /**
    * @name 		#{sel(abs-cover--center)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.cover.center
    * @type        Classname
    *
    * This will align an "abs-cover" content to the center
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-cover)} #{sel(abs-cover--center)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-cover--center)} {
      left: 50%;
      --translateX: -50%;
    }
  }
  @if class-match-namespace('sugar.helper.size.abs.cover.right') {
    /**
    * @name 		#{sel(abs-cover--right)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.cover.right
    * @type        Classname
    *
    * This will align an "abs-cover" content to the right
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-cover)} #{sel(abs-cover--right)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-cover--right)} {
      left: auto;
      right: 0;
      --translateX: 0;
    }
  }

  // CONTAIN
  @if class-match-namespace('sugar.helper.size.abs.contain') {
    /**
    * @name 		#{sel(abs-contain)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.contain
    * @type        Classname
    *
    * Set a size that will contain the entire parent surface by positionning it in absolute
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-contain)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-contain)} {
      @include size(contain, $position: absolute);
    }
  }
  @if class-match-namespace('sugar.helper.size.abs.contain.top') {
    /**
    * @name 		#{sel(abs-contain--top)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.contain.top
    * @type        Classname
    *
    * This will align an "abs-contain" content to the top
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-contain)} #{sel(abs-contain--top)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-contain--top)} {
      top: 0;
      --translateY: 0;
    }
  }
  @if class-match-namespace('sugar.helper.size.abs.contain.middle') {
    /**
    * @name 		#{sel(abs-contain--middle)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.contain.middle
    * @type        Classname
    *
    * This will align an "abs-contain" content to the middle
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-contain)} #{sel(abs-contain--middle)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-contain--middle)} {
      top: 50%;
      --translateY: -50%;
    }
  }
  @if class-match-namespace('sugar.helper.size.abs.contain.bottom') {
    /**
    * @name 		#{sel(abs-contain--bottom)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.contain.bottom
    * @type        Classname
    *
    * This will align an "abs-contain" content to the bottom
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-contain)} #{sel(abs-contain--bottom)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-contain--bottom)} {
      top: auto;
      bottom: 0;
      --translateY: 0;
    }
  }
  @if class-match-namespace('sugar.helper.size.abs.contain.left') {
    /**
    * @name 		#{sel(abs-contain--left)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.contain.left
    * @type        Classname
    *
    * This will align an "abs-contain" content to the left
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-contain)} #{sel(abs-contain--left)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-contain--left)} {
      left: 0;
      --translateX: 0;
    }
  }
  @if class-match-namespace('sugar.helper.size.abs.contain.center') {
    /**
    * @name 		#{sel(abs-contain--center)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.contain.center
    * @type        Classname
    *
    * This will align an "abs-contain" content to the center
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-contain)} #{sel(abs-contain--center)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-contain--center)} {
      left: 50%;
      --translateX: -50%;
    }
  }
  @if class-match-namespace('sugar.helper.size.abs.contain.right') {
    /**
    * @name 		#{sel(abs-contain--right)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.contain.right
    * @type        Classname
    *
    * This will align an "abs-contain" content to the right
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-contain)} #{sel(abs-contain--right)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-contain--right)} {
      left: auto;
      right: 0;
      --translateX: 0;
    }
  }

  // FIT
  @if class-match-namespace('sugar.helper.size.abs.fit') {
    /**
    * @name 		#{sel(abs-fit)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.size.abs.fit
    * @type        Classname
    *
    * Set a size that will fit the entire parent surface by positionning it in absolute
    *
    * @example 	html
    * <div class="#{sel(ratio-16-9)}">
    * 	<img src="https://source.unsplash.com/random" class="#{sel(abs-fit)}" />
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(abs-fit)} {
      @include size(fit, $position: absolute);
    }
  }
}
