/**
 * @name              helper-text-classes
 * @namespace         sugar.scss.helper.class
 * @type              Mixin
 *
 * This mixin generate all the "text" related helper classes.
 *
 * @classname     #{sel(t-[size])}         Set the size relative to the root element
 * @classname     #{sel(t-[size]-rel)}         Set the size relative to my parent
 * @classname     #{sel(t-hidden)}         Hide the text
 * @classname     #{sel(t-truncate)}         Truncate the text
 * @classname     #{sel(t-left)}         Align the text to the left
 * @classname     #{sel(t-right)}         Align the text to the right
 * @classname     #{sel(t-center)}         Align the text to the center
 * @classname     #{sel(t-justified)}         Make the text justified
 * @classname     #{sel(t-lowercase)}         Make the text lowercase
 * @classname     #{sel(t-uppercase)}         Make the text uppercase
 * @classname     #{sel(t-capitalize)}         Capizalize the words
 * @classname     #{sel(t-bold)}         Make the text bold
 * @classname     #{sel(t-bolder)}         Make the text bolder
 * @classname     #{sel(t-normal)}         Make the text normal
 * @classname     #{sel(t-light)}         Make the text light
 * @classname     #{sel(t-lighter)}         Make the text lighter
 * @classname     #{sel(t-italic)}         Make the text italic
 * @classname     #{sel(t-[font])}         Apply a special font
 * @classname     #{sel(t-reset)}         Reset the text (font-weight, family, color, etc...)
 * @classname     #{sel(t-decoration-none)}         Remove the text decoration
 * @classname     #{sel(t-underline)}         Apply the decoration underline
 * @classname     #{sel(t-line-through)}         Apply the decoration line-through
 * @classname     #{sel(t-overline)}         Apply the decoration overline
 *
 * @example         scss
 * @include Sugar.helper-text-classes();
 *
 * @since         2.0.0
 * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
 */
@mixin helper-text-classes() {
  @if class-match-namespace('sugar.helper.size') {
    @each $size, $value in setting('sizes') {
      @if class-match-namespace('sugar.helper.text.#{$size}') {
        /**
          * @name       	#{sel(t-#{$size})}
          * @namespace       sugar.scss.helper.class
          * @class-namespace           sugar.helper.text.#{$size}
          * @type        class
          *
          * Set the size **#{$size}** relative to the root element
          *
          * @example 	html
          * <div class="#{sel(t-#{$size})}">
          * 	I have the size "#{$size}" defined
          * </div>
          *
          * @since       2.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{sel('t-#{$size}')} {
          font-size: to-rem($value);
        }
      }

      @if class-match-namespace('sugar.helper.text.rel.#{$size}') {
        /**
          * @name       	#{sel(t-#{$size}-rel)}
          * @namespace       sugar.scss.helper.class
          * @class-namespace           sugar.helper.text.rel.#{$size}
          * @type        Classname
          *
          * Set the size **#{$size}** relative to my parent
          *
          * @example 	html
          * <div class="#{sel(t-#{$size}-rel)}">
          * 	I have the size "#{$size}" defined relative to my parent
          * </div>
          *
          * @since       2.0.0
          * @author 	        Olivier Bossel <olivier.bossel@gmail.com> (https://olivierbossel.com)
          */
        .#{sel('t-#{$size}-rel')} {
          font-size: to-em($value);
        }
      }
    }
  }

  @if class-match-namespace('sugar.helper.text.hidden') {
    /**
    * @name 		#{sel(t-hidden)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.hidden
    * @type        Classname
    *
    * Hide the text
    *
    * @example 	html
    * <div class="#{sel(t-hidden)}">
    * 	I'm not visible
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-hidden)} {
      @include text-hide();
    }
  }
  @if class-match-namespace('sugar.helper.text.truncate') {
    /**
    * @name 		#{sel(t-truncate)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.truncate
    * @type        Classname
    *
    * Truncate the text
    *
    * @example 	html
    * <div class="#{sel(t-truncate)}">
    * 	I'm truncated cause I talk a lot too much Nulla mauris eros, finibus ac faucibus et, tempus quis risus. Praesent sit amet nulla vel libero euismod sodales eu nec.
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-truncate)} {
      @include text-truncate();
    }
  }
  @if class-match-namespace('sugar.helper.text.align.left') {
    /**
    * @name 		#{sel(t-left)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.align.left
    * @type        Classname
    *
    * Align the text to the left
    *
    * @example 	html
    * <div class="#{sel(t-left)}">
    * 	I'm left aligned
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-left)} {
      text-align: left;
    }
  }
  @if class-match-namespace('sugar.helper.text.align.right') {
    /**
    * @name 		#{sel(t-right)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.align.right
    * @type        Classname
    *
    * Align the text to the right
    *
    * @example 	html
    * <div class="#{sel(t-right)}">
    * 	I'm right aligned
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-right)} {
      text-align: right;
    }
  }
  @if class-match-namespace('sugar.helper.text.align.center') {
    /**
    * @name 		#{sel(t-center)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.align.center
    * @type        Classname
    *
    * Align the text to the center
    *
    * @example 	html
    * <div class="#{sel(t-center)}">
    * 	I'm centered
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-center)} {
      text-align: center;
    }
  }
  @if class-match-namespace('sugar.helper.text.align.justify') {
    /**
    * @name 		#{sel(t-justify)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.align.justify
    * @type        Classname
    *
    * Make the text justified
    *
    * @example 	html
    * <div class="#{sel(t-justify)}">
    * 	Nullam vel feugiat nunc. Phasellus facilisis, nisi sit amet viverra rhoncus, arcu risus volutpat dolor, sed euismod magna tellus ac purus. Praesent augue lorem, ullamcorper ac accumsan nec, suscipit eu.
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-justify)} {
      text-align: justify;
    }
  }
  @if class-match-namespace('sugar.helper.text.transform.lowercase') {
    /**
    * @name 		#{sel(t-lowercase)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.transform.lowercase
    * @type        Classname
    *
    * Transform the text to lowercase
    *
    * @example 	html
    * <div class="#{sel(t-lowercase)}">
    * 	I'M LOWERCASE
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-lowercase)} {
      text-transform: lowercase;
    }
  }
  @if class-match-namespace('sugar.helper.text.transform.uppercase') {
    /**
    * @name 		#{sel(t-uppercase)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.transform.uppercase
    * @type        Classname
    *
    * Transform the text to uppercase
    *
    * @example 	html
    * <div class="#{sel(t-uppercase)}">
    * 	I'm uppercase
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-uppercase)} {
      text-transform: uppercase;
    }
  }
  @if class-match-namespace('sugar.helper.text.transform.capitalize') {
    /**
    * @name 		#{sel(t-capitalize)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.transform.capitalize
    * @type        Classname
    *
    * Capizalize the words
    *
    * @example 	html
    * <div class="#{sel(t-capitalize)}">
    * 	I'm capitalized
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-capitalize)} {
      text-transform: capitalize;
    }
  }

  @if class-match-namespace('sugar.helper.text.weight.bold') {
    /**
    * @name 		#{sel(t-bold)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.weight.bold
    * @type        Classname
    *
    * Make the text bold
    *
    * @example 	html
    * <div class="#{sel(t-bold)}">
    * 	I'm bold
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-bold)} {
      font-weight: bold;
    }
  }

  @if class-match-namespace('sugar.helper.text.weight.bolder') {
    /**
    * @name 		#{sel(t-bolder)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.weight.bolder
    * @type        Classname
    *
    * Make the text bolder
    *
    * @example 	html
    * <div class="#{sel(t-bolder)}">
    * 	I'm bolder
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-bolder)} {
      font-weight: bolder;
    }
  }

  @if class-match-namespace('sugar.helper.text.weight.normal') {
    /**
    * @name 		#{sel(t-normal)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.weight.normal
    * @type        Classname
    *
    * Make the text normal
    *
    * @example 	html
    * <div class="#{sel(t-normal)}">
    * 	I'm normal
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-normal)} {
      font-weight: normal;
    }
  }

  @if class-match-namespace('sugar.helper.text.weight.light') {
    /**
    * @name 		#{sel(t-light)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.weight.light
    * @type        Classname
    *
    * Make the text light
    *
    * @example 	html
    * <div class="#{sel(t-light)}">
    * 	I'm light
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-light)} {
      font-weight: 300;
    }
  }

  @if class-match-namespace('sugar.helper.text.weight.lighter') {
    /**
    * @name 		#{sel(t-lighter)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.weight.lighter
    * @type        Classname
    *
    * Make the text lighter
    *
    * @example 	html
    * <div class="#{sel(t-lighter)}">
    * 	I'm lighter
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-lighter)} {
      font-weight: lighter;
    }
  }

  @if class-match-namespace('sugar.helper.text.style.italic') {
    /**
    * @name 		#{sel(t-italic)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.style.italic
    * @type        Classname
    *
    * Make the text italic
    *
    * @example 	html
    * <div class="#{sel(t-italic)}">
    * 	I'm italic
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-italic)} {
      font-style: italic;
    }
  }

  $fonts: setting('fonts');
  @each $name, $value in $fonts {
    @if class-match-namespace('sugar.helper.text.font.#{$name}') {
      /**
      * @name 		#{sel(t-#{$name})}
      * @namespace         sugar.scss.helper.class
      * @class-namespace     sugar.helper.text.font.#{$name}
      * @type        Classname
      *
      * Apply the font "#{$name}"
      *
      * @example 	html
      * <div class="#{sel(t-#{$name})}">
      * 	I'm "#{$name}"
      * </div>
      *
      * @since       2.0.0
      * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
      */
      .#{sel(t-#{$name})} {
        font-family: #{$name};
      }
    }
  }

  @if class-match-namespace('sugar.helper.text.reset') {
    /**
    * @name 		#{sel(t-reset)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.reset
    * @type        Classname
    *
    * Reset the text (font-weight, family, color, etc...)
    *
    * @example 	html
    * <div class="#{sel(t-reset)}">
    * 	I'm reset
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-reset)} {
      vertical-align: baseline;
      font-weight: inherit;
      font-family: inherit;
      font-style: inherit;
      color: inherit;
      font-size: 100%;
      border: 0 none;
      outline: 0;
      padding: 0;
      margin: 0;
    }
  }

  @if class-match-namespace('sugar.helper.decoration.none') {
    /**
    * @name 		#{sel(t-decoration-none)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.decoration.none
    * @type        Classname
    *
    * Remove the text decoration
    *
    * @example 	html
    * <div class="#{sel(t-decoration-none)}">
    * 	I don't have any decoration anymore
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-decoration-none)} {
      text-decoration: none;
    }
  }

  @if class-match-namespace('sugar.helper.text.decoration.underline') {
    /**
    * @name 		#{sel(t-underline)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.decoration.underline
    * @type        Classname
    *
    * Apply the decoration underline
    *
    * @example 	html
    * <div class="#{sel(t-underline)}">
    * 	I have the decoration underline
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-underline)} {
      text-decoration: underline;
    }
  }

  @if class-match-namespace('sugar.helper.text.decoration.line-through') {
    /**
    * @name 		#{sel(t-line-through)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.decoration.line-through
    * @type        Classname
    *
    * Apply the decoration line-through
    *
    * @example 	html
    * <div class="#{sel(t-line-through)}">
    * 	I have the decoration line-through
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-line-through)} {
      text-decoration: line-through;
    }
  }

  @if class-match-namespace('sugar.helper.text.decoration.overline') {
    /**
    * @name 		#{sel(t-overline)}
    * @namespace         sugar.scss.helper.class
    * @class-namespace     sugar.helper.text.decoration.overline
    * @type        Classname
    *
    * Apply the decoration overline
    *
    * @example 	html
    * <div class="#{sel(t-overline)}">
    * 	I have the decoration overline
    * </div>
    *
    * @since       2.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(t-overline)} {
      text-decoration: overline;
    }
  }
}
