/**
 * @name              helper-vertical-align-classes
 * @namespace            scss.helper.class
 * @type              Mixin
 *
 * This mixin generate all the "vertical-align" related helper classes.
 *
 * @classname     #{sel(align-top)}          Align vertically top
 * @classname     #{sel(align-bottom)}          Align vertically bottom
 * @classname     #{sel(align-middle)}          Align vertically middle
 * @classname     #{sel(align-baseline)}          Align vertically baseline
 * @classname     #{sel(align-text-top)}          Align vertically text-top
 * @classname     #{sel(align-text-bottom)}          Align vertically text-bottom
 *
 * @example         scss
 * @include Sugar.helper-vertical-align-classes();
 *
 * @since         2.0.0
 * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
 */
@mixin helper-vertical-align-classes() {
  @if class-match-namespace('sugar.helper.vertical-align.top') {
    /**
    * @name 		.#{sel(align-top)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.vertical-align.top
    * @type        Classname
    *
    * Align vertically top
    *
    * @example 	html
    * <div class="#{sel(border)} style="height:200px">
    *   <div class="#{sel(align-top)}">
    *     Hello world
    *   </div>
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(align-top)} {
      vertical-align: top !important;
    }
  }

  @if class-match-namespace('sugar.helper.vertical-align.bottom') {
    /**
    * @name 		.#{sel(align-bottom)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.vertical-align.bottom
    * @type        Classname
    *
    * Align vertically bottom
    *    
    * @example 	html
    * <div class="#{sel(border)} style="height:200px">
    *   <div class="#{sel(align-bottom)}">
    *     Hello world
    *   </div>
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(align-bottom)} {
      vertical-align: bottom !important;
    }
  }

  @if class-match-namespace('sugar.helper.vertical-align.middle') {
    /**
    * @name 		.#{sel(align-middle)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.vertical-align.middle
    * @type        Classname
    *
    * Align vertically middle
    *    
    * @example 	html
    * <div class="#{sel(border)} style="height:200px">
    *   <div class="#{sel(align-middle)}">
    *     Hello world
    *   </div>
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(align-middle)} {
      vertical-align: middle !important;
    }
  }

  @if class-match-namespace('sugar.helper.vertical-align.baseline') {
    /**
    * @name 		.#{sel(align-baseline)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.vertical-align.baseline
    * @type        Classname
    *
    * Align vertically baseline
    *
    * @example 	html
    * <div class="#{sel(border)} style="height:200px">
    *   <div class="#{sel(align-baseline)}">
    *     Hello world
    *   </div>
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(align-baseline)} {
      vertical-align: baseline !important;
    }
  }

  @if class-match-namespace('sugar.helper.vertical-align.text-top') {
    /**
    * @name 		#{sel(align-text-top)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.vertical-align.text-top
    * @type        Classname
    *
    * Align vertically text-top
    *
    * @example 	html
    * <div class="#{sel(border)} style="height:200px">
    *   <div class="#{sel(align-text-top)}">
    *     Hello world
    *   </div>
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(align-text-top)} {
      vertical-align: text-top !important;
    }
  }

  @if class-match-namespace('sugar.helper.vertical-align.text-bottom') {
    /**
    * @name 		#{sel(align-text-bottom)}
    * @namespace            scss.helper.class
    * @class-namespace     sugar.helper.vertical-align.text-bottom
    * @type        Classname
    *
    * Align vertically text-bottom
    *    
    * @example 	html
    * <div class="#{sel(border)} style="height:200px">
    *   <div class="#{sel(align-text-bottom)}">
    *     Hello world
    *   </div>
    * </div>
    *
    * @since       1.0.0
    * @author 	        Olivier Bossel <olivier.bossel@gmail.com>   (https://olivierbossel.com)
    */
    .#{sel(align-text-bottom)} {
      vertical-align: text-bottom !important;
    }
  }
}
