@use '@coffeekraken/sugar/index' as sugar;

.encrypt-url {
  @include sugar.fit();
}

.encrypt-url__container {
  @include sugar.position(
    $position: absolute,
    $vertical-align: middle,
    $align: center,
  );
  text-align: center;
}
