@mixin init-dom-settings() {

  // settings
  .s-settings:after {
    // process colors
    $settings-to-process: map-extend((), sugar.$settings);
    // get colors
    $colors: setting("colors");
    @each $color-name, $color in $colors {
      $modifiers: map-get($color, modifiers);
      @if $modifiers {
        $new-modifiers: ();
        @each $modifier-name, $modifier in $modifiers {
          // @warn(s-color($color-name, $modifier));
          // @warn("#{$color-name} modifiers #{$modifier-name}");
          $settings-to-process: map-set(
            $settings-to-process,
            colors "#{$color-name}"modifiers"#{$modifier-name}",
            color($color-name, $modifier)
          );
        }
      }
    }
    content: json-encode($settings-to-process);
    display: none;
  }

}
